.table-container {
    width: 98%;
    margin: 20px auto;
}
.table {
    width: 100%;
    text-align: center;
    border-left: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    font-size: 15px;
}

.table-container .content {
    border: 1px solid #E0E0E0;
}

.table tr td {
    border-right: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    padding: 10px 15px;
    font-size: 14px;
}

.table-header {
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    padding-left: 20px;
    text-align: left;
    letter-spacing: 0;
    color: #fff;
    background: #546e7a;
}

/* 表格置灰 */
.back-td {
    background: #f5f7fa;
}
