body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.online_question, .question-detail-user, .question-detail-opt {
  margin: 40px 30px; }
.online_question header, .question-detail-user header, .question-detail-opt header {
  background: #546E7A;
  height: 40px;
  line-height: 40px;
  width: 100%;
  color: #ffffff;
  font-family: MicrosoftYaHei-Bold;
  font-size: 16px; }
.online_question header span, .question-detail-user header span, .question-detail-opt header span {
  padding-left: 18px; }

.question-container.response {
  margin-bottom: 30px;}

.question-detail-user .question-container.processing, .question-detail-opt .question-container.processing{
  overflow: hidden;
  margin-bottom: 30px;
  padding-right: 0;
  height: 40px; }
.question-detail-user .question-container.processing .info-title, .question-detail-opt .question-container.processing .info-title {
  position: static;
  height: 40px;
  line-height: 40px; 
  width: 140px;
}
.question-detail-user .question-container.processing .handle-person, .question-detail-opt .question-container.processing .handle-person {
  display: inline-block;
  padding: 0px 10px;
  background: #ffffff;
  width: 140px;
  line-height: 39px;
  text-align: center;
  border-left: 1px solid #CADEE7;
  border-right: 1px solid #CADEE7; }
.question-detail-user .question-container.processing .num, .question-detail-opt .question-container.processing .num {
  width: 100px;
  height: 32px;
  margin: 0px 10px
   }
.question-detail-user .question-container.processing select.effective, .question-detail-opt .question-container.processing select.effective {
  height: 40px;
  width: 120px;
  border-left: 1px solid #CADEE7;
  border-right: none;
  border-top: 0;
  border-bottom: 0;
  padding-left: 20px; }
.question-detail-user .question-container.processing select.zen, .question-detail-opt .question-container.processing select.zen {
  width: 140px;
  height: 40px;
  border-left: 1px solid #CADEE7;
  border-right: 1px solid #CADEE7;
  border-top: 0;
  border-bottom: 0;
  padding-left: 20px;
  background: #F7F9FB }
.question-detail-user .question-container.processing select.zen option, .question-detail-opt .question-container.processing select.zen option {
  height: 40px;
  line-height: 40px; }
.question-detail-user .row-item, .question-detail-opt .row-item {
  position: relative; }
.question-detail-user .info-title, .question-detail-opt .info-title {
  position: absolute; }
.question-detail-user .info-container, .question-detail-opt .info-container {
  margin-left: 160px;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  border-left: 1px solid #CADEE7;
  padding-left: 20px;
  font-size: 13px;
  padding-right: 20px; }
.question-detail-user .question-des.info-container, .question-detail-opt .question-des.info-container {
  vertical-align: middle;
  line-height: 16px; }
.question-detail-user .question-des.info-container > div, .question-detail-opt .question-des.info-container > div {
  display: table-cell;
  width: 100%;
  height: 50px;
  vertical-align: middle; }
.question-detail-user .question-des.info-container > div > span, .question-detail-opt .question-des.info-container > div > span {
  display:inline-block;
  vertical-align:middle;}
.question-detail-user .response-container, .question-detail-opt .response-container {
  padding: 10px;
  /* width: 60%;  */
}
.question-detail-user .response-container textarea, .question-detail-opt .response-container textarea {
  width: 100%; }
.question-detail-user .log-container, .question-detail-opt .log-container {
  overflow: hidden;
  padding: 0;
  margin: 0; }
.question-detail-user .log-container tr, .question-detail-opt .log-container tr {
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #CADEE7;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  margin-bottom: -1px; }
.question-detail-user .log-container tr td, .question-detail-opt .log-container tr td {
  font-size: 13px;
  display: inline-block;
  width: 25%;
  text-align: center;
  padding: 0;
  margin: 0;
  border-left: 1px solid #CADEE7;
  margin-left: -1px; }
.question-detail-user .log-container tr .info, .question-detail-opt .log-container tr .info {
  background-color: #fff; }

.question-container {
  background: #F7F9FB;
  border: 1px solid #CADEE7; 
  margin-bottom: 30px;}
.question-container .row-item {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ECEFF1;
  vertical-align: middle;
  overflow: hidden;
  position: relative; }
.question-container .row-item .text {
  font-size: 13px;
  color: #90A4AE;
  letter-spacing: 0;
  margin-left: 20px; }
.question-container .row-item:last-child {
  border-bottom: none; }
.question-container .info-title {
  width: 116px;
  padding-left: 40px;
  line-height: 50px;
  display: inline-block; }
.question-container .into-title::before {
  display: inline-block;
  width: 14px;
  padding-right: 4px;
  font-size: 14px;
  line-height: 50px;
  height: 50px;
  visibility: hidden; }
.question-container .info-title.required::before {
  content: '*';
  color: #C31207;
  padding-right: 4px; }
.question-container .info-title.notRequired::before {
  content: '*';
  color: transparent;
  padding-right: 4px; }
.question-container .question-type, .question-container .inWhich-module {
  width: 260px;
  height: 32px;
  line-height: 0px; }
.question-container .select-box, .question-container .select-box.size-M {
  padding: 0; }
.question-container .suggest-title, .question-container .question-desc, .question-container .question-page {
  width: auto; }
.question-container .question-desc {
  height: 80px; }
.question-container .row-textarea {
  height: 100px; }
.question-container .row-textarea textarea {
  margin-top: 10px;
  margin-left: 4px;
  width: 70%; }
.question-container .suggest-title {
  width: 50%;
  min-width: 200px; }
.question-container .desc-title {
  float: left; }
.question-container .question-page {
  width: 25%;
  font-size: 12px; }

.btn-container {
  margin-top: 20px;
  margin-bottom:20px;
  text-align: center; }
.btn-container button {
  width: 110px;
  height: 44px;
  border-radius: 4px;
  font-size: 14px; }
.btn-container button.submit {
  background: #1E7EB4;
  color: #fff;
  margin-right: 40px; }
.btn-container .cancel {
  background: #FFFFFF;
  border: 1px solid #C8D2D7;
  color: #546E7A; }

.question-list {
  padding: 40px 30px; }
.question-list .inWhich-module {
  padding-left: 10px; }
.question-list .search-toolbar {
  vertical-align: middle; }
.question-list .search-toolbar .select-box {
  padding: 0 !important;
  width: 150px;
  height: 30px;
  display: inline-block;
  margin-right: 16px; }
.question-list .search-toolbar .select-box select {
  height: 32px; }
.question-list .search-toolbar #start_time {
  margin-right: 10px;
  width: 110px; }
.question-list .search-toolbar #end_time {
  margin-right: 20px;
  width: 110px; }
.question-list .search-toolbar label {
  margin-left: 20px;
  margin-right: 16px; }
.question-list .search-toolbar input {
  width: 100px; }
.question-list .search-btns {
  margin-top: 20px;
  margin-left: 20px;
  display: block; }
.question-list .search-btns .btn.search {
  background: #2BA384;
  width: 80px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  margin-right: 10px;
  padding: 0; }
.question-list .search-btns .btn.reset {
  width: 80px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  padding: 0; }
.question-list .search-btns .btn {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  white-space: nowrap;
  vertical-align: middle;
  border: solid 1px #ddd;
  background-color: #fff;
  width: auto;
  -webkit-transition: background-color .1s linear;
  -moz-transition: background-color .1s linear;
  -o-transition: background-color .1s linear;
  transition: background-color .1s linear;
  box-shadow: none; }
.question-list .totle-num {
  margin-top: 28px;
  margin-bottom: 20px; }
.question-list .totle-num p {
  float: left; }
.question-list .totle-num .btns {
  float: right;
  margin-bottom: 12px; }
.question-list .totle-num .btns button {
  width: 76px;
  height: 28px; }
.question-list .totle-num .btns .btn {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  white-space: nowrap;
  vertical-align: middle;
  -moz-padding-start: npx;
  -moz-padding-end: npx;
  border: solid 1px #ddd;
  background-color: #fff;
  width: auto;
  -webkit-transition: background-color .1s linear;
  -moz-transition: background-color .1s linear;
  -o-transition: background-color .1s linear;
  transition: background-color .1s linear;
  padding: 0px ;
  box-shadow: none;
  height: 30px; }
.question-list .totle-num .btns .btn a {
  text-decoration: none; }
.question-list .totle-num .btns .btn:active {
  box-shadow: none; }
.question-list .totle-num .btns .btn:visited {
  box-shadow: none; }
.question-list .totle-num .btns .btn:link {
  box-shadow: none; }
.question-list .totle-num .btns .btn.question {
  background: #1E7EB4;
  color: #ffffff;
  border: none;
  margin-right: 10px; }
.question-list .totle-num .btns .btn.question a{
  color: #ffffff;
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 30px;
  padding:0px 12px;}
.question-list .totle-num .btns .btn.export a{
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 30px;
  padding:0px 12px;
}
.question-list .totle-num .btns .btn.question a:hover,.question-list .totle-num .btns .btn.export a:hover {
  text-decoration: none; }

.download {
  background: #2BA384;
  width: 60px;
  height: 32px;
  color: #ffffff;
  line-height: 32px;
  border: none;
  margin-left: 30px; }
.download a {
  color: #ffffff; }

.reject {
  background: #ED2D65;
  width: 60px;
  height: 28px;
  color: #ffffff;
  line-height: 28px;
  border: none;
  margin-left: 10px;
  border: none;
  cursor: default;
  padding: 4px 12px; }

.finish,.accept {
  background: #1E7EB4;
  width: 60px;
  height: 28px;
  color: #ffffff;
  line-height: 28px;
  border: none;
  margin-left: 10px;
  margin-right: 18px;
  border: none;
  cursor: default;
  padding: 4px 12px; }

input[type="radio"], input[type="checkbox"] {
  width: 16px;
  height: 16px; }

#tab_demo .tabBar {
  height: 40px;
  border-bottom: none;
  border-left: 1px solid #CADEE8;
  border-right: 1px solid #CADEE8; }
#tab_demo .tabBar span {
  height: 40px;
  width: 12.5%;
  text-align: center;
  padding: 0;
  font-size: 14px;
  line-height: 40px;
  background: #F2F5F8;
  border-top: 1px solid #CADEE8;
  border-bottom: 1px solid #CADEE8;
  color: #546E7A; }
#tab_demo .tabBar span a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #546E7A; }
#tab_demo .tabBar span a:hover {
  text-decoration: none; }
#tab_demo .tabBar span.current {
  background-color: #1E7EB4;
  color: #fff;
  position: relative; }
#tab_demo .tabBar span.current a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fff; }
#tab_demo .tabBar span.current a:hover {
  text-decoration: none; }
#tab_demo .tabBar span.current::after {
  content: '';
  position: absolute;
  transform: translateX(-50%);
  bottom: -10px;
  left: 50%;
  border-top: 15px solid #1e7eb4;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent; }

.list-table {
  border-color: #CADEE7; }
.list-table td, .list-table tr, .list-table th {
  text-align: center;
  height: 50px; }
.list-table td, .list-table th {
  border: 1px solid #CADEE7; }
.list-table thead {
  background: #546E7A; }
.list-table thead th {
  color: #fff;
  font-size: 14px; }
.list-table tbody td {
  font-size: 13px; }
.list-table .pending-state {
  font-size: 14px;
  color: #C31207; }
.list-table .complete-state {
  font-size: 14px;
  color: #2BA384; }
.list-table .reject-state {
  color: #1E7EB4;
  font-size: 14px; }
.list-table .process-state {
  color: #263238;
  font-size: 14px; }
.list-table .to-detail {
  color: #1E7EB4; }

.layui-layer-btn a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.layui-layer.layui-anim.layui-layer-dialog {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.pagination {
  margin-top: 24px !important; 
margin-bottom: 100px !important;}

.choose-container, .user-container {
  float: left;
  margin-top: 20px; }

.cls:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
.radius{
  cursor: pointer;
}
.info-title.handle{
 margin-right: 18px; width:120px; padding-left:0px;text-align:center;border-right: 1px solid #CADEE7;border-left: 1px solid #CADEE7;
}
td.response-title{
  /* display: inline-block; */
  /* width: 80px; */
  background: #F7F9FB;
  width: 122px;
  padding:18px; 
  text-align: center;
}
.content-items{
  border:1px solid #CADEE7;
  margin-bottom: 30px;
}
.content-items td{
  font-size: 14px;
  border-right: 1px solid #CADEE7;
  border-bottom: 1px solid #CADEE7;
  /* border: 1px solid #CADEE7; */
  /* margin: 6px 0px; */

}
td.item-text{
  padding: 12px;
  border-right: none;
  font-size: 13px;
}
@media screen and (max-width: 1300px) {
   .question-detail-user .question-container.processing .handle-person, .question-detail-opt .question-container.processing .handle-person{
    width: auto;
   }
   .question-detail-user .question-container.processing .info-title, .question-detail-opt .question-container.processing .info-title{
    width: 60px;
   }
}


.w-e-text{
  border-left: none;
  border-right: none;
}
/*# sourceMappingURL=index.css.map */