[v-cloak] {
  display: none;
}

.cls:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.line-split {
  background: #ECEFF1;
  height: 10px;
  width: 100%;
}

.search-item-i{
  font-size: 0;
}
.search-item-i > span.active {
  background: #0375DE;
  /* text-align: center;
  padding: 0 18px;
  margin: 5px;
  line-height: 30px;
  border-radius: 15px; */
  color: #fff;
}
.search-item-i > span.tab-item-min {
  width:114px;
  height:24px;
}

.btns {
  margin-top: 10px;
  margin-bottom: 30px;
}

.btns button {
  width: 100px;
  height: 36px;
  margin-right: 30px;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  -webkit-transition: .5s all;
  transition: .5s all;
  font-size: 14px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.btns .btn-search,
.btns .save-remark-btn {
  background-color: #1e7eb4;
  color: #fff;
  border: none;
}

.btns .btn-reset,
.btns .cancel-remark-btn {
  background-color: #eceff1;
  color: #1e7eb4;
  border: none;
}

.btns button.btn-reset:hover {
  background: #F8F8F8;
}

.btns button.btn-search:hover {
  background-color: #228ECA;
}

.btns button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  outline: none;
}

.el-row {
  margin: 10px 0px;
}

.title-info-container {
  width: 80px !important;
}

.title-info-container .title-info {
  font-family: MicrosoftYaHei;
  font-size: 13px;
  color: #546E7A;
  letter-spacing: 0;
  padding: 10px 0px;
  width: 100%;
}

.el-select {
  width: 120px;
  padding: 0px 15px;
}

.fl {
  float: left;
}

.list-common {
  padding: 20px 20px 0px 40px;
}

.search-common {
  position: relative;
}

.search-common .search-toggle-btn {
  position: absolute;
  right: 0;
  bottom: 20px;
}

.search-item-i > span {
  width:155px;
  height:24px;
  background:rgba(244,244,244,1);
  border-radius:12px;
  line-height: 24px;
  text-align: center;
  padding: 0;
  display: inline-block;
  font-size: 13px;
  margin: 5px;
  cursor: pointer;
}

.search-item-i > span.tab-item-border{
  border:1px solid rgba(0,0,0,0.15);
}
.search-item-i > span.tab-item-border.active{
  background: rgba(244,244,244,1);
  border-color: #0375DE;
  color: #0375DE;
}

.sort-item {
  margin: 2px 10px 20px 0px;
}

.sort-item > span {
  font-size: 13px;
}

.search-keywords {
  width: 200px;
  margin-right: 30px;
}

.contain-remark {
  border: 1px solid #282828;
  border-radius: 4px;
  font-family: MicrosoftYaHei;
  font-size: 13px;
  color: #282828;
  letter-spacing: 0;
  line-height: 24px !important;
}

.contain-error {
  border: 1px solid #282828;
  border-radius: 4px;
  font-family: MicrosoftYaHei;
  font-size: 13px;
  color: #282828;
  letter-spacing: 0;
  line-height: 24px !important;
}

.contain-remark.isActive {
  color: #1E7EB4;
  border: 1px solid #1E7EB4;
}

.contain-error.isActive {
  color: #F56C6C;
  border: 1px solid #F56C6C;
}

.list-common-main > header {
  margin: 20px 0px;
  height: 28px;
  line-height: 28px;
}

.list-common-main .table-common tr th {
  background: #546E7A;
  color: #fff;
}

.list-common-main .table-common tr td {
  font-size: 12px;
  padding: 15px 0px;
}

.list-common-main .el-table th > .cell,
.list-common-main .el-table td > .cell {
  text-align: center;
  line-height: 18px;
}

.list-common-main .num-bold {
  font-weight: 600;
}

.list-common-main .el-pagination {
  float: right;
  margin: 20px 0px 200px;
}

.list-common-main .no-ml {
  margin-left: 0 !important;
}

.list-common-main .common-btn {
  display: inline-block;
  height: 28px;
  margin: 2px 0px;
  padding: 0 12px;
  background-color: #2ba384;
  border: none;
  margin-left: 20px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  -webkit-transition: .5s all;
  transition: .5s all;
}

.list-common-main .common-btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #2dbda8;
}

.list-common-main .common-btn:hover {
  background-color: #2dbda8;
}

.list-common-main .border-btn {
  height: 28px;
  margin: 2px 0px;
  padding: 0 12px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  margin-left: 20px;
  border-radius: 4px;
  color: #434343;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  -webkit-transition: .5s all;
  transition: .5s all;
}

.list-common-main .border-btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #eaeaea;
}

.list-common-main .border-btn:hover {
  background-color: #eaeaea;
}

.list-common-main .blue-btn {
  height: 28px;
  margin: 2px 0px;
  padding: 0 12px;
  background-color: #1e7eb4;
  border: none;
  margin-left: 20px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  -webkit-transition: .5s all;
  transition: .5s all;
}

.list-common-main .blue-btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #228ECA;
}

.list-common-main .blue-btn:hover {
  background-color: #228ECA;
}

.list-common-main .el-pagination.is-background .btn-next,
.list-common-main .el-pagination.is-background .btn-prev,
.list-common-main .el-pagination.is-background .el-pager li {
  margin: 0px 2px;
}

.el-dialog__body,
.el-tabs--border-card {
  padding: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.el-dialog {
  -webkit-box-shadow: 0 0 2px 0 #ddd, 0 2px 2px 0 #ddd;
  box-shadow: 0 0 2px 0 #ddd, 0 2px 2px 0 #ddd;
}

.el-dialog__header {
  display: none;
}

.el-tabs__nav {
  width: 100%;
}

.el-tabs__nav .el-tabs__item {
  width: 51%;
  text-align: center;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none;
}

.el-tabs {
  border: none;
}

textarea {
  resize: none;
}

.step-content {
  background-color: #f9f9f9;
  padding: 44px 0px 20px;
  border-radius: 4px;
}

.el-step__line {
  background-color: #1E7EB4 !important;
}

.el-step__title {
  color: #1E7EB4 !important;
}

.el-step__head {
  color: #1E7EB4 !important;
  border-color: #1E7EB4 !important;
}

.el-step__head.is-process .el-step__icon.is-text {
  border-color: #1E7EB4 !important;
  background-color: #1E7EB4 !important;
  color: #fff !important;
}

.el-step__icon.is-text {
  cursor: pointer;
}

.btns-content {
  float: right;
}

.name-wrapper.el-popover__reference {
  display: inline-block;
}

.el-col-22 {
  flex: auto;
}

.el-table_1_column_17 .cell {
  padding: 0 !important;
}

.use_remarks_content {
  min-height: 249px;
}

.to-detail-btn {
  text-decoration: underline;
  cursor: pointer;
  color: #1E7EB4;
}

.el-select-dropdown__wrap.el-scrollbar__wrap {
  overflow-x: scroll !important;
}

.search-btn-container .el-select-dropdown__wrap.el-scrollbar__wrap {
  overflow-x: visible !important;
}

.sort-item .el-scrollbar__wrap {
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}

.el-table {
  overflow: visible;
}

.el-table__header-wrapper {
  overflow: inherit;
}

.el-table__header {
  overflow: visible;
}

.table-common .cell {
  overflow: visible !important;
  position: static !important;
}

.table-common .el-table__body-wrapper
.el-select-dropdown__wrap.el-scrollbar__wrap {
  overflow-x: hidden !important;
  position: static !important;
}

.table-common .el-table__body-wrapper {
  overflow: visible !important;
}

.el-table--border::after, .el-table--group::after {
  width: 0px;
}
.el-table .cell{
  word-break: break-word !important; 
}