<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="<{$HI_PATH}>css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="<{$HI_PATH}>css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="<{$HI_PATH}>lib/Hui-iconfont/1.0.1/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="<{$HI_PATH}>lib/icheck/icheck.css"/>
    <link rel="stylesheet" type="text/css" href="<{$HI_PATH}>skin/default/skin.css"  />
    <link rel="stylesheet" type="text/css" href="<{$HI_PATH}>css/style.css"/>
    <link rel="stylesheet" href="<{$HI_PATH}>css/stock.css">
    <link rel="stylesheet" href="<{$HI_PATH}>css/stock_out.css">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/default.css?v=<{$Think.const.V}>">
    <title>出入库操作界面</title>
</head>
<body>
<div class="rkcz-wrap" id="rkcz-wrap">
    <div class="rk-title">
        <{$Think.lang.单据详情}>
    </div>
    <!--基本信息-->
    <div class="basis-info" v-cloak>
        <table class="table table-border table-bordered table-bg">
            <caption><{$Think.lang.基本信息}></caption>
            <tbody class="text-c">
                <tr>
                    <td><{$Think.lang.出库单号}></td>
                    <td>{{bill.bill_id}}</td>
                    <td><{$Think.lang.B5C单号}></td>
                    <td>{{bill.link_bill_id}}</td>
                </tr>
                <tr>
                    <td><{$Think.lang.渠道}></td>
                    <td>{{bill.channel}}</td>
                    <td><{$Think.lang.收发类别}></td>
                    <td>{{bill.bill_type}}</td>
                </tr>
                <tr>
                    <td><{$Think.lang.归属销售团队}></td>
                    <td>{{bill.SALE_TEAM}}</td>
                    <td><{$Think.lang.仓库}></td>
                    <td>{{bill.warehouse_id}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--商品信息-->
    <div class="xqhl-wrap" v-cloak>
        <table class="table table-border table-bordered table-bg">
            <thead>
                <tr class="text-c">
                    <th></th>
                    <th><{$Think.lang.SKU编码}></th>
                    <th><{$Think.lang.商品名称}></th>
                    <th><{$Think.lang.属性}></th>
                    <th><{$Think.lang.条形码}></th>
                    <th><{$Think.lang.实出数量}></th>
                    <th><{$Think.lang.单位}></th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-c" v-for="(o,index) in batchs" v-cloak>
                    <td>{{index+1}}<input type="hidden"  v-model="o.id" ></td>
                    <td>{{o.GSKU}}</td><!--SKU-->
                    <td>{{o.GUDS_NM}}</td><!--商品名称-->
                    <td>{{o.GUDS_OPT_VAL_MPNG}}</td><!--属性-->
                    <td>{{o.GUDS_OPT_UPC_ID}}</td><!--条形码-->
                    <td>{{o.send_num}}</td><!--实收数量-->
                    <td>{{o.VALUATION_UNIT}}</td><!--单位-->
                </tr>
            </tbody>
        </table>
    </div>
    <!--制单信息-->
    <div class="com-info" v-cloak>
        <table class="table table-border table-bordered table-bg">
            <caption><{$Think.lang.制单信息}></caption>
            <tbody class="text-c">
                <tr>
                    <td><{$Think.lang.制单人}></td>
                    <td>{{bill.zd_user}}</td>
                    <td><{$Think.lang.制单时间}></td>
                    <td>{{bill.zd_date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="<{$HI_PATH}>/lib/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="<{$HI_PATH}>/js/vue.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el:'#rkcz-wrap',
        data:{
            bill: <{$bill}>,
        batchs: <{$batchs}>,
    },
    methods:{

    }
    });
</script>
</body>
</html>