<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/utils/css/public.style.css?v=<{$Think.config.VER_NUM}>">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/element-ui-2.2.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/normailize.css?v=<{$Think.config.VER_NUM}>">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/default.css?v=<{$Think.config.VER_NUM}>">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/icon/css/font-awesome.min.css?v=<{$Think.config.VER_NUM}>">
    <link rel="stylesheet" href="./Application/Tpl/Oms/Public/css/list_common.css?v=<{$Think.config.VER_NUM}>">
    <link rel="stylesheet" href="./Application/Tpl/Oms/Order/orderList.css?v=<{$Think.config.VER_NUM}>">
    <title>$lang('装箱体积计算')</title>
    <style>
        #rkWrap{
            padding:20px;
        }
        table{
            border-collapse: collapse;
        }
        table td{
            border:1px solid #333333
        }
        table div{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }
        .ten{
            font-size: 37px;
        }
        .one{
            font-size: 22px;
        }
    </style>
</head>

<body style="height: 100%; overflow: auto;">
    <div id="rkWrap">
        <h2>{{$lang('装箱体积计算')}}</h2>
        <div style="margin: 25px 0;">
            <el-button @click="opentab('/index.php?m=stock&a=volume_record','装箱记录')">{{$lang('装箱记录')}}</el-button>
            <el-button  @click="opentab('/index.php?m=stock&a=volume_database','BOX数据库')">{{$lang('BOX数据库')}}</el-button>
        </div>
        <div>
            <table>
                <tr>
                    <th><div style="justify-content: left;">{{$lang('BOX装箱')}}</div></th>
                </tr>
                <tr>
                    <td>
                        <div>{{$lang('集装箱规格')}}*</div>
                    </td>
                    <td>
                        <div>
                            <div>
                                <el-input v-model="containerSize" :placeholder="$lang('体积')"></el-input>
                            </div>
                            <div>{{$lang('立方米')}}</div>
                        </div>
                    </td>
                </tr>
                <tr v-for="(v,k) in tabledata">
                    <td>
                        <div>
                        {{$lang('请选择装箱BOX')}}
                        <el-select v-model="v.boxId" :placeholder="$lang('请选择')"  @change="function(value){change(value,k)}" style="width: 300px">
                            <el-option
                                    v-for="item in options"
                                    :key="item.id"
                                    :label="label(item)"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                        <div class="ten" @click="ten">+</div>
                        <div class="one" v-if="tabledata.length>1"  @click="one(k)">—</div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <el-input :placeholder="$lang('长')" v-model="v.length"></el-input> *
                            <el-input :placeholder="$lang('宽')"  v-model="v.width"></el-input> *
                            <el-input :placeholder="$lang('高')"  v-model="v.height"></el-input>
                            <el-input :placeholder="$lang('单位体积')"  v-model="v.unitVolume"></el-input>
                            <el-input :placeholder="$lang('计算单位')"  v-model="v.unit"></el-input>
                            <el-input v-if="tabledata.length>1" :placeholder="$lang('个数')"  v-model="v.realNum"></el-input>
                        </div>
                    </td>
                </tr>
                <tr>
                   <td>
                       <div>{{$lang('误差系数')}}</div>
                   </td>
                    <td>
                        <div><el-input id="wc" placeholder="0"   @input="setWc()"></el-input> <span>%</span></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>{{$lang('装箱推荐')}}</div>
                    </td>
                    <td>
                        <div v-for="(v,k) in boxs"><span>{{$lang('BOX') + v.boxId}}</span><el-input placeholder="0" v-model="v.predictedNum"></el-input> <span>{{$lang('箱')}}</span></div>
                    </td>
                </tr>
            </table>
        </div>
        <div style="display: flex;margin: 20px;justify-content: center">
            <el-button @click="add">{{$lang('确认')}}</el-button>
        </div>
    </div>

    <script type="text/javascript" src="./Application/Tpl/Home/Public/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="./Application/Tpl/Home/Public/js/H-ui.js"></script>
    <script type="text/javascript" src="./Application/Tpl/Home/Public/utils/utils.js"></script>
    <script type="text/javascript" src="./Application/Tpl/Home/Public/js/H-ui.admin.js?<{$Think.config.VER_NUM}>"></script>
    <script type="text/javascript" src="./Application/Tpl/Home/Public/js/vue.2.5.13.js?<{$Think.config.VER_NUM}>"></script>
    <script type="text/javascript" src="./Application/Tpl/Home/Public/js/axios.min.js"></script>
    <script type="text/javascript" src="./Application/Tpl/Home/Public/js/element-ui-2.2.js"></script>
    <script type="text/javascript" src="./Application/Tpl/Home/Public/js/element-en.js"></script>
    <script type="text/javascript" src="./Application/Tpl/Home/Public/js/queryString.js?v=<{$Think.config.VER_NUM}>"></script>
    <script>

        var vm = new Vue({
            el: '#rkWrap',
            data:{
              wc:0,
              data:{
                "sku": "",
                "volume": "",
                "pageSize": 10000,
                "page": 1
              },
              containerSize:'',
              tabledata:[{
                boxId:'',
                predictedNum:1,
                realNum:1,
                length:'',
                height:'',
                width:'',
                unitVolume:'',
                unit:''
              }],
              options: [],
            },
          watch:{
          },
            computed:{
              boxs:function(){
                var arr = [];
                var _this = this
                this.tabledata.forEach(function(v){
                  var predictedNum = 0
                  var containerSize = _this.containerSize*1000000
                  if(_this.tabledata.length === 1 && v.unitVolume){
                    var unitVolume = (v.unit === 'cm'?v.unitVolume:v.unitVolume*1000000)
                    predictedNum = Math.floor(containerSize/unitVolume * (100 - _this.wc)/100)

                  }else if(_this.tabledata.length > 1 ){
                    var n = 0;
                    _this.tabledata.forEach(function(v2){
                      var unitVolume = (v2.unit === 'cm'?v2.unitVolume:v2.unitVolume*1000000)
                      n += v2.realNum * unitVolume
                    })
                    if(v.realNum){
                      predictedNum = Math.floor(containerSize/n * v.realNum * (100 - _this.wc)/100)
                    }
                  }
                  v.predictedNum = predictedNum
                  var obj = {
                    boxId:v.boxId,
                    predictedNum:predictedNum
                  }
                  arr.push(obj)
                })
                return arr
              }
            },
            created: function() {
              this.getData()
            },
            methods: {
              setWc:function(e){
                var v = String(document.querySelector('#wc').value)
                var num = Number(v.replace(/\D/g,''))
                if(num && num<=100){
                  this.wc = num
                  setTimeout(function(){
                    document.querySelector('#wc').value = num
                  },200)

                }else if(num && num >100){
                  this.wc = 100
                  setTimeout(function(){
                    document.querySelector('#wc').value = 100
                  },200)
                }else{
                  this.wc = 0
                  setTimeout(function(){
                    document.querySelector('#wc').value = ''
                  },200)
                }
              },
              opentab: function (href,title) {
                var dom = document.createElement('a');
                dom.setAttribute("onclick", "opennewtab(this,'" + this.$lang(title) + "')");
                dom.setAttribute("_href", href);
                dom.click();
              },
              add:function(){
                var boxingListDetails = [];
                var _this = this;
                this.tabledata.forEach(function(v,k){
                  var obj = {
                    boxId:v.boxId,
                    realNum:v.realNum,
                    predictedNum:_this.boxs[k].predictedNum
                  }
                  boxingListDetails.push(obj)
                })
                var data = {
                  containerSize:_this.containerSize,
                  boxingListDetails:boxingListDetails
                }
                axios.post('/index.php?m=B5caiApi&a=api&goto_url=boxinglist/create.json',data).then(function(res) {
                  if(res.data.code === 2000){
                    _this.$message.success(res.data.msg);
                    setTimeout(function(){
                      _this.opentab('/index.php?m=stock&a=volume_record','装箱记录')
                      location.reload()
                    },1000)
                  }else{
                    _this.$message.error(_this.$lang(res.data.msg));
                  }
                })
              },
              ten:function(){
                this.tabledata.push({
                  boxId:'',
                  predictedNum:1,
                  realNum:1,
                  length:'',
                  height:'',
                  width:'',
                  unitVolume:'',
                  unit:''
                })
              },
              one:function(k){
                this.tabledata.splice(k,1)
              },
              change:function(v,k){
                var value = ''
                this.options.forEach(function(n){
                  if(n.id === v){
                    value = n
                  }
                })
                this.tabledata[k].width = value.width
                this.tabledata[k].height = value.height
                this.tabledata[k].length = value.length
                this.tabledata[k].unit = value.unit
                this.tabledata[k].unitVolume = value.unitVolume
              },
              label:function(item){
                var a = '';
                if(item.boxingDetails){
                  item.boxingDetails.forEach(function(v){
                    a +=v.sku + '*'+ v.num +', '
                  })
                }
                return this.$lang('BOX')+item.id+'('+a+')'
              },
              getData:function(){
                var _this = this;
                axios.post('/index.php?m=B5caiApi&a=api&goto_url=boxing/page.json',this.data).then(function(res) {
                  if(res.data.code === 2000){
                    var data = res.data.data.data
                    _this.options = res.data.data.data
                  }else{
                    // _this.$message.error(res.data.msg);
                  }
                })
              }
            },
            filters: {
            }
        });
    </script>
</body>

</html>