[v-cloak] {
    display: none;
}
.wrap {
    box-sizing: border-box;
    padding: 20px;
    margin: 0;
}
.use-row + .use-row{
    margin: 20px 0;
}
.use-row .use-btn{
    margin:15px 0px 0px 0px;
}
.result-num span{
    margin-right: 40px;
}
.box-parent {
  position: relative;
}
.xcl-box {
    width: 415px;
    height: 400px;
    position: absolute;
    top: 40px;
    right: -132px;
    background: white;
    box-shadow: 2px 2px 18px #c3bebe;
    border: 1px solid azure;
    padding: 10px;
    z-index: 50;
    overflow: auto;
}
.xcl-box .search-row {
    margin: 10px 0;
    text-align: left;
    width: 100%;
}

.xcl-box .search-row input {
    border: 1px solid #dedede;
    height: 24px;
    padding: 0 10px;
    width: 180px;
    border-radius: 2px;
}
.xcl-box .search-row input:focus{
    box-shadow: 0 0 5px #33ccff;
    border: 1px solid transparent;
}
.xcl-box .search-row .Hui-iconfont-search{
    color: white;
    font-size: 20px;
    background: #ec2d64;
    vertical-align: middle;
    margin-left: -15px;
    padding: 3px 4px;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}
.xcl-box .search-row .btn-close{
    position: absolute;
    top: 1px;
    right: 1px;
    color: #666;
    font-size: 20px;
    vertical-align: middle;
    cursor: pointer;
}
.xcl-box .search-row .btn-close:hover{
    color: #ec2d64;
}
.xcl-box .search-row button{
    border: 1px solid #999;
    padding: 0 5px;
    height: 26px;
    font-size: 14px;
    width: auto;
    margin-left: 15px;
    background: #b3b3b3;
    color: white;
    cursor: pointer;
    border-radius: 2px;
}
.xcl-box table thead th{
    height:25px;
    line-height: 25px;
    padding: 0 8px;
}
.xcl-box table tbody td{
    height:20px;
    line-height: 20px;
    padding: 0 8px;
}
.showbg{
    background-color: #ddd;
}
.td-linknum>a>span{
    text-decoration: underline;
}

.xcl-btn-group{
    position: absolute;
    top: 28px;
    right: 0;
    z-index: 100;
    display: none;
}
.xcl-btn-group span{
    display: inline-block;
    padding: 1px 10px 2px;
    background: #5eb95e;
    color: white;
    border-radius: 2px;
}
.xcl-hover-btn{
    display: inline-block;
    padding: 1px 10px 2px;
    background: #EC2D64;
    color: white;
    height: 20px;
    border: 1px;
    cursor: pointer;
}
.button-hide{
    background: none;
    border:none;
}
.kcs-box {
    position: absolute;
    top:calc((100% - 270px) / 2);
    left:calc((100% - 870px) / 2);
    background: white;width: 870px;
    height:270px;border-radius: 3px;
    border:1px solid #e5e5e5;
    padding:0 20px 10px;
    box-shadow:3px 2px 6px #dedede;
}
.kcs-box div, h4, h5 {
    margin: 10px 0;
}
.kcs-box h4 {
    font-size:18px;
    font-weight:600;
}

.kcs-box h5 {
    font-size: 15px;
    font-weight: 600;
}

.kcs-box div > span {
    margin-right: 10px;
    display: inline-block;
    padding: 10px;
}

.kcs-box div > input {
    border: 1px solid #cccccc;
    width: 150px;
    height: 26px;
    padding: 0 10px;
    border-radius: 2px;
    box-sizing: border-box;
}
.kcs-box div > select {
    border: 1px solid #cccccc;
    width: 150px;
    height: 30px;
    padding: 0 10px;
    border-radius: 2px;
}
.kcs-box div > button:first-child {
    border: 1px solid #ca2756;
    padding: 3px 12px;
    border-radius: 2px;
    background: #ed2d65;
    color: white;
    margin-right: 30px;
    margin-left: 10px;
}
.kcs-box div > button:last-child {
    border: 1px solid #b3b3b3;
    padding: 3px 12px;
    border-radius: 2px;
    background: #dddddd;
    color: #555;
    margin-left: 30px;
}
.button-pink{background:#EC2D64}
.td-sku input{
    border-radius:5px 0px 0px 5px;
}
.td-sku img{border-radius:0px 5px 5px 0px;}
select,input,button{border-radius: 5px}

