/* html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.open-new-window {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}

#mask {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  /* 透明度 */
  display: none;
  /* 此处的图层要大于页面 */
  display: none;
  width: 100%;
  height: 100%;
  /* IE的透明度 */
  opacity: .5;
  background: #000;
  filter: alpha(opacity=50);
}

body {
  font-size: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  color: #7f8c97;
  background-color: #e9f0f5;
  font-size: 14px;
  position: relative;
}

a {
  color: #acb7c0;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

img {
  max-width: 100%;
}

app-info-value {
  display: inline-block;
}

app-info-value li {
  list-style: decimal;
  margin-left: 23px;
}

ul.app-info-value li {
  margin: 4px 0px;
}

h1,
h2 {
  font-family: "Microsoft yahei", sans-serif;
  font-weight: bold;
}

.fl {
  float: left;
}

body>h1 {
  font-size: 18px;
  line-height: 40px;
  padding-left: 40px;
}

.app-info-content>ul>li {
  margin-bottom: 6px;
}

.app-version-main {
  position: relative;
  padding: 10px 20px 40px 40px;
}

.app-version-main .create-new {
  position: absolute;
  right: 20px;
  top: 9px;
  font-size: 16px;
  padding: 4px 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 14px;
  outline: none;
  cursor: pointer;
}

.app-version-main h3>span {
  font-size: 16px;
  float: left;
  line-height: 30px;
  margin-right: 20px;
}

.app-update-value {
  padding-left: 100px;
}

.app-version-main h3 {
  font-size: 14px;
  margin-bottom: 50px;
}

.app-download-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
}

.app-version-main .cd-timeline-content h3 {
  margin-bottom: 0;
}

.app-version-main h3>span.publish-time,
.app-version-main h3>span.update-time {
  float: none;
  font-size: 13px;
}

.app-version-main h3 ul {
  float: left;
}

.app-version-main h3 ul li {
  float: left;
  color: #7f8c97;
  border-color: #7f8c97;
  background-color: #fff;
  font-size: 14px;
  line-height: 30px;
  padding: 2px 14px;
  margin: 0px 10px;
  border-radius: 17px;
  cursor: pointer;
}

.app-version-main h3 ul li.active-state:nth-of-type(odd) {
  background-color: hotpink;
  color: #fff;
}

.app-version-main h3 ul li.active-state:nth-of-type(even) {
  background-color: skyblue;
  color: #fff;
}

.edit-btn {
  outline: none;
  background-color: #aaaaaa;
  padding: 2px 8px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  float: right;
  margin-top: 4px;
}

.app-platform {
  margin-left: 32px;
  margin-right: 4px;
}

.app-info-name {
  display: inline-block;
  width: 100px;
}


/* -------------------------------- 



Modules - reusable parts of our design

-------------------------------- */

.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}


/* -------------------------------- 

Main components 

-------------------------------- */

.open-new-window {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid #ddd;
  background: #eee;
  border-radius: 4px;
  max-height: 520px;
  min-height: 454px;
  max-width: 432px;
  overflow-x: hidden;
  overflow-y: auto;
}

.open-new-window input,
.open-new-window button,
.open-new-window textarea,
.open-new-window select

{
  border: 1px solid #bdbdbd;
  outline: none;
  resize: none;
}

.open-new-window input ,
.open-new-window select{
  width: 290px;
  height: 24px;
  padding-left: 4px;
}

.app-system-input,
.app-publish-input {
  /* margin-right: 6px; */
}

.add-system-btn,
.app-publish-btn {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #fff;
  font-size: 16px;
  line-height: 20px;
}

.app-info-main {
  padding: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}


.add-info-system{
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.app-download {
  width: 370px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.add-info-system input,
.app-publish-market input {
  width: 80px;
  margin-bottom: 4px;
  margin-right: 6px;
}

input[type=radio] {
  width: 16px;
  height: 16px;
  margin: 4px;
}

.add-info-item label {
  line-height: 24px;
  margin: 0px 4px;
}

input[type=file] {
  width: 152px;
  overflow: hidden;
  margin-left: 10px;
  padding-left: 0;
  border: none;
  font-size: 12px;
}

.add-info-item {
  -ms-flex-line-pack: center;
  align-content: center;
  margin: 6px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#app-update-info {
  width: 290px;
  padding: 4px;
}

.add-info-item.has-btn {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.add-info-item .add-info-title {
  width: 90px;
  font-size: 13px;
  line-height: 24px;
}

.btn-content {
  margin: 21px auto 0px;
}

.btn-content button {
  margin: 0px 10px;
  padding: 4px 14px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-content .submit-btn,.btn-content .edit-btn {
  background-color: #1E7EB4;
  color: #fff;
  border: 1px solid #1E7EB4;
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
  width: 500px;
  /* display: block; */
  margin-left: 20px;
}

.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}


/* .cd-timeline-block:first-child {
  margin-top: 0;
} */

.cd-timeline-block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    width: 50%;
    margin-left: 0;
    margin-top: 2em;
    display: block;
  }
  .cd-timeline-block:nth-of-type(2) {
    margin-top: 10em;
  }
  /* .cd-timeline-block:first-child {
    margin-top: 0;
  } */
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  background-color: #1E7EB4;
  position: absolute;
  top: 23px;
  left: 0;
  font-size: 14px;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  color: #fff;
  padding: 4px 10px;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 0 2px #ffffff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 2px 0 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 0 2px #ffffff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 2px 0 3px rgba(0, 0, 0, 0.05);
}

.cd-timeline-img:nth-of-type(even) {
  left: 0;
}

.cd-timeline-img.gshopper-item {
  background: #75ce66;
}

.cd-timeline-img.erp-item {
  background: #c03b44;
}

.cd-timeline-img.cd-location {
  background: #f0ca45;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    /* width: 20px;
    height: 20px; */
    left: 100%;
    /* transform: translateX(50%); */
    /* Force Hardware Acceleration in WebKit */
    /* -webkit-transform: translateZ(0); */
    -webkit-backface-visibility: hidden;
  }
  .cd-timeline-img:nth-of-type(even) {
    left: 0 !important;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.cd-timeline-content {
  display: block;
  position: relative;
  margin-left: 60px;
  background: #ffffff;
  border-radius: 0.25em;
  padding: 1em;
  -webkit-box-shadow: 0 3px 0 #d7e4ed;
  box-shadow: 0 3px 0 #d7e4ed;
}

.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}

.cd-timeline-content h2 {
  color: #303e49;
}

.cd-timeline-content p,
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}

.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
  display: inline-block;
}

.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: #ffffff;
  border-radius: 0.25em;
}

.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}

.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 26px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #ffffff;
}

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more,
  .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 88%;
    display: block;
  }
  #cd-timeline .left-item,
  .cd-timeline-block.show-item:nth-of-type(odd) {
    float: left;
  }
  #cd-timeline .right-item,
  .cd-timeline-block.show-item:nth-of-type(even) {
    float: right;
  }
  #cd-timeline .cd-timeline-block.left-item .cd-timeline-img,
  .cd-timeline-block:nth-of-type(odd) .cd-timeline-img {
    left: 100% !important;
  }
  #cd-timeline .cd-timeline-block.right-item .cd-timeline-img,
  .cd-timeline-block:nth-of-type(even) .cd-timeline-img {
    left: 0 !important;
  }
  .cd-timeline-block:nth-of-type(even) .cd-timeline-content,
  #cd-timeline .cd-timeline-block.right-item .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-of-type(odd) .cd-timeline-content,
  #cd-timeline .cd-timeline-block.left-item .cd-timeline-content {
    float: left;
  }
  .cd-timeline-block:nth-of-type(even) .cd-timeline-content::before,
  #cd-timeline .cd-timeline-block.right-item .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #ffffff;
  }
  .cd-timeline-block:nth-of-type(odd) .cd-timeline-content::before,
  #cd-timeline .cd-timeline-block.left-item .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #ffffff;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block.right-item .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}

@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}