[v-cloak] {
    display: none;
}
.wrap {
    box-sizing: border-box;
    padding: 20px;
    margin: 0;
}
.use-row + .use-row{
    margin: 20px 0;
}
.result-num span{
    margin-right: 40px;
}
.box-parent {
    position: relative;
}
.xcl-box {
    /*width: calc(100% + 218px);*/
    /*width: -webkit-calc(100% + 218px);*/
    /*width: -moz-calc(100% + 218px);*/
    width: 100%;
    height:100%;
    position: fixed;
    left:0px;
    top:0px;
    background: rgba(0,0,0,0.3);
    padding: 10px;
    z-index:997;
    /*margin-left: -218px;*/
}
.xcl-box-main{
    height:600px;
    width: 460px;
    background: white;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.20);
    margin:5% auto;
    z-index:998;
    padding:10px 25px;
    border-radius: 5px;
    cursor: default;
    margin-left:30%;
}
.xcl-box .search-row {
    margin: 10px 0;
    text-align: left;
    width: 100%;
}
.xcl-box-main .xcl-box-main-top{
    width: 100%;
    height:30px;
    line-height: 30px;
}
.xcl-box-main .search-row .cancel{
    height:30px;
    line-height: 30px;
    font-size:20px;
    color:#000 !important;
    float: right;
    cursor: pointer;
}
.xcl-box .search-row-main{
    height:32px;
    line-height: 32px;
    padding:0px;
    width: 210px;
    border: 1px solid rgba(0,0,0,.15);
    float: left;
    border-radius: 5px;
    position: relative;
}
.xcl-box .search-row input {
    height:30px;
    line-height: 30px;
    padding: 0 10px;
    width: 180px;
    border: none;
    outline:none;
    position: absolute;
    border-radius: 5px;
    left:0px;
    top:0px;
}
.xcl-box .search-row .Hui-iconfont-search{
    font-size: 20px;
    vertical-align: middle;
    cursor: pointer;
    width: 30px;
    height:30px;
    color:#546E7A;
    position: absolute;
    text-align: center;
    right:0px;
    top:0px;
}
.xcl-box .search-row .btn-close{
    position: absolute;
    top: 1px;
    right: 1px;
    color: #666;
    font-size: 20px;
    vertical-align: middle;
    cursor: pointer;
}
.xcl-box .search-row .btn-close:hover{
    color: #ec2d64;
}
.xcl-box .search-row button{
    text-align: center;
    font-size: 14px;
    color: #546E7A;
    letter-spacing: 0;
    background: #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid #CADEE7;
    outline: none;
    height:30px;
    line-height:30px;
    padding:0px 10px;
    margin-left: 20px;
}
.xcl-box table thead th{
    height:40px;
    line-height:40px;
    padding: 0 8px;
    background: #F6F9FA;
    text-align: center;
    color: #546E7A;
    font-weight: bold;
    border:1px solid rgb(202, 222, 231);
}
.xcl-box table tbody td{
    border-bottom:1px solid rgb(202, 222, 231);
    border-top:1px solid rgb(202, 222, 231);
    border-left:1px solid rgb(236, 239, 241);
    border-right:1px solid rgb(236, 239, 241);
    background: white;
    color: rgb(38, 50, 56);
    font-size: 13px;
    padding:8px !important;
}
.showbg{
    background-color: #ddd;
}
.xcl-btn-group{
    position: absolute;
    top: 28px;
    right: 0;
    z-index: 100;
    display: none;
}
.xcl-btn-group span{
    display: inline-block;
    padding: 1px 10px 2px;
    background: #5eb95e;
    color: white;
    border-radius: 2px;
}
.xcl-hover-btn{
    display: inline-block;
    padding: 1px 10px 2px;
    background: #EC2D64;
    color: white;
    height: 20px;
    border: 1px;
    cursor: pointer;
}
.button-hide{
    background: none;
    border:none;
}
#box-bg .box-wrap .title{
    background: #546E7A !important;
}
#box-bg{
    z-index: 1000;
}
#box-bg .btn-wrap .btn-confirm{
    border: 1px solid #546E7A !important;
    background: #546E7A !important;
    z-index: 1000;
}
.xcl-box-main .td-linknum span{
    color: #1E7EB4;
    cursor: default;
}
.xcl-box-maintotal{
    width: 100%;
    height:20px;
    font-size: 13px;
    text-align: left;
}
.xcl-box-maintotal i{
    margin:0px 2px;
    font-style: normal;
    font-weight:bold;
}
.existing_extend_img_th{
    white-space: normal !important;
    word-break: break-all !important;
    width: 50px !important;
    padding:0px !important;
}
.existing_extend_img{
    padding:0px !important;
    width: 50px;
    overflow: hidden;
}
.existing_extend_img_small{
    overflow: hidden;
}
.existing_extend_img_small img{
    outline: none;
    border:none;
    width:50px;
    height:50px;
    position: relative;
    max-height:200px;
}
.existing_extend_img_big{
    position: fixed;
    left:0px;
    top:0px;
    width: 100%;
    height:100%;
    background:rgba(0,0,0,0.3);
    z-index: 99999;
}
.existing_extend_img_big .existing_extend_img_big_img{
    margin:10% 15%;
    display: block;
    width: 500px;
    height:500px;
    border:1px solid rgba(0,0,0,.15);
    background-repeat: no-repeat;
    background-position:center center;
}
.existing_extend_img_big .existing_extend_img_big_img img{
    display:none;
}