
.kcs-box {
    position: absolute;
    top:calc((100% - 270px) / 2);
    left:calc((100% - 270px) / 2);
    background: white;width: 270px;
    height:270px;border-radius: 3px;
    border:1px solid #e5e5e5;
    padding:0 20px 10px;
    box-shadow:3px 2px 6px #dedede;
}
.kcs-box div, h4, h5 {
    margin: 10px 0;
}
.kcs-box h4 {
    font-size:18px;
    font-weight:600;
}

.kcs-box h5 {
    font-size: 15px;
    font-weight: 600;
}

.kcs-box div > span {
    margin-right: 10px;
    display: inline-block;
    padding: 10px;
}

.kcs-box div > input {
    border: 1px solid #cccccc;
    width: 150px;
    height: 26px;
    padding: 0 10px;
    border-radius: 2px;
    box-sizing: border-box;
}
.kcs-box div > select {
    border: 1px solid #cccccc;
    width: 150px;
    height: 30px;
    padding: 0 10px;
    border-radius: 2px;
}
.kcs-box div > button:first-child {
    border: 1px solid #ca2756;
    padding: 3px 12px;
    border-radius: 2px;
    background: #ed2d65;
    color: white;
    margin-right: 30px;
    margin-left: 10px;
}
.kcs-box div > button:last-child {
    border: 1px solid #b3b3b3;
    padding: 3px 12px;
    border-radius: 2px;
    background: #dddddd;
    color: #555;
    margin-left: 30px;
}
.button-pink{background:#EC2D64}
.td-sku input{
    border-radius:5px 0px 0px 5px;
}
.td-sku img{border-radius:0px 5px 5px 0px;}
select,input,button{border-radius: 5px}