#logistice-company{
	padding: 20px 20px 0px 30px;
}
ul{
	margin: 0;
	padding: 0;
}
.row{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}
.sort-item{
	margin: 2px 10px 30px 20px; 
}
.fl{
	float: left;
}
.time-filter{
	margin-left: 20px;
}
.seacher-btn{
    background: #1E7EB4;
	color: #FFFFFF;
}
.reset-btn{
	background: #ECEFF1;
	color: #1E7EB4;
}
.search-btn-group button {
    font-family: MicrosoftYaHei-Bold;
    font-size: 14px;
    letter-spacing: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,0.10);
    border-radius: 4px;
    padding: 13px 46px;
    border: none;
    outline: none;
    margin-right: 32px;
    cursor: pointer;
}
.export{
	margin-left: 30px;
	color: #1E7EB4;
	text-decoration: underline;
	cursor: hand;
}
.record{
	margin: 0;
}
.pop .el-dialog{
	/*width: 20% !important;*/
	border-radius: 8px;
}
.logistice-item .sort-item >p{
	display: inline-block;
	width: 80px;
	margin-right: 10px;
}
.logistice-item  p span{
	color: #F00;
}
.table tr td{
	font-size: 14px;
	color: #333;
}
.table tr{
	border: 1px solid #ebeef5 !important;
	font-size: 15px;
}
.table-content, div.account-table{
	width: 99%;
	margin: 5px 10px;
	height: 340px;
}
table{
    border-collapse: collapse;
	background-color: transparent;
}
thead tr th{text-align: center;}
/*.table-content table tr, td, th*/,
 .account-table table tr, td, th{
	text-align: center;
}
/*.table-content table tr, td , */
.account-table table tr, td, th{
	border-bottom: 1px solid #CADEE7;
    border-top: 1px solid #CADEE7;
    border-left: 1px solid #ECEFF1;
    border-right: 1px solid #ECEFF1;
}
.seacher-result{
	margin: 20px 0;
}
/*.table-content .logistice-list th, */
.account-table table th, .table thead.has-gutter{
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    border: 1px solid #537a8c;
    font-size: 0.7rem;
    color: #FFFFFF;
    letter-spacing: 0;
    white-space: nowrap;
    height: 2rem;
    padding: 0 10px;
    background: #546E7A !important;
    line-height: 2rem;
}
.account-num{
	text-align: right;
}
.operate-btn{
	display: inline-block;
}
.el-dialog__header{
	display: block;
}
.add{
	color: #FFF;
	border: none;
	width: 60px;
	height: 35px;
	border-radius: 4px;
	margin-right: 20px;
}
.add{
	background: #2ba384;
}
.dele{
	background: #aeaeae;
}
.account-list{
	height: 340px;
	overflow: scroll;
}
.account-table{
	margin-top: 20px;
	overflow-x: auto;
	overflow-y: scroll; 
	height: 240px; 
	/*width:200px;*/
}
/*.account-msg ul li:last-child span{
	display: none;
}*/
.account-list .el-input__inner{
	height: 30px;
}
.account-list tr{
	height: 40px;
}
.account-list td{
	text-align: center;
}
.edit{
	background: #1E7EB4;
	color: #FFFFFF;
    cursor: pointer;
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 4px;
    float: left;
    margin: 4px;
}
.el-switch__core{
	margin-left: 20px;
}
#lately_time_action{
	width: 100px;
}
.pagination ul li{
	float: left;
}
.table .el-table .cell{
	text-align: center;
}
.table .el-pagination{
	margin: 20px 0px 200px;
	float: right;
}
.logistice-item .el-select{
	width: 300px !important;
}
/*.table .el-pagination__sizes{
	width: 100px;
	margin-right: 30px;
}*/
.operate-btn{
	display: flex;
}
/*.account-show-msg{
	
}*/
/*.account-msg{
	padding: 4px 0;
	display: flex;
	justify-content: center;
	width: 100px;
	height: 20px;
	flex-wrap: wrap;
	overflow: hidden;
	float: left;
}*/
.sort-item div.el-select-dropdown{
	position: absolute !important;
	top: 30px !important;
	left: -10px !important;
}
.our-sign-company div.el-select-dropdown{
	position: absolute !important;
	top: 20px !important;
	left: -60px !important;
}
.logistice-item .sort-item{
	position: relative;
}
.el-scrollbar .el-select-dropdown__item{
	width: 100% !important;
}
.account-table table tr, td, th{
	border-bottom: none !impotant;
}
.el-table td, .el-table th.is-leaf{
	border-bottom: none;
	border-right: none;
}
.el-table__body, .el-table__footer, .el-table__header{
	border-right: 1px solid #ebeef5 !important;
}
.butt-item span:last-child small{
	display: none;
}