/* b2b按钮更新 */
.new-btn-group > .label-name{
    font-family: MicrosoftYaHei;
    font-size: 13px;
    color: #546E7A;
    letter-spacing: 0;
}

.new-btn-group > button{
    border: none;
    padding: 10px 18px;
    font-family: MicrosoftYaHei;
    font-size: 13px;
    color: #263238;
    letter-spacing: 0;
    background: white;
    margin: 0 11px;
    cursor: pointer;
    outline:none;
}

.new-btn-group >button.active{
    background: #1E7EB4;
    border-radius: 100px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 14px;
}

.new-btn-group > button:hover{
    /* background: #228ECA;
    border-radius: 100px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 14px; */
}

.search-btn-group button{
    font-family: MicrosoftYaHei-Bold;
    font-size: 14px;
    letter-spacing: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,0.10);
    border-radius: 4px;
    padding: 13px 46px;
    border: none;
    outline: none;
    margin-right: 32px;
    cursor: pointer;
}

.search-btn-group button.search-btn{
    background: #1E7EB4;
    color: #FFFFFF;
}

.search-btn-group button.search-btn:hover{
    background:#228ECA;
}

.search-btn-group button.reset-btn{
    background: #ECEFF1;
    color: #1E7EB4;
}

.search-btn-group button.reset-btn:hover{
    background: #F8F8F8;
}

.primary-btn{
    background: #1E7EB4;
    border-radius: 4px;
    font-family: MicrosoftYaHei-Bold;
    color: #FFFFFF!important;
    font-size: 13px;
    letter-spacing: 0;
    padding: 6px 21px;
    cursor: pointer;
}
.primary-btn:hover{
    background:#228ECA;
}
.baseline{
    height: 13px;
    background: #ECEFF1;
}