//新调拨样式
//列表页
.must:after {
  content: '*';
  color: #C31207;
  display: inline;
  vertical-align: middle;
  font-size: 14px;
  margin-left: 3px;
}
#ck-wrap{
  .row{
    .btn-group{
      width: 100%;
      span{
        width: 14%;
        background:white;
        font-size:14px;
        padding: 0px;
        height:32px;
        margin:0px !important;
        border-radius: 5px;
        line-height: 32px;
        color:#263238;
        display:block;
        float: left;
        text-align: center;
        cursor: pointer;
        margin-left: -2px !important;
        border: 1px solid rgba(0, 0, 0, 0.15);
      }
      span:nth-child(6){
        width: 16%;
      }
      .active{
        background: #1E7EB4;
        color: white !important;
      }
    }
  }
  .row-nav{
    >div{
      padding: 0px !important;
      label{
        text-align: center;
        width: 30%;
        font-size:14px;
        height:32px;
        line-height: 32px;
        float: left;
        word-break: break-all;
        white-space: nowrap;
      }
      .textLeft{
        text-align: left;
      }
      .label-select{
        width: 30% !important;
        float: left;
        select{
          width:95% !important;
          float: left !important;
        }
      }
      select,input{
        text-align: left;
        width: 70%;
        float: right;
        font-size: 14px;
        height:32px;
        border:1px solid rgba(0, 0, 0, 0.15);
        border-radius: 5px;
      }
    }
  }
  .row-search{
    .btn{
      height: 32px;
      padding:0px 20px;
      text-align: center;
      line-height: 32px;
      font-size: 14px;
      letter-spacing: 0;
      background: #2BA384;
      border-radius: 4px;
      display: inline-block;
      color: white;
      border: none;
      outline: none;
    }
    .btn-reset{
      color: #546E7A;
      letter-spacing: 0;
      background: #FFFFFF;
      border: 1px solid #CADEE7;
      margin-left: 10px;
    }
  }
  .baseline{
    display: block;
    height: 12px;
    line-height: 12px;
    margin:20px 0px 10px 0px;
    border-top:1px solid rgba(0, 0, 0, 0.15);
  }
  .list_result{
    width: 100%;
    height:40px;
    line-height: 40px;
    .btn{
      height: 32px;
      text-align: center;
      padding:0px 15px;
      line-height: 32px;
      font-size: 14px;
      letter-spacing: 0;
      background: #1E7EB4;
      border-radius: 4px;
      display: inline-block;
      color: white;
      border: none;
      outline: none;
      float: right;
    }
  }
  .table{
    td{
      border-bottom:1px solid #CADEE7;
      border-top:1px solid #CADEE7;
      border-left:1px solid #ECEFF1;
      border-right:1px solid #ECEFF1;
      color: #263238;
      font-size: 13px;
      .btn-check{
        height: 28px;
        padding: 0px 15px;
        text-align: center;
        line-height: 28px;
        font-size: 13px;
        border-radius: 4px;
        border: 1px solid #C8D2D7;
        background: #2BA384;
        color: white;
      }
    }
    th{
      font-weight: normal;
      border:1px solid #668491;
      word-break: keep-all;
      white-space: nowrap;
      padding: 0px 5px;
      height: 40px;
    }
  }
}
.row-line{
  height:10px;
  border-bottom:1px solid #C9D8E0 ;
}
.create_new_process{
  width: 100%;
  height:100%;
  .codeView-title{
    font-size: 22px;
    font-weight: bold;
  }
  .codeView{
    width:560px;
    height:400px;
    margin:5% auto;
    border-radius: 5px;
    background: white;
    border:1px solid rgba(0, 0, 0, 0.15);
    padding:20px 20px 10px 20px;
    .empty{
      width: 100%;
      display: block;
      height:80px;
    }
    .codeView-row{
      display: block;
      clear: both;
      height:32px;
      line-height: 32px;
      margin:30px 0px;
      >div{
        height:32px;
        line-height: 32px;
        float: left;
        font-size: 14px;
      }
      .Hui-tags-editor{
        width: 200px;
        text-align: center;
      }
      .Hui-tags-editor-right{
        width:300px;
        .select{
          width: 100%;
          padding:0px;
          margin:0;
          border-radius: 5px;
          height:32px;
          border:1px solid rgba(0, 0, 0, 0.15);
        }
      }
    }
     .row-btn{
       text-align: center;
       margin-top: 50px;
       clear: both;
       .btn{
         height: 40px;
         line-height: 40px;
         text-align: center;
         padding: 0px 25px;
         background: #1E7EB4;
         border: 1px solid #C8D2D7;
         border-radius: 4px;
         font-size: 14px;
         color: #FFFFFF;
         letter-spacing: 0;
       }
     }
  }
}
.pagination  li a, .pagination  li  span{
   text-indent: 0px !important;
  text-align: center;
}
//新建调拨单2
.content-title{
  font-size: 22px;
  font-weight: bold;
  margin-left:10px
}
.ck-wrap-title{
  font-size: 18px;
  color: rgb(38, 50, 56);
  font-weight: bold;
}
#content{
  padding:0px 20px;
  .row{
    span{
      font-size: 14px;
    }
  }
  .row-top-title{
    width: 100%;
    height:40px;
    margin-top: 10px;
    display: block;
    clear: both;
    padding-bottom:10px;
     >div{
       float: left;
       display: block;
       margin-right: 50px;
       font-weight: bold;
       .fontNormal{
         span{
           font-weight: normal;
         }
       }
       span{
         float: left;
         display: block;
         height:40px;
         font-size: 15px;
         line-height: 40px;
       }
       >div{
         float: left;
         height:40px;
         line-height: 40px;
         font-size: 15px;
       }
     }
  }
  .row-form{
    padding-bottom:10px;
    .col-sm-3{
      padding:0px;
      margin:0px;
      >div{
        margin-top: 20px !important;
        float: left;
        height:32px;
        line-height: 32px;
      }
      .title-left{
        width: 30% !important;
        span{
          display: block;
          height:32px;
          line-height: 32px;
          text-align: center;
          word-break: break-all;
          white-space: nowrap;
        }
        &.align-left{
          span{
            text-align: left;
          }
        }
      }
      .title-right{
         width: 70% !important;
         input,select{
            width:100%;
            padding:0px;
            height:32px;
            border:1px solid rgba(0, 0, 0, 0.15);
            border-radius: 5px;
           outline:none;
           float: right;
         }
      }
    }
    .col-sm-6{
      text-align: left;
      .btn{
        margin-top: 20px;
        margin-left:2%;
        height: 32px;
        padding: 0px 20px;
        text-align: center;
        line-height: 32px;
        font-size: 14px;
        letter-spacing: 0;
        background: #2BA384;
        border-radius: 4px;
        display: inline-block;
        color: white;
        border: none;
        outline: none;
      }
      .btn-reset{
        color: #546E7A;
        letter-spacing: 0;
        background: #FFFFFF;
        border: 1px solid #CADEE7;
        margin-left: 10px;
      }
    }
  }
  .row_result{
    height:40px;
    line-height: 40px;
    font-size: 14px;
    .btn{
      height: 32px;
      text-align: center;
      padding: 0px 15px;
      line-height: 32px;
      font-size: 14px;
      letter-spacing: 0;
      background: #1E7EB4;
      border-radius: 4px;
      display: inline-block;
      color: white;
      border: none;
      outline: none;
      margin-left: 20px;
    }
  }
  .table{
    width: 100%;
    td{
      border-bottom:1px solid #CADEE7;
      border-top:1px solid #CADEE7;
      border-left:1px solid #ECEFF1;
      border-right:1px solid #ECEFF1;
      color: #263238;
      font-size: 13px;
      .input-text{
        height:32px;
        border:1px solid rgba(0, 0, 0, 0.15);
        border-radius: 5px;
      }
    }
    th{
      font-weight: normal;
      border:1px solid #668491;
      word-break: keep-all;
      white-space: nowrap;
      padding: 0px 5px;
      height: 40px;
    }
  }
  .bottom-row{
    width: 100%;
    height:36px;
    margin-top: 20px;
    margin-left: 20px;
    div{
      width: 100%;
      text-align: center;
      .bottom-btn{
        margin:0px 10px;
      }
      a{
        height: 34px !important;
        line-height: 34px !important;
        &.btn-check-bottom:hover{
          color: white !important;
        }
      }
    }
  }
  .table-detail-bg{
       margin: 10px 0px 10px 0px;
      .table-detail-title{
        background: #546E7A !important;
        color: #FFFFFF !important;
        letter-spacing: 0;
        padding: 0px;
        text-indent: 20px;
        text-align: left !important;
        font-size: 15px !important;
        height: 40px;
        line-height: 40px;
        .table-detail-title-btn{
          float:right !important;
        }
      }
     tbody tr td {
      font-size: 13px;
      color: #263238;
      letter-spacing: 0;
      border-bottom: 1px solid #ECEFF1;
      border-top: 1px solid #ECEFF1;
      border-left: 1px solid #CADEE7;
      border-right: 1px solid #CADEE7;
    }
    tbody tr td:nth-child(odd) {
      background: #F7F9FB;
      color: #546E7A;
      letter-spacing: 0;
      text-align: center;
    }
    tbody tr td:nth-child(even) {
      background: white;
      color: #546E7A;
      letter-spacing: 0;
      text-align: center;
    }
    .td-data{
      .el-input__inner{
        height: 32px !important;
      }
    }
  }
  .table-detail{
    margin: 10px 0px 10px 0px;
    .table-detail-title{
      background: #546E7A !important;
      color: #FFFFFF !important;
      letter-spacing: 0;
      padding: 0px;
      text-indent: 20px;
      text-align: left !important;
      font-size: 15px !important;
      height: 40px;
      line-height: 40px;
      .table-detail-title-btn{
        float:right !important;
        margin-top: 6px;
        margin-right: 20px;
      }
    }
    .table-th td{
      font-size: 14px;
      color: #566F7B;
      letter-spacing: 0;
      background: #F7F9FB;
      border: 1px solid #CADEE7;
    }
    td{
      background:white;
      text-align: center;
    }
    td:nth-child(1){
      background:rgb(247, 249, 251);
    }
  }
  .col-sm-4 {padding: 0;}
  .title-left {width: 25%;float: left;}
  .input-text, .textarea{width: 60%;}
  table {margin-bottom: 10px;}
  table thead th{text-align: center;}
  .select-box{border: solid 1px #ddd;}
  .btn-upload{position: relative; display:inline-block;height:32px; *display:inline;overflow:hidden;vertical-align:middle;cursor:pointer}
  .upload-url{cursor: pointer}
  .input-file{position:absolute; right:0; top:-2px; cursor:pointer; z-index:1; font-size:30em; *font-size:30px;opacity:0;filter: alpha(opacity=0)}
  .btn-upload .input-text{ width:auto}
  .form-group .upload-btn{ margin-left:-1px}
  #location_form .btn-upload .td-btn{
    height:32px !important;
    line-height: 32px !important;
  }
  #printArea {
    width: 100%;
    height:100%;
    margin-top: 20px;
      .print-body{
        width: 80%;
        margin: 0 auto;
        height:auto;
        padding:20px 10px;
        border:1px solid rgba(0, 0, 0, 0.15);
        .print-body-title{
          height:50px;
          margin-top: 20px;
          width: 100%;
          p{
            height:25px;
            &.print-body-title-p1{
               font-size: 20px;
               width: 100%;
              text-align: center;
              font-weight: bold;
            }
            &.print-body-title-p2{
              text-align: right;
            }
          }
        }
      }
  }
  .bottom-row-print{
    margin-top: 30px;
  }
}
.print-body .table-print .table-th td{
  background: #F7F9FB !important;
}
#allocationApplication{
  height:100%;
  width: 100%;
  .application-title{
    width: 80%;
    margin:0 auto;
    margin-top: 5%;
    text-align: center;
    height:40px;
    background: #546E7A !important;
    color: #FFFFFF !important;
    letter-spacing: 0;
    padding:0px 20px;
    text-indent: 20px;
    font-size: 15px !important;
    line-height: 40px;
    border:1px solid #546E7A;
  }
  .content{
    width: 80%;
    margin:0 auto;
    padding:10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    .content-condition{
      height:36px;
      width: 100%;
      line-height: 36px;
      label{
        display: block;
        float: left;
        font-size: 14px;
        width: 25%;
      }
    }
    .table{
      width: 100%;
      margin-top: 20px;
      td{
        color: #263238;
        font-size: 14px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        padding: .75rem;
        border-top: none;
        text-align: center;
        border-left: none;
      }
      th{
        font-weight: normal;
        border: 1px solid rgba(0, 0, 0, 0.15);
        word-break: keep-all;
        white-space: nowrap;
        font-size: 14px;
        padding: 0px 5px;
        background: #F7F9FB;
        height: 40px;
        border-left: none;
      }
      .first-td{
        border-left:1px solid rgba(0, 0, 0, 0.15) !important;
      }
    }
    .operation{
      padding:20px 0px;
      width: 100%;
      text-align: center;
      a{
        margin:0px 10px;
      }
    }
  }

}
.td-btn{
  height: 28px;
  padding: 0px 15px;
  text-align: center;
  display: inline-block;
  line-height: 28px;
  font-size: 13px;
  border-radius: 4px;
  text-indent: 0px;
  float:none;
  cursor: pointer;
  text-decoration: none;
}
.td-btn-check{
  border: 1px solid #C8D2D7;
  background: #1E7EB4;
  color: white;
}
.td-btn-edit{
  background: #2BA384;
  color: white;
  display:inline-block;
}
.td-btn-save{
  background: #1E7EB4;
  color: white;
}
.td-btn-cancel{
  color: #546E7A;
  background: white;
  border: 1px solid #C8D2D7;
}
.bottom-btn{
  padding: 0px 20px;
  height: 36px;
  font-size: 14px;
  line-height: 36px;
  display: inline-block;
  background: #1E7EB4;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn-back-bottom{
  padding: 0px 20px;
  font-size: 14px;
  height: 36px;
  line-height: 40px;
  background: #FFFFFF;
  border: 1px solid #C8D2D7 !important;
  border-radius: 4px;
  color: #546E7A;
  letter-spacing: 0;
  cursor: pointer;
}
.btn-check-bottom{
  padding: 0px 20px;
  height: 36px;
  font-size: 14px;
  line-height: 40px;
  background: #1E7EB4;
  color: white;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}
//调拨详情页 弹框部分
#content .warehouse_switch_model{
   .warehouse_switch_model_body{
      padding: 10px 20px !important;
      .table_warehouse_switch{
         thead tr{
           th{
             height:15px !important;
           }
         }
      }
     .table{
       margin:0px!important;
       th{
         height:30px;
         border: 1px solid #E2EDF2;
       }
     }
   }
  .row_head>div span{
    font-weight: bold;
    font-size: 18px;
    color: #263238;
  }
}