.must:after {
  content: '*';
  color: #C31207;
  display: inline;
  vertical-align: middle;
  font-size: 14px;
  margin-left: 3px; }

#ck-wrap .row .btn-group {
  width: 100%; }
  #ck-wrap .row .btn-group span {
    width: 14%;
    background: white;
    font-size: 14px;
    padding: 0px;
    height: 32px;
    margin: 0px !important;
    border-radius: 5px;
    line-height: 32px;
    color: #263238;
    display: block;
    float: left;
    text-align: center;
    cursor: pointer;
    margin-left: -2px !important;
    border: 1px solid rgba(0, 0, 0, 0.15); }
  #ck-wrap .row .btn-group span:nth-child(6) {
    width: 16%; }
  #ck-wrap .row .btn-group .active {
    background: #1E7EB4;
    color: white !important; }
#ck-wrap .row-nav > div {
  padding: 0px !important; }
  #ck-wrap .row-nav > div label {
    text-align: center;
    width: 30%;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    float: left;
    word-break: break-all;
    white-space: nowrap; }
  #ck-wrap .row-nav > div .textLeft {
    text-align: left; }
  #ck-wrap .row-nav > div .label-select {
    width: 30% !important;
    float: left; }
    #ck-wrap .row-nav > div .label-select select {
      width: 95% !important;
      float: left !important; }
  #ck-wrap .row-nav > div select, #ck-wrap .row-nav > div input {
    text-align: left;
    width: 70%;
    float: right;
    font-size: 14px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px; }
#ck-wrap .row-search .btn {
  height: 32px;
  padding: 0px 20px;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  letter-spacing: 0;
  background: #2BA384;
  border-radius: 4px;
  display: inline-block;
  color: white;
  border: none;
  outline: none; }
#ck-wrap .row-search .btn-reset {
  color: #546E7A;
  letter-spacing: 0;
  background: #FFFFFF;
  border: 1px solid #CADEE7;
  margin-left: 10px; }
#ck-wrap .baseline {
  display: block;
  height: 12px;
  line-height: 12px;
  margin: 20px 0px 10px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.15); }
#ck-wrap .list_result {
  width: 100%;
  height: 40px;
  line-height: 40px; }
  #ck-wrap .list_result .btn {
    height: 32px;
    text-align: center;
    padding: 0px 15px;
    line-height: 32px;
    font-size: 14px;
    letter-spacing: 0;
    background: #1E7EB4;
    border-radius: 4px;
    display: inline-block;
    color: white;
    border: none;
    outline: none;
    float: right; }
#ck-wrap .table td {
  border-bottom: 1px solid #CADEE7;
  border-top: 1px solid #CADEE7;
  border-left: 1px solid #ECEFF1;
  border-right: 1px solid #ECEFF1;
  color: #263238;
  font-size: 13px; }
  #ck-wrap .table td .btn-check {
    height: 28px;
    padding: 0px 15px;
    text-align: center;
    line-height: 28px;
    font-size: 13px;
    border-radius: 4px;
    border: 1px solid #C8D2D7;
    background: #2BA384;
    color: white; }
#ck-wrap .table th {
  font-weight: normal;
  border: 1px solid #668491;
  word-break: keep-all;
  white-space: nowrap;
  padding: 0px 5px;
  height: 40px; }

.row-line {
  height: 10px;
  border-bottom: 1px solid #C9D8E0; }

.create_new_process {
  width: 100%;
  height: 100%; }
  .create_new_process .codeView-title {
    font-size: 22px;
    font-weight: bold; }
  .create_new_process .codeView {
    width: 560px;
    height: 400px;
    margin: 5% auto;
    border-radius: 5px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 20px 20px 10px 20px; }
    .create_new_process .codeView .empty {
      width: 100%;
      display: block;
      height: 80px; }
    .create_new_process .codeView .codeView-row {
      display: block;
      clear: both;
      height: 32px;
      line-height: 32px;
      margin: 30px 0px; }
      .create_new_process .codeView .codeView-row > div {
        height: 32px;
        line-height: 32px;
        float: left;
        font-size: 14px; }
      .create_new_process .codeView .codeView-row .Hui-tags-editor {
        width: 200px;
        text-align: center; }
      .create_new_process .codeView .codeView-row .Hui-tags-editor-right {
        width: 300px; }
        .create_new_process .codeView .codeView-row .Hui-tags-editor-right .select {
          width: 100%;
          padding: 0px;
          margin: 0;
          border-radius: 5px;
          height: 32px;
          border: 1px solid rgba(0, 0, 0, 0.15); }
    .create_new_process .codeView .row-btn {
      text-align: center;
      margin-top: 50px;
      clear: both; }
      .create_new_process .codeView .row-btn .btn {
        height: 40px;
        line-height: 40px;
        text-align: center;
        padding: 0px 25px;
        background: #1E7EB4;
        border: 1px solid #C8D2D7;
        border-radius: 4px;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0; }

.pagination li a, .pagination li span {
  text-indent: 0px !important;
  text-align: center; }

.content-title {
  font-size: 22px;
  font-weight: bold;
  margin-left: 10px; }

.ck-wrap-title {
  font-size: 18px;
  color: #263238;
  font-weight: bold; }

#content {
  padding: 0px 20px; }
  #content .row span {
    font-size: 14px; }
  #content .row-top-title {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    display: block;
    clear: both;
    padding-bottom: 10px; }
    #content .row-top-title > div {
      float: left;
      display: block;
      margin-right: 50px;
      font-weight: bold; }
      #content .row-top-title > div .fontNormal span {
        font-weight: normal; }
      #content .row-top-title > div span {
        float: left;
        display: block;
        height: 40px;
        font-size: 15px;
        line-height: 40px; }
      #content .row-top-title > div > div {
        float: left;
        height: 40px;
        line-height: 40px;
        font-size: 15px; }
  #content .row-form {
    padding-bottom: 10px; }
    #content .row-form .col-sm-3 {
      padding: 0px;
      margin: 0px; }
      #content .row-form .col-sm-3 > div {
        margin-top: 20px !important;
        float: left;
        height: 32px;
        line-height: 32px; }
      #content .row-form .col-sm-3 .title-left {
        width: 30% !important; }
        #content .row-form .col-sm-3 .title-left span {
          display: block;
          height: 32px;
          line-height: 32px;
          text-align: center;
          word-break: break-all;
          white-space: nowrap; }
        #content .row-form .col-sm-3 .title-left.align-left span {
          text-align: left; }
      #content .row-form .col-sm-3 .title-right {
        width: 70% !important; }
        #content .row-form .col-sm-3 .title-right input, #content .row-form .col-sm-3 .title-right select {
          width: 100%;
          padding: 0px;
          height: 32px;
          border: 1px solid rgba(0, 0, 0, 0.15);
          border-radius: 5px;
          outline: none;
          float: right; }
    #content .row-form .col-sm-6 {
      text-align: left; }
      #content .row-form .col-sm-6 .btn {
        margin-top: 20px;
        margin-left: 2%;
        height: 32px;
        padding: 0px 20px;
        text-align: center;
        line-height: 32px;
        font-size: 14px;
        letter-spacing: 0;
        background: #2BA384;
        border-radius: 4px;
        display: inline-block;
        color: white;
        border: none;
        outline: none; }
      #content .row-form .col-sm-6 .btn-reset {
        color: #546E7A;
        letter-spacing: 0;
        background: #FFFFFF;
        border: 1px solid #CADEE7;
        margin-left: 10px; }
  #content .row_result {
    height: 40px;
    line-height: 40px;
    font-size: 14px; }
    #content .row_result .btn {
      height: 32px;
      text-align: center;
      padding: 0px 15px;
      line-height: 32px;
      font-size: 14px;
      letter-spacing: 0;
      background: #1E7EB4;
      border-radius: 4px;
      display: inline-block;
      color: white;
      border: none;
      outline: none;
      margin-left: 20px; }
  #content .table {
    width: 100%; }
    #content .table td {
      border-bottom: 1px solid #CADEE7;
      border-top: 1px solid #CADEE7;
      border-left: 1px solid #ECEFF1;
      border-right: 1px solid #ECEFF1;
      color: #263238;
      font-size: 13px; }
      #content .table td .input-text {
        height: 32px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 5px; }
    #content .table th {
      font-weight: normal;
      border: 1px solid #668491;
      word-break: keep-all;
      white-space: nowrap;
      padding: 0px 5px;
      height: 40px; }
  #content .bottom-row {
    width: 100%;
    height: 36px;
    margin-top: 20px;
    margin-left: 20px; }
    #content .bottom-row div {
      width: 100%;
      text-align: center; }
      #content .bottom-row div .bottom-btn {
        margin: 0px 10px; }
      #content .bottom-row div a {
        height: 34px !important;
        line-height: 34px !important; }
        #content .bottom-row div a.btn-check-bottom:hover {
          color: white !important; }
  #content .table-detail-bg {
    margin: 10px 0px 10px 0px; }
    #content .table-detail-bg .table-detail-title {
      background: #546E7A !important;
      color: #FFFFFF !important;
      letter-spacing: 0;
      padding: 0px;
      text-indent: 20px;
      text-align: left !important;
      font-size: 15px !important;
      height: 40px;
      line-height: 40px; }
      #content .table-detail-bg .table-detail-title .table-detail-title-btn {
        float: right !important; }
    #content .table-detail-bg tbody tr td {
      font-size: 13px;
      color: #263238;
      letter-spacing: 0;
      border-bottom: 1px solid #ECEFF1;
      border-top: 1px solid #ECEFF1;
      border-left: 1px solid #CADEE7;
      border-right: 1px solid #CADEE7; }
    #content .table-detail-bg tbody tr td:nth-child(odd) {
      background: #F7F9FB;
      color: #546E7A;
      letter-spacing: 0;
      text-align: center; }
    #content .table-detail-bg tbody tr td:nth-child(even) {
      background: white;
      color: #546E7A;
      letter-spacing: 0;
      text-align: center; }
    #content .table-detail-bg .td-data .el-input__inner {
      height: 32px !important; }
  #content .table-detail {
    margin: 10px 0px 10px 0px; }
    #content .table-detail .table-detail-title {
      background: #546E7A !important;
      color: #FFFFFF !important;
      letter-spacing: 0;
      padding: 0px;
      text-indent: 20px;
      text-align: left !important;
      font-size: 15px !important;
      height: 40px;
      line-height: 40px; }
      #content .table-detail .table-detail-title .table-detail-title-btn {
        float: right !important;
        margin-top: 6px;
        margin-right: 20px; }
    #content .table-detail .table-th td {
      font-size: 14px;
      color: #566F7B;
      letter-spacing: 0;
      background: #F7F9FB;
      border: 1px solid #CADEE7; }
    #content .table-detail td {
      background: white;
      text-align: center; }
    #content .table-detail td:nth-child(1) {
      background: #f7f9fb; }
  #content .col-sm-4 {
    padding: 0; }
  #content .title-left {
    width: 25%;
    float: left; }
  #content .input-text, #content .textarea {
    width: 60%; }
  #content table {
    margin-bottom: 10px; }
  #content table thead th {
    text-align: center; }
  #content .select-box {
    border: solid 1px #ddd; }
  #content .btn-upload {
    position: relative;
    display: inline-block;
    height: 32px;
    *display: inline;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer; }
  #content .upload-url {
    cursor: pointer; }
  #content .input-file {
    position: absolute;
    right: 0;
    top: -2px;
    cursor: pointer;
    z-index: 1;
    font-size: 30em;
    *font-size: 30px;
    opacity: 0;
    filter: alpha(opacity=0); }
  #content .btn-upload .input-text {
    width: auto; }
  #content .form-group .upload-btn {
    margin-left: -1px; }
  #content #location_form .btn-upload .td-btn {
    height: 32px !important;
    line-height: 32px !important; }
  #content #printArea {
    width: 100%;
    height: 100%;
    margin-top: 20px; }
    #content #printArea .print-body {
      width: 80%;
      margin: 0 auto;
      height: auto;
      padding: 20px 10px;
      border: 1px solid rgba(0, 0, 0, 0.15); }
      #content #printArea .print-body .print-body-title {
        height: 50px;
        margin-top: 20px;
        width: 100%; }
        #content #printArea .print-body .print-body-title p {
          height: 25px; }
          #content #printArea .print-body .print-body-title p.print-body-title-p1 {
            font-size: 20px;
            width: 100%;
            text-align: center;
            font-weight: bold; }
          #content #printArea .print-body .print-body-title p.print-body-title-p2 {
            text-align: right; }
  #content .bottom-row-print {
    margin-top: 30px; }

.print-body .table-print .table-th td {
  background: #F7F9FB !important; }

#allocationApplication {
  height: 100%;
  width: 100%; }
  #allocationApplication .application-title {
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
    height: 40px;
    background: #546E7A !important;
    color: #FFFFFF !important;
    letter-spacing: 0;
    padding: 0px 20px;
    text-indent: 20px;
    font-size: 15px !important;
    line-height: 40px;
    border: 1px solid #546E7A; }
  #allocationApplication .content {
    width: 80%;
    margin: 0 auto;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.15); }
    #allocationApplication .content .content-condition {
      height: 36px;
      width: 100%;
      line-height: 36px; }
      #allocationApplication .content .content-condition label {
        display: block;
        float: left;
        font-size: 14px;
        width: 25%; }
    #allocationApplication .content .table {
      width: 100%;
      margin-top: 20px; }
      #allocationApplication .content .table td {
        color: #263238;
        font-size: 14px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        padding: .75rem;
        border-top: none;
        text-align: center;
        border-left: none; }
      #allocationApplication .content .table th {
        font-weight: normal;
        border: 1px solid rgba(0, 0, 0, 0.15);
        word-break: keep-all;
        white-space: nowrap;
        font-size: 14px;
        padding: 0px 5px;
        background: #F7F9FB;
        height: 40px;
        border-left: none; }
      #allocationApplication .content .table .first-td {
        border-left: 1px solid rgba(0, 0, 0, 0.15) !important; }
    #allocationApplication .content .operation {
      padding: 20px 0px;
      width: 100%;
      text-align: center; }
      #allocationApplication .content .operation a {
        margin: 0px 10px; }

.td-btn {
  height: 28px;
  padding: 0px 15px;
  text-align: center;
  display: inline-block;
  line-height: 28px;
  font-size: 13px;
  border-radius: 4px;
  text-indent: 0px;
  float: none;
  cursor: pointer;
  text-decoration: none; }

.td-btn-check {
  border: 1px solid #C8D2D7;
  background: #1E7EB4;
  color: white; }

.td-btn-edit {
  background: #2BA384;
  color: white;
  display: inline-block; }

.td-btn-save {
  background: #1E7EB4;
  color: white; }

.td-btn-cancel {
  color: #546E7A;
  background: white;
  border: 1px solid #C8D2D7; }

.bottom-btn {
  padding: 0px 20px;
  height: 36px;
  font-size: 14px;
  line-height: 36px;
  display: inline-block;
  background: #1E7EB4;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer; }

.btn-back-bottom {
  padding: 0px 20px;
  font-size: 14px;
  height: 36px;
  line-height: 40px;
  background: #FFFFFF;
  border: 1px solid #C8D2D7 !important;
  border-radius: 4px;
  color: #546E7A;
  letter-spacing: 0;
  cursor: pointer; }

.btn-check-bottom {
  padding: 0px 20px;
  height: 36px;
  font-size: 14px;
  line-height: 40px;
  background: #1E7EB4;
  color: white;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer; }

#content .warehouse_switch_model .warehouse_switch_model_body {
  padding: 10px 20px !important; }
  #content .warehouse_switch_model .warehouse_switch_model_body .table_warehouse_switch thead tr th {
    height: 15px !important; }
  #content .warehouse_switch_model .warehouse_switch_model_body .table {
    margin: 0px !important; }
    #content .warehouse_switch_model .warehouse_switch_model_body .table th {
      height: 30px;
      border: 1px solid #E2EDF2; }
#content .warehouse_switch_model .row_head > div span {
  font-weight: bold;
  font-size: 18px;
  color: #263238; }

/*# sourceMappingURL=NewAllocate.css.map */
