.rkcz-wrap {
    padding: 10px;
    box-sizing: border-box;
}

.rk-title {
    font-size: 1.55rem;
    font-weight: 600;
    border-bottom: 1px solid #b3b3b3;
    padding: 6px 0;
    margin-bottom: 10px;
}

.basis-info {

}

.basis-info .table caption {
    text-align: left;
    background: #F0FFFF;
    border: 1px solid #e5e5e5;
    padding: 6px 10px;
    margin-bottom: -1px;
    font-size: 1.5rem;
    font-weight: 500;
}
.basis-info td:nth-of-type(odd),
.com-info td:nth-of-type(odd){
    width: 15%;
}
.basis-info td>input,
.basis-info td>select,
.com-info td>input{
    width: 65%;
    height: 26px;
    border: 1px solid #ccc;
    vertical-align: top;
}
.basis-info input+img{
    margin-left: -28px;
}
.com-info .table caption {
    text-align: left;
    background: #F0FFFF;
    border: 1px solid #e5e5e5;
    padding: 6px 10px;
    margin-bottom: -1px;
    font-size: 1.5rem;
    font-weight: 500;
}

.rk-btn {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.rk-btn>button {
    margin: 0 50px;
}
.xqhl-wrap {
    box-sizing: border-box;
    padding: 10px 0;
    overflow: auto;
}

.xqhl-wrap thead tr>th {
    font-size: 1.4rem;
    font-weight: 600;
    background: #eee;
    white-space: nowrap;
}

.xqhl-wrap tbody td {
    white-space: nowrap;
}

.xqhl-wrap tbody td.sum {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: left;
}

.xqhl-wrap tbody tr:last-child>td {
    background: #eee;
}

.xqhl-wrap tbody td>input[type="text"] {
    border: 1px solid #ddd;
    height: 23px;
    min-width: 50px;
    max-width: 120px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.xqhl-wrap tbody td>button:first-child {
    display: inline-block;
    width: 45px;
    height: 20px;
    background: #EC2D64;
    border: none;
    color: white;
    margin: 0 5px;
}

.xqhl-wrap tbody td>button:last-child {
    display: inline-block;
    width: 45px;
    height: 20px;
    background: #000000;
    border: none;
    color: white;
    margin: 0 5px;
}