.row {
  display: flex; }

.modal-header {
  height: 30px; }

.button-hide {
  background: none;
  border: none;
  position: relative;
  vertical-align: middle; }
  .button-hide img {
    position: absolute;
    left: -7px;
    top: -8px;
    background: white;
    cursor: pointer; }
  .button-hide img[data-img='1'] {
    z-index: 99; }
  .button-hide img[data-img='2'] {
    z-index: 100; }

.kc-lock {
  padding: 10px 20px; }
  .kc-lock .select-line #search_lock .row_form {
    width: 64%;
    height: 40px;
    float: left; }
    .kc-lock .select-line #search_lock .row_form select {
      width: 31%;
      display: inline-block;
      float: left;
      height: 30px;
      line-height: 30px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      text-indent: 5px;
      font-size: 13px;
      color: #263238; }
    .kc-lock .select-line #search_lock .row_form input {
      width: 31%;
      display: inline-block;
      float: left;
      height: 28px;
      line-height: 28px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      margin: 0px 2%;
      text-indent: 5px;
      border-radius: 5px;
      font-size: 13px;
      color: #263238; }
  .kc-lock .select-line #search_lock .text-r {
    width: 36%;
    float: left;
    text-align: left; }
    .kc-lock .select-line #search_lock .text-r input {
      display: inline-block;
      height: 30px;
      padding: 0px 15px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      cursor: pointer; }
      .kc-lock .select-line #search_lock .text-r input.text-r_search {
        background: #1E7EB4;
        color: white; }
      .kc-lock .select-line #search_lock .text-r input.text-r_reset {
        background: white;
        color: #546E7A; }
    .kc-lock .select-line #search_lock .text-r button {
      display: inline-block;
      height: 30px;
      padding: 0px 15px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      background: #1E7EB4;
      color: white; }
  .kc-lock .Hui-tabNav {
    clear: both; }
  .kc-lock .kc-tabel .table thead tr th {
    font-weight: normal;
    background: #546E7A;
    border-color: #668491;
    text-align: center;
    color: white;
    word-break: keep-all;
    white-space: nowrap;
    padding: 0px 5px;
    height: 40px; }
  .kc-lock .kc-tabel .table tbody tr td {
    border-bottom-color: #CADEE7;
    border-top-color: #CADEE7;
    border-left-color: #ECEFF1;
    border-right-color: #ECEFF1;
    color: #263238;
    text-align: center;
    vertical-align: middle;
    font-size: 12px; }
  .kc-lock .kc-tabel_operation a {
    height: 28px;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 13px;
    min-width: 70px;
    text-align: center;
    line-height: 28px;
    border: 1px solid #C8D2D7;
    background: #2BA384;
    color: white;
    margin: 5px 0px; }
  .kc-lock #modal-demo .modal-dialog .modal-header h3 {
    font-size: 18px;
    color: #263238;
    text-align: center;
    font-weight: 700; }
  .kc-lock #modal-demo .modal-dialog .modal-header a {
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
    color: #263238; }
  .kc-lock .modal-body .modal_body_search {
    margin: 10px 15px 0px 15px;
    width: 300px;
    border: 1px solid #C8D2D7;
    border-radius: 5px;
    white-space: nowrap;
    word-break: keep-all;
    height: 30px; }
    .kc-lock .modal-body .modal_body_search input {
      border: none;
      outline: none;
      width: 258px;
      text-indent: 5px;
      padding: 0px;
      margin: 0px;
      height: 30px;
      float: left;
      border-radius: 5px; }
    .kc-lock .modal-body .modal_body_search button {
      width: 40px;
      height: 30px;
      display: block;
      padding: 0px;
      float: right;
      background: white;
      border: none;
      outline: none;
      border-radius: 5px; }
      .kc-lock .modal-body .modal_body_search button img {
        display: block;
        width: 16px;
        height: 16px;
        margin: 7px 12px;
        padding: 0px; }
  .kc-lock .modal-body .table tbody tr .table_striped_colspan {
    height: 40px;
    padding: 0px !important;
    line-height: 40px;
    background: #546E7A !important;
    width: 100%;
    color: white !important;
    font-size: 14px;
    text-indent: 20px;
    margin-bottom: -18px;
    text-align: left !important;
    z-index: 2;
    width: 100%;
    border: 1px solid #546E7A; }
  .kc-lock .modal-body .table tbody tr td {
    border-left: 1px solid #CADEE7;
    border-right: 1px solid #CADEE7;
    border-bottom: 1px solid #ECEFF1;
    border-top: 1px solid #ECEFF1;
    font-size: 14px;
    color: #90A4AE;
    vertical-align: middle;
    letter-spacing: 0; }
  .kc-lock .modal-body .table tbody tr td:nth-child(odd) {
    color: #90A4AE;
    text-align: center;
    background: #F7F9FB; }
  .kc-lock .modal-body .table tbody tr td:nth-child(even) {
    background: white; }
  .kc-lock .modal-footer {
    background: white;
    text-align: center !important; }
    .kc-lock .modal-footer a {
      display: inline-block;
      height: 32px;
      font-size: 14px;
      line-height: 32px;
      background: #1E7EB4;
      padding: 0px 15px;
      color: white;
      border-radius: 4px;
      border: none;
      outline: none;
      cursor: pointer; }
      .kc-lock .modal-footer a.modal-footer-cancel {
        margin-left: 20px;
        background: #FFFFFF;
        border: 1px solid #C8D2D7;
        color: #546E7A; }

.kc-lock-log .kcs-box {
  position: absolute;
  top: calc((100% - 210px) / 2);
  left: calc((100% - 240px) / 2);
  background: white;
  width: 240px;
  height: 210px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 0 20px 10px;
  box-shadow: 3px 2px 6px #dedede; }
.kc-lock-log .kcs-box div, .kc-lock-log h4, .kc-lock-log h5 {
  margin: 10px 0; }
.kc-lock-log .kcs-box h4 {
  font-size: 18px;
  font-weight: 600; }
.kc-lock-log .kcs-box h5 {
  font-size: 15px;
  font-weight: 600; }
.kc-lock-log .kcs-box div > span {
  margin-right: 10px;
  display: inline-block;
  padding: 10px; }
.kc-lock-log .kcs-box div > input {
  border: 1px solid #cccccc;
  width: 150px;
  height: 26px;
  padding: 0 10px;
  border-radius: 2px;
  box-sizing: border-box; }
.kc-lock-log .kcs-box div > select {
  border: 1px solid #cccccc;
  width: 150px;
  height: 30px;
  padding: 0 10px;
  border-radius: 2px; }
.kc-lock-log .kcs-box div > button:first-child {
  border: 1px solid #ca2756;
  padding: 3px 12px;
  border-radius: 2px;
  background: #ed2d65;
  color: white;
  margin-right: 30px;
  margin-left: 10px; }
.kc-lock-log .kcs-box div > button:last-child {
  border: 1px solid #b3b3b3;
  padding: 3px 12px;
  border-radius: 2px;
  background: #dddddd;
  color: #555;
  margin-left: 30px; }
.kc-lock-log .text-r {
  text-align: left; }
.kc-lock-log .text-r_search {
  background: #1E7EB4;
  color: white; }
.kc-lock-log .text-r_reset {
  background: white;
  color: #546E7A; }

.rk_wrap_switch {
  padding: 10px 20px; }
  .rk_wrap_switch .warehouse_switch_model {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    display: none;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.3); }
  .rk_wrap_switch .warehouse_switch_model .warehouse_switch_model_main {
    margin: 8% auto;
    background: #FFFFFF;
    box-shadow: 0 0 6px 0;
    position: relative;
    max-width: 1200px;
    border-radius: 5px; }
  .rk_wrap_switch .warehouse_switch_model .warehouse_switch_model_main .Hui-iconfont {
    position: absolute;
    right: 0px;
    font-style: normal;
    font-size: 20px;
    top: 0px;
    cursor: pointer; }
  .rk_wrap_switch .warehouse_switch_model_body {
    max-height: 588px;
    overflow-y: auto; }
  .rk_wrap_switch .warehouse_switch_model_body .tabel {
    width: 100%; }
  .rk_wrap_switch .warehouse_switch_model_body .table tbody tr td {
    color: #263238;
    font-size: 13px;
    white-space: normal;
    word-break: break-all; }
  .rk_wrap_switch .warehouse_switch_model .warehouse_switch_model_main .warehouse_switch_model_body {
    padding: 20px 30px 50px 30px; }
  .rk_wrap_switch .warehouse_switch_model_body .row_head {
    margin-bottom: 2px;
    position: relative; }
  .rk_wrap_switch .warehouse_switch_model_body .row_head span {
    font-weight: bold;
    font-size: 18px;
    color: #263238; }
  .rk_wrap_switch .table_warehouse_switch tbody td[data-colspan="4"] {
    height: 40px;
    padding: 0px !important;
    line-height: 40px;
    background: #546E7A !important;
    width: 100%;
    color: white !important;
    font-size: 14px;
    text-indent: 20px;
    margin-bottom: -18px;
    text-align: left !important;
    z-index: 2;
    border: none; }
  .rk_wrap_switch .table_warehouse_switch thead {
    visibility: hidden;
    z-index: 1;
    outline: none;
    border: none !important; }
  .rk_wrap_switch .table_warehouse_switch thead tr {
    visibility: hidden;
    outline: none;
    border: none !important; }
  .rk_wrap_switch .table_warehouse_switch thead th {
    visibility: hidden;
    border: none !important;
    outline: none; }
  .rk_wrap_switch .table_warehouse_switch tbody td:nth-child(odd) {
    text-align: center;
    background: #F6F9FA; }
  .rk_wrap_switch .table_warehouse_switch tbody td {
    border: 1px solid #CADEE7; }
  .rk_wrap_switch .warehouse_switch_model .table-p {
    margin-top: 20px;
    line-height: 40px;
    padding: 0px !important;
    display: block;
    background: #546E7A !important;
    color: #FFFFFF !important;
    letter-spacing: 0;
    margin-bottom: 0px;
    height: 40px;
    text-indent: 20px;
    text-align: left !important;
    font-size: 15px !important; }
  .rk_wrap_switch .table_warehouse_switch_detail thead th {
    font-weight: normal;
    background: #F6F9FA;
    border: 1px solid #E2EDF2;
    text-align: center; }
  .rk_wrap_switch .table_warehouse_switch_detail tbody tr[data-colspan='total7'] td {
    font-weight: bold; }
  .rk_wrap_switch .table_warehouse_switch_detail tbody tr[data-colspan='total7'] td[colspan='5'],
  .rk_wrap_switch .table_warehouse_switch_detail tbody tr[data-colspan='total7'] td[colspan='7'] {
    text-align: left;
    text-indent: 12px; }
  .rk_wrap_switch .table_warehouse_switch_detail tbody tr td {
    text-align: center;
    border-bottom: 1px solid #CADEE7;
    border-top: 1px solid #CADEE7;
    border-left: 1px solid #ECEFF1;
    border-right: 1px solid #ECEFF1; }
  .rk_wrap_switch .warehouse_switch_model_body .insert-wrap, .rk_wrap_switch .warehouse_switch_model_body .insert-wrap-pop {
    margin: 0 !important; }
  .rk_wrap_switch .warehouse_switch_model_body .insert-wrap thead tr > th, .rk_wrap_switch .warehouse_switch_model_body .insert-wrap-pop thead tr > th {
    background: #1E7EB4 !important;
    color: white !important; }
  .rk_wrap_switch .warehouse_switch_model_body .insert-wrap thead tr > th:nth-child(n+2), .rk_wrap_switch .warehouse_switch_model_body .insert-wrap-pop thead tr > th:nth-child(n+2) {
    border-left: 1px solid white !important; }
  .rk_wrap_switch .warehouse_switch_model_body .insert-wrap_tr .table {
    border: none; }
  .rk_wrap_switch .warehouse_switch_model_body .insert-wrap_tr .table th {
    border: none;
    font-weight: normal;
    font-size: 13px; }
  .rk_wrap_switch .warehouse_switch_model_body .insert-wrap_tr .table tbody td {
    background: white;
    border-bottom: 1px solid #CADEE7;
    border-top: 1px solid #CADEE7;
    border-left: 1px solid #ECEFF1;
    border-right: 1px solid #ECEFF1; }
  .rk_wrap_switch .warehouse_switch_model_body .insert-wrap_tr .table tbody tr:nth-last-child(1) td {
    border-bottom: none !important; }
  .rk_wrap_switch .warehouse_switch_model_body .row_button > div {
    text-align: center; }
  .rk_wrap_switch .warehouse_switch_model_body .from-control,
  .rk_wrap_switch .warehouse_switch_model_body .warehouse_switch_select select {
    display: block;
    border-radius: 5px;
    outline: none;
    width: 100%;
    height: 26px;
    border: 1px solid #CADEE7;
    text-indent: 5px; }
  .rk_wrap_switch .warehouse_switch_model_body .warehouse_switch_checkbox div {
    width: 100%;
    height: 100%;
    padding: 0px; }
  .rk_wrap_switch .warehouse_switch_model_body .warehouse_switch_checkbox div span {
    padding: 0 0.25rem;
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
    background: white; }
  .rk_wrap_switch .warehouse_switch_model_body .warehouse_switch_checkbox div .active {
    background: white !important; }
  .rk_wrap_switch .warehouse_switch_model_body .warehouse_switch_checkbox div span:nth-child(2) {
    float: right; }
  .rk_wrap_switch .warehouse_switch_model_body .warehouse_switch_checkbox div span::before {
    content: url(../images/radio-default.png);
    vertical-align: middle;
    line-height: 1px;
    margin-right: 5px; }
  .rk_wrap_switch .warehouse_switch_model_body .warehouse_switch_checkbox div .active::before {
    content: url(../images/radio.png);
    vertical-align: middle;
    line-height: 1px;
    margin-right: 5px; }
  .rk_wrap_switch .warehouse_switch_model_body_handwork .table-p button {
    display: inline-block;
    width: 66px;
    height: 26px;
    background-image: linear-gradient(-180deg, #FFFFFF 0%, #EFEFEF 100%);
    border: 1px solid #C8D2D7;
    border-radius: 4px;
    outline: none;
    position: relative;
    float: right;
    font-size: 14px;
    color: #263238;
    text-indent: 12px;
    margin-right: 10px;
    margin-top: 7px; }
  .rk_wrap_switch .warehouse_switch_model_body_handwork .table-p button .Hui-iconfont {
    position: absolute;
    font-size: 12px !important;
    left: -50px;
    top: 6px;
    color: #90A4AE; }
  .rk_wrap_switch .warehouse_switch_model_body_handwork .cor_delete {
    display: inline-block;
    font-size: 14px;
    color: #546E7A;
    background: #FFFFFF;
    border: 1px solid #C8D2D7;
    outline: none;
    border-radius: 4px;
    width: 70px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    cursor: pointer; }
  .rk_wrap_switch .warehouse_switch_model_body .row_button {
    padding: 25px 0px 0px 0px; }
  .rk_wrap_switch .warehouse_switch_model_body .row_button button {
    width: 88px;
    height: 39px;
    outline: none;
    border-radius: 5px;
    font-size: 14px; }
  .rk_wrap_switch .warehouse_switch_model_body .row_button .btn-sure {
    background: #1E7EB4;
    color: white;
    border: none; }
  .rk_wrap_switch .warehouse_switch_model_body .row_button .btn-cancel {
    color: #546E7A;
    border: 1px solid  #C8D2D7; }
  .rk_wrap_switch .warehouse_switch_model_body_handwork .table_warehouse_switch_detail tbody tr td a {
    text-decoration: underline;
    color: #1E7EB4; }
  .rk_wrap_switch .table_warehouse_switch_detail th {
    word-break: keep-all;
    white-space: nowrap; }
  .rk_wrap_switch .warehouse_switch_model_body_Choosebatch .row_head {
    margin-bottom: 28px; }
  .rk_wrap_switch .enter-line form .row .col-20 {
    width: 20%;
    padding: 0px; }
    .rk_wrap_switch .enter-line form .row .col-20 input {
      width: 90%;
      height: 30px;
      line-height: 30px;
      text-indent: 5px;
      display: inline-block;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 5px; }
    .rk_wrap_switch .enter-line form .row .col-20 select {
      width: 91%;
      height: 30px;
      line-height: 30px;
      text-indent: 5px;
      display: inline-block;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 5px; }
    .rk_wrap_switch .enter-line form .row .col-20 .row_search div button {
      display: inline-block;
      height: 30px;
      padding: 0px 20px;
      border-radius: 5px;
      cursor: pointer;
      background: #1E7EB4;
      border: none;
      color: white; }
      .rk_wrap_switch .enter-line form .row .col-20 .row_search div button.row_search_reset {
        background: white;
        border: 1px solid rgba(0, 0, 0, 0.15);
        color: #546E7A;
        margin-left: 10px; }
  .rk_wrap_switch .button-wrap {
    background: white;
    padding: 5px 10px;
    margin: 10px 0;
    border: 1px solid #e5e5e5; }
    .rk_wrap_switch .button-wrap .col-50 {
      width: 50%; }
    .rk_wrap_switch .button-wrap .row .pos span button {
      background: #1E7EB4;
      width: 100px;
      border: none;
      height: 30px;
      color: white;
      font-size: 15px;
      margin: 0 20px;
      cursor: pointer; }
    .rk_wrap_switch .button-wrap .row .pos span a {
      background: #1E7EB4;
      width: 100px;
      border: none;
      height: 30px;
      color: white;
      font-size: 15px;
      cursor: pointer;
      line-height: 30px;
      text-align: center; }
    .rk_wrap_switch .button-wrap .text-r {
      text-align: right; }
      .rk_wrap_switch .button-wrap .text-r #download button ul li a {
        background: white;
        color: #000; }
        .rk_wrap_switch .button-wrap .text-r #download button ul li a:hover {
          color: #1E7EB4; }
    .rk_wrap_switch .button-wrap .text-r > button {
      height: 30px;
      padding: 0px 5px;
      min-width: 70px;
      text-align: center;
      line-height: 30px;
      font-size: 13px;
      border-radius: 4px;
      background: #2BA384;
      color: white;
      border: 1px solid #C8D2D7;
      font-size: 15px; }
  .rk_wrap_switch .rk-tabel table thead tr th {
    font-weight: normal;
    background: #546E7A;
    border: 1px solid #668491;
    text-align: center;
    color: white;
    word-break: keep-all;
    white-space: nowrap;
    padding: 0px 5px;
    height: 40px; }
  .rk_wrap_switch .rk-tabel table tbody tr td {
    border-bottom: 1px solid #CADEE7;
    border-top: 1px solid #CADEE7;
    border-left: 1px solid #ECEFF1;
    border-right: 1px solid #ECEFF1;
    color: #263238;
    text-align: center;
    vertical-align: middle;
    font-size: 12px; }
    .rk_wrap_switch .rk-tabel table tbody tr td.rk_tabel_operation span {
      height: 28px;
      padding: 0px 20px;
      display: inline-block;
      text-align: center;
      line-height: 28px;
      font-size: 13px;
      border-radius: 4px;
      border: 1px solid #C8D2D7;
      background: #1E7EB4;
      color: white;
      cursor: pointer; }
    .rk_wrap_switch .rk-tabel table tbody tr td.rk_tabel_operation .rk_tabel_operation_delete {
      border: 1px solid #C8D2D7;
      color: #546E7A;
      background: white;
      cursor: pointer; }
    .rk_wrap_switch .rk-tabel table tbody tr td.rk_tabel_noOperation span {
      border: 1px solid #C8D2D7;
      color: #546E7A;
      background: white;
      height: 28px;
      padding: 0px 20px;
      display: inline-block;
      text-align: center;
      line-height: 28px;
      font-size: 13px;
      border-radius: 4px; }
  .rk_wrap_switch .rk-tabel table .td-rela {
    position: relative; }
    .rk_wrap_switch .rk-tabel table .td-rela img {
      position: absolute;
      top: 24%;
      left: 31%; }
    .rk_wrap_switch .rk-tabel table .td-rela span {
      position: absolute;
      top: 21%;
      left: 31%;
      color: white;
      font-size: 10px;
      font-weight: 600; }

#box-bg .box-wrap .title {
  background: #1E7EB4 !important; }

#box-bg .box-wrap .btn-wrap button {
  border: 1px solid #1E7EB4 !important;
  background: #1E7EB4 !important; }

#box-bg .box-wrap .btn-wrap .btn-cancel {
  border: 1px solid #C8D2D7 !important;
  color: #546E7A !important;
  background: white !important; }

.warehouse_country {
  padding: 0px 20px; }
  .warehouse_country .tab_top {
    height: 40px;
    width: 100%; }
    .warehouse_country .tab_top span {
      display: block;
      height: 40px;
      line-height: 40px; }
  .warehouse_country .panel-default {
    margin-bottom: 10px;
    border: none; }
    .warehouse_country .panel-default .panel-header {
      background: #546E7A;
      width: 100%;
      height: 40px;
      line-height: 40px;
      padding: 0px;
      color: white;
      text-indent: 20px;
      font-size: 16px;
      border: 1px solid #546E7A;
      font-weight: normal; }
    .warehouse_country .panel-default .show_warehouse_params_content {
      border: 1px solid #CADEE7; }
      .warehouse_country .panel-default .show_warehouse_params_content span {
        background: #1E7EB4;
        font-weight: normal;
        width: 194px !important;
        border-radius: 5px; }
        .warehouse_country .panel-default .show_warehouse_params_content span:hover {
          color: #1E7EB4;
          background: #EFF9FF;
          border: 1px solid #1E7EB4;
          box-shadow: 0 2px 4px 0 #90A4AE; }
    .warehouse_country .panel-default .tabCon span {
      background: #EFF9FF;
      border: 1px solid #1E7EB4;
      border-radius: 5px;
      color: #1E7EB4;
      font-weight: normal; }
      .warehouse_country .panel-default .tabCon span:hover {
        background: #1E7EB4;
        color: white;
        box-shadow: 0 2px 4px 0 #90A4AE; }

/*# sourceMappingURL=stock_new.css.map */
