[v-cloak] {
    display: none;
}
.wrap {
    box-sizing: border-box;
    padding: 20px;
    margin: 0;
}
.use-row + .use-row{
    margin: 20px 0;
}
.result-num span{
    margin-right: 40px;
}
/*仓库弹窗详情页css*/
.pop-wrap {
    width: 600px;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 3px 5px #ddd;
    cursor: move;
    background: white;
}
.pop-wrap .title {
    font-size: 0.9rem;
}
.pop-wrap .contetn {
    background: #F6F9FA;;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0 0;
    border: 1px solid #ddd;
}
.pop-wrap .contetn .col-100 > div {
    margin: 15px 0;
}
.pop-wrap .contetn div > span {
    display: inline-block;
    height: 30px;
    width: 100px;
    font-size: 14px;
    color: #546E7A;
}
.pop-wrap .contetn div > input[type="text"],
.pop-wrap .contetn div > select {
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #D7DADD;
    border-radius: 4px;
    width: 380px;
    vertical-align: top;
    padding: 0 10px;
    box-sizing: border-box;
}
.pop-wrap .contetn div:nth-child(2) > select {
    width: 128px;
}
.pop-wrap .contetn div label{
    cursor: pointer;
}
.pop-wrap .contetn div  input[type="checkbox"] {
    margin-left: 105px;
    margin-right: 8px;
}
.pop-wrap .contetn div  input[type="checkbox"]::before{
    content: url("../Public/utils/css/img/check-default.png");
}
.pop-wrap .contetn div  input[type="checkbox"]:checked::before{
    content: url("../Public/utils/css/img/check.png");
}
.pop-wrap .contetn div > textarea {
    height: 65px;
    background: #FFFFFF;
    border: 1px solid #D7DADD;
    border-radius: 4px;
    width: 380px;
    vertical-align: top;
    padding: 0 10px;
    box-sizing: border-box;
}
#modal {
    background-color: #fff;
    position: fixed;
    margin-left: -300px;
    left: 50%;
    top: 160px;
}