<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/utils/css/public.style.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/element-ui-2.2.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/default.css?v=<{$Think.const.V}>">
    <title>Document</title>
</head>
<style> 
    [v-cloak]{
        display: none;
    }
    h4{
        margin: 0;
        line-height: 40px;
    }
    .info, .goods,.ship-info{
        width: 100%;
        text-align: center;
        border-left: 1px solid #E0E0E0;
        border-bottom: 1px solid #E0E0E0;
        font-size: 15px;
        margin-bottom:20px;
    }
    .info caption, .goods caption,.ship-info caption{
        height: 40px;
        background-color: #546E7A;
        color: white;
        text-align: left;
        font-size: 15px;
        line-height: 40px;
        padding-left: 20px;
    }
    .info tr td,.goods tr td,.goods tr th,.ship-info tr td{
        border-right: 1px solid #E0E0E0;
        border-top: 1px solid #E0E0E0;
        padding: 10px 15px;
    }

   .goods tr td{
        border-right: 1px solid #E0E0E0;
        border-top: 1px solid #E0E0E0;
        padding: 5px 15px;
    }
    .goods tr th{
        padding:0;
    }

    .info tr td:nth-child(odd){
        width: 20%;
        background: #f5fafe;
    }
    .ship-info tr td:nth-child(odd){
        width: 15%;
        background: #f5fafe;
    }
    .ship-info tr td:nth-child(even){
        width: 18%;
    }
    .info tr td .el-input__inner{
        height: 35px;
    }
    .input-with-select .el-input-group__prepend {
        background-color: #fff;
    }
    .currency{
        width: 90px;
    }
   .el-select .el-input__inner{
        width: 100%;
    }
    .width-100{
        width: 100% !important;
    }
    .required::after{
        content: "*";
        color:red;
        margin-left: 5px;
    }

    .send-list ul{
        display: flex;
        justify-content: space-between;
        margin: 0 !important;
        padding: 0 !important;
        height:35px;
        border-bottom: 1px solid #E0E0E0;
    }

    .send-list ul li{
        border-right: 1px solid #E0E0E0;
        width: 110px;
        text-align: center;
        line-height: 35px;
    }
    .send-list ul .last-li{
        border-right: none;
        text-align: center;
        width: 140px;
    }
    .send-choose{
        width: 100%;
        height: 30px;
        line-height: 30px;
        padding: 0;
        border-bottom: 1px solid #E0E0E0;
    }
    .width-100{
        width: 100% !important;
    }
    .thumbnail-wrap {
        position: relative;
        z-index: 999;
    }
    
    .thumbnail-wrap .img-wrap {
        position: absolute;
        bottom: 0px;
        left: 120px;
        width: 300px;
        height: 300px;
        border: 1px solid #eef5f9;
    }

    .thumbnail-wrap img {
        box-shadow: 4px 4px 20px #242525;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .singleHeight{
        height: 75px !important;
        line-height: 75px !important;
    }
    .send-list li{
        white-space: nowrap;text-overflow: ellipsis;overflow: hidden;
    }
</style>
<body>
    <div id="ship" v-cloak  v-loading="loading">
        <el-container>
            <el-header>
                <h4>发货操作</h4> 
                <table class="info" border="0" cellpadding="0" cellspacing="0">
                    <caption>基本信息</caption>
                    <tbody>
                        <tr>
                            <!-- <td>{{$lang('发货子单号')}}</td>
                            <td>{{data.ID}}</td> -->
                            <td>{{$lang('B2B订单号')}}</td>
                            <td>{{data.PO_ID}}</td>
                            <td>{{$lang('PO编号')}}</td>
                            <td>{{data.THR_PO_ID}}</td>
                        </tr>
                        <tr>
                            
                            <td>{{$lang('客户名称')}}</td>
                            <td>{{data.CLIENT_NAME}}</td>
                            <td>{{$lang('目的地')}}</td>
                            <td>{{parseAddress(data.target_port)}}</td>
                        </tr>
                        <tr>
                            
                            <td>{{$lang('预计发货日期')}}</td>
                            <td>{{data.delivery_time}}</td>
                            <td>{{$lang('PO发起人')}}</td>
                            <td>{{data.PO_USER}}</td>
                        </tr>
                        <tr>
                            
                            <td>{{$lang('交货方式')}}</td>
                            <td>{{base.shipping[data.DELIVERY_METHOD].CD_VAL}}</td>
                            <td>{{$lang('PO时间')}}</td>
                            <td>{{data.po_time}}</td>
                        </tr>
                        <tr>
                            
                            <td>{{$lang('订单备注')}}</td>
                            <td>{{data.REMARKS}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <table class="goods" border="0" cellpadding="0" cellspacing="0">
                    <caption>{{$lang('商品信息')}}</caption>
                    <colgroup>
                        <col width="80px">
                        <col width="80px">
                        <col>
                        <col>
                        <col width="120px">
                        <col width="100px">
                        <col width="100px">
                        <col width="100px">
                        <col width="360px">
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>SKUID</th>
                            <th>BarCode </th>
                            <th>{{$lang('商品名称')}}</th>
                            <th>{{$lang('SKU信息')}}</th>
                            <th>{{$lang('商品图片')}}</th>
                            <th>{{$lang('订单数量')}}</th>
                            <th>{{$lang('已发货')}}</th>
                            <th>{{$lang('待发货')}}</th>
                            <th colspan="1" class="tb-par-wrap">
                                <div class="send-choose"> {{$lang('发货选择')}} </div>
                                <div class="send-list">
                                    <ul>
                                        <li style="width: 134px;">{{$lang('仓库')}}</li>
                                        <li style="width: 134px;">{{$lang('货位')}}</li>
                                        <li style="width: 120px;">{{$lang('当前可发')}}</li>
                                        <li style="width: 134px;">{{$lang('本次发货')}}</li>
                                    </ul>
                                </div>
                            </th>
                            <th>{{$lang('发货方式')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in doshipGoods">
                            <td>{{item.SKU_ID}}</td>
                            <td>{{item.bar_code}}</td>
                            <td>{{item.goods_title}}</td>
                            <td>{{$lang(item.goods_info)}}</td>
                            <td>
                                <img :src="item.guds_img_cdn_addr" width="60" height="55" @mouseover="showImgFn(item,true)" @mouseout="showImgFn(item,false)">
                                <div v-if="item.isShowImg && item.guds_img_cdn_addr" class="thumbnail-wrap">
                                    <div class="img-wrap">
                                        <img :src="item.guds_img_cdn_addr" width="280" height="280" />
                                    </div>
                                </div>
                            </td>
                            <td>{{item.required_quantity}}</td>
                            <td>{{item.SHIPPED_NUM}}</td>
                            <td>{{item.TOBE_DELIVERED_NUM}}</td>
                            <td style="padding: 0;">
                                <div class="send-list">
                                    <ul v-if="item.freeShipping" v-for="sku in item.goods" :class="{'singleHeight':item.goods.length == 1}">
                                        <li style="width: 134px;" :class="{'singleHeight':item.goods.length == 1}">{{$lang(sku.deliveryWarehouseName)}}</li>
                                        <li style="width: 134px;" :class="{'singleHeight':item.goods.length == 1}">{{sku.location_code}}</li>
                                        <li style="width: 120px;" :class="{'singleHeight':item.goods.length == 1}">{{sku.availableForSale}}</li>
                                        <li style="width: 134px;" :class="{'singleHeight':item.goods.length == 1}">
                                            <el-input v-model="sku.DELIVERED_NUM" size="mini" style="width: 90%" type="number" @blur="shipping(sku,item)"></el-input>
                                        </li>
                                    </ul>
                                    <ul v-if="!item.freeShipping" v-for="sku in occupy[item.SKU_ID]" :class="{'singleHeight':occupy[item.SKU_ID].length == 1}">
                                        <li style="width: 134px; white-space: nowrap;text-overflow: ellipsis;overflow: hidden;" :class="{'singleHeight':occupy[item.SKU_ID].length == 1}">{{$lang(sku.delivery_warehouse_name)}}</li>
                                        <li style="width: 120px;" :class="{'singleHeight':occupy[item.SKU_ID].length == 1}">{{sku.occupy_num}}{{$lang('(已占用)')}}</li>
                                        <li style="width: 134px;" :class="{'singleHeight':occupy[item.SKU_ID].length == 1}">
                                            <el-input v-model="sku.DELIVERED_NUM" size="mini" style="width: 90%" type="number" @blur="shipping(sku,item)"></el-input>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <el-button type="text" @click="changeMethod(item)">
                                    <span v-if="!item.freeShipping">{{$lang('改为自由发货')}}</span>
                                    <span v-else>{{$lang('改为按占用发货')}}</span>
                                </el-button>
                            </td>
                        </tr>
                        <tr>
                            <td>{{$lang('合计')}} {{doshipGoods.length}}</td>
                            <td colspan="4"></td>
                            <td>{{count('required_quantity')}}</td>
                            <td>{{count('SHIPPED_NUM')}}</td>
                            <td>{{count('TOBE_DELIVERED_NUM')}}</td>
                            <td colspan="2"></td>
                        </tr>
                    </tbody>
                </table>
                <table class="ship-info" border="0" cellpadding="0" cellspacing="0" v-for="item in ships">
                    <caption>
                        <span v-if="item.warehouse in warehouses">{{warehouses[item.warehouse].warehouse}}-{{$lang('发货信息')}}</span>
                        <span v-else>{{$lang('仓库缺失-发货信息')}}</span>
                    </caption>
                    <tbody>
                        <tr v-if="sendNetWarehouse(item.warehouse)">
                            <td>{{$lang('是否使用发网物流')}}</td>
                            <td colspan="5" class="text-left">
                                <el-radio style="margin-right:20px" v-model="item.is_use_send_net" label="1">{{$lang('是')}}</el-radio>
                                <el-radio v-model="item.is_use_send_net" label="0">{{$lang('自提，使用其他物流')}}</el-radio>
                            </td>
                        </tr>
                        <tr>
                            <td>{{$lang('提单号(或其他有效单据号)')}}</td>
                            <td>
                                <el-input v-model="item.BILL_LADING_CODE" placeholder="Bill of lading number"></el-input>
                            </td>
                            <td class="required">{{$lang('发货时间')}}</td>
                            <td>
                                <el-date-picker class="width-100"  :picker-options="pickerOptions" value-format="yyyy-MM-dd" v-model="item.DELIVERY_TIME" type="date" placeholder="选择日期"> </el-date-picker>
                            </td>
                            <td class="required">{{$lang('预计到港时间')}}</td>
                            <td>
                                <el-date-picker class="width-100" value-format="yyyy-MM-dd" v-model="item.Estimated_arrival_DATE" type="date" placeholder="选择日期"> </el-date-picker>
                            </td>
                        </tr>
                        <tr>
                            <td>{{$lang('本次发货数量')}}</td>
                            <td>{{item.SHIPMENTS_NUMBER}}</td>
                            <td>{{$lang('物流费用')}}</td>
                            <td>
                                <el-input placeholder="请输入内容" v-model="item.LOGISTICS_COSTS" class="input-with-select">
                                    <el-select class="currency" v-model="item.LOGISTICS_CURRENCY" slot="prepend" placeholder="请选择">
                                        <el-option v-for="item in currency" :key="item.CD" :label="item.CD_VAL" :value="item.CD"> </el-option>
                                    </el-select>
                                </el-input>
                            </td>
                            <td>{{$lang('备注')}}</td>
                            <td>
                                <el-input v-model="item.REMARKS" :placeholder="$lang('请输入')"></el-input>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center" style="margin-bottom: 100px;">
                    <el-button type="primary" @click="submit">发货提交</el-button>
                    <el-button type="primary" @click="clear">清空</el-button>
                </div>
            </el-main>
        </el-container>
    </div>
    
<!--引入js-->
<script type="text/javascript" src="./Application/Tpl/Home/Public/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/H-ui.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/utils/utils.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/H-ui.admin.js?v=<{$Think.config.VER_NUM}>"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/vue.2.5.13.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/axios.min.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/element-ui-2.2.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/element-en.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/queryString.js?v=<{$Think.config.VER_NUM}>"></script>
<script>
    if (getCookie('think_language') !== "zh-cn") {
        ELEMENT.locale(ELEMENT.lang.en)
    }

    var  vm = new Vue({
        el:'#ship',
        data:{
            data: <{$doship}>,
            base:<{$initdata}>,
            doshipGoods: <{$doship_goods}>,
            currency: <{$currency}>,
            warehouses: <{$all_warehouse}>,
            occupy:{},
            ships:[],
            sendNetWarehouseCds:[],
            loading:false,
            pickerOptions: {
                disabledDate(time) {
                    return time.getTime() > Date.now();
                }
            }
        },
        created:function(){
            this.getOccupyData();
            this.getSendNetWarehouseCds();
        },
        methods:{
            getSendNetWarehouseCds:function(){
                var _this = this;
                axios.get('/index.php?m=B2b&a=getSendNetWarehouseCds')
                .then(function(res){
                    _this.sendNetWarehouseCds = res.data.data;
                })
            },
            parseAddress:function(param){
                var address = JSON.parse(param),
                    area = this.base.area[address.country] || '';

                area += address.stareet ? ('-' + this.base.area[address.stareet]) : '';
                area += address.city ? ('-' + this.base.area[address.city]) : '';

                return area;
            },
            getOccupyData: function () {
                var _this = this;
                axios.post('/index.php?m=B2b&a=getSkuOccupy',{ "order_id": this.data.ORDER_ID })
                .then(function (res) {
                    if (res.data.code == 200000) {  
                        for(var i in res.data.data){
                            _this.$set(_this.occupy,i,res.data.data[i])
                        }
                    }
                })
            },
            showImgFn: function (e,type) {
                Vue.set(e,'isShowImg',type)
            },
            changeMethod:function(item){
                this.$set(item,'freeShipping',!item.freeShipping);
            },
             //是否包含发网仓
            sendNetWarehouse: function (key) {
                return this.sendNetWarehouseCds.some(function (e) {
                    return e == key;
                });
            },
            shipping:function(sku,item){
                var _this = this;
                if(sku.DELIVERED_NUM < 0 || sku.DELIVERED_NUM % 1 != 0 ){
                    sku.DELIVERED_NUM = 0;
                    this.$message.warning('发货数量必须为正整数');
                    return false;
                }
 
                var warehouses = [];

                this.doshipGoods.forEach(function (item) {
                    // 判断是否是自由发货
                    if (item.freeShipping) {
                        item.goods.forEach(function (e) {
                            if (warehouses.indexOf(e.deliveryWarehouse) < 0) {
                                warehouses.push(e.deliveryWarehouse)
                            }
                        })
                    } else {
                        (_this.occupy[item.SKU_ID] || []).forEach(function (e) {
                            if (warehouses.indexOf(e.delivery_warehouse) < 0) {
                                warehouses.push(e.delivery_warehouse)
                            }
                        })
                    }
                })

                //设置初始值
                var countShips = {};
                warehouses.forEach(function(e){
                    countShips[e] = {count:0};
                })

                this.doshipGoods.forEach(function (item) {
                    // 判断是否是自由发货
                    if (item.freeShipping) {
                        item.goods.forEach(function (e) {
                            countShips[e.deliveryWarehouse].count += +(e.DELIVERED_NUM || 0);
                        })
                    } else {
                        (_this.occupy[item.SKU_ID]||[]).forEach(function (e) {
                            countShips[e.delivery_warehouse].count += +(e.DELIVERED_NUM || 0);
                        })
                    }
                })

                _this.ships = [];
                for (var i in countShips) {
                    if (countShips[i].count > 0) {
                        _this.ships.push({
                            BILL_LADING_CODE: '',
                            DELIVERY_TIME: '',
                            Estimated_arrival_DATE: '',
                            SHIPMENTS_NUMBER: countShips[i].count,
                            LOGISTICS_CURRENCY: '',
                            REMARKS: '',
                            warehouse: i,
                            is_use_send_net:'0'
                        });
                    }
                }
            },
            count:function(key){
                var total = 0;
                this.doshipGoods.forEach(function(e){
                    total += +e[key];
                })
                return total;
            },
            submit:function(){
                var _this = this;

                for (i in this.ships) {
                    if (!this.ships[i].DELIVERY_TIME) {
                        this.$message.error(this.$lang(this.warehouses[this.ships[i].warehouse].warehouse + '的发货时间不能空'));
                        return false
                    }

                    if (!this.ships[i].Estimated_arrival_DATE) {
                        this.$message.error(this.$lang(this.warehouses[this.ships[i].warehouse].warehouse + '仓库的发货时间不能空'));
                        return false
                    }
                }

                //区分占用  和 自由发货
                this.doshipGoods.forEach(function(e){
                    if(!e.freeShipping){
                        e.goods = _this.occupy[e.SKU_ID] || [];
                    }
                })
                //不清楚为什么传空的，按照原代码参数传参
                var  data = {
                    params:{
                        doship:this.data,
                        doship_id:this.data.ID,
                        goods_info:this.doshipGoods,
                        ships:this.ships,
                        batch_id:this.data.batch_id,
                        goods_batch_json:{},
                    }
                }
                _this.loading = true;
                axios.post('/index.php?m=b2b&a=save_ship', data)
                    .then(function (response) {
                        _this.loading = false;
                        var res = response.data;
                        if (res.status == 1) {
                            _this.$message.success(_this.$lang('已成功提交发货信息'));

                            setTimeout(function () { 
                                window.location.href = '/index.php?m=b2b&a=do_ship_show&order_id=' + _this.data.ORDER_ID;
                            }, 1500)

                        } else {
                            _this.$message.error(_this.$lang(res.info))
                        }
                    }).catch(function (error) {
                        console.log(error)
                    })

            },
            clear:function(){
                this.ships.forEach(function(e){
                    e.DELIVERY_TIME = '';
                    e.Estimated_arrival_DATE = '';
                    e.LOGISTICS_CURRENCY = '';
                    e.LOGISTICS_COSTS = '';
                    e.BILL_LADING_CODE = '';
                    e.REMARKS = '';
                    e.is_use_send_net = '0'
                })
            }
           
        },
    })
</script>
</body>
</html>

 