<style>
    .wrap {
        box-sizing: border-box;
        padding: 20px;
        margin: 0;
    }

    .row {
        margin: 0;
    }

    .row + .row {
        margin-top: 20px;
    }

    [class*="col-"] {
        padding: 0;
    }
    .b2b-table-three .use-body .use-btn a{color: white;cursor: pointer;display: inline-block;margin: 4px 0px;}
    .thumbnail-wrap {
        position: relative;
        z-index: 999;
    }

    .thumbnail-wrap .img-wrap {
        position: absolute;
        top: -80px;
        left: 180px;
        width: 300px;
        height: 300px;
        border: 1px solid #eef5f9;
    }

    .thumbnail-wrap img {
        box-shadow: 4px 4px 20px #242525;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .update{
        background: #1e7eb4;
        color: white;
        border: 1px solid #196894;
        border-radius: 3px;
        padding: 0 8px 2px;
        font-size: 14px;
        cursor: pointer;
    }
    .row .b2b-table-one .use-body tr td:nth-of-type(2n+1) {
        width: 20%;
    }
    .row .b2b-table-one .use-body tr td:nth-of-type(2n) {
        width: 30%;
    }
    .fa-question-circle{
        cursor: pointer;
        vertical-align: middle;
    }
    .button-primary{
        font-size: 14px;
        padding: 4px 10px;
        line-height: normal;
        background: #03A9F4;
        color: white;
        border: 1px solid #088cc7;
        border-radius: 3px;
        cursor: pointer;
    }
    .bg-status{
        background: #f7f9fb;
    }
</style>
<link rel="stylesheet" href="./Application/Tpl/Home/Public/css/element-ui-2.2.css?v=<{$Think.const.V}>">
<link rel="stylesheet" href="./Application/Tpl/Home/Public/css/default.css?v=<{$Think.const.V}>">
<div class="wrap">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="use-title">
                {{$lang('订单详情')}}
                <a ng-href="<{:U('purchase-order')}>&order_id={{initDataPo.ORDER_ID}}" style="color:gray;margin-left: 20px">{{$lang('关联采购订单')}}</a>
                <a ng-href="<{:U('log_list')}>&order_id={{initDataPo.ORDER_ID}}" style="color:gray;margin-left: 20px">{{$lang('订单日志')}}</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <table class="b2b-table-one">
                <caption>{{$lang('基础信息')}}</caption>
                <tbody class="use-body">
                <tr>
                    <td><label>{{$lang('B2B订单号')}}</label></td>
                    <td>{{initDataPo.PO_ID}}</td>
                    <td><label>{{$lang('PO单号')}}</label></td>
                    <td><label>{{initDataPo.THR_PO_ID}}</label></td>
                </tr>
                <tr>
                    <td><label>{{$lang('客户名称')}}</label></td>
                    <td>{{initDataPo.CLIENT_NAME}}</td>
                    <td><label>{{$lang('适用合同')}}</label></td>
                    <td>{{initDataPo.contract}}</td>
                </tr>
                <tr>
                    <td><label>{{$lang('客户名称（EN）')}}</label></td>
                    <td>{{initDataPo.CLIENT_NAME_EN}}</td>
                    <td><label>{{$lang('我方公司')}}</label></td>
                    <td>{{$lang(initDataPo.our_company)}}</td>
                </tr>
                <tr>
                    <td><label>{{$lang('业务类型')}}</label></td>
                    <td >
                        <span ng-if="initDataPo.business_type">{{data.business_type[initDataPo.business_type].CD_VAL}}</span>
                    </td>
                    <td><label>{{$lang('目标城市')}}</label></td>
                    <td>{{initDataPo.addrNames.country}}-{{initDataPo.addrNames.stareet}}-{{initDataPo.addrNames.city}}</td>
                </tr>
                <tr>
                    <td><label>{{$lang('详细地址（或港口/机场)')}}</label></td>
                    <td>{{initDataPo.addrs.targetCity}}</td>
                    <td><label>{{$lang('PO时间')}}</label></td>
                    <td>{{initDataPo.po_time}}</td>
                </tr>
                <tr>
                    <td>
                        <label> {{$lang('PO金额（KPI收入）')}} </label>
                        <i class="fa fa-question-circle fa-lg" title={{$lang('各SKU销售单价*订单数量之和【订单币种】')}}></i> 
                    </td>
                    <td>{{init_data.currency_bz[initDataPo.po_currency].CD_VAL}}&nbsp;{{king(initDataPo.po_amount)}}</td>
                    <td><label>{{$lang('预计发货日期')}}</label></td>
                    <td>{{initDataPo.delivery_time}}</td>
                </tr>
                <tr>
                    <td><label>{{$lang('收款节点')}}</label></td>
                    <td>{{$lang(show_node_arr(initDataPo.PAYMENT_NODE))}}</td>
                    <td><label>{{$lang('发货方式')}}</label></td>
                    <td>{{$lang(init_data.shipping[initDataPo.DELIVERY_METHOD].CD_VAL)}} &#13;</td>
                </tr>
                <tr>
                    <td><label>{{$lang('销售发票')}}</label></td>
                    <td>{{$lang(run_invioce(initDataPo.INVOICE_CODE))}}</td>
                    <td><label>{{$lang('税率')}}</label></td>
                    <td>{{run_tax_point(initDataPo.TAX_POINT)}}%</td>
                </tr>
                <tr>
                    <td>
                        <label>{{$lang('退税')}}</label>
                        <i class="fa fa-question-circle fa-lg" title={{$lang('各供货来源的采购单价（不含增值税）*供货数量*退税比例之和')}}></i> 
                    </td>
                    <td>{{init_data.currency_bz[initDataPo.cur_tuishui].CD_VAL}}&nbsp;{{king(initDataPo.drawback_estimate)}}</td>
                    <td>
                        <label>{{$lang('整单应缴增值税')}}</label>
                        <i class="fa fa-question-circle fa-lg" title="{{$lang('我方公司与客户不在一个区域') + '：&#13;' + $lang('整单应缴增值税=进项税-退税') + '；&#13;'+ $lang('进项税=[采购单价（含增值税）-采购单价（不含增值税）]*供货数量之和')+'；&#13;'+ $lang('退税=各供货来源的采购单价（不含增值税）*供货数量*退税比例之和')+'。&#13;&#13;'+ $lang('我方公司与客户在一个区域')+'：&#13;'+ $lang('整单增值税=销项税-进项税')+'；&#13;'+ $lang('销项税=[销售单价（含增值税）-销售单价（不含增值税）]*订单数量之和')+'；&#13;'+$lang('进项税=[采购单价（含增值税）-采购单价（不含增值税）]*供货数量之和') + '。'}}"></i> 
                    </td>
                    <td>USD {{initDataPo.whole_vat}}</td>
                </tr>
                <tr>
                    <td><label>{{$lang('销售同事')}}</label></td>
                    <td>{{initDataPo.PO_USER}}</td>
                    <td><label>{{$lang('销售团队')}}</label></td>
                    <td>{{data.sales_team[initDataPo.SALES_TEAM].CD_VAL}}</td>
                </tr>
                <tr>
                    <td><label>{{$lang('返利比例(预估)')}}</label></td>
                    <td>{{initDataPo.rebate_rate}}</td>
                    <td><label>{{$lang('返利金额(预估)')}}</label></td>
                    <td><label>{{init_data.currency_bz[initDataPo.po_currency].CD_VAL}}&nbsp;{{initDataPo.rebate_amount}}</label></td>
                </tr>
                <tr>
                    <td><label>{{$lang('PO扫描件')}}</label></td>
                    <td ng-if="Array.isArray(initDataPo.po_erp_path) || initDataPo.po_erp_path[0] " >
                        <p ng-repeat="pep in initDataPo.po_erp_path" >
                            <a ng-if="!pep.file_name" target="_blank" ng-href=<{:U('orderDetail/download')}>&file={{pep}} >{{pep}}{{initDataPo.po_erp_path}}</a>
                            <a ng-if="pep.file_name" target="_blank" ng-href=<{:U('orderDetail/download')}>&file={{pep.file_path}} >{{pep.file_name}}</a>
                        </p>
                    </td>
                    <td ng-if="!Array.isArray(initDataPo.po_erp_path) && !initDataPo.po_erp_path[0]">
                        <a target="_blank" ng-href=<{:U('orderDetail/download')}>&file={{initDataPo.po_erp_path}} >{{initDataPo.PO_FILFE_PATH}}</a>
                    </td>
                    <td><label>{{$lang('备注')}}</label></td>
                    <td  style="border-right: 1px solid #CADEE7;">{{$lang(initDataPo.remarks)}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
 
    
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <table class="b2b-table-two" style="text-align: center">
                <caption>{{$lang('状态信息')}}</caption>
                <tbody class="use-body">
                    <tr>
                        <td class="bg-status"><b>{{$lang('发货状态')}}</b></td>
                        <td>{{$lang(data.status.order_state_val)}}</td>
                        <td class="bg-status"><b>{{$lang('理货状态')}}</b></td>
                        <td>{{$lang(data.status.warehousing_state_val)}}</td>
                    </tr>
                    <tr>
                        <td class="bg-status"><b>{{$lang('退货状态')}}</b></td>
                        <td>{{$lang(data.status.return_status_cd_val)}}</td>
                        <td class="bg-status"><b>{{$lang('应收状态')}}</b></td>
                        <td>{{$lang(data.status.receivable_status_val)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <table class="b2b-table-three">
                <caption>{{$lang('商品信息')}}</caption>                    
                <thead class="use-head">
                <!-- <tr ng-if="data.goods[0].delivery_prices"> 去掉判断-飞阳 -->
                <tr>
                    <th ng-if="!g.addTag && data.goods[0].delivery_prices"></th>
                    <th>SKUID</th>
                    <th>BarCode</th>
                    <th>{{$lang('商品名称')}}</th>
                    <th>{{$lang('商品属性')}}</th>
                    <th>{{$lang('商品图片')}}</th>
                    <th>{{$lang('销售单价（含增值税）')}}</th>
                    <th>{{$lang('销售单价（不含增值税）')}}</th>
                    <th>{{$lang('订单数量')}}</th>
                    <th>{{$lang('已发货数量')}} </th>
                    <th>{{$lang('已理货数量')}} </th>
                    <th>
                        {{$lang('入库差异数')}} 
                        <i class="fa fa-question-circle fa-lg" title={{$lang('订单数量-已理货（正常品+残次品）数量')}}></i> 
                    </th>
                </tr>
                </thead>
                <tbody class="use-body">
                <tr ng-repeat="(key,g) in data.goods">
                    <td colspan="12" ng-if="g.addTag">
                        <table class="b2b-table-three">
                            <thead class="use-head">
                                <tr> 
                                    <th>{{$lang('采购单号')}}</th>
                                    <th>{{$lang('采购PO单号')}}</th>
                                    <th>{{$lang('采购团队')}}</th>
                                    <th>{{$lang('采购单价（含增值税）')}}</th>
                                    <th>{{$lang('采购单价（不含增值税）')}}</th>
                                    <th>{{$lang('供货数量')}}</th>
                                    <th>{{$lang('退税比例')}}</th>
                                </tr>
                            </thead>
                            <tbody class="use-body">
                                <tr ng-repeat="(k,dp) in g.delivery_prices">
                                    <td>{{dp.purchase_order_no}}</td>
                                    <td>{{dp.purchase_po_number}}</td>
                                    <td>{{dp.purchasing_team_val}}</td>
                                    <td>{{dp.purchasing_currency_val}} {{dp.purchasing_price}}</td>
                                    <td>{{dp.purchasing_currency_val}} {{dp.purchasing_price_excluding_tax}}</td>
                                    <td>{{dp.purchasing_num}}</td>
                                    <td>{{dp.tax_rebate_ratio ? dp.tax_rebate_ratio+'%' : 0}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td ng-if="!g.addTag && data.goods[0].delivery_prices">
                        <div ng-click="showDetail(key,g,data.goods)">
                            <span ng-if="!g.min" style="cursor: pointer;display: inline-block;padding: 5px;"> + </span>
                            <span ng-if="g.min" style="cursor: pointer;display: inline-block;padding: 5px;"> - </span>
                        </div>
                    </td>
                    <td ng-if="!g.addTag">{{g.SKU_ID}} <div style="cursor: pointer;color: blue;" ng-click="searchProductKey(g)">Product Key</div></td>
                    <td ng-if="!g.addTag">{{g.bar_code}}</td>
                    <td ng-if="!g.addTag">{{g.goods_title}}</td>
                    <td ng-if="!g.addTag">{{g.product_attribute}}</td>
                    <td ng-if="g.guds_img_cdn_addr && !g.addTag">
                        <span><img ng-mouseover="showThumbnail(key,'act')" ng-mouseout="showThumbnail(key,'close')"  width="60" height="60" ng-src="{{g.guds_img_cdn_addr}}" alt=""> </span>
                        <div ng-if="g.show_img" class="thumbnail-wrap">
                            <div class="img-wrap">
                                <img ng-src="{{g.guds_img_cdn_addr}}" alt="" width="300" height="300">
                            </div>
                        </div>
                    </td>
                    <td ng-if="!g.guds_img_cdn_addr&&!g.addTag"></td>
                    <td ng-if="!g.addTag">{{init_data.currency_bz[g.currency].CD_VAL}} {{king(g.price_goods)}}</td>
                    <td ng-if="!g.addTag">{{init_data.currency_bz[g.currency].CD_VAL}} {{king(g.price_goods_excluding_tax)}}</td><!--不含增值税-->
                    <td ng-if="!g.addTag">{{king(g.required_quantity)}}</td>
                    <td ng-if="!g.addTag">{{king(g.SHIPPED_NUM)}}</td>
                    <td ng-if="!g.addTag">
                        <p>{{$lang('正常品')}}：{{king(g.normal_goods)}}</p>
                        <p>{{$lang('残次品')}}：{{king(g.normal_cargo)}}</p>
                    </td>
                    <td ng-if="!g.addTag">{{g.inbound_difference}}</td>
                </tr>
                <!--<tr ng-if="data.goods[0].delivery_prices" class="table_bg">
                    <td>{{king(count(data.goods))}}</td>
                    <td colspan="5" v="{{data.goods}}"></td>
                    <td>{{init_data.currency_bz[initDataPo.po_currency].CD_VAL}}</td>
                    <td>{{init_data.currency_bz[initDataPo.po_currency].CD_VAL}}</td>&lt;!&ndash;不含增值税&ndash;&gt;
                    <td>{{king(goods_sum.neednum)}}</td>
                    <td>{{king(goods_sum.shipnum)}}</td>
                    <td>
                        <p>正常品：{{king(goods_sum.totalNormalGoods)}}</p>
                        <p>残次品：{{king(goods_sum.totalBormalGargo)}}</p>
                    </td>
                    <td>{{king(goods_sum.difference)}}</td>
                </tr>-->
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <table class="b2b-table-three">
                <caption>
                    <div class="row">
                        <div class="col-lg-6"> {{$lang('物流信息')}} </div>
                        <div class="col-lg-6 text-right">
                            <button  class="button-primary" ng-if="datas.ship[0] && data.status.warehousing_state_val !=='待确认'" ng-click="jupmPage(datas.ship[0].order_id,'发起退货')">{{$lang('发起退货')}}</button>
                            <button class="button-primary" ng-if="datas.ship[0]" ng-click="jupmPage(datas.ship[0].order_id,'发货详情页')">{{$lang('发货详情')}}</button>
                        </div>
                    </div>
                </caption>
                <thead class="use-head">
                <tr>
                    <th width="">{{$lang('提单号')}}</th>
                    <th width="">{{$lang('发出仓库')}}</th>
                    <th width="">{{$lang('发货数量')}}</th>
                    <th width="">
                        {{$lang('发货收入（含增值税）')}}
                        <i class="fa fa-question-circle fa-lg" title={{$lang('发货数量*发货商品销售单价（含增值税）之和【订单币种】')}}></i> 
                    </th>
                    <th width="">
                        {{$lang('发货收入（不含增值税）')}}
                        <i class="fa fa-question-circle fa-lg" title={{$lang('发货数量*发货商品销售单价（不含增值税）之和【订单币种】')}}></i> 
                    </th>
                    <th width="">{{$lang('发货人')}}</th>
                    <th width="">{{$lang('发货时间')}}</th>
                    <th width="">{{$lang('预计到港时间')}}</th>
                    <th width="">{{$lang('理货确认状态')}}</th>
                    <th width="">{{$lang('理货时间')}}</th>
                    <th width="">
                        {{$lang('残损扣费')}}
                        <i class="fa fa-question-circle fa-lg" title={{$lang('（发货数-合格品数量）*销售单价（含增值税）之和')}}></i> 
                    </th>
                    <th width="200px">{{$lang('操作')}}</th>
                </tr>
                </thead>
                <tbody class="use-body">
                <tr ng-repeat="s in datas.ship">
                    <td>{{s.BILL_LADING_CODE}}</td>
                    <td>{{s.issue_warehouse}}</td>
                    <td>{{s.SHIPMENTS_NUMBER}}</td>
                    <td>{{init_data.currency_bz[initDataPo.po_currency].CD_VAL}} {{king(s.sum_shipping_revenue)}}</td>
                    <td>{{init_data.currency_bz[initDataPo.po_currency].CD_VAL}} {{king(s.sum_shipping_revenue_excludeing_tax)}}</td>
                    <td>{{s.AUTHOR}}</td>
                    <td>{{getdatestr(s.DELIVERY_TIME)}}</td>
                    <td>{{getdatestr(s.Estimated_arrival_DATE)}}</td>
                    <td>{{s.warehousing_state_val}}</td>
                    <td>{{s.tally_time}}</td>
                    <td>{{s.damage_charge}}</td>
                    <td class="use-btn" style="width: 367px;">
                        <a ng-if="s.issue_warehouse == '虚拟仓'" ng-click="recall(s.out_bill_id)" class="btn-pub btn-blue">{{$lang('发货撤回')}}</a>
                        <a ng-click="jupmPage(s.order_id,'理货详情页', s.warehouse_list_id,'0',s.warehousing_state_val)" class="btn-pub btn-green mg-l-20">{{$lang('理货详情')}}</a>
                        <a ng-show="s.warehousing_state == '0'" ng-click="jupmPage(s.order_id,'理货确认页', s.warehouse_list_id,'1')" class="btn-pub btn-blue">{{$lang('去理货')}}</a>
                        <a ng-if="s.warehousing_state_val !== '已确认'" ng-click="jupmPage(s.order_id,'理货确认页', s.warehouse_list_id,'0',s.warehousing_state_val)" class="btn-pub btn-green mg-l-20">{{$lang('发起退货')}}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <table class="b2b-table-three">
                <caption>
                    <div class="row">
                        <div class="col-lg-6"> {{$lang('退货信息')}} </div>
                        <!--<div class="col-lg-6 text-right">
                            <button class="button-primary" ng-if="datas.ship[0]" ng-click="jupmPage(datas.ship[0].order_id,'发起退货')">{{$lang('发起退货')}}</button>
                            <button class="button-primary" ng-if="datas.ship[0]" ng-click="jupmPage(datas.ship[0].order_id,'发货详情页')">{{$lang('发货详情')}}</button>
                        </div>-->
                    </div>
                </caption>
                <thead class="use-head">
                <tr>
                    <th width="">{{$lang('退货单号')}}</th>
                    <th width="">{{$lang('状态')}}</th>
                    <th width="">{{$lang('退入仓库')}}</th>
                    <th width="">{{$lang('发起人')}}</th>
                    <th width="">{{$lang('发起时间')}}</th>
                    <th width="">{{$lang('入库确认人')}}</th>
                    <th width="">{{$lang('入库确认时间')}}</th>
                    <th width="">{{$lang('操作')}}</th>
                </tr>
                </thead>
                <tbody class="use-body">
                <tr ng-repeat="s in datas.return">
                    <td>{{s.return_no}}</td>
                    <td>{{s.status}}</td>
                    <td>{{s.warehouse}}</td>
                    <td>{{s.created_by}}</td>
                    <td>{{s.created_at}}</td>
                    <td>{{s.warehoused_by}}</td>
                    <td>{{s.warehoused_at}}</td>
                    <td class="use-btn">
                        <a ng-click="jupmPage(s.id,'B2B退货详情')" class="btn-pub btn-green mg-l-20">{{$lang('查看')}}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <table class="b2b-table-three">
                <caption>
                    <div class="row">
                        <div class="col-lg-6"> {{$lang('收款信息')}} </div>
                        <div class="col-lg-6 text-right">
                            <button class="button-primary" ng-click="jupmPage('','收款认领列表')">{{$lang('去认领')}}</button>
                        </div>
                    </div>
                </caption>
                <thead class="use-head">
                <tr>
                    <th width="">{{$lang('流水ID')}}</th>
                    <th width="">{{$lang('付款方信息')}}</th>
                    <th width="">{{$lang('币种')}}</th>
                    <th width="">{{$lang('本次认领金额')}}</th>
                    <th width="">{{$lang('认领人')}}</th>
                    <th width="">{{$lang('认领时间')}}</th>
                    <th width="">{{$lang('发生日期')}}</th>
                    <th width="">{{$lang('操作')}}</th>
                </tr>
                </thead>
                <tbody class="use-body">
                <tr ng-repeat="e in datas.receipt_information">
                    <td>{{e.flow_id}}</td>
                    <td>{{e.payer_information.opp_company_name}}<br>
                        {{e.payer_information.opp_account_bank}}<br>
                        {{e.payer_information.opp_open_bank}}
                    </td>
                    <td>{{e.currency_val}}</td>
                    <td>{{e.amount_this_claim}}</td>
                    <td>{{e.claimant}}</td>
                    <td>{{e.claim_time}}</td>
                    <td>{{e.date_occurrence}}</td>
                    <td class="use-btn">
                        <a ng-click="jupmPage(e.flow_id,'收款认领详情页')" class="btn-pub btn-green">{{$lang('查看')}}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <table class="b2b-table-three">
                <caption>
                    <div class="row">
                        <div class="col-lg-6"> {{$lang('扣费信息')}} </div>
                        <div class="col-lg-6 text-right">
                            <button class="button-primary" ng-click="jupmPage('','收款认领列表')">{{$lang('录入扣费')}}</button>
                        </div>
                    </div>
                </caption>
                <thead class="use-head">
                <tr>
                    <th width="">{{$lang('流水ID')}}</th>
                    <th width="">{{$lang('扣费类型')}}</th>
                    <th width="">{{$lang('扣费说明')}}</th>
                    <th width="">{{$lang('扣费凭证')}}</th>
                    <th width="">{{$lang('币种')}}</th>
                    <th width="">{{$lang('扣费金额')}}</th>
                    <th width="">{{$lang('录入人')}}</th>
                    <th width="">{{$lang('录入时间')}}</th>
                    <th width="">{{$lang('操作')}}</th>
                </tr>
                </thead>
                <tbody class="use-body">
                <tr ng-repeat="e in datas.deduction_information">
                    <td>{{e.flow_id}}</td>
                    <td>{{e.deduction_type_val}}</td>
                    <td>{{e.deduction_instructions}}</td>
                    <td>
                        <a ng-repeat="item in e.credentials_path" ng-href="/index.php?m=order_detail&amp;a=download&amp;file={{item.savename}}" class="file_type" style="margin: 8px 0px; display: block;">{{item.name}}</a>
                    </td>
                    <td>{{e.currency_val}}</td>
                    <td>{{e.deduction_amount}}</td>
                    <td>{{e.entering_person}}</td>
                    <td>{{e.entry_time}}</td>
                    <td class="use-btn">
                        <a ng-click="jupmPage(e.flow_id,'收款认领详情页')" class="btn-pub btn-green">{{$lang('查看')}}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <style>
        .b2b-table-two .use-body tr td{border-right: 1px solid #CADEE7}
    </style>
     <div class="row" >
        <div class="col-lg-6 col-md-6">
            <table class="b2b-table-two" style="height: 190px;">
                <caption> {{$lang('预估利润（USD）')}} </caption>
                <tbody class="use-body">
                    <tr>
                        <td style="width:35%" class="bg-td">
                            {{$lang('预估收入')}}
                            <i class="fa fa-question-circle fa-lg" title={{$lang('销售单价（不含增值税）*PO日期兑美元汇率*订单数量之和')}}></i> 
                        </td>
                        <td>
                            <span n-if="datas.estimated_profit.estimated_income">
                                USD
                                {{datas.estimated_profit.estimated_income}}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:35%" class="bg-td">
                                {{$lang('预估成本')}}
                                <i class="fa fa-question-circle fa-lg" title={{$lang('采购单价（不含增值税）*PO日期兑美元汇率*供货数量之和')}}></i> 
                        </td>
                        <td>
                            <span n-if="datas.estimated_profit.estimated_cost">
                                USD
                                {{datas.estimated_profit.estimated_cost}}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:35%" class="bg-td">
                            {{$lang('预估毛利')}}
                            <i class="fa fa-question-circle fa-lg" title={{$lang('预估收入-预估成本')}}></i> 
                        </td>
                        <td>
                            <span n-if="datas.estimated_profit.estimated_gross_profit">
                                USD
                                {{datas.estimated_profit.estimated_gross_profit}}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:35%" class="bg-td">
                            {{$lang('预估毛利率')}}
                            <i class="fa fa-question-circle fa-lg" title={{$lang('预估毛利/预估收入*100%')}}></i> 
                        </td>
                        <td>
                            <span n-if="datas.estimated_profit.estimated_gross_profit_margin">
                                USD
                                {{datas.estimated_profit.estimated_gross_profit_margin}}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:35%" class="bg-td">
                            {{$lang('预估费用')}}
                            <i class="fa fa-question-circle fa-lg" title={{$lang('来源于供应链管理模块销售&采购预估的各种费用之和')}}></i> 
                        </td>
                        <td>
                            <span>
                                USD
                                {{datas.info.logistics_estimat}}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6 col-md-6" style="padding-left:20px;">
            <table class="b2b-table-two">
                <caption> {{$lang('应收信息（订单币种）')}} </caption>
                <tbody class="use-body">
                    <tr>
                        <td style="width:35%" class="bg-td">
                            {{$lang('总应收')}}
                            <i class="fa fa-question-circle fa-lg" title={{$lang('销售单价（含增值税）*（发货数量-理货差异数量）之和')}}></i> 
                        </td>
                        <td>
                            <span ng-if="datas.receivable_information.total_receivable"> 
                                {{init_data.currency_bz[initDataPo.cur_tuishui].CD_VAL}} {{datas.receivable_information.total_receivable}}</td>
                            </span>
                    </tr>
                    <tr>
                        <td style="width:35%" class="bg-td">
                            {{$lang('实收')}}
                            <i class="fa fa-question-circle fa-lg" title={{$lang('每期本次认领金额*PO日期兑订单币种汇率之和')}}></i> 
                        </td>
                        <td>
                            <span ng-if="datas.receivable_information.actual_harvest"> 
                                {{init_data.currency_bz[initDataPo.cur_tuishui].CD_VAL}} {{datas.receivable_information.actual_harvest}}</td>
                            </span>
                    </tr>
                    <tr>
                        <td style="width:35%" class="bg-td">
                            {{$lang('客户扣费')}}
                            <i class="fa fa-question-circle fa-lg" title={{$lang('每期扣费金额之和')}}></i> 
                        </td>
                        <td>
                            <span ng-if="datas.receivable_information.customer_charge"> 
                                {{init_data.currency_bz[initDataPo.cur_tuishui].CD_VAL}} {{datas.receivable_information.customer_charge}}</td>
                            </span>
                    </tr>
                    <tr>
                        <td style="width:35%" class="bg-td">
                            {{$lang('汇率损益')}}
                            <i class="fa fa-question-circle fa-lg" title={{$lang('核销时，剩余的应收金额在核销后算作汇率损益')}}></i> 
                        </td>
                        <td>
                            <span ng-if="datas.receivable_information.exchange_rate_gains_and_losses"> 
                                {{init_data.currency_bz[initDataPo.cur_tuishui].CD_VAL}} {{datas.receivable_information.exchange_rate_gains_and_losses}}</td>
                            </span>
                    </tr>
                    <tr>
                        <td style="width:35%" class="bg-td">
                            {{$lang('剩余应收')}}
                            <i class="fa fa-question-circle fa-lg" title={{$lang('总应收-实收-客户扣费±汇率损益')}}></i> 
                        </td>
                        <td>
                            <span ng-if="datas.receivable_information.remaining_receivable"> 
                                {{init_data.currency_bz[initDataPo.cur_tuishui].CD_VAL}} {{datas.receivable_information.remaining_receivable}}</td>
                            </span>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center use-btn">
            <!--<button type="button" ng-show="data.status.receivable_status == 'N002540100'" class="btn-pub btn-blue mg-l-20" ng-click="submitCheckSales(initDataPo.ORDER_ID,true)">{{$lang('退货')}}</button>-->
             <?php if(ButtonAction::hidden()){ ?>
                <button type="button" ng-show="data.status.receivable_status == 'N002540100'" class="btn-pub btn-blue mg-l-20" ng-click="submitCheckSales(initDataPo.ORDER_ID,true)">{{$lang('提交核销')}}</button>
                <button type="button" ng-show="data.status.receivable_status == 'N002540200'" class="btn-pub btn-blue mg-l-20" ng-click="submitCheckSales(initDataPo.ORDER_ID,false)">{{$lang('撤回到待提交状态')}}</button>
             <?php } ?>
             <?php if(ButtonAction::hidden()){ ?>
                <button type="button" class="btn-pub btn-blue mg-l-20" ng-show="CalcService.isCanPublish(initDataPo);" ng-click="formal_submit();">{{$lang('正式提交')}}</button>
             <?php } ?>
             <?php if(ButtonAction::hidden()){ ?>
                <button type="button" class="btn-pub btn-default mg-l-20"  ng-click="delOrder(initDataPo.PO_ID);"><{$Think.lang.删除}></button>
             <?php } ?>
        </div>
    </div>
    <div class="row" style="height:40px;"></div>
</div>
<button id="dialog" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="display: none">
    Launch demo modal
</button>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">提示</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                请确认是否撤回
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button id="yes" type="button" class="btn btn-primary">确认</button>
            </div>
        </div>
    </div>
</div>
<div ng-if="bool" class="el-dialog__wrapper" id="ProductKey" style="z-index: 2005;">
    <div class="el-dialog" style="margin-top: 15vh;">
        <div class="el-dialog__header"><span class="el-dialog__title">Product Key</span>
            <button type="button" aria-label="Close" class="el-dialog__headerbtn" ng-click="setBool(false)"><i
                    class="el-dialog__close el-icon el-icon-close"></i></button>
        </div>
        <div class="el-dialog__body">
            <table style="border: 1px solid rgb(204, 204, 204); border-collapse: collapse; text-align: center;">
                <tr  ng-repeat="(k,v) in ProductKeyData"  style="border:1px #cccccc solid;width:100%">
                    <td style="border:1px #cccccc solid;padding: 10px;width: 20%;">{{v[0]?v[0].product_key:''}}</td>
                    <td style="border:1px #cccccc solid;padding: 10px;width: 20%;">{{v[1]?v[1].product_key:''}}</td>
                    <td style="border:1px #cccccc solid;padding: 10px;width: 20%;">{{v[2]?v[2].product_key:''}}</td>
                    <td style="border:1px #cccccc solid;padding: 10px;width: 20%;">{{v[3]?v[3].product_key:''}}</td>
                    <td style="border:1px #cccccc solid;padding: 10px;width: 20%;">{{v[4]?v[4].product_key:''}}</td>
                </tr>
            </table>
            <div ng-if="ProductKeyData.length === 0" style="line-height: 60px;text-align: center">
                {{ProductKeyData}}
                暂无数据
            </div>
        </div>
    </div>
</div>
<div ng-if="bool" class="v-modal" tabindex="0" style="z-index: 2002;" ng-click="setBool(false)"></div>
<style>
#show_up_pic_closeCancel{display:none;}
#show_success_btnCancel{display:none;}
#show_success_btnConfirm{display:none;}
</style>
