<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/Application/Tpl/Home/Public/utils/css/public.style.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" href="/Application/Tpl/Home/Public/css/element-ui-2.2.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" href="/Application/Tpl/Home/Public/css/normailize.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" href="/Application/Tpl/Home/Public/icon/css/font-awesome.min.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" href="/Application/Tpl/Home/B2b/css/detail.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/default.css?v=<{$Think.const.V}>">
    <title>应收详情</title>
    <style>
        [v-cloak] {
            display: none;
        }

        .to-detail-btn {
            text-decoration: underline;
            cursor: pointer;
            color: #1E7EB4;
        }

        .cell {
            word-break: break-all;
            word-wrap: normal;
            text-overflow: ellipsis;
            vertical-align: middle;
            width: 100%;
            box-sizing: border-box;
            white-space: normal;
            line-height: 20px;
        }
        .dispach-basic-info td{
            padding:10px 6px;
        }
        .el-table ,.el-table__body-wrapper{
            overflow: visible !important;
        }
        .el-table--enable-row-hover .el-table__body tr:hover>td {
            background-color: #ffffff;
        }
        .consignee-basic-info td{
            padding:0px 8px;
        }
        .el-table .cell{
            word-break: break-word !important;
        }
        .ellipsis{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
            width: 60%;
            margin: 0 auto;
        }
        .use-btn{
            text-align: center;
            margin:24px 0;
        }
        .header-td{
            height:40px;
            background-color:#f7f9fb ;
            text-align-last: left;

        }
        .header-td span{
            padding-left:20px;
            font-size:16px;
            font-weight: bold;
        }
        .no-wrap{
            padding:0 !important;
            border:none !important;
        }
    </style>

</head>

<body class="mainDetail">
    <div id="main-detail" v-cloak v-if="detailData.info">
        <div class="main-basic-info">
            <header style="margin-top:10px">
                {{$lang('订单信息')}}
            </header>
            <table border="0" cellspacing="0" cellpadding="0" class="main-basic-table">
                <tbody>
                    <tr>
                        <td class="info-title">
                            <div class="cell">
                                {{$lang('B2B订单号')}}
                            </div>
                        </td>
                        <td>
                            <span>{{detailData.info.PO_ID}}</span>
                        </td>
                        <td class="info-title">
                            <div class="cell">
                                {{$lang('PO单号')}}
                            </div>
                        </td>
                        <td>
                            <span>{{detailData.info.THR_PO_ID}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="info-title">
                            <div class="cell">
                                {{$lang('客户')}}
                            </div>
                        </td>
                        <td>
                            <span>{{$lang(detailData.info.CLIENT_NAME)}}</span>
                        </td>
                        <td class="info-title">
                            <div class="cell">
                                {{$lang('销售团队')}}
                            </div>
                        </td>
                        <td>
                            <span>{{detailData.info.SALES_TEAM_val}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="info-title">
                            <div class="cell">
                                {{$lang('发货状态')}}
                            </div>
                        </td>
                        <td>
                            <span>{{detailData.info.order_state_val}}</span>
                        </td>
                        <td class="info-title">
                            <div class="cell">
                                {{$lang('发货金额')}}
                            </div>
                        </td>
                        <td>
                            <span>{{detailData.info.po_currency_val}} {{detailData.info.sum_power_all |separatNum}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="info-title">
                            <div class="cell">
                                {{$lang('理货状态')}}
                            </div>
                        </td>
                        <td>
                            <span>{{detailData.info.warehousing_state_val}}</span>
                        </td>
                        <td class="info-title">
                            <div class="cell">
                                {{$lang('理货金额')}}
                            </div>
                        </td>
                        <td>
                            <span>{{detailData.info.po_currency_val}} {{detailData.info.sum_warehousing_all |
                                separatNum}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="info-title">
                            <div class="cell">
                                {{$lang('应收状态')}}
                            </div>
                        </td>
                        <td>
                            <span>{{detailData.info.receivable_status_val}}</span>
                        </td>
                        <td class="info-title">
                            <div class="cell">
                                {{$lang('应收金额')}}
                            </div>
                        </td>
                        <td>
                            <span>{{detailData.info.po_currency_val}} {{detailData.info.current_receivable
                                |separatNum}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="info-title">
                            <div class="cell">
                                {{$lang('实际收款')}}
                            </div>
                        </td>
                        <td>
                            <span>{{detailData.info.po_currency_val}} {{detailData.info.actual_collection |separatNum}}</span>
                        </td>
                        <td class="info-title">
                            <div class="cell">
                                {{$lang('客户扣费')}}
                            </div>
                        </td>
                        <td>
                            <div>{{detailData.info.po_currency_val}} {{detailData.info.sum_deduction_amount
                                |separatNum}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="info-title">
                            <div class="cell">
                                {{$lang('销售人员')}}
                            </div>
                        </td>
                        <td>
                            <span>{{detailData.info.PO_USER}}</span>
                        </td>
                        <td class="info-title">
                            <div class="cell">
                                {{$lang('销售助理')}}
                            </div>
                        </td>
                        <td>
                            <span>{{detailData.info.sales_assistant_by}}</span>
                        </td>
                    </tr>
                     <tr>
                         <td class="info-title">
                             <div class="cell">
                                 {{$lang('开始提醒收款日期')}}
                             </div>
                         </td>
                         <td>
                             <span>{{detailData.info.start_reminding_date_receipt}}</span>
                         </td>
                         <td class="info-title">
                             <div class="cell">
                                 {{$lang('订单创建时间')}}
                             </div>
                         </td>
                         <td>
                             <span>{{detailData.info.po_time}}</span>
                         </td>
                     </tr>
                    <tr>
                        <td class="info-title">
                            <div class="cell">
                                {{$lang('核销负责人')}}
                            </div>
                        </td>
                        <td>
                            <span>{{detailData.info.verification_leader_by}}</span>
                        </td>
                        <td class="info-title">
                            <div class="cell">
                                {{$lang('备注')}}
                            </div>
                        </td>
                        <td v-if="status == 'toSubmit'">
                            <el-input style="width: 90%" type="text" v-model="detailData.info.remark"></el-input>
                        </td>
                        <td v-else>
                            {{detailData.info.remark}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="main-basic-info" v-if="detailData.info">
            <header>
                {{$lang('收款认领明细')}}
            </header>
            <table border="0" cellspacing="0" cellpadding="0" class="child-basic-table inline-basic-table" style="border-left:1px solid #cadee7;">
                <thead>
                    <th>{{$lang('序号')}}</th>
                    <th>{{$lang('流水ID')}}</th>
                    <th>{{$lang('付款方信息')}}</th>
                    <th>{{$lang('收款方信息')}}</th>
                    <th>{{$lang('币种')}}</th>
                    <th>{{$lang('原始总金额')}}</th>
                    <th>{{$lang('本次认领金额')}}</th>
                    <th>{{$lang('抵扣应收金额')}}({{detailData.info.po_currency_val}})</th>
                    <th>{{$lang('认领人')}}</th>
                    <th>{{$lang('认领时间')}}</th>
                    <th>{{$lang('发生日期')}}</th>
                </thead>
                <tbody>
                    <tr class="inline-td" v-for="(item,index) in detailData.claims">
                        <td>{{index+1}}</td>
                        <td>{{item.account_transfer_no}}</td>
                        <td>{{item.opp_company_name}}<br>
                            {{item.opp_account_bank}}<br>
                            {{item.opp_open_bank}}
                        </td>
                        <td>{{item.company_code_val}}<br>
                            {{item.our_bank}}<br>
                            {{item.our_open_bank}}
                        </td>                 
                        <td>{{item.original_currency_val}}</td>
                        <td>{{item.original_amount | separatNum}}</td>
                        <td>{{item.claim_amount | separatNum}}</td>

                        <td>{{item.deductible_receivable_amount | separatNum}}</td>
                        <td>{{item.created_by}}</td>
                        <td>{{item.created_at}}</td>
                        <td>{{item.occur_at}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="main-basic-info" v-if="detailData.claim_deductions && detailData.claim_deductions.length">
            <header>
                {{$lang('扣费明细')}}
            </header>
            <table border="0" cellspacing="0" cellpadding="0" class="child-basic-table inline-basic-table" style="border-left:1px solid #cadee7;">
                <thead>
                    <th>{{$lang('序号')}}</th>
                    <th>{{$lang('流水ID')}}</th>
                    <th>{{$lang('扣费类型')}}</th>
                    <th>{{$lang('扣费说明')}}</th>
                    <th>{{$lang('扣费凭证')}}</th>
                    <th>{{$lang('币种')}}</th>
                    <th>{{$lang('扣费金额')}}</th>
                    <th>{{$lang('抵扣应收金额')}}({{detailData.info.po_currency_val}})</th>
                    <th>{{$lang('录入人')}}</th>
                    <th>{{$lang('录入时间')}}</th>
                </thead>
                <tbody>
                    <tr class="inline-td" v-for="(item,index) in detailData.claim_deductions">
                        <td>{{index+1}}</td>
                        <td>{{item.account_transfer_no}}</td>
                        <td>{{item.deduction_type_val}}</td>
                        <td>{{item.instructions}}</td>
                        <td><a style="display: block;margin:8px 0px;" v-for="it in item.credentials_path" :href="'/index.php?m=order_detail&a=download&file='+it.savename"
                                class="file_type">{{it.name}}</a></td>
                        <td>{{detailData.info.po_currency_val}}</td>
                        <td>{{item.deduction_amount | separatNum}}</td>
                        <td>{{item.deductible_receivable_amount |separatNum}}</td>
                        <td>{{item.created_by}}</td>
                        <td>{{item.created_at}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="main-basic-info" v-if="status != 'toSubmit'">
            <header style="margin-top:10px">
                {{$lang('核销信息')}}
            </header>
            <table border="0" cellspacing="0" cellpadding="0" class="main-basic-table">
                <tbody>
                    <tr v-if="status != 'hadWriteOff'">
                        <td class="info-title">
                            <div class="cell">
                                {{$lang('核销前应收金额')}}
                            </div>
                        </td>
                        <td>
                            <span>{{detailData.info.po_currency_val }}
                                {{detailData.write_off_info.after_amount_receivable | separatNum}}</span>
                        </td>
                        <td class="info-title">
                            <div class="cell">
                                {{$lang('核销后应收金额')}}
                            </div>
                        </td>
                        <td>
                            <span>{{detailData.info.po_currency_val }} 0.00</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="info-title">
                            <div class="cell">
                                {{$lang('汇率损益')}}{{status == 'hadWriteOff' ? '' : $lang('（默认为剩余发货应收金额）')}}
                            </div>
                        </td>
                        <td>
                            <span v-if="status == 'sureWriteOff'">{{detailData.info.po_currency_val }} {{detailData.write_off_info.after_amount_receivable |
                                    separatNum}} </span>
                            <span v-else>{{detailData.info.po_currency_val }} {{detailData.write_off_info.rate_losses |
                                separatNum}}</span>
                        </td>
                        <td class="info-title">
                            <div class="cell">
                                {{$lang('核销备注')}}
                            </div>
                        </td>
                        <td>
                            <el-input v-if="detailData.info.receivable_status == 'N002540200'" style="width:70%;" size="small"
                                v-model="detailData.write_off_info.cancel_note"></el-input>
                            <span v-else>{{detailData.write_off_info.cancel_note}}</span>

                        </td>
                    </tr>
                    <tr v-if = "status != 'toSubmit'">
                        <td class="info-title">
                            <div class="cell">
                                {{$lang('提交人')}}
                            </div>
                        </td>
                        <td>
                            <span>{{detailData.write_off_info.created_by}}</span>
                        </td>
                        <td class="info-title">
                            <div class="cell">
                                {{$lang('提交时间')}}
                            </div>
                        </td>
                        <td>
                            <span>{{detailData.write_off_info.created_at}}</span>
                        </td>
                    </tr>
                    <tr v-if="status == 'hadWriteOff'">
                        <td class="info-title">
                            <div class="cell">
                                {{$lang('核销人')}}
                            </div>
                        </td>
                        <td>
                            <span>{{detailData.write_off_info.verification_by}}</span>
                        </td>
                        <td class="info-title">
                            <div class="cell">
                                {{$lang('核销时间')}}
                            </div>
                        </td>
                        <td>
                            <span>{{detailData.write_off_info.verification_at}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="use-btn">
            <!-- <?php if(ButtonAction::hidden('B2b/receipt_claim_list')){ ?>
                <el-button @click="changeStauts('toSubmit')" v-if="status == 'toSubmit'">{{$lang('去认领收款')}}</el-button>
            <?php }?> -->
            <?php if(ButtonAction::hidden('B2b/receipt_claim_list')){ ?>
                <el-button @click="changeStauts('toSubmitFinance')" v-if="status == 'toSubmit'">{{$lang('去认领收款')}}</el-button>
            <?php }?>
            <el-button @click="changeStauts('toSubmit')" type="primary" v-if="status == 'toSubmit'">{{$lang('提交给财务核销')}}</el-button>
            <el-button @click="changeStauts('sureWriteOff')" type="primary" v-if="status == 'sureWriteOff'">{{$lang('确认核销')}}</el-button>
            <el-button @click="changeStauts('backWriteOff')" v-if="status == 'sureWriteOff'">{{$lang('撤回待提交状态')}}</el-button>
            <el-button @click="changeStauts('hadWriteOff')" v-if="status == 'hadWriteOff'" type="primary">{{$lang('撤回核销')}}</el-button>
        </div>
    </div>
    <!--引入js-->
    <script type="text/javascript" src="/Application/Tpl/Home/Public/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/Application/Tpl/Home/Public/js/H-ui.js"></script>
    <script type="text/javascript" src="/Application/Tpl/Home/Public/js/H-ui.admin.js?v=<{$Think.config.VER_NUM}>"></script>
    <script type="text/javascript" src="/Application/Tpl/Home/Public/js/vue.2.5.13.js"></script>
    <script type="text/javascript" src="/Application/Tpl/Home/Public/js/axios.min.js"></script>
    <script type="text/javascript" src="/Application/Tpl/Home/Public/js/element-ui-2.2.js"></script>
    <script>
        var VM = new Vue({
            el: '#main-detail',
            components: {},
            data: {
                detailData: {},
                status: 'toSubmit'
            },

            methods: {
                changeStauts: function changeStauts(type) {
                    var url = '';
                    var postData = {};
                    var _this = this;
                    if(type == 'toSubmitFinance'){
                        var route = document.createElement("a");
                        var title = "opennewtab(this,'收款认领列表')";
                        route.setAttribute("style", "display: none");
                        route.setAttribute("onclick", title);
                        route.setAttribute("_href", '/index.php?m=b2b&a=receipt_claim_list');
                        console.log(route)
                        route.onclick();
                    }
                    switch (type) {
                        case 'toSubmit':
                            url = '/index.php?m=B2b&a=submitCheckSales';
                            postData = {
                                "current_receivable": _this.detailData.info.current_receivable,
                                "order_id": getQueryVariable('order_id'),
                                "submit_check": true,
                                "remark": this.detailData.info.remark,
                            };
                            break;
                        case 'sureWriteOff':
                            url = '/index.php?m=B2b&a=checkSales';
                            postData = {
                                "order_id": getQueryVariable('order_id'),
                                "check": true,
                                "cancel_note": this.detailData.write_off_info.cancel_note,
                                "rate_losses": this.detailData.info.current_receivable,
                            }
                            break;
                        case 'hadWriteOff':
                            url = '/index.php?m=B2b&a=checkSales';
                            postData = {
                                "order_id": getQueryVariable('order_id'),
                                "check": false,
                                "rate_losses": this.detailData.write_off_info.rate_losses
                            }
                            break;
                        case 'backWriteOff':
                            url = '/index.php?m=B2b&a=submitCheckSales';
                            postData = {
                                "order_id": getQueryVariable('order_id'),
                                "submit_check": false
                            }
                            break;
                        case 'toSubmitFinance':
                            url = '/index.php?m=B2b&a=submitCheckSales';
                            postData = {
                                "current_receivable": _this.detailData.info.current_receivable,
                                "order_id": getQueryVariable('order_id'),
                                "submit_check": false,
                                "remark": this.detailData.info.remark,
                            };
                            break;
                    }
                    axios.post(url, postData)
                        .then(function (response) {
                            console.log(response)
                            if (response.data.code == 200000) {
                                _this.$message.success(_this.$lang(response.data.msg));
                                window.location.reload()
                            } else {
                                 _this.$message.error(_this.$lang(response.data.msg));
                            }
                        }).catch(function (err) {
                            console.log(err);
                        });
                },
                getOrderDetail: function getOrderDetail(data) {
                    var _this = this;
                    axios.get('/index.php?m=B2b&a=receivableDetail&order_id=' + getQueryVariable('order_id'))
                        .then(function (response) {
                            if (response.data.code == 200000) {
                                _this.detailData = response.data.data;
                                switch (_this.detailData.info.receivable_status) {
                                    case 'N002540100':
                                        _this.status = 'toSubmit'
                                        break;
                                    case 'N002540200':
                                        _this.status = 'sureWriteOff'
                                        break;
                                    case 'N002540300':
                                        _this.status = 'hadWriteOff'
                                        break;
                                }
                            } else {
                                _this.$message.error(_this.$lang(response.data.info));
                            }
                        }).catch(function (err) {
                            console.log(err);
                        });
                }
            },
            created: function created() {
                this.getOrderDetail();
            },
            beforeCreate: function beforeCreate() {},

            mounted: function mounted() {},
            filters: {
                formatDate: function formatDate(time) {
                    var date = new Date(time);
                    return _formatDate(date, 'yyyy-MM-dd hh:mm');
                },
                separatNum: function (num) { //千分位方法
                    var num = Number(num).toFixed(2);
                    num = num + "";
                    var _arr = num.split(".");
                    return _arr[1] === "00" ? (num - 0).toLocaleString() + ".00" : (num - 0).toLocaleString();
                },
                percentage: function (num) {

                    return num ? ((num * 100).toFixed(2) + "%") : '';
                },
            }
        });
        //获取url参数
        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] == variable) {
                    return pair[1];
                }
            }
            return false;
        }

        //时间戳转日期
        function _formatDate(date, fmt) {
            if (/(y+)/.test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (date.getFullYear() + '').substr(4 - RegExp.$1.length));
            }
            var o = {
                'M+': date.getMonth() + 1,
                'd+': date.getDate(),
                'h+': date.getHours(),
                'm+': date.getMinutes(),
                's+': date.getSeconds()
            };
            for (var k in o) {
                if (new RegExp('(' + k + ')').test(fmt)) {
                    var str = o[k] + '';
                    fmt = fmt.replace(RegExp.$1, RegExp.$1.length === 1 ? str : padLeftZero(str));
                }
            }
            return fmt;
        }

        function padLeftZero(str) {
            return ('00' + str).substr(str.length);
        };
    </script>
</body>

</html>