<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">

<head>
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/element-ui-2.8.2.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/default.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/icon/css/font-awesome.min.css?v=<{$Think.const.V}>">
    <title>
        <{$Think.lang.推广需求列表}>
    </title>
    <style>
        [v-cloak]{
            display: none;
        }
        #promotionDemandList{
            box-sizing: border-box;
            padding: 20px;
            margin: 0;
        }
        .el-button--mini {
            width: 8%;
            height: 30px;
        }

        .el-button-group {
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            margin-bottom: 30px;
        }
        .active_btn {
            color: #fff;
            background-color: #409eff;
            border-color: #409eff;
        }
        .el-select,.el-date-editor--daterange.el-input__inner{
            width: 100%;
            display: flex;
        }
        .el-select .el-tag{
            display: table;
        }
        .el-select .el-tag .el-select__tags-text{
            white-space: normal;
        }
        .baseline{
            width: 100%;
            height: 1px;
            background: rgb(201, 216, 224);
            margin: 20px 0;
        }
        .el-table__header thead th{
            background: #546E7A;
            color: #fff;
            border-bottom: 1px solid #668491;
            border-right: 1px solid #668491;
            text-align: center;
        }
        .el-table__body tbody tr td{
            text-align: center;
        }
        .el-table__body tbody tr td:last-child{
            border-right: none;
        }
        .el-table__body tbody tr:last-child td{
            border-bottom: none;
        }
        .operating_data{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .tagUrl>span{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    
        /* .el-form-item__label{
            line-height: 30px;
        } */
        
    </style>
</head>

<body>
    <div v-cloak id="promotionDemandList">
        <el-form ref="form" :model="form" label-width="150px">
            <el-row type="flex">
                <el-col :span="8">
                    <el-form-item :label="$lang('状态')">
                        <el-select v-model="form.search.status_cd" collapse-tags clearable  multiple filterable :placeholder="$lang('请选择')">
                            <el-option
                                v-for="(val,key) in promotion_demand_status"
                                :key="val.CD"
                                :label="$lang(val.CD_VAL)"
                                :value="val.CD">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>  
                <el-col :span="8">
                    <el-form-item :label="$lang('推广需求ID')">
                        <el-input v-model="form.search.promotion_demand_no"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item :label="$lang('需求人')">
                        <el-select v-model="form.search.create_by" collapse-tags multiple clearable  filterable :placeholder="$lang('请选择')">
                            <el-option
                                v-for="(val,key) in users"
                                :key="val.mName"
                                :label="val.mName"
                                :value="val.mName">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row type="flex">
                <el-col :span="8">
                    <el-form-item :label="$lang('需求提出日期范围')">
                        <el-date-picker
                            v-model="form.search.create_at"
                            type="daterange"
                            value-format="yyyy-MM-dd"
                            :range-separator="$lang('至')"
                            :start-placeholder="$lang('开始日期')"
                            :end-placeholder="$lang('结束日期')">
                        </el-date-picker>
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item :label="$lang('推广内容类型')">
                        <el-select v-model="form.search.promotion_type_cd" collapse-tags multiple clearable  filterable :placeholder="$lang('请选择')">
                            <el-option
                                v-for="(val,key) in promotion_demand_type"
                                :key="val.CD"
                                :label="$lang(val.CD_VAL)"
                                :value="val.CD">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col> 
                <el-col :span="8">
                    <el-form-item :label="$lang('平台')">
                        <el-select v-model="form.search.platform_cd" collapse-tags multiple clearable @change="selectPlatform"  filterable :placeholder="$lang('请选择')">
                            <el-option
                                v-for="(val,key) in new_plat"
                                :key="val.CD"
                                :label="val.CD_VAL"
                                :value="val.CD">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col> 
            </el-row>
            <el-row type="flex">
                <el-col :span="8">
                    <el-form-item :label="$lang('站点')">
                        <el-select v-model="form.search.site_cd" collapse-tags multiple clearable  filterable :placeholder="$lang('请选择')">
                            <el-option
                                v-for="(val,key) in plat"
                                :key="val.CD"
                                :label="val.CD_VAL"
                                :value="val.CD">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>  
                <el-col :span="8">
                    <el-form-item :label="$lang('SKU')">
                        <el-input v-model="form.search.sku_id"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item :label="$lang('商品名称')">
                        <el-input v-model="form.search.product_name"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-form-item :label="$lang('标签类型')">
                        <el-select v-model="form.search.type_cd" filterable   :placeholder="$lang('请选择')">
                            <el-option
                                    v-for="(val,key) in cds"
                                    :key="val.CD"
                                    :label="val.CD_VAL"
                                    :value="val.CD">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item :label="$lang('标签名称')">
                        <el-select v-model="form.search.tag_name" filterable   :placeholder="$lang('请选择')">
                            <el-option
                                    v-for="(val,key) in cds_name"
                                    :key="val.id"
                                    :label="val.tag_name"
                                    :value="val.tag_name">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item :label="$lang('推广国家')">
                        <el-select v-model="form.search.area_id" filterable   :placeholder="$lang('请选择')">
                            <el-option
                                    v-for="(val,key) in countryName"
                                    :key="val.id"
                                    :label="$lang(val.countyName)"
                                    :value="val.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row type="flex">
                <el-col :span="24">
                    <el-button type="primary" @click="getTableData">{{$lang("查询")}}</el-button>
                    <el-button @click="reset">{{$lang("重置")}}</el-button>
                </el-col>
            </el-row>
        </el-form>
        <div class="baseline"></div>
        <!-- 搜索结果 -->
        <div class="operating_data">
            <div>
                <span style="font-size: 14px;">{{$lang('搜索结果')}}：{{$lang('共')}}<span> {{page.count}} </span>{{$lang('条')}}</span>
            </div>
            <div>
                <el-button type="primary" @click="down">{{$lang("批量发起模板下载")}}</el-button>
                <el-upload  style="display: inline-block;" accept="xlsx"  action="/index.php?g=Marketing&m=PromotionDemand&a=import" name="expe" :on-success="importFileFun" ref="importExc" :show-file-list="false">
                    <el-button  type="primary">{{$lang("批量发起")}}</el-button>
                </el-upload>
                <el-button @click="releaseRequirements">{{$lang("发布需求")}}</el-button>
                <el-button @click="copyRequirements">{{$lang("复制需求")}}</el-button>
                <el-button type="primary" @click="claim">{{$lang("认领")}}</el-button>
                <el-button @click="edit('N003590001')">{{$lang("关闭")}}</el-button>
                <el-button type="primary" @click="edit('turnDown')">{{$lang("驳回")}}</el-button>
            </div>
        </div>
        <div>
            <div class="wrapper">
        <el-table :data="tableData" border style="width: 100%;margin-top: 20px;" :max-height="tableHeight" v-loading="tableLoading" @selection-change="handleSelectionChange">
                <el-table-column
                    type="selection"
                    fixed="left"
                    width="55">
                </el-table-column>
                <el-table-column width="150" fixed="left" :label="$lang('推广需求ID')"> 
                    <template slot-scope="scope">
                        <span>{{scope.row.promotion_demand_no}}</span>
                    </template>
                </el-table-column>
                <el-table-column width="80" fixed="left" :label="$lang('状态')">
                    <template slot-scope="scope">
                        <span>{{scope.row.status_cd_val}}</span>
                    </template>
                </el-table-column>
                <el-table-column width="120" :label="$lang('需求人')"> 
                    <template slot-scope="scope">
                        <span>{{scope.row.create_by}}</span>
                    </template>
                </el-table-column>
                <el-table-column width="150" :label="$lang('需求提出日期')"> 
                    <template slot-scope="scope">
                        <span>{{scope.row.create_at}}</span>
                    </template>
                </el-table-column>
                <el-table-column width="150" :label="$lang('推广内容类型')"> 
                    <template slot-scope="scope">
                        <span>{{scope.row.promotion_type_cd_val}}</span>
                    </template>
                </el-table-column>
                <el-table-column width="80" :label="$lang('推广国家')">
                    <template slot-scope="scope">
                        <span>{{scope.row.area_name}}</span>
                    </template>
                </el-table-column>
                <el-table-column width="150" :label="$lang('SKU')"> 
                    <template slot-scope="scope">
                        <span>{{scope.row.sku_id}}</span>
                    </template>
                </el-table-column>
                <el-table-column width="180" :label="$lang('商品名称')"> 
                    <template slot-scope="scope">
                        <span>{{$lang(scope.row.product_name)}}</span>
                    </template>
                </el-table-column>
                <el-table-column width="150" :label="$lang('商品属性')"> 
                    <template slot-scope="scope">
                        <span>{{scope.row.product_attribute}}</span>
                    </template>
                </el-table-column>
                <el-table-column width="200" :label="$lang('商品链接/活动页链接/站点链接')"> 
                    <template slot-scope="scope">
                        <el-tooltip placement="top-end">
                            <div slot="content"><div style="width: 350px;word-break: break-all;">{{scope.row.link}}</div><br/><span style="float: right;cursor: pointer;" @click="openCopy(scope.row.link)">{{$lang('复制')}}</span></div>
                            <div class="tagUrl">
                                <span>{{scope.row.link}}</span>
                            </div>
                        </el-tooltip>
                    </template>
								</el-table-column>
								<el-table-column width="120" :label="$lang('推广价格')"> 
									<template slot-scope="scope">
										<span v-if="scope.row.promotion_pirce">{{scope.row.currency_cd_val}} </span>
										<span v-if="scope.row.promotion_pirce">{{scope.row.promotion_pirce}}</span>
									</template>
								</el-table-column>
								<el-table-column  :label="$lang('备注')"> 
									<template slot-scope="scope">
											<span>{{scope.row.remark}}</span>
									</template>
								</el-table-column>
								<el-table-column width="150" :label="$lang('平台')"> 
										<template slot-scope="scope">
												<span>{{scope.row.platform_cd_val}}</span>
										</template>
								</el-table-column>
								<el-table-column width="120" :label="$lang('站点')"> 
										<template slot-scope="scope">
												<span>{{scope.row.site_cd_val}}</span>
										</template>
								</el-table-column>
                <el-table-column width="150" :label="$lang('优惠前商品价格（页面币种）')"> 
                    <template slot-scope="scope">
                        <span>{{scope.row.currency_cd_val}} {{scope.row.dis_product_pirce}}</span>
                    </template>
                </el-table-column>
                <el-table-column width="150" :label="$lang('优惠后商品价格范围（页面币种）')"> 
                    <template slot-scope="scope">
                        <span>{{scope.row.currency_cd_val}} {{scope.row.dis_product_pirce_back}}</span>
                        <span v-if="scope.row.dis_product_pirce_front && scope.row.dis_product_pirce_back">{{$lang('至')}}</span>
                        <span>{{scope.row.currency_cd_val}} {{scope.row.dis_product_pirce_back}}</span>
                    </template>
                </el-table-column>
                <el-table-column width="150" :label="$lang('利润率范围')"> 
                    <template slot-scope="scope">
                        <span v-if="scope.row.profit_front">{{scope.row.profit_front}}%</span>
                        <span v-if="scope.row.profit_front && scope.row.profit_back">{{$lang('至')}}</span>
                        <span v-if="scope.row.profit_back">{{scope.row.profit_back}}%</span>
                    </template>
                </el-table-column>
                <el-table-column width="120" :label="$lang('标签类型')">
                    <template slot-scope="scope">
                        <span>{{scope.row.type_cd_val}}</span>
                    </template>
                </el-table-column>
                <el-table-column width="120" :label="$lang('标签名称')">
                    <template slot-scope="scope">
                        <span>{{scope.row.tag_name}}</span>
                    </template>
                </el-table-column>
                <el-table-column width="150" :label="$lang('驳回原因')"> 
                    <template slot-scope="scope">
                        <span>{{scope.row.rebuttal_reasons}}</span>
                    </template>
                </el-table-column>
                
        </el-table>
            </div>
        </div>

        <!-- 分页 -->
        <div style="text-align: right;margin-top: 20px;">
            <el-pagination
                    background
                    @current-change="handleCurrentChange"
                    @size-change="handleSizeChange"
                    :current-page.sync="page.this_page"
                    :page-size="page.page_count"
                    :page-sizes="[10, 30, 50, 100]"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="page.count">
            </el-pagination>
        </div>
        <!-- dialog -->
        <el-dialog
            :title="$lang('提示')"
            :visible.sync="dialogVisible"
            width="30%"
            :before-close="handleClose">
            <span>{{$lang("请输入驳回原因")}}</span>

            <el-input
                style="margin-top: 20px;"
                type="textarea"
                :rows="2"
                :placeholder="$lang('请输入内容')"
                v-model="rebuttal_reasons">
            </el-input>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">{{$lang('取消')}}</el-button>
                <el-button type="primary" @click="edit('N003590002')">{{$lang('确定')}}</el-button>
            </span>
        </el-dialog>

    </div>
</body>
<script type="text/javascript" src="./Application/Tpl/Home/Public/lib/jquery/1.9.1/jquery.min.js"></script>
<script src="./Application/Tpl/Home/Public/js/queryString.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/H-ui.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/utils/utils.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/H-ui.admin.js?v=<{$Think.config.VER_NUM}>"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/vue.2.5.13.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/axios.min.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/element-ui-2.9.1.js?v=<{$Think.const.V}>"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/element-en.js"></script>
<script>
    if (getCookie('think_language') !== "zh-cn") {
        ELEMENT.locale(ELEMENT.lang.en)
    };
    var Vm = new Vue({
        el: '#promotionDemandList',
        data: {
					countryName: [],
          cds:[],
          cds_name:[],
            form: {
                search:{
									area_id: '',
									status_cd: ['N003590004','N003590003'],
									promotion_demand_no: '',
									create_by: [],
									create_at: '',
									promotion_type_cd: [],
									platform_cd: [],
									site_cd: [],
									sku_id: '',
									product_name:'',
                  type_cd:"",
                  tag_name:""
                }
            },
            page:{
                count:0,
                this_page:1,
                page_count:10,
            },
            tableLoading:false,
            multipleSelection:[],
            tableData:[],
            promotion_demand_status:[],
            promotion_demand_type:[],
            new_plat:[],
            plat:[],
            users:[],
            rebuttal_reasons:'',
            dialogVisible:false,
            tableHeight:null,
        },
        created() {
            this.getCommonData();
            this.getTableData();
            this.getCountry()
        },
        mounted() {
                var _this = this
                console.log('innerHeight',window.innerHeight);
                _this.tableHeight = window.innerHeight - 80;

                window.onresize = () => {
                    return (() => {
                        _this.tableHeight = window.innerHeight - 80;

                    })()
                }

        },
        methods: {
          getCountry() {
						var param = {
								'erp-cookie': 'PHPSESSID=' + getCookie('PHPSESSID') + ';',
								'erp-req': true
						}

						var headers = {
							headers: {
								'erp-req': true,
								'erp-cookie': 'PHPSESSID=' + getCookie('PHPSESSID') + ';',
								'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
							}
						}


						var host = (window.location.origin == window.location.protocol + "//erp.gshopper.com") ?
								window.location.protocol + "//insight.gshopper.com/insight-backend/gpActivity" :
								((window.location.origin == window.location.protocol + "//erp.gshopper.prod.com") ?
										window.location.protocol + "//insight.gshopper.prod.com/insight-backend/gpActivity" :
										window.location.protocol + "//insight.gshopper.stage.com/insight-backend/gpActivity");

                        
						axios.post(host + '/queryCountryName', param, {
								headers:headers.headers
						}).then((res) => {
								if(res.data.success === true){
									this.countryName = res.data.datas
								}else{
									this.$message.warning(res.msg);
								}
						})
					},
          importFileFun:function(response, file, fileList){
            if(response.code === 2000 ){
              this.$message.success(this.$lang('发起成功'))
            }else{
              var html = '';
              for(var x in response.data){
                html+='<div>'+response.data[x]+'</div>'
              }
              this.$alert(html, this.$lang('导入失败'), {
                confirmButtonText: this.$lang('确定'),
                dangerouslyUseHTMLString: true
              })
            }
          },
          down:function(){
            axios.post('/index.php?g=Marketing&m=PromotionDemand&a=down', Qs.stringify({
              file_name:'promotion_demand_import.xlsx'
            }), {
              responseType: 'blob'
            }).then((res) => {
              let blob = res.data
              let reader = new FileReader()
              reader.readAsDataURL(blob)
              reader.onload = (e) => {
                let a = document.createElement('a')
                let fileName = `模板.xlsx`
                a.download = fileName
                a.href = e.target.result
                document.body.appendChild(a)
                a.click()
                document.body.removeChild(a)
              }
            }).catch(err => {
              console.log(err)
            });
          },
            getCommonData:function(){
                var _this = this;
                var idd = _this.getQueryVariable('id')
                if(idd){
                    _this.form.search.promotion_demand_no = idd
                }
              var _this =this
              axios.post('/index.php?g=Marketing&m=PromotionTag&a=getListData', {
              }).then(function (res) {
                if(res.data.code === 2000){
                  _this.cds_name = res.data.data
                }
              })
              axios.post('/index.php?g=universal&m=dictionary&a=getCodeList', {
                search:{code_id: "",
                  code_value: "",
                  comment_content: "",
                  comment_type: "",
                  need_count: 1,
                  prefix: "N00374"},
                pages:{current_page: 1,
                  per_page: 100}
              }).then(function (res) {
                if(res.data.code === 200){
                  _this.cds = res.data.data.data
                }
              })
            /*  axios.post('/index.php?g=Marketing&m=PromotionTag&a=getData', {
                "type_cd":"N003740001"
              }).then(function (res) {
                if(res.data.code === 2000){
                  _this.cds = res.data.data
                }
              })*/

                axios.post('/index.php?g=common&m=index&a=get_cd', {
                    cd_type: {
                        promotion_demand_status: false,
                        promotion_demand_type: false,
                        new_plat: false,
                        // plat: false,
                    }
                }).then(function (res) {
                    if (res.data.code === 2000) {
                        console.log('res',res);
                        _this.promotion_demand_status = res.data.data.promotion_demand_status
                        _this.promotion_demand_type = res.data.data.promotion_demand_type
                        _this.new_plat = res.data.data.new_plat
                        // _this.plat = res.data.data.plat
                    }
                })

                axios.post('/index.php?g=oms&m=CommonData&a=commonData', {
                    "data": {
                        "query": {
                            users: true,
                        },
                        "type":"sorting"
                    }
                }).then(function (res) {
                    if (res.data.code === 2000) {
                        _this.users = res.data.data.users
                    }
                })

                _this.selectPlatform()
          
            },
            getQueryVariable:function(variable){
                var query = window.location.search.substring(1);
                var vars = query.split("&");
                for (var i=0;i<vars.length;i++) {
                        var pair = vars[i].split("=");
                        if(pair[0] == variable){return pair[1];}
                }
                return(false);
            },
            selectPlatform:function(val){
                console.log(val);
                var _this = this;
                // if(index != undefined && !type){
                //     _this.tableData[index].site_cd = ''
                // }
                // val = val.split(",")

                axios.post('/index.php?g=oms&m=order&a=getSite', {
                    plat_cd: val ? val : []
                }).then(function (res) {
                    if (res.data && res.data.code == 2000) {
                        _this.plat = res.data.data
                    } else {
                        _this.$message.error(res.data.msg || _this.$lang('获取站点异常'));
                    }
                })

            },
            getTableData:function(){
                var _this = this;
                console.log(_this.form.search);
                var params = {
                    "search":{
                        "status_cd" : _this.form.search.status_cd.join(","),
                        "promotion_demand_no" : _this.form.search.promotion_demand_no,
                        "create_by" : _this.form.search.create_by.join(","),
                        "create_at_start" : _this.form.search.create_at ? _this.form.search.create_at[0] : '',
                        "create_at_end" : _this.form.search.create_at ? _this.form.search.create_at[1] : '',
                        "promotion_type_cd" : _this.form.search.promotion_type_cd.join(","),
                        "platform_cd" : _this.form.search.platform_cd.join(","),
                        "site_cd" : _this.form.search.site_cd.join(","),
                        "sku_id" : _this.form.search.sku_id,
                        "product_name" : _this.form.search.product_name,
                      type_cd:_this.form.search.type_cd,
                      tag_name:_this.form.search.tag_name,
                      area_id:_this.form.search.area_id
                    },
                    "pages":{
                        "per_page": _this.page.page_count,
                        "current_page": _this.page.this_page
                    }
                };
                axios.post("/index.php?g=Marketing&m=PromotionDemand&a=getList", params).then(function(res){
                    console.log(res);
                    if (res.data.code == 2000) {
                        _this.tableData = res.data.data.datas
                        _this.page.count = Number(res.data.data.page[0].total_rows)
                    }else {
                        _this.$message.warning(res.data.msg);
                    }
                })
            },
            reset:function(){
                this.form.search = {
                    status_cd: ['N003590004','N003590003'],
                    promotion_demand_no: '',
                    create_by: [],
                    create_at: '',
                    promotion_type_cd: [],
                    platform_cd: [],
                    site_cd: [],
                    sku_id: '',
                    product_name:''
                }
                this.page = {
                    count:0,
                    this_page:1,
                    page_count:10,
                }
                this.getTableData()
            },
            view:function(val){
                console.log(val);
                newTab('/index.php?g=logistics&m=Expensebill&a=fee_detail&fee_id='+val.payment_id, this.$lang('费用单详情'));
            },
            openCopy:function(val){
                let url = val;
                let oInput = document.createElement('input');
                oInput.value = url;
                document.body.appendChild(oInput);
                oInput.select();
                document.execCommand("Copy");
                this.$message({
                message: this.$lang('已成功复制到剪切板'),
                type: 'success'
                });
                oInput.remove()
            },
            //翻页切换不同页面
            handleCurrentChange:function(val) {
                this.page.this_page = val;
                this.getTableData()
            },
            //切换每页展示的数目
            handleSizeChange:function (val) {
                this.page.this_page = 1;
                this.page.page_count = val;
                this.getTableData()
            },
            handleSelectionChange:function(val){
                console.log(val);
                this.multipleSelection = val;
            },
            releaseRequirements:function(){
                newTab('/index.php?m=management&a=create_promotion_demand', this.$lang('发布推广需求'));
            },
            copyRequirements:function(){
                console.log(this.multipleSelection);
                var multipleSelectionArr = this.multipleSelection
                var idd = ''
                var isStatus = true
                if(multipleSelectionArr.length == 0){
                    this.$message.warning(this.$lang('请勾选需求'))
                }else{
                    var promotionType = multipleSelectionArr[0].promotion_type_cd
                    var area = multipleSelectionArr[0].area_id

                    for (var item in multipleSelectionArr) {
                        if(idd){
                            idd = idd+','+multipleSelectionArr[item].promotion_demand_no
                        }else{
                            idd = multipleSelectionArr[item].promotion_demand_no
                        }

                       if((multipleSelectionArr[item].promotion_type_cd != promotionType) || (multipleSelectionArr[item].area_id != area)){
                        this.$message({
                            type: 'warning',
                            message: this.$lang('多个需求同时发起需确保推广 内容类型和推广国家相同')
                        });
                        isStatus = false
                        break; 
                       }
                    }

                    if(isStatus){
                        newTab('/index.php?m=management&a=create_promotion_demand&idd='+idd, this.$lang('发布推广需求'));
                    }

                }
            },
            claim:function(){
                console.log(this.multipleSelection);
                var multipleSelectionArr = this.multipleSelection
                var idd = ''
                var isStatus = true
                if(multipleSelectionArr.length == 0){
                    this.$message.warning(this.$lang('请勾选需求'))
                }else{
                    for (var item in multipleSelectionArr) {
                        console.log('item',item);
                        if(multipleSelectionArr[item].status_cd != 'N003590004' && multipleSelectionArr[item].status_cd != 'N003590003'){
                            this.$message({
                                type: 'warning',
                                message: this.$lang('需求状态不符合认领条件')
                            });  
                            isStatus = false
                            break;
                        }
                        if(idd){
                            idd = idd+','+multipleSelectionArr[item].promotion_demand_no
                        }else{
                            idd = multipleSelectionArr[item].promotion_demand_no
                        }
                    }
                    if(isStatus){
                        newTab('/index.php?m=management&a=claim_demand&source=demand&idd='+idd, this.$lang('认领推广需求'));
                    }
                }
                
            },
            edit:function(type){
                var _this = this
                var params = []
                var isStatus = true
                var multipleSelectionArr = _this.multipleSelection

                for (var item in multipleSelectionArr) {

                    if(multipleSelectionArr[item].status_cd != 'N003590004' && multipleSelectionArr[item].status_cd != 'N003590003'){
                        _this.$message({
                            type: 'warning',
                            message: _this.$lang('需求状态不符合驳回条件')
                        });  
                        isStatus = false
                        break;
                    }


                    var obj = {}
                    obj.promotion_demand_no = multipleSelectionArr[item].promotion_demand_no
                    obj.status_cd = type
                    obj.rebuttal_reasons = _this.rebuttal_reasons ? _this.rebuttal_reasons : ''
                    params.push(obj)
                }

                if(isStatus){

                    if(type == 'N003590001'){
                        var prompt = _this.$lang('确定要关闭需求吗？')
                    }else if(type == 'N003590002'){
                        var prompt = _this.$lang('确定要驳回需求吗？')
                    }
                    
                    if(multipleSelectionArr.length == 0){
                        _this.$message.warning(_this.$lang('请勾选需求'))
                    }else if(multipleSelectionArr.length > 0 && type == 'turnDown'){
                        _this.dialogVisible = true
                    }else if(multipleSelectionArr.length > 0 && type == 'N003590002' && _this.rebuttal_reasons == ''){
                        _this.$message({
                            type: 'warning',
                            message: _this.$lang('请输入驳回原因')
                        });  
                    }else{
                        
                            _this.$confirm(prompt, _this.$lang('提示'), {
                                confirmButtonText: _this.$lang('确定'),
                                cancelButtonText: _this.$lang('取消'),
                                type: 'warning'
                            }).then(() => {
                                axios.post('/index.php?g=Marketing&m=PromotionDemand&a=edit', {
                                    "post_data": params
                                }).then(function (res) {
                                    console.log(res);
                                    if (res.data.code === 2000) {
                                        _this.$message({
                                            type: 'success',
                                            message: _this.$lang('操作成功')
                                        });  
                                        _this.rebuttal_reasons = ''
                                        _this.dialogVisible = false
                                        _this.getTableData()

                                    }else{
                                        _this.$message.warning(res.data.msg);
                                    }
                                })
                            }).catch(() => {
                                _this.$message({
                                    type: 'info',
                                    message: _this.$lang('已取消关闭')
                                });          
                            });

                    }

                }



                
               
            },
            handleClose:function(done){
                this.rebuttal_reasons = ''
                done();
            },
           


        },
    })
</script>

</html>