<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/default.css?v=<{$Think.const.V}>">
    <title>调拨审批</title>
</head>
<body id="content" style="padding: 0px 20px;">
<div id="main">
    <!--<div>
        <p style="font-size: 18px;color: #263238;font-weight: bold;">邮件发送流程：</p>
        <p>提交后发给审核人的邮箱</p>
    </div>-->
      <div class="table table-striped table-detail-bg" style="padding-bottom: 10px;">
          <div>
              <div>
                      <div   style="background: #546E7A !important;color: #FFFFFF !important;letter-spacing: 0;padding: 0px;text-indent: 20px;text-align: left !important;font-size: 15px !important;height: 40px;line-height: 40px;">基础信息</div>
                  </div>
              </div>
          <div class="text-c" style="overflow: hidden;text-align: center">
              <div v-if="!option.no" style="width: 50%;float:left;display: flex">
                      <div class="w-200" style="    width: 200px;border-left: 1px solid #CADEE7;border-right: 1px solid #CADEE7;border-bottom: 1px solid #ECEFF1;height: 20px;padding: 10px 0;border-top:1px solid rgba(0,0,0,0);color: #546E7A;background: #F7F9FB;">调拨单号</div>
                      <div style="flex:1;color: #546E7A;border-bottom: 1px solid #ECEFF1;border-right: 1px solid #CADEE7;border-top:1px solid rgba(0,0,0,0);height: 20px;padding: 10px"><{$data['info']['allo_no']}></div>
                  </div>
              <div v-if="!option.no"  style="width: 50%;float:left;display: flex">
                      <div class="w-200" style="    width: 200px;border-left: 1px solid #CADEE7;border-right: 1px solid #CADEE7;border-bottom: 1px solid #ECEFF1;height: 20px;padding: 10px 0;border-top:1px solid rgba(0,0,0,0);color: #546E7A;background: #F7F9FB;">调拨单状态</div>
                      <div style="flex:1;color: #546E7A;border-bottom: 1px solid #ECEFF1;border-right: 1px solid #CADEE7;border-top:1px solid rgba(0,0,0,0);height: 20px;padding: 10px"><{$data['info']['state_val']}></div>
                  </div>
              <div  style="width: 50%;float:left;display: flex">
                      <div class="w-200" style="width: 200px;border-left: 1px solid #CADEE7;border-right: 1px solid #CADEE7;border-bottom: 1px solid #ECEFF1;height: 20px;padding: 10px 0;border-top:1px solid rgba(0,0,0,0);color: #546E7A;background: #F7F9FB;">调出仓库</div>
                      <div style="flex:1;color: #546E7A;border-bottom: 1px solid #ECEFF1;border-right: 1px solid #CADEE7;border-top:1px solid rgba(0,0,0,0);height: 20px;padding: 10px"><{$data['info']['allo_out_warehouse_cd_val']}></div>
                  </div>
              <div  style="width: 50%;float:left;display: flex">
                      <div class="w-200" style="width: 200px;border-left: 1px solid #CADEE7;border-right: 1px solid #CADEE7;border-bottom: 1px solid #ECEFF1;height: 20px;padding: 10px 0;border-top:1px solid rgba(0,0,0,0);color: #546E7A;background: #F7F9FB;">始发仓库位置</div>
                      <div style="flex:1;color: #546E7A;border-bottom: 1px solid #ECEFF1;border-right: 1px solid #CADEE7;border-top:1px solid rgba(0,0,0,0);height: 20px;padding: 10px"><{$data['info']['originating_warehouse_location']}></div>
                  </div>
              <div  style="width: 50%;float:left;display: flex">
                      <div  class="w-200" style="width: 200px;border-left: 1px solid #CADEE7;border-right: 1px solid #CADEE7;border-bottom: 1px solid #ECEFF1;height: 20px;padding: 10px 0;border-top:1px solid rgba(0,0,0,0);color: #546E7A;background: #F7F9FB;">调入仓库</div>
                      <div style="flex:1;color: #546E7A;border-bottom: 1px solid #ECEFF1;border-right: 1px solid #CADEE7;border-top:1px solid rgba(0,0,0,0);height: 20px;padding: 10px"><{$data['info']['allo_in_warehouse_cd_val']}></div>
                  </div>
              <div  style="width: 50%;float:left;display: flex">
                      <div  class="w-200" style="width: 200px;border-left: 1px solid #CADEE7;border-right: 1px solid #CADEE7;border-bottom: 1px solid #ECEFF1;height: 20px;padding: 10px 0;border-top:1px solid rgba(0,0,0,0);color: #546E7A;background: #F7F9FB;">目的仓库位置</div>
                      <div style="flex:1;color: #546E7A;border-bottom: 1px solid #ECEFF1;border-right: 1px solid #CADEE7;border-top:1px solid rgba(0,0,0,0);height: 20px;padding: 10px"><{$data['info']['destination_warehouse_location']}></div>
                  </div>
              <div  style="width: 50%;float:left;display: flex">
                      <div  class="w-200" style="width: 200px;border-left: 1px solid #CADEE7;border-right: 1px solid #CADEE7;border-bottom: 1px solid #ECEFF1;height: 20px;padding: 10px 0;border-top:1px solid rgba(0,0,0,0);color: #546E7A;background: #F7F9FB;">销售团队</div>
                      <div style="flex:1;color: #546E7A;border-bottom: 1px solid #ECEFF1;border-right: 1px solid #CADEE7;border-top:1px solid rgba(0,0,0,0);height: 20px;padding: 10px"><{$data['info']['allo_in_team_val']}></div>
                  </div>
              <div  style="width: 50%;float:left;display: flex">
                      <div  class="w-200" style="width: 200px;border-left: 1px solid #CADEE7;border-right: 1px solid #CADEE7;border-bottom: 1px solid #ECEFF1;height: 20px;padding: 10px 0;border-top:1px solid rgba(0,0,0,0);color: #546E7A;background: #F7F9FB;">调拨直接用途</div>
                      <div style="flex:1;color: #546E7A;border-bottom: 1px solid #ECEFF1;border-right: 1px solid #CADEE7;border-top:1px solid rgba(0,0,0,0);height: 20px;padding: 10px"><{$data['info']['transfer_use_type_val']}></div>
                  </div>
              <div  style="width: 50%;float:left;display: flex">
                      <div  class="w-200" style="width: 200px;border-left: 1px solid #CADEE7;border-right: 1px solid #CADEE7;border-bottom: 1px solid #ECEFF1;height: 20px;padding: 10px 0;border-top:1px solid rgba(0,0,0,0);color: #546E7A;background: #F7F9FB;">应审核人</div>
                      <div style="flex:1;color: #546E7A;border-bottom: 1px solid #ECEFF1;border-right: 1px solid #CADEE7;border-top:1px solid rgba(0,0,0,0);height: 20px;padding: 10px"><{$data['info']['reviewer_by']}></div>
                  </div>
              <div  style="width: 50%;float:left;display: flex">
                      <div  class="w-200" style="width: 200px;border-left: 1px solid #CADEE7;border-right: 1px solid #CADEE7;border-bottom: 1px solid #ECEFF1;height: 20px;padding: 10px 0;border-top:1px solid rgba(0,0,0,0);color: #546E7A;background: #F7F9FB;">作业确认责任人</div>
                      <div style="flex:1;color: #546E7A;border-bottom: 1px solid #ECEFF1;border-right: 1px solid #CADEE7;border-top:1px solid rgba(0,0,0,0);height: 20px;padding: 10px"><{$data['info']['task_launch_by']}></div>
                  </div>
              <div  style="width: 50%;float:left;display: flex">
                      <div  class="w-200" style="width: 200px;border-left: 1px solid #CADEE7;border-right: 1px solid #CADEE7;border-bottom: 1px solid #ECEFF1;height: 20px;padding: 10px 0;border-top:1px solid rgba(0,0,0,0);color: #546E7A;background: #F7F9FB;">出库确认责任人</div>
                      <div style="flex:1;color: #546E7A;border-bottom: 1px solid #ECEFF1;border-right: 1px solid #CADEE7;border-top:1px solid rgba(0,0,0,0);height: 20px;padding: 10px"><{$data['info']['transfer_out_library_by']}></div>
                  </div>
              <div  style="width: 50%;float:left;display: flex">
                      <div  class="w-200" style="width: 200px;border-left: 1px solid #CADEE7;border-right: 1px solid #CADEE7;border-bottom: 1px solid #ECEFF1;height: 20px;padding: 10px 0;border-top:1px solid rgba(0,0,0,0);color: #546E7A;background: #F7F9FB;">入库确认责任人</div>
                      <div style="flex:1;color: #546E7A;border-bottom: 1px solid #ECEFF1;border-right: 1px solid #CADEE7;border-top:1px solid rgba(0,0,0,0);height: 20px;padding: 10px"><{$data['info']['transfer_warehousing_by']}></div>
                  </div>
              <div  style="width: 50%;float:left;display:<?php echo (strstr($data['info']['allo_out_warehouse_cd_val'], '发网仓')?"flex":"none");?>">
                      <div  class="w-200" style="width: 200px;border-left: 1px solid #CADEE7;border-right: 1px solid #CADEE7;border-bottom: 1px solid #ECEFF1;height: 20px;padding: 10px 0;border-top:1px solid rgba(0,0,0,0);color: #546E7A;background: #F7F9FB;">是否对接发网仓</div>
                      <div style="flex:1;color: #546E7A;border-bottom: 1px solid #ECEFF1;border-right: 1px solid #CADEE7;border-top:1px solid rgba(0,0,0,0);height: 20px;padding: 10px"><{$data['info']['use_fawang_logistics_val']}></div>
                  </div>
              <div  style="width: 50%;float:left;display: flex">
                        <div  class="w-200" style="width: 200px;border-left: 1px solid #CADEE7;border-right: 1px solid #CADEE7;border-bottom: 1px solid #ECEFF1;height: 20px;padding: 10px 0;border-top:1px solid rgba(0,0,0,0);color: #546E7A;background: #F7F9FB;">货值总额（CNY，不含税）</div>
                        <div style="flex:1;color: #546E7A;border-bottom: 1px solid #ECEFF1;border-right: 1px solid #CADEE7;border-top:1px solid rgba(0,0,0,0);height: 20px;padding: 10px"><{$data['info']['total_value_goods']}></div>
                    </div>
                <div  style="width: 50%;float:left;display: <?php echo ($data['info']['transfer_use_type_val'] === "销售"?"flex":"none");?>">
                        <div  class="w-200" style="width: 200px;border-left: 1px solid #CADEE7;border-right: 1px solid #CADEE7;border-bottom: 1px solid #ECEFF1;height: 20px;padding: 10px 0;border-top:1px solid rgba(0,0,0,0);color: #546E7A;background: #F7F9FB;">销售总额（CNY，不含税）</div>
                        <div style="flex:1;color: #546E7A;border-bottom: 1px solid #ECEFF1;border-right: 1px solid #CADEE7;border-top:1px solid rgba(0,0,0,0);height: 20px;padding: 10px"><{$data['info']['total_sales']}></div>
                    </div>
                <div  style="width: 50%;float:left;display: flex">
                        <div  class="w-200" style="width: 200px;border-left: 1px solid #CADEE7;border-right: 1px solid #CADEE7;border-bottom: 1px solid #ECEFF1;padding: 10px 0;border-top:1px solid rgba(0,0,0,0);color: #546E7A;background: #F7F9FB;height:20px;display: flex;justify-content: center;align-items: center;">期望出库日期 </div>
                        <div style="flex:1;color: #546E7A;border-bottom: 1px solid #ECEFF1;border-right: 1px solid #CADEE7;border-top:1px solid rgba(0,0,0,0);height:20px;padding: 10px;display: flex;
            justify-content: center;
            align-items: center;">
                                <span ><{$data['info']['expected_delivery_date']}></span>
                            </div>
                    </div>
                <div  style="width: 50%;float:left;display: flex">
                        <div  class="w-200" style="width: 200px;border-left: 1px solid #CADEE7;border-right: 1px solid #CADEE7;border-bottom: 1px solid #ECEFF1;padding: 10px 0;border-top:1px solid rgba(0,0,0,0);color: #546E7A;background: #F7F9FB;height:20px;display: flex;justify-content: center;align-items: center;">期望入库日期 </div>
                        <div style="flex:1;color: #546E7A;border-bottom: 1px solid #ECEFF1;border-right: 1px solid #CADEE7;border-top:1px solid rgba(0,0,0,0);height:20px;padding: 10px;display: flex;
            justify-content: center;
            align-items: center;">

                                <span><{$data['info']['expected_warehousing_date']}></span>
                            </div>
                    </div>
                <div  style="width: 50%;float:left;display: flex">
                        <div  class="w-200" style="width: 200px;border-left: 1px solid #CADEE7;border-right: 1px solid #CADEE7;border-bottom: 1px solid #ECEFF1;padding: 10px 0;border-top:1px solid rgba(0,0,0,0);color: #546E7A;background: #F7F9FB;height:20px;display: flex;justify-content: center;align-items: center;">计划运输渠道 </div>
                        <div style="flex:1;color: #546E7A;border-bottom: 1px solid #ECEFF1;border-right: 1px solid #CADEE7;border-top:1px solid rgba(0,0,0,0);height:20px;padding: 10px;display: flex;
            justify-content: center;
            align-items: center;">
                                <span ><{$data['info']['planned_transportation_channel_cd_val']}></span>
                            </div>
                    </div>
                <div  style="width: 50%;float:left;display: flex">
                        <div  class="w-200" style="width: 200px;border-left: 1px solid #CADEE7;border-right: 1px solid #CADEE7;border-bottom: 1px solid #ECEFF1;height: 20px;padding: 10px 0;border-top:1px solid rgba(0,0,0,0);color: #546E7A;background: #F7F9FB;">发起人</div>
                        <div style="flex:1;color: #546E7A;border-bottom: 1px solid #ECEFF1;border-right: 1px solid #CADEE7;border-top:1px solid rgba(0,0,0,0);height: 20px;padding: 10px"><{$data['info']['create_user']}></div>
                    </div>
                <div style="width: 50%;float:left;display: flex">
                        <div  class="w-200" style="width: 200px;border-left: 1px solid #CADEE7;border-right: 1px solid #CADEE7;border-bottom: 1px solid #ECEFF1;height: 20px;padding: 10px 0;border-top:1px solid rgba(0,0,0,0);color: #546E7A;background: #F7F9FB;">发起时间</div>
                        <div style="flex:1;color: #546E7A;border-bottom: 1px solid #ECEFF1;border-right: 1px solid #CADEE7;border-top:1px solid rgba(0,0,0,0);height: 20px;padding: 10px"><{$data['info']['create_time']}></div>
                    </div>
                </div>
        </div>

    <table style="margin: 10px 0px 10px 0px;width: 100%;    border-collapse: collapse;display:<?php echo ($data['info']['transfer_use_type_val'] === "销售"?"inline-table":"none");?>">
        <thead>
        <tr>
            <th colspan="7"  style="background: #546E7A !important;color: #FFFFFF !important;letter-spacing: 0;padding: 0px;text-indent: 20px;text-align: left !important;font-size: 15px !important;height: 40px;line-height: 40px;">利润信息</th>
        </tr>
        </thead>
        <tbody class="text-c">
        <tr>
            <td  style="padding: 8px;line-height: 20px;word-break: break-all;border-bottom: 1px solid #ECEFF1;border-top: 1px solid #ECEFF1;border-left: 1px solid #CADEE7;border-right: 1px solid #CADEE7;background: #F7F9FB;color: #546E7A;letter-spacing: 0;text-align: center;">毛利</td>
            <td  style="padding: 8px;line-height: 20px;word-break: break-all;border-bottom: 1px solid #ECEFF1;border-top: 1px solid #ECEFF1;border-left: 1px solid #CADEE7;border-right: 1px solid #CADEE7;background: white;color: #546E7A;letter-spacing: 0;text-align: center;width: 35%;">￥<{$data['profit']['gross_profit']}></td>
            <td  style="padding: 8px;line-height: 20px;word-break: break-all;border-bottom: 1px solid #ECEFF1;border-top: 1px solid #ECEFF1;border-left: 1px solid #CADEE7;border-right: 1px solid #CADEE7;background: #F7F9FB;color: #546E7A;letter-spacing: 0;text-align: center;">毛利率</td>
            <td  style="padding: 8px;line-height: 20px;word-break: break-all;border-bottom: 1px solid #ECEFF1;border-top: 1px solid #ECEFF1;border-left: 1px solid #CADEE7;border-right: 1px solid #CADEE7;background: white;color: #546E7A;letter-spacing: 0;text-align: center;width: 35%;"><{$data['profit']['gross_profit_margin']}><{$data['profit']['gross_profit_margin_symbol']}></td>
        </tr>
        </tbody>
    </table>

    <table style="    margin-bottom: 10px;    width: 100%;empty-cells: show;background-color: transparent;border-collapse: collapse;border-spacing: 0;">
        <thead>
        <th style="font-weight: normal;border: 1px solid #668491;word-break: keep-all;white-space: nowrap;padding: 0px 5px;height: 40px;text-align: center;background-color: #537a8c;color: white;">序号</th>
        <th style="font-weight: normal;border: 1px solid #668491;word-break: keep-all;white-space: nowrap;padding: 0px 5px;height: 40px;text-align: center;background-color: #537a8c;color: white;">SKU条码</th>
        <th style="font-weight: normal;border: 1px solid #668491;word-break: keep-all;white-space: nowrap;padding: 0px 5px;height: 40px;text-align: center;background-color: #537a8c;color: white;">条形码</th>
        <th style="font-weight: normal;border: 1px solid #668491;word-break: keep-all;white-space: nowrap;padding: 0px 5px;height: 40px;text-align: center;background-color: #537a8c;color: white;">商品名称</th>
        <th style="font-weight: normal;border: 1px solid #668491;word-break: keep-all;white-space: nowrap;padding: 0px 5px;height: 40px;text-align: center;background-color: #537a8c;color: white;">商品属性</th>
        <th style="font-weight: normal;border: 1px solid #668491;word-break: keep-all;white-space: nowrap;padding: 0px 5px;height: 40px;text-align: center;background-color: #537a8c;color: white;">商品图片</th>
        <th style="font-weight: normal;border: 1px solid #668491;word-break: keep-all;white-space: nowrap;padding: 0px 5px;height: 40px;text-align: center;background-color: #537a8c;color: white;">平均不含税商品单价（CNY）</th>
        <th style="font-weight: normal;border: 1px solid #668491;word-break: keep-all;white-space: nowrap;padding: 0px 5px;height: 40px;text-align: center;background-color: #537a8c;color: white;">平均PO内费用单价（CNY）</th>
        <th style="font-weight: normal;border: 1px solid #668491;word-break: keep-all;white-space: nowrap;padding: 0px 5px;height: 40px;text-align: center;background-color: #537a8c;color: white;">PO外费用单价(CNY)</th>
        <th style="font-weight: normal;border: 1px solid #668491;word-break: keep-all;white-space: nowrap;padding: 0px 5px;height: 40px;text-align: center;background-color: #537a8c;color: white;display: <?php echo ($data['info']['transfer_use_type_val'] === "销售"?"table-cell":"none");?>">不含税销售单价</th>
        <th style="font-weight: normal;border: 1px solid #668491;word-break: keep-all;white-space: nowrap;padding: 0px 5px;height: 40px;text-align: center;background-color: #537a8c;color: white;display: <?php echo ($data['info']['transfer_use_type_val'] === "销售"?"table-cell":"none");?>">不含税销售单价（CNY)</th>
        <th style="font-weight: normal;border: 1px solid #668491;word-break: keep-all;white-space: nowrap;padding: 0px 5px;height: 40px;text-align: center;background-color: #537a8c;color: white;">调拨数量</th>
        </thead>
        <tbody>
        <volist name="data['goods']" id="vo">
            <tr style="    margin-bottom: 5px;text-align: center;    word-wrap: break-word;">
                <td style="border-bottom: 1px solid #CADEE7; border-top: 1px solid #CADEE7;border-left: 1px solid #ECEFF1; border-right: 1px solid #ECEFF1;color: #263238;font-size: 13px;padding: 8px;line-height: 20px;word-break: break-all;"><{$i}></td>
                <td style="border-bottom: 1px solid #CADEE7; border-top: 1px solid #CADEE7;border-left: 1px solid #ECEFF1; border-right: 1px solid #ECEFF1;color: #263238;font-size: 13px;padding: 8px;line-height: 20px;word-break: break-all;"><{$vo['sku_id']}></td>
                <td style="border-bottom: 1px solid #CADEE7; border-top: 1px solid #CADEE7;border-left: 1px solid #ECEFF1; border-right: 1px solid #ECEFF1;color: #263238;font-size: 13px;padding: 8px;line-height: 20px;word-break: break-all;"><{$vo['upc_id']}></td>
                <td style="border-bottom: 1px solid #CADEE7; border-top: 1px solid #CADEE7;border-left: 1px solid #ECEFF1; border-right: 1px solid #ECEFF1;color: #263238;font-size: 13px;padding: 8px;line-height: 20px;word-break: break-all;"><{$vo['spu_name']}></td>
                <td style="border-bottom: 1px solid #CADEE7; border-top: 1px solid #CADEE7;border-left: 1px solid #ECEFF1; border-right: 1px solid #ECEFF1;color: #263238;font-size: 13px;padding: 8px;line-height: 20px;word-break: break-all;"><{$vo['attributes']}></td>
                <td style="border-bottom: 1px solid #CADEE7; border-top: 1px solid #CADEE7;border-left: 1px solid #ECEFF1; border-right: 1px solid #ECEFF1;color: #263238;font-size: 13px;padding: 8px;line-height: 20px;word-break: break-all;"><img src="<{$vo['image_url']}>" alt="" style="width: 250px"></td>
                <td style="border-bottom: 1px solid #CADEE7; border-top: 1px solid #CADEE7;border-left: 1px solid #ECEFF1; border-right: 1px solid #ECEFF1;color: #263238;font-size: 13px;padding: 8px;line-height: 20px;word-break: break-all;"> <{$vo['average_price_goods_without_tax_cny']}></td>
                <td style="border-bottom: 1px solid #CADEE7; border-top: 1px solid #CADEE7;border-left: 1px solid #ECEFF1; border-right: 1px solid #ECEFF1;color: #263238;font-size: 13px;padding: 8px;line-height: 20px;word-break: break-all;"> <{$vo['average_po_internal_cost_cny']}></td>
                <td style="border-bottom: 1px solid #CADEE7; border-top: 1px solid #CADEE7;border-left: 1px solid #ECEFF1; border-right: 1px solid #ECEFF1;color: #263238;font-size: 13px;padding: 8px;line-height: 20px;word-break: break-all;"> <{$vo['po_outside_cost_unit_price_cny']}></td>
                <td style="border-bottom: 1px solid #CADEE7; border-top: 1px solid #CADEE7;border-left: 1px solid #ECEFF1; border-right: 1px solid #ECEFF1;color: #263238;font-size: 13px;padding: 8px;line-height: 20px;word-break: break-all;display: <?php echo ($data['info']['transfer_use_type_val'] === "销售"?"table-cell":"none");?>"> <div><{$vo['tax_free_sales_unit_price_currency_cd_val']}> <{$vo['tax_free_sales_unit_price']}></div></td>
                <td style="border-bottom: 1px solid #CADEE7; border-top: 1px solid #CADEE7;border-left: 1px solid #ECEFF1; border-right: 1px solid #ECEFF1;color: #263238;font-size: 13px;padding: 8px;line-height: 20px;word-break: break-all;display: <?php echo ($data['info']['transfer_use_type_val'] === "销售"?"table-cell":"none");?>"> <{$vo['tax_free_sales_unit_price']}></td>
                <td style="border-bottom: 1px solid #CADEE7; border-top: 1px solid #CADEE7;border-left: 1px solid #ECEFF1; border-right: 1px solid #ECEFF1;color: #263238;font-size: 13px;padding: 8px;line-height: 20px;word-break: break-all;">
                    <div>正品:<{$vo['transfer_authentic_products']}></div>
                    <div>残次品:<{$vo['transfer_defective_products']}></div>
                </td>
            </tr>
        </volist>
        <tr class="text-c">
            <td style="border-bottom: 1px solid #CADEE7; border-top: 1px solid #CADEE7;border-left: 1px solid #ECEFF1; border-right: 1px solid #ECEFF1;color: #263238;font-size: 13px;padding: 8px;line-height: 20px;word-break: break-all;">合计</td>
            <td style="border-bottom: 1px solid #CADEE7; border-top: 1px solid #CADEE7;border-left: 1px solid #ECEFF1; border-right: 1px solid #ECEFF1;color: #263238;font-size: 13px;padding: 8px;line-height: 20px;word-break: break-all;"></td>
            <td style="border-bottom: 1px solid #CADEE7; border-top: 1px solid #CADEE7;border-left: 1px solid #ECEFF1; border-right: 1px solid #ECEFF1;color: #263238;font-size: 13px;padding: 8px;line-height: 20px;word-break: break-all;"></td>
            <td style="border-bottom: 1px solid #CADEE7; border-top: 1px solid #CADEE7;border-left: 1px solid #ECEFF1; border-right: 1px solid #ECEFF1;color: #263238;font-size: 13px;padding: 8px;line-height: 20px;word-break: break-all;"></td>
            <td style="border-bottom: 1px solid #CADEE7; border-top: 1px solid #CADEE7;border-left: 1px solid #ECEFF1; border-right: 1px solid #ECEFF1;color: #263238;font-size: 13px;padding: 8px;line-height: 20px;word-break: break-all;"></td>
            <td style="border-bottom: 1px solid #CADEE7; border-top: 1px solid #CADEE7;border-left: 1px solid #ECEFF1; border-right: 1px solid #ECEFF1;color: #263238;font-size: 13px;padding: 8px;line-height: 20px;word-break: break-all;"></td>
            <td style="border-bottom: 1px solid #CADEE7; border-top: 1px solid #CADEE7;border-left: 1px solid #ECEFF1; border-right: 1px solid #ECEFF1;color: #263238;font-size: 13px;padding: 8px;line-height: 20px;word-break: break-all;"></td>
            <td style="border-bottom: 1px solid #CADEE7; border-top: 1px solid #CADEE7;border-left: 1px solid #ECEFF1; border-right: 1px solid #ECEFF1;color: #263238;font-size: 13px;padding: 8px;line-height: 20px;word-break: break-all;"></td>
            <td style="border-bottom: 1px solid #CADEE7; border-top: 1px solid #CADEE7;border-left: 1px solid #ECEFF1; border-right: 1px solid #ECEFF1;color: #263238;font-size: 13px;padding: 8px;line-height: 20px;word-break: break-all;"></td>
            <td style="border-bottom: 1px solid #CADEE7; border-top: 1px solid #CADEE7;border-left: 1px solid #ECEFF1; border-right: 1px solid #ECEFF1;color: #263238;font-size: 13px;padding: 8px;line-height: 20px;word-break: break-all;display: <?php echo ($data['info']['transfer_use_type_val'] === "销售"?"table-cell":"none");?>"></td>
            <td style="border-bottom: 1px solid #CADEE7; border-top: 1px solid #CADEE7;border-left: 1px solid #ECEFF1; border-right: 1px solid #ECEFF1;color: #263238;font-size: 13px;padding: 8px;line-height: 20px;word-break: break-all;display: <?php echo ($data['info']['transfer_use_type_val'] === "销售"?"table-cell":"none");?>"></td>
            <td style="border-bottom: 1px solid #CADEE7; border-top: 1px solid #CADEE7;border-left: 1px solid #ECEFF1; border-right: 1px solid #ECEFF1;color: #263238;font-size: 13px;padding: 8px;line-height: 20px;word-break: break-all;">
                <div>正品:<{$data['info']['sum_transfer_authentic_products']}></div>
                <div>残次品:<{$data['info']['sum_transfer_defective_products']}></div>
            </td>
        </tr>
        </tbody>
    </table>
    <div style="width: 100%;height: 36px; margin-top: 20px; margin-left: 20px;">
        <div style="width: 100%;text-align: center;">
            <a href="<{$review_url['agree']}>" style="display:inline-block;margin: 0px 10px;padding: 0px 20px;font-size: 14px;height: 36px;line-height: 40px;border: 1px solid #C8D2D7 !important;border-radius: 4px;color: #546E7A;letter-spacing: 0;cursor: pointer;outline: none;background: #1E7EB4;color: #ffffff">通过</a>
            <a href="<{$review_url['disagree']}>" style="display:inline-block;margin: 0px 10px;padding: 0px 20px;font-size: 14px;height: 36px;line-height: 40px;border: 1px solid #C8D2D7 !important;border-radius: 4px;color: #546E7A;letter-spacing: 0;cursor: pointer;outline: none;background: #ffffff;">拒绝</a>
        </div>
    </div>
</div>

</body>
</html>