<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/utils/css/public.style.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" href="./Application/Tpl/Home/Hr/hrstyle.css?v=20170922">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/element-ui-2.2.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/normailize.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/icon/css/font-awesome.min.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" href="./Application/Tpl/Oms/Public/css/list_common.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" href="./Application/Tpl/Oms/PickApart/invoice.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/default.css?v=<{$Think.const.V}>">
    <title>{{$lang('发票打印预览')}}</title>
</head>
<style>
    [v-cloak] {
        display: none !important;
    }
</style>

<body>
    <div v-cloak id="invoice-preview" class="list-common-main">
        <header>
            {{$lang('发票打印预览')}}
            <button class="common-btn" @click="doPrint">{{$lang('打印')}}</button>
        </header>
        <div class="invoice_main" v-for="(item,key,index) in invoiceInfo">
            <div class="invoice_item_content print01">
                <div class="invoice-item">
                    <header>
                        <p>Colorfourseason</p>
                        <p>China {{String(item.operational_contact_number)}}</p>
                    </header>
                    <div class="invoice_info cls">
                        <div class="invoice_info_left">
                            <ul>
                                <li>invoice Number:
                                    <span>{{item.order_invoice_information}}</span>
                                </li>
                                <li>Order Number:
                                    <span>{{item.order_number}}</span>
                                </li>
                                <li>Order Date:
                                    <span>{{item.order_time}}</span>
                                </li>
                                <li>Invoice To:
                                    <span>{{item.name_consignee}}</span>
                                </li>
                                <li>Invoice Date:
                                    <span>{{item.invoice_date}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="invoice_info_right">
                            <div>INVOICE</div>
                            <svg v-if="!!item.waybill_number" :jsbarcode-text="'*'+item.waybill_number+'*'" class="barcode" jsbarcode-format="code128" :jsbarcode-value="item.waybill_number" jsbarcode-fontoptions="bold"
                                jsbarcode-height="60" jsbarcode-fontSize="16" jsbarcode-textMargin="6" jsbarcode-width="1">
                            </svg>
                        </div>
                    </div>
                    <div class="invoice_contact">
                        <div class="invoice_contact-address cls">
                            <ul class="invoice_contact_left">
                                <li>{{item.contacts}}</li>
                                <li>{{item.eller_return_address}}</li>
                                <li>{{item.place}} {{item.sender_zip_code}}</li>
                                <li>{{item.phone}}</li>
                            </ul>
                            <ul class="invoice_contact_right">
                                <li>{{item.contacts}}</li>
                                <li>{{item.eller_return_address}}</li>
                                <li>{{item.place}} {{item.sender_zip_code}}</li>
                                <li>{{item.phone}}</li>
                            </ul>
                        </div>
                        <h3 class="cls">Payment Method:
                            <span style="font-weight: 400">Credit Card/Debit Card</span>
                        </h3>
                        <h4>Your ordered items for:
                            <span>{{item.order_number}}</span>
                        </h4>
                        <table border="0" cellspacing="0" cellpadding="0" width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Product name</th>
                                    <th>Seller SKU</th>
                                    <th>Shop SKU</th>
                                    <th>Price</th>
                                    <th>Paid Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(i,index) in item.guds">
                                    <td>{{index}}</td>
                                    <td>{{$lang(i.product_name)}}</td>
                                    <td>{{i.sku_id}}</td>
                                    <td>{{i.third_sku_id}}</td>
                                    <td>{{i.commodity_prices}}</td>
                                    <td>{{i.commodity_payment_price}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="invoice_total cls">
                        <ul>
                            <li>Subtotal:
                                <span>{{item.pay_currency}} {{item.pay_item_price }}
                                </span>
                            </li>
                            <li>Less:Voucher applied: {{item.pay_currency}} {{item.discount_prices}}</li>
                            <li>Total:{{item.pay_currency}} {{item.pay_item_price}}</li>
                            <li>Shipping:+{{item.pay_currency}} {{item.freight?item.freight:0}}</li>
                            <li>Net paid:{{item.pay_currency}} {{item.pay_price}}</li>
                        </ul>
                    </div>
                    <p class="invoice_text">
                        Upon receipt of your order, we encourage you to examine the parcel carefully and keep your buying invoice. Should there be
                        any item damage due to our transportation, please contact our customer service within 24 hours for
                        claim purposes.
                    </p>
                </div>

            </div>
            <div class="pageSize">{{index+1}} / {{Object.keys(invoiceInfo).length}}</div>
        </div>
    </div>

    <script type="text/javascript" src="./Application/Tpl/Home/Public/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="./Application/Tpl/Home/Public/js/H-ui.js"></script>
    <script type="text/javascript" src="./Application/Tpl/Home/Public/utils/utils.js"></script>
    <script type="text/javascript" src="./Application/Tpl/Oms/PickApart/jsBarcode.js"></script>
    <script type="text/javascript" src="./Application/Tpl/Home/Public/js/H-ui.admin.js?v=<{$Think.config.VER_NUM}>"></script>
    <script type="text/javascript" src="./Application/Tpl/Home/Public/js/vue.2.5.13.js"></script>
    <script type="text/javascript" src="./Application/Tpl/Home/Public/js/axios.min.js"></script>
    <script type="text/javascript" src="./Application/Tpl/Home/Public/js/element-ui-2.2.js"></script>
    <script>
        vm = new Vue({
            el: '#invoice-preview',
            data: {
                invoiceArr: [],
                invoiceInfo: {},
                isFinished: false
            },
            created: function () {
                this.invoiceArr = JSON.parse(sessionStorage.getItem('invoiceItems'));
                this.getInvoiceInfo(this.invoiceArr);
                setTimeout(function () {
                    JsBarcode(".barcode").init();
                    vm.isFinished = true;
                }, 500)
            },
            methods: {
                getInvoiceInfo:function(arr) {
                    var postData = {
                        "data": {
                            "b5c_order_no": this.invoiceArr
                        }
                    }
                    var _this = this;
                    axios.post("/index.php?g=OMS&m=Order&a=invoice",
                        postData).then(function (res) {
                        var data = res.data;
                        if (data.status == 200000) {
                            vm.invoiceInfo = data.data.datas;

                        } else {
                            vm.$message.error(_this.$lang(data.info))
                        }
                    })
                },
                doPrint:function() {
                    var newWindow = window.open('', '_blank'); //打开新窗口
                    var codestr = $(".print01"); //获取需要生成pdf页面的div代码 
                    console.log(codestr)
                    Array.prototype.forEach.call(codestr, function (el) {
                        newWindow.document.write(el.innerHTML); //向文档写入HTML表达式或者JavaScript代码
                        newWindow.document.write('<div style="page-break-before:right"></div>');
                    })
                    newWindow.document.write(
                        '<link rel="stylesheet" type="text/css" href="./Application/Tpl/Home/Public/css/normailize.css?v=<{$Think.const.V}>">'

                    )
                    newWindow.document.write(
                        '<link rel="stylesheet" type="text/css" href="./Application/Tpl/Oms/PickApart/invoice.css">'
                    )


                    newWindow.document.write(
                        '<script type="text/javascript">this.opener.location.reload()</scipt>');
                    //关闭document的输出流, 显示选定的数据
                    // setTimeout(function () {
                    newWindow.document.close();
                    newWindow.onload = function () {
                        this.opener.document.addEventListener('visibilitychange', function () {
                            if (!newWindow.opener.document.hidden) {
                                newWindow.close();
                                var dom = newWindow.opener.document.createElement('a');
                                var _href = "/index.php?g=oms&m=pick_apart&a=PickApartList"
                                dom.setAttribute("onclick", "backNewtab(this)");
                                dom.setAttribute("_href", _href);
                                dom.onclick();
                            }

                        })
                        newWindow.print(); //打印当前窗口 
                    }
                }

            }
        });
    </script>
</body>

</html>