<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/utils/css/public.style.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/element-ui-2.2.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/normailize.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/icon/css/font-awesome.min.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/default.css?v=<{$Think.const.V}>">
    <title>$lang('添加/编辑我方公司')</title>
    <style>
        [v-cloak]{
            display: none;
        }
        #createCompany{
            padding: 10px 20px;
            width: 100%;
            height: 100%; 
            box-sizing: border-box;
        }
        .basicInfo .headerTitle,
        .personnelInfo .headerTitle{
            font-size: 16px;
            line-height: 40px !important;
            line-height: 20px;
            height: 40px;
            margin-top: 20px;
            padding-left: 20px;
            text-align: left;
            letter-spacing: 0;
            color: #fff;
            background: #546e7a;
        }
        .order_basic_table{
            width: 100%;
            border-left: 1px solid #cadee7;
        }
        .order_basic_table tbody tr{
            width: 100%;
            display: flex;
        }
        .order_basic_table tbody td{
            display: flex;
            width: 50%;
            align-items: center;
            border-bottom: 1px solid #cadee7;
            border-right: 1px solid #cadee7;
        }
        .order_basic_table tbody td .info_content{
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            color: #263238;
            padding: 10px 0;
        }
        .order_basic_table .info_title{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 13px;
            width: 160px;
            height: 100%;
            color: #546e7a;
            background: #f7f9fb;  
            border-right: 1px solid #cadee7;
        }
        .order_basic_table tbody td .form_input{
            width: 250px;
        }
        .order_basic_table tbody td .form_input2{
            width: 200px;
        }
        .shareholderEdit{
            font-size: 24px;
            cursor: pointer;
        }
        .realName{
            display: inline-block;
            width: 200px;
        }
        .createCompany_footer{
            text-align: center;
            margin-top: 20px;
        }
        .createCompany_footer button{
            width: 150px;
        }
        .titleHead{
            font-size: 32px;
            font-weight: bold;
            margin: 10px 0;
        }
        .required{
            color: #f56c6c;
        }
        .center-select {
            margin-left: 210px;
            margin-top: 10px;
        }
        .company-telephone {
            display: flex;
        }
        .company-telephone-item {
            margin: 5px;
        }
        .company-telephone-item .el-input {
            width: 200px !important;
        }
    </style>
</head>
<body>
    <div id="createCompany"  v-cloak style="margin-bottom:220px;">

            <div class="titleHead">{{$lang(title)}}</div>

                <div class="basicInfo">
                    <div class="headerTitle" style="margin-top:10px">
                        {{$lang('基本信息')}}
                    </div>
                    <table border="0" cellspacing="0" cellpadding="0" class="order_basic_table">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="info_title">
                                            <div class="cell">
                                                {{$lang('公司名称')}}
                                            </div>
                                            <span class="required">*</span>
                                        </div>
                                        <div class="info_content">
                                            <el-input class="form_input" v-model="form.companyName" :placeholder="$lang('中文')"></el-input>
                                            <el-input style="margin-left: 5px" class="form_input" v-model="form.companyNameEn" :placeholder="$lang('英文')"></el-input>

                                        </div>
                                    </td>
                                    <td>
                                        <div class="info_title">
                                            <div class="cell">
                                                {{$lang('工商登记状态')}}
                                            </div>
                                            <span class="required">*</span>
                                        </div>
                                        <div class="info_content">
                                            <el-select filterable v-model="form.registrationStatus_cd">
                                                <el-option v-for="(item,index) in form.registrationStatus" 
                                                    :key="index"
                                                    :label="$lang(item.CD_VAL)"
                                                    :value="item.CD">
                                                </el-option>
                                            </el-select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="info_title">
                                            <div class="cell">
                                                {{$lang('OA编号')}}
                                            </div>
                                            <span v-show="required" class="required">*</span>
                                        </div>
                                        <div class="info_content">
                                            <el-input class="form_input" v-model="form.OaNum" ></el-input>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="info_title">
                                            <div class="cell">
                                                {{$lang('注册区域')}}
                                            </div>
                                            <span v-show="required" class="required">*</span>
                                        </div>
                                        <div class="info_content">
                                            <!--国家-->
                                            <el-select v-model="form.selectCountry" @change="areaChangeCountry"  filterable placeholder="<{$Think.lang.国家}>">
                                                <el-option v-for="item in form.country" 
                                                    :key="item.id" 
                                                    :label="$lang(item.zh_name)"
                                                    :value="item.id">
                                                </el-option>
                                            </el-select>
                                            <!--省-->
                                            <el-select style="margin: 0 5px" @change="areaChangeProvince"  v-model="form.selectProvince" filterable placeholder="<{$Think.lang.省市}>">
                                                <el-option v-for="item in form.province" 
                                                    :key="item.id" 
                                                    :label="$lang(item.zh_name)"
                                                    :value="item.id">
                                                </el-option>
                                            </el-select>
                                            <!--市-->
                                            <el-select  v-model="form.selectCounty" @change="areaChangeCounty"  filterable  placeholder="<{$Think.lang.区县}>">
                                                <el-option v-for="item in form.county" 
                                                    :key="item.id" 
                                                    :label="$lang(item.zh_name)"
                                                    :value="item.id">
                                                </el-option>
                                            </el-select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="info_title">
                                            <div class="cell">
                                                {{$lang('注册地址')}}
                                            </div>
                                            <span v-show="required" class="required">*</span>
                                        </div>
                                        <div class="info_content">
                                            <el-input class="form_input" v-model="form.address":placeholder="$lang('中文')" ></el-input>
                                            <el-input style="margin-left: 5px" class="form_input" v-model="form.addressEn" :placeholder="$lang('英文')"></el-input>

                                        </div>
                                    </td>
                                    <td>
                                        <div class="info_title">
                                            <div class="cell">
                                                {{$lang('注册资本')}}
                                            </div>
                                        </div>
                                        <div class="info_content">
                                            <el-select filterable v-model="form.capital_cd">
                                                <el-option v-for="(item,index) in form.capital" 
                                                    :key="index"
                                                    :label="item.CD_VAL"
                                                    :value="item.CD">
                                                </el-option>
                                                <!-- <el-option label="待注册" value="1"> </el-option>
                                                <el-option label="有效" value="2"> </el-option> -->
                                            </el-select>
                                            <el-input style="margin-left: 5px" class="form_input2"  @blur="capitalBlur" @keyup.native="watchcapital" v-model="form.capitalInput" ></el-input>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="info_title">
                                            <div class="cell">
                                                {{$lang('备注')}}
                                            </div>
                                        </div>
                                        <div class="info_content">
                                            <el-input type="textarea" :rows="2" class="form_input" v-model="form.remark" ></el-input>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="info_title">
                                            <div class="cell">
                                                Company No.
                                            </div>
                                            <span class="required">*</span>
                                        </div>
                                        <div class="info_content">
                                            <el-input type="text" :rows="2" class="form_input" v-model="form.company_no" ></el-input>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="info_title">
                                            <div class="cell">
                                                {{$lang('注册时间')}}
                                            </div>
                                            <span class="required">*</span>
                                        </div>
                                        <div class="info_content">
                                            <el-date-picker
                                                v-model="form.register_time"
                                                value-format="yyyy/MM/dd"
                                                type="date"
                                                :placeholder="$lang('选择日期')">
                                            </el-date-picker>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="info_title">
                                            <div class="cell">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="info_title">
                                            <div class="cell">
                                                {{$lang('秘书公司')}}
                                            </div>
                                            <i @click="addSecretaryCompany" class="shareholderEdit el-icon-circle-plus-outline"></i>
                                            <i @click="delSecretaryCompany" v-if="form.secretary_company_sp_id.length > 1" class="shareholderEdit el-icon-remove-outline"></i>
                                        </div>
                                        <ul class="center-select">
                                            <li style="margin-bottom: 10px;display: flex;align-items: center" v-for="conpamy in form.secretary_company_sp_id">
                                                <el-select v-model="conpamy.supplier_id" @change="handleSecretarySelect" clearable :placeholder="$lang('请选择')">
                                                    <el-option
                                                    v-for="company in secretaryCompany"
                                                    :key="company.supplier_id"
                                                    :label="company.sp_name"
                                                    :value="company.supplier_id">
                                                    </el-option>
                                                </el-select>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <div class="info_title">
                                            <div class="cell">
                                                {{$lang('秘书公司联系方式')}}
                                            </div>
                                        </div>
                                        <ul>
                                            <li class="company-telephone" v-for="item in form.secretary_company_sp_id">
                                                <div class="company-telephone-item" v-for="(company_telephone, index) in item.company_telephone" :key="index">
                                                    <el-input disabled class="form_input" v-model="item.company_telephone[index]" ></el-input>
                                                </div>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="info_title">
                                            <div class="cell">
                                                {{$lang('代理记账公司')}}
                                            </div>
                                            <i @click="addAgentCompany" class="shareholderEdit el-icon-circle-plus-outline"></i>
                                            <i @click="delAgentCompany" v-if="form.agency_company_sp_id.length > 1" class="shareholderEdit el-icon-remove-outline"></i>
                                        </div>
                                        <ul class="center-select">
                                            <li style="margin-bottom: 10px;display: flex;align-items: center" v-for="agent in form.agency_company_sp_id">
                                                <el-select v-model="agent.supplier_id" @change="handleAgentSelect" clearable :placeholder="$lang('请选择')">
                                                    <el-option
                                                    v-for="company in agentCompany"
                                                    :key="company.supplier_id"
                                                    :label="company.sp_name"
                                                    :value="company.supplier_id">
                                                    </el-option>
                                                </el-select>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <div class="info_title">
                                            <div class="cell">
                                                {{$lang('代理记账公司联系方式')}}
                                            </div>
                                        </div>
                                        <ul>
                                            <li class="company-telephone" v-for="item in form.agency_company_sp_id">
                                                <div class="company-telephone-item" v-for="(company_telephone, index) in item.company_telephone" :key="index">
                                                    <el-input disabled class="form_input" v-model="item.company_telephone[index]" ></el-input>
                                                </div>
                                            </div>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                    </table>
                </div>
    
                <div class="personnelInfo">
                        <div class="headerTitle" style="margin-top:10px">
                            {{$lang('人员信息')}}
                        </div>
                        <table border="0" cellspacing="0" cellpadding="0" class="order_basic_table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="info_title">
                                                <div class="cell">
                                                    {{$lang('法定代表人/董事/负责人')}}
                                                </div>
                                                <span v-show="required" class="required">*</span>
                                            </div>
                                            <div class="info_content">
                                                <el-input @blur="representativeBlur" class="form_input" v-model="form.representative" ></el-input>
                                                <div style="margin-left:20px" v-show="form.legal_alias_name">{{form.legal_alias_name}}</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="info_title">
                                                <div class="cell">
                                                    {{$lang('监事')}}
                                                </div>
                                            </div>
                                            <div class="info_content">
                                                <el-input @blur="supervisorBlur" class="form_input" v-model="form.supervisor" ></el-input>
                                                <span style="margin-left:20px" v-show="form.supervisor_alias_name">{{form.supervisor_alias_name}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                   <tr>
                                        <td style="width: 100%">
                                            <div class="info_title">
                                                <div class="cell">
                                                    {{$lang('股东')}}
                                                </div>
                                            </div>
                                            <div style="justify-content: left" class="info_content">
                                                <ul v-show="form.shareholderList">
                                                    <li style="margin-bottom: 10px;display: flex;align-items: center" v-for="(item,index) in form.shareholderList">
                                                        <!-- <el-select @change="registrationChangeForm(item)" filterable v-model="item.type_cd">
                                                            <el-option label="公司" value="N002960001"> </el-option>
                                                            <el-option label="个人" value="N002960002"> </el-option>
                                                        </el-select> -->
                                                        <el-select @change="registrationChangeForm(item)" filterable v-model="item.type_cd">
                                                            <el-option v-for="(item,index) in form.company_shareholder_type" 
                                                                :key="index"
                                                                :label="$lang(item.CD_VAL)"
                                                                :value="item.CD">
                                                            </el-option>
                                                        </el-select>
                                                        <el-select v-if="item.type_cd == 'N002960001'" style="margin: 0 5px" filterable v-model="item.shareholder_name">
                                                            <el-option v-for="(item,index) in form.shareholderName" 
                                                                :key="index"
                                                                :label="item.CD_VAL"
                                                                :value="item.CD">
                                                            </el-option>
                                                        </el-select>
                                                        <el-input @blur="shareholder_nameBlur(item)" class="form_input2" style="margin: 0 5px" v-if="item.type_cd == 'N002960002'" v-model="item.shareholder_name"></el-input>
                                                        <div style="width: 130px;text-align: center;">
                                                            <span v-show="item.shareholder_name_alias">{{item.shareholder_name_alias}}</span>
                                                        </div>
                                                        <i @click="shareholderAdd()" class="shareholderEdit el-icon-circle-plus-outline"></i>
                                                        <i @click="shareholderDel(item,index)" v-show="index != 0" class="shareholderEdit el-icon-remove-outline"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                   </tr>
                                </tbody>
                        </table>
                </div>

            <div class="createCompany_footer">
                <el-button @click="submitButton()" type="primary">{{$lang('确定')}}</el-button>
            </div>
    </div>
    <!--引入js-->
    <script type="text/javascript" src="./Application/Tpl/Home/Public/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="./Application/Tpl/Home/Public/js/H-ui.js"></script>
    <script type="text/javascript" src="./Application/Tpl/Home/Public/js/H-ui.admin.js?v=<{$Think.config.VER_NUM}>"></script>
    <script type="text/javascript" src="./Application/Tpl/Home/Public/js/vue.2.5.13.js"></script>
    <script type="text/javascript" src="./Application/Tpl/Home/Public/js/axios.min.js"></script>
    <script type="text/javascript" src="./Application/Tpl/Home/Public/js/element-ui-2.2.js"></script>
    <script type="text/javascript" src="./Application/Tpl/Home/Public/js/element-en.js"></script>
    <script type="text/javascript" src="./Application/Tpl/Home/Company/create.js?v=<{$Think.const.V}>"></script>
</body>
</html>
