<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/utils/css/public.style.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/element-ui-2.2.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/normailize.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/icon/css/font-awesome.min.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/default.css?v=<{$Think.const.V}>">
    <title>$lang('新建我方公司')</title>
    <style>
        [v-cloak]{
            display: none;
        }
        #companyDetail{
            padding: 10px 20px;
            width: 100%;
            height: 100%; 
            box-sizing: border-box;
        }
        .basicInfo,
        .personnelInfo,
        .qualificationInfo,
        .contractInfo,
        .accountInfo,
        .shopInfo{
            overflow: hidden;
        }
        .basicInfo .headerTitle,
        .personnelInfo .headerTitle,
        .qualificationInfo .headerTitle,
        .contractInfo .headerTitle,
        .accountInfo .headerTitle,
        .shopInfo .headerTitle{
            font-size: 16px;
            line-height: 40px !important;
            line-height: 20px;
            height: 40px;
            margin-top: 20px;
            padding-left: 20px;
            text-align: left;
            letter-spacing: 0;
            color: #fff;
            background: #546e7a;
        }
        .order_basic_table{
            width: 100%;
            border-left: 1px solid #cadee7;
        }
        .order_basic_table tbody tr{
            width: 100%;
            display: flex;
        }
        .order_basic_table tbody td{
            display: flex;
            width: 50%;
            min-height: 50px;
            align-items: center;
            border-bottom: 1px solid #cadee7;
            border-right: 1px solid #cadee7;
        }
        .order_basic_table tbody td .info_content{
            display: flex;
            flex: 1;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            color: #263238;
            padding: 10px 0;
        }
        .order_basic_table .info_title{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 13px;
            width: 160px;
            height: 100%;
            color: #546e7a;
            background: #f7f9fb;  
            border-right: 1px solid #cadee7;
        }
        .companyDetail_footer{
            text-align: center;
            margin: 30px 0;
        }
        .companyDetail_footer button{
            width: 150px;
        }
        .table_list{
            width: 100%;
            border-left: 1px solid #cadee7;
        }
        .table_list thead th{
            background: #F6F9FA;
            color: #566F7B;
            border-bottom: 1px solid #cadee7;
            border-right: 1px solid #cadee7;
            padding: 15px 0px;
        }
        .table_list tbody td{
            color: #263238;
            border-bottom: 1px solid #cadee7;
            border-right: 1px solid #cadee7;
            text-align: center;
        }
        .qualificationInfo table thead tr th,
        .contractInfo table thead tr th,
        .accountInfo table thead tr th,
        .shopInfo table thead tr th{
            background: #F6F9FA;
            color: #566F7B;
        }
        .titleHead{
            font-size: 32px;
            font-weight: bold;
            margin: 10px 0;
        }
        .file_type{
            color: #409EFF;
        }
        .file_type:hover{
            cursor: pointer;
            text-decoration: underline;
        }
    </style>
</head>
<body>
        <div id="companyDetail" v-cloak style="margin-bottom:220px;">
                <div class="titleHead">{{$lang('我方公司详情')}}</div>
                <div class="basicInfo">
                        <div class="headerTitle" style="margin-top:10px">
                            {{$lang('基本信息')}}
                        </div>
                        <table border="0" cellspacing="0" cellpadding="0" class="order_basic_table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="info_title">
                                                <div class="cell">
                                                    {{$lang('Company No.')}}
                                                </div>
                                            </div>
                                            <div class="info_content">
                                                <span>{{management_info.company_no}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="info_title">
                                                <div class="cell">
                                                    {{$lang('公司名称')}}
                                                </div>
                                            </div>
                                            <div class="info_content">
                                                <span>{{management_info.our_company_cd_val}}</span>
                                                <span v-if="management_info.our_company_en">{{"("+management_info.our_company_en +")"}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="info_title">
                                                <div class="cell">
                                                    {{$lang('工商登记状态')}}
                                                </div>
                                            </div>
                                            <div class="info_content">
                                                <span>{{management_info.company_business_status_cd_val}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="info_title">
                                                <div class="cell">
                                                    {{$lang('OA编号')}}
                                                </div>
                                            </div>
                                            <div class="info_content">
                                                <span>{{management_info.oa_no}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="info_title">
                                                <div class="cell">
                                                    {{$lang('注册区域')}}
                                                </div>
                                            </div>
                                            <div class="info_content">
                                                <span v-show="management_info.reg_country">{{management_info.reg_country}}</span>
                                                <span v-show="management_info.reg_province">-{{management_info.reg_province}}</span>
                                                <span v-show="management_info.reg_city">-{{management_info.reg_city}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="info_title">
                                                <div class="cell">
                                                    {{$lang('注册区域二字码')}}
                                                </div>
                                            </div>
                                            <div class="info_content">
                                                <span>{{management_info.two_char}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="info_title">
                                                <div class="cell">
                                                    {{$lang('注册地址')}}
                                                </div>
                                            </div>
                                            <div class="info_content">
                                                <span>{{management_info.reg_address}}</span>
                                                <span v-if="management_info.reg_address_en">{{"("+management_info.reg_address_en +")"}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="info_title">
                                                <div class="cell">
                                                    {{$lang('注册资本')}}
                                                </div>
                                            </div>
                                            <div class="info_content">
                                                <span>{{management_info.reg_amount_cd_val}} {{management_info.reg_amount | thousandsDeal}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="info_title">
                                                <div class="cell">
                                                    {{$lang('Code 编号')}}
                                                </div>
                                            </div>
                                            <div class="info_content">
                                                <span>{{management_info.our_company_cd}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="info_title">
                                                <div class="cell">
                                                    {{$lang('备注')}}
                                                </div>
                                            </div>
                                            <div class="info_content" style="width:200px">
                                                <span style="width: 70%;word-wrap: break-word;word-break: break-all;overflow: hidden;">{{management_info.remark}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                        </table>
                </div>

                <div class="personnelInfo">
                        <div class="headerTitle" style="margin-top:10px">
                            {{$lang('人员信息')}}
                        </div>
                        <table border="0" cellspacing="0" cellpadding="0" class="order_basic_table">
                                <tbody>
                                        <tr>
                                            <td>
                                                <div class="info_title">
                                                    <div class="cell">
                                                        {{$lang('法定代表人/董事/负责人')}}
                                                    </div>
                                                </div>
                                                <div class="info_content">
                                                    <span>{{management_info.legal_name}}</span>
                                                    <span v-show="management_info.legal_alias_name">({{management_info.legal_alias_name}})</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="info_title">
                                                    <div class="cell">
                                                        {{$lang('监事')}}
                                                    </div>
                                                </div>
                                                <div class="info_content">
                                                    <span>{{management_info.supervisor_name}}</span>
                                                    <span v-show="management_info.supervisor_alias_name">({{management_info.supervisor_alias_name}})</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 100%">
                                                <div class="info_title">
                                                    <div class="cell">
                                                        {{$lang('股东')}}
                                                    </div>
                                                </div>
                                                <div style="flex-direction: column;align-items: center;" class="info_content">
                                                    <div style="margin: 2px 0" v-for="(item,index) in management_info.shareholder_info">
                                                        <div v-if="item.type_cd == 'N002960002'">
                                                            <span>{{item.shareholder_name}}</span>
                                                            <span v-show="item.shareholder_name_alias">({{item.shareholder_name_alias}})</span>
                                                        </div>
                                                        <div v-else-if="item.type_cd == 'N002960001'">
                                                            <span>{{item.shareholder_com_name}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                </tbody>
                        </table>
                </div>

                <div class="companyDetail_footer">
                    <el-button @click="editButton()" type="primary">{{$lang('编辑')}}</el-button>
                </div>
                
                <div class="qualificationInfo">
                        <div class="headerTitle" style="margin-top:10px">
                            {{$lang('资质信息')}}
                        </div>

                        <el-table :data="qualification_info" border style="width: 100%">
                            <el-table-column align="center"  :label="$lang('资质编号')"> 
                                <template slot-scope="scope">
                                    <span>{{scope.row.number}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column align="center"  :label="$lang('资质名称')"> 
                                <template slot-scope="scope">
                                    <span>{{scope.row.name}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column align="center"  :label="$lang('资质附件')"> 
                                <template slot-scope="scope">
                                    <div v-if="scope.row.attachment">
                                            <div class="attachmentLink"   v-for="item in JSON.parse(scope.row.attachment)">
                                                <a class="file_type" :href="'/index.php?m=order_detail&a=download&file='+item.save_name">{{item.original_name}}</a>
                                            </div>
                                    </div>
                                </template>
                            </el-table-column>
                            <el-table-column align="center"  :label="$lang('发证日')"> 
                                <template slot-scope="scope">
                                    <span>{{scope.row.issue_date}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column align="center"  :label="$lang('到期日')"> 
                                <template slot-scope="scope">
                                    <span>{{scope.row.expire_date}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column align="center"  :label="$lang('续证时间')"> 
                                <template slot-scope="scope">
                                    <span>{{scope.row.renew_date}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column align="center"  :label="$lang('发证机关')"> 
                                <template slot-scope="scope">
                                    <span>{{scope.row.issue_office}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column align="center"  :label="$lang('续证地点')"> 
                                <template slot-scope="scope">
                                    <span>{{scope.row.renew_address}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column align="center"  :label="$lang('续证材料')"> 
                                <template slot-scope="scope">
                                    <span>{{scope.row.renew_material}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column align="center"  :label="$lang('对应负责部门')"> 
                                <template slot-scope="scope">
                                    <span>{{scope.row.department}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column align="center"  :label="$lang('注意事项')"> 
                                <template slot-scope="scope">
                                    <span>{{scope.row.precautions}}</span>
                                </template>
                            </el-table-column>
                        </el-table>

                </div>

                <div class="contractInfo">
                        <div class="headerTitle" style="margin-top:10px">
                            {{$lang('合同信息')}}
                        </div>
                        <el-table :data="contract_info" border style="width: 100%">
                            <el-table-column align="center"  :label="$lang('合同编号')"> 
                                <template slot-scope="scope">
                                    <span>{{scope.row.CON_NO}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column align="center"  :label="$lang('合同简称')"> 
                                <template slot-scope="scope">
                                    <a class="file_type" @click="viewDetail(scope.row,'contractInfo')">{{scope.row.CON_NAME}}</a>
                                    <!-- <a class="file_type" :href="'/index.php?m=b_t_b_customer_management&a=contract_download&ID='+scope.row.ID+'&name='+scope.row.file_name">{{scope.row.CON_NAME}}</a> -->
                                </template>
                            </el-table-column>
                            <el-table-column align="center"  :label="$lang('合作方名称')"> 
                                <template slot-scope="scope">
                                    <span>{{scope.row.SP_NAME}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column align="center"  :label="$lang('合作类型')"> 
                                <template slot-scope="scope">
                                    <span>{{$lang(scope.row.CON_TYPE)}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column align="center"  :label="$lang('签约人')"> 
                                <template slot-scope="scope">
                                    <span>{{scope.row.CONTRACTOR}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column align="center"  :label="$lang('起始时间')"> 
                                <template slot-scope="scope">
                                    <span>{{scope.row.START_TIME}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column align="center"  :label="$lang('结束时间')"> 
                                <template slot-scope="scope">
                                    <span>{{scope.row.END_TIME}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column align="center"  :label="$lang('自动续约')"> 
                                <template slot-scope="scope">
                                    <span>{{$lang(scope.row.IS_RENEWAL)}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column align="center"  :label="$lang('归档人')"> 
                                <template slot-scope="scope">
                                    <span>{{scope.row.CREATE_USER_ID}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column align="center"  :label="$lang('归档时间')"> 
                                <template slot-scope="scope">
                                    <span>{{scope.row.CREATE_TIME}}</span>
                                </template>
                            </el-table-column>
                        </el-table>
                </div>

                <div class="accountInfo">
                        <div class="headerTitle" style="margin-top:10px">
                            {{$lang('账户信息')}}
                        </div>
                        <el-table :data="bankaccount_info" border style="width: 100%">
                            <el-table-column align="center"  :label="$lang('账户编号')"> 
                                <template slot-scope="scope">
                                    <span>{{scope.row.id}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column align="center"  :label="$lang('开户银行')"> 
                                <template slot-scope="scope">
                                    <span>{{scope.row.open_bank}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column align="center"  :label="$lang('银行账号')"> 
                                <template slot-scope="scope">
                                    <a class="file_type" @click="viewDetail(scope.row,'accountInfo')">{{scope.row.account_bank}}</a>
                                </template>
                            </el-table-column>
                            <el-table-column align="center"  :label="$lang('SWIFT CODE')"> 
                                <template slot-scope="scope">
                                    <span>{{scope.row.swift_code}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column align="center"  :label="$lang('币种')"> 
                                <template slot-scope="scope">
                                    <span>{{scope.row.currency_code_val}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column align="center"  :label="$lang('启用状态')"> 
                                <template slot-scope="scope">
                                    <span>{{scope.row.status_name}}</span>
                                </template>
                            </el-table-column>
                        </el-table>
                </div>

                <div class="shopInfo">
                        <div class="headerTitle" style="margin-top:10px">
                            {{$lang('店铺信息')}}
                        </div>
                        <el-table :data="store_info" border style="width: 100%">
                            <el-table-column align="center"  :label="$lang('店铺编号')"> 
                                <template slot-scope="scope">
                                    <span>{{scope.row.ID}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column align="center"  :label="$lang('平台名称')"> 
                                <template slot-scope="scope">
                                    <span>{{scope.row.PLAT_NAME}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column align="center"  :label="$lang('店铺名称')"> 
                                <template slot-scope="scope">
                                    <a class="file_type" target="_blank"  :href="scope.row.STORE_INDEX_URL">{{scope.row.STORE_NAME}}</a>
                                </template>
                            </el-table-column>
                            <el-table-column align="center"  :label="$lang('店铺别名')"> 
                                <template slot-scope="scope">
                                    <span>{{scope.row.MERCHANT_ID}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column align="center"  :label="$lang('国家')"> 
                                <template slot-scope="scope">
                                    <span>{{scope.row.zh_name}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column align="center"  :label="$lang('店铺状态')"> 
                                <template slot-scope="scope">
                                    <span>{{scope.row.STORE_ZN_STATUS}}</span>
                                </template>
                            </el-table-column>
                        </el-table>
                </div>

        </div>

        <!--引入js-->
        <script type="text/javascript" src="./Application/Tpl/Home/Public/lib/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="./Application/Tpl/Home/Public/js/H-ui.js"></script>
        <script type="text/javascript" src="./Application/Tpl/Home/Public/js/H-ui.admin.js?v=<{$Think.config.VER_NUM}>"></script>
        <script type="text/javascript" src="./Application/Tpl/Home/Public/js/vue.2.5.13.js"></script>
        <script type="text/javascript" src="./Application/Tpl/Home/Public/js/axios.min.js"></script>
        <script type="text/javascript" src="./Application/Tpl/Home/Public/js/element-ui-2.2.js"></script>
        <script type="text/javascript" src="./Application/Tpl/Home/Public/js/element-en.js"></script>
        <script type="text/javascript" src="./Application/Tpl/Home/Company/detail.js?v=<{$Think.const.V}>"></script>
</body>
</html>
