<style>
    .show_main{
        position: relative;
    }
    .hidden_show{
        width: 5%;
        position: absolute;
        opacity: 0;
        left: 10px;
        height: 31px;
    }
    .show_main span{
        margin-bottom: 5px;
    }
</style>
<div class="gys-wrap">
    <div class="row row_title">
        <a class="active"><{$Think.lang.$title}></a>
    </div>
    <input type="hidden" name="ID" value="<{$result.ID}>"/>
    <div class="basis-info">
        
        <table class="table table-bg">
            <thead>
            <tr>
                <th width="10%"></th>
                <th width="40%"></th>
                <th width="10%"></th>
                <th width="40%"></th>
            </tr>
            </thead>
            <tbody class="text-le">
                <tr>
                    <td colspan="4"><{$Think.lang.基本信息}></td>
                </tr>
                <tr>
                    <td class="must"><{$Think.lang.供应商名称}></td>
                    <td>
                        <input type="text" name="SP_NAME" value="<{$result.SP_NAME}>" placeholder="<{$Think.lang.深圳和义通科技有限公司}>" class="form-control">
                    </td>
                    <td class="must"><{$Think.lang.供应商简称}></td>
                    <td>
                        <input type="text" name="SP_RES_NAME" value="<{$result.SP_RES_NAME}>" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td class="must"><{$Think.lang.英文名称}></td>
                    <td>
                        <input type="text" name="SP_NAME_EN" value="<{$result.SP_NAME_EN}>" placeholder="Shenzhen HeYiTong Technology Co .,Ltd" class="form-control">
                    </td>
                    <td class="must"><{$Think.lang.英文简称}></td>
                    <td>
                        <input type="text" name="SP_RES_NAME_EN" value="<{$result.SP_RES_NAME_EN}>" placeholder="HYT" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td class="must"><{$Think.lang.营业执照/个人证件号}></td>
                    <td>
                        <input type="text" name="SP_CHARTER_NO" value="<{$result.SP_CHARTER_NO}>" class="form-control">
                    </td>
                    <td class="must"><{$Think.lang.营业执照/个人证件}></td>
                    <td class="show_main show_main_update">
                        <!--<input type="file" name="SP_ANNEX_ADDR" id="SP_ANNEX_ADDR">-->
                        <!--主体营业执照-->
                        <div>
                            <button class="btn" href="#supplier_file" id="supplier_file_name">
                                <?php
                                    $SPANNEXNAME = $result['SP_ANNEX_NAME']?$result['SP_ANNEX_NAME']:'上传主体营业执照'
                                ?>
                                <{$Think.lang.$SPANNEXNAME}>

                                <!-- <{$result['SP_ANNEX_NAME']?$result['SP_ANNEX_NAME']:上传主体营业执照}> -->
                            </button>
                            <input style="position: absolute;width: 152px !important; top: 0px;left:0px;" type="file" name="SP_ANNEX_ADDR" class="hidden_show" id="supplier_file" onchange="document.getElementById('supplier_file_name').innerHTML = this.value?this.value:'<{$Think.lang.上传主体营业执照}>'"/>
                        </div>
                        <span></span>
                        <!--关联公司营业执照-->
                        <div>
                            <button style="position: absolute;" class="btn" href="#supplier_company_file" id="supplier_company_file_name">
                                <!-- <{$result['SP_ANNEX_NAME2']?$result['SP_ANNEX_NAME2']:上传关联公司营业执照}> -->
                                <?php
                                    $SPANNEXNAME2 = $result['SP_ANNEX_NAME2']?$result['SP_ANNEX_NAME2']:'上传关联公司营业执照'
                                ?>
                                <{$Think.lang.$SPANNEXNAME2}>
                            
                            </button>
                            <input style="position: absolute;width: 152px !important; top: 0px;left:0px;" type="file" name="SP_ANNEX_ADDR2" class="hidden_show" id="supplier_company_file" onchange="document.getElementById('supplier_company_file_name').innerHTML = this.value?this.value:'<{$Think.lang.上传关联公司营业执照}>'"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="must"><{$Think.lang.企业类型}></td>
                    <td class="ctcd ctcd_type">
                        <?php
                            $copanyTypeCd = BaseModel::companyTypeCd();
                            $conTypeCds = explode(',', $result['COPANY_TYPE_CD']);
                            foreach ($copanyTypeCd as $key => $value) {
                                if (array_keys($conTypeCds, $key)) {
                        ?>
                                    <span class="btn-gray btn-orange" value="<{$key}>" is_checked='1'><{$Think.lang.$value}></span>
                        <?php
                                } else {
                        ?>
                                    <span class="btn-gray" value="<{$key}>" is_checked='0'><{$Think.lang.$value}></span>
                        <?php
                                }
                            }
                        ?>
                        <input type="hidden" name="COPANY_TYPE_CD" class="COPANY_TYPE_CD" value="<{$result.COPANY_TYPE_CD}>"/>
                    </td>
                    <td class="must"><{$Think.lang.供应商年业务规模}></td>
                    <td class="sysc">
                        <?php $spYearScaleCd = BaseModel::spYearScaleCd() ?>
                        <foreach name="spYearScaleCd" key="k" item="val">
                            <if condition="$result.SP_YEAR_SCALE_CD eq $k"><span value="<{$k}>" class="gys_check_item gys_check_item_active"><{$val}></span>
                                <else /><span value="<{$k}>" class="gys_check_item"><{$val}></span>
                            </if>

                        </foreach>
                        <input type="hidden" name="SP_YEAR_SCALE_CD" class="SP_YEAR_SCALE_CD" value="<{$result.SP_YEAR_SCALE_CD}>"/>
                    </td>
                </tr>

                <tr>
                    <td class="must"><{$Think.lang.采购团队}></td>
                    <td class="multiple_team">
                        <select name="SP_TEAM_CD[]" class="required">
                            <option value="" selected="true"><{$Think.lang.请选择采购团队}></option>
                            <foreach name="spTeamCd" key="k" item="val" class="SP_TEAM_CD">
                                <if condition="$result.SP_TEAM_CD eq $k"><option value="<{$k}>" selected="true"><{$Think.lang.$val}></option>
                                    <else /><option value="<{$k}>"><{$Think.lang.$val}></option>
                                </if>
                            </foreach>
                        </select>
                        <li class="label label-default radius add_nodes" style="background-color: #ffffff;"><i class="Hui-iconfont Hui-iconfont-add"></i></li>
                        <li class="label label-default radius del_nodes" style="background-color: #ffffff;"><i class="Hui-iconfont Hui-iconfont-jianhao"></i></li>
                    </td>
                    <td class="must"><{$Think.lang.介绍团队}></td>
                    <td class="multiple_spt">
                        <select name="SP_JS_TEAM_CD" required>
                            <option value="" selected="true"><{$Think.lang.请选择介绍团队}></option>
                            <foreach name="spJsTeamCd" key="k" item="val">
                                <if condition="$result.SP_JS_TEAM_CD eq $k"><option value="<{$k}>" selected="selected"><{$Think.lang.$val}></option>
                                    <else /><option value="<{$k}>"><{$Think.lang.$val}></option>
                                </if>
                            </foreach>
                         </select>
                    </td>
                </tr>
                <tr>
                    <td class="must"><{$Think.lang.注册地址}></td>
                    <td class="sel-map">
                        <select id="s_country" name="SP_ADDR1"></select>
                        <select style="display: none;" id="s_province" name="SP_ADDR2">
                        </select>
                        <select id="s_city" name="SP_ADDR3" >
                        </select>
                        <select id="s_county" name="SP_ADDR4">
                        </select>
                    </td>
                    <td class="must"><{$Think.lang.供货品类}></td>
                    <td id="goods_type-td">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="goods_type-show">
                            <i>+</i>
                        <{$Think.lang.添加品类}>
                        </button>
                        <input type="hidden" name="SP_CAT_CD" id="SP_CAT_CD" value="<{$result.SP_CAT_CD}>"/>
                    </td>
                </tr>
                <tr>
                    <td class="must"><{$Think.lang.办公地址}></td>
                    <td class="sel-map">
                        <select id="t_country" name="SP_ADDR5"></select>
                        <select style="display: none;" id="t_province" name="SP_ADDR6">
                        </select>
                        <select id="t_city" name="SP_ADDR7" >
                        </select>
                        <select id="t_county" name="SP_ADDR8">
                        </select>
                    </td>
                    <td class="must"><{$Think.lang.办公详细地址}></td>
                    <td><input type="text" name="COMPANY_ADDR_INFO" value="<{$result.COMPANY_ADDR_INFO}>" placeholder="<{$Think.lang.供应商详细地址}>"/></td>
                </tr>
                <tr>
                    <td class="must"><{$Think.lang.公司与市场地位简述}></td>
                    <td colspan="3"><input type="text" name="COMPANY_MARKET_INFO" value="<{$result.COMPANY_MARKET_INFO}>" placeholder="<{$Think.lang.一句话介绍供应商，和描述供应商的市场地位，所获殊荣，所获得融资等信息}>"/></td>
                </tr>
                <tr>
                    <td><{$Think.lang.备注(选填)}></td>
                    <td colspan="3"> <textarea rows="5" style="width: 100%;" name="SP_REMARK"><{$result.SP_REMARK}></textarea></td>
                </tr>
                <?php
                    if ($access ['Supplier/cooperative_rating']) {
                ?>
                <tr>
                    <td><{$Think.lang.合作评级}></td>
                    <td colspan="3" class="cooperative_rating_check">
                        <?php $cooperativeRating = BaseModel::getCooperativeRating() ?>
                        <foreach name="cooperativeRating" key="k" item="val">
                            <if condition="$result.cooperative_rating eq $k"><span value="<{$k}>" class="gys_check_item gys_check_item_active"><{$val}></span>
                                <else /><span value="<{$k}>" class="gys_check_item"><{$val}></span>
                            </if>
                        </foreach>
                        <input type="hidden" name="cooperative_rating" class="cooperative_rating" id="cooperative_rating" value="<{$result.cooperative_rating}>"/>
                    </td>
                </tr>
                <?php
                    }
                ?>
            </tbody>
        </table>

        <!-- 账号信息 -->
        <table id="supplier_account" class="table table-bg">
            <thead>
            <tr>
                <th width="10%"></th>
                <th width="40%"></th>
                <th width="10%"></th>
                <th width="40%"></th>
            </tr>
            </thead>
            <tbody class="text-le">
                <tr>
                    <td colspan="4"><{$Think.lang.账号信息}></td>
                </tr>
                <tr>
                    <td><{$Think.lang.收款账号开户行}></td>
                    <td>
                        {{SP_BANK_CD}}
                    </td>
                    <td><{$Think.lang.收款账户名}></td>
                    <td>
                        {{collection_account_name}}
                        
                    </td>
                </tr>
                <tr>
                    <td><{$Think.lang.收款银行账号}></td>
                    <td>
                        {{BANK_ACCOUNT}}
                    </td>
                    <td>SWIFT CODE</td>
                    <td>
                        {{SWIFT_CODE}}
                    </td>
                </tr>
                <tr>
                    <td><{$Think.lang.收款银行本地结算代码}></td>
                    <td>
                        <el-input name="BANK_SETTLEMENT_CODE" v-model="BANK_SETTLEMENT_CODE" ></el-input>
                    </td>
                    <td><{$Think.lang.收款银行地址}></td>
                    <td>
                        <el-select v-model="selectCountry"  filterable name="country" id="country_input" clearable 
                                    placeholder="<{$Think.lang.国家}>">
                            <el-option v-for="item in country" :key="item.id" :label="item.zh_name"
                                        :value="item.id"></el-option>
                        </el-select>
                        <el-select  v-model="selectProvince"  filterable name="province" id="province_input" clearable 
                                    placeholder="<{$Think.lang.省市}>">
                            <el-option v-for="item in province" :key="item.id" :label="item.zh_name"
                                        :value="item.id"></el-option>
                        </el-select>
                        <el-select  v-model="selectCounty"  filterable name="county" id="county_input" clearable 
                                    placeholder="<{$Think.lang.区县}>">
                            <el-option v-for="item in county" :key="item.id" :label="item.zh_name"
                                        :value="item.id"></el-option>
                        </el-select>
                        <input type="hidden" name="BANK_ADDRESS" id="city_input"/>
                        <input type="hidden" name="CITY" id="cityID_input"/>
                    </td>
                </tr>
                <tr>
                    <td><{$Think.lang.收款银行详细地址}></td>
                    <td>
                        <el-input name="BANK_ADDRESS_DETAIL" v-model="BANK_ADDRESS_DETAIL" ></el-input>
                    </td>
                    <td><{$Think.lang.收款银行邮编}></td>
                    <td>
                        <el-input name="BANK_POSTAL_CODE" v-model="BANK_POSTAL_CODE" ></el-input>
                    </td>
                </tr>
                <tr>
                    <td><{$Think.lang.收款账号币种}></td>
                    <td>
                        <el-select v-model="currency_cd" clearable  filterable placeholder="<{$Think.lang.请选择}>">
                            <el-option
                              v-for="item in currency"
                              :key="item.cd"
                              :label="item.cdVal"
                              :value="item.cd">
                            </el-option>
                        </el-select>
                        <input type="hidden" name="ACCOUNT_CURRENCY" v-model="currency_cd"/>
                    </td>
                    <td><{$Think.lang.收款账户种类}></td>
                    <td>
                        <el-select v-model="collection_account_type_cd" clearable  filterable placeholder="<{$Think.lang.请选择}>">
                            <el-option
                              v-for="item in collection_account_type"
                              :key="item.cd"
                              :label="item.cdVal"
                              :value="item.cd">
                            </el-option>
                        </el-select>
                        <input type="hidden" name="ACCOUNT_TYPE" v-model="collection_account_type_cd"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
 
</div>
