/*.cus-logo-img {*/
    /*float: left;*/
    /*margin-top: 5px;*/
    /*margin-left: -20px;*/
/*}*/

.cus-logo-font {
    margin-left:  -20px;
    margin-top: 1px;
    font-size: large;
}
#closeAll {
    position: absolute;
    top: 34px;
    left: 0;
    height: 138px;
    width: 150px;
    background-color: #ffffff;
    z-index: 99;
    text-align: center;
    border-radius: 1px;
    border: 1px solid #dedede;
    box-shadow: 3px 1px 5px grey;
    display: none;
}

#closeAll .icon-div {
    flex: 20%;
    width: 35px;
    background: #f5f5f5;
    border-right: 1px solid #e6e6e6;
    height: 100%;
    box-sizing: border-box;
    padding: 5px 0;
}

#closeAll .but-div {
    width: 100px;
    flex: 80%;
    background: #f5f5f5;
    height: 100%;
    box-sizing: border-box;
    padding: 5px 0;
}

#closeAll span {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    height: 32px;
    line-height: 32px;
    color: #666;
    vertical-align: middle;
}

#closeAll span:last-child {
    display: inline-block;
    width: 100%;
    font-size: 13px;
    border: none;
    height: 32px;
    line-height: 32px;
    color: #666;
    vertical-align: middle;
}

#closeAll i {
    display: inline-block;
    width: 100%;
    font-size: 13px;
    height: 33px;
    line-height: 32px;
    color: #666;
    vertical-align: middle;
    font-style: normal;
}

#closeAll span:hover {
    background-color: rgba(9, 187, 236, 0.1);
    cursor: pointer;
    box-shadow: 0 0 5px rgba(59, 180, 242, 0.6);
}

#closeAll .cancel {
    border-top: 1px solid #e6e6e6;
    background: #f5f5f5;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    width: 100%;
    font-size: 13px;
}

#closeAll .cancel:hover {
    color: #ed2d65;
    background-color: rgba(9, 187, 236, 0.1);
    cursor: pointer;
    box-shadow: 0 0 5px rgba(59, 180, 242, 0.6);
}
.Hui-userbar > li{margin-left: 39px !important;}
.navbar_userInfo{
    margin-right:36px;
    position: relative;
    height: 60px;
}
.navbar_userInfo span i{
    font-style: normal;
    font-size: 12px;
}
.navbar_userInfo span i:hover{
    transform:rotate(180deg);
    -ms-transform:rotate(7deg);
    -moz-transform:rotate(7deg);
    -webkit-transform:rotate(7deg);
    -o-transform:rotate(7deg);
}
.navbar_userInfo dl{
    position: absolute;
    right:0;
    top: 55px;
    display: none;
}
.navbar_userInfo dl dd{
    margin:0px;
    background: #1E7EB4;
    text-align: center;
}
.navbar_userInfo dl dd a{
    display: block;
    font-size: 14px;
    color: #FFFFFF;
    height:28px;
    line-height:26px;
    letter-spacing: 0;
    padding:2px 20px;
    white-space: nowrap;
    word-break: keep-all;
}
.navbar_userInfo dl dd a:hover{
    text-decoration: none;
    background:#136999;
}
.navbar_print img{
    display: inline-block;
    height: 17px;
    width: 16px;
    margin-right: 8px;
}
.navber_question img{
     margin-right: 8px;
}
.navbar_translate a img{
    display:inline-block;
    height:13px;
    width:18px;
    margin-right: 8px;
}
.Hui-tabNav-more{
    right:96px !important;
    top:7px;
    z-index: 999;
}
.index_reload{
    position: absolute;
    right:20px;
    top:0;
    z-index: 9999999;
}
.index_reload button{
    width:68px;
    height:28px;
    background-color: #1E7EB4;
    color: white;
   text-align: center;
    border: none;
    outline: none;
    border-radius: 5px;
    position: relative;
    text-indent: 12px;
    cursor: pointer;
}
.index_reload button i{
    font-size:16px;
    position: absolute;
    left:-5px;
}
#min_title_list {
    top:8px;
    width: max-content !important;
}
#min_title_list > li:first-child{
    margin-left: 0px;
}
#homePage{
    top: 8px;
    left: -5px;
    cursor: pointer;
}
#min_title_list > li,#homePage{
/*    max-width: 100px;*/
    width: auto !important;
    background: #ffffff;
    position: relative;
    height: 28px;
    text-align: center;
    box-sizing: border-box;
    line-height: 28px;
    margin: 0 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    opacity: 0.65;
    padding: 0px 12px;
    display: flex;
}
#min_title_list > li span, #homePage span{
    overflow: hidden;
    display: inline-block;
/*    width: 100%;*/
    text-align: center;
    font-family: SFUIText-Medium;
    font-size: 13px;
    color: #000000;
    opacity: 0.85;
    letter-spacing: 0;
    min-width: 55px;
    padding: 0 0;
}
/*#min_title_list > li:after,#min_title_list > li:before{
    content: '';
    display: inline-block;
    position: absolute;
    border-style: solid;
    border-width: 14px 5px;
}*/
/*#min_title_list > li:before{
    left: -10px;
    border-color: transparent #90a4ae #90a4ae transparent;
}*/
#min_title_list > li:after{
    right: -10px;
    border-color: transparent transparent #90a4ae #90a4ae;
}
#min_title_list > li.active , #homePage.active{
    padding-right: 22px;
    background: #FFFFFF;
/*    width:100px !important;*/
    box-sizing: border-box;
    opacity: 1;
}
#min_title_list > li.active span, #homePage.active span{
    overflow: hidden;
    display: inline-block;
    text-align: center;
    font-family: PingFangSC-Medium;
    font-size: 13px;
    color: #0375DE;
    letter-spacing: 0;
}

#min_title_list > li.active:after{
    border-color: transparent transparent #ffffff #ffffff;
}
/*#min_title_list > li.active:before{
    border-color: transparent #ffffff #ffffff transparent;
}*/
#min_title_list > li.active b{
    position: absolute;
    height: 95%;
    top: 1.5px;
    right: 0;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
}
#min_title_list > li.active b:before{
    content: '';
    position: absolute;
    display: block;
    width: 13px;
    height: 13px;
    top: 50%;
    margin-top: -6px;
    right: 5px;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    background: url(../Public/images/acrossTab-close.png) no-repeat 0 0;
}
.radis-right-background{
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 13px;
    background: #ffffff;
    z-index: 1;
    right: -10px;
    display: none !important;
}
.radis-left-background{
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 13px;
    background: #ffffff;
    z-index: 1;
    left: -10px;
    display: none !important;
}
.radis-right{
    position: absolute;
    height: 100%;
    width: 10px;
    right: -10px;
    top: 0;
    border-bottom-left-radius: 13px;
    background: #f4f4f4;
    z-index: 2;
    display: none !important;
}
.radis-left{
    position: absolute;
    height: 100%;
    width: 10px;
    left: -10px;
    top: 0;
    border-bottom-right-radius: 13px;
    background: #f4f4f4;
    z-index: 2;
    display: none !important;
}
.active .radis-right-background,.active .radis-right,.active .radis-left-background,.active .radis-left{
    display: block;
}
/*
#min_title_list > li.active b:hover:before{
    background-position: 0 bottom;
}*/
