<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/utils/css/public.style.css">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/element-ui-2.2.css">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/normailize.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/default.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/icon/css/font-awesome.min.css">
    <link rel="stylesheet" href="./Application/Tpl/Oms/Public/css/list_common.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" href="./Application/Tpl/Oms/Order/orderList.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" href="./Application/Tpl/Oms/OutGoing/outGoingList.css?v=<{$Think.const.V}>">
    <!--[if IE 9]> <link rel="stylesheet" href="./Application/Tpl/Oms/Public/css/style.css"/><![endif]-->
    <title>待出库</title>
    <style>
            @media screen and (-ms-high-contrast: active),
        (-ms-high-contrast: none) {
            .el-step {
                width: 230px !important;
            }
            .el-step__icon {
                display: inline-block
            }
            .el-step__icon-inner {
                margin-top: 3px !important;
            }
        }
        
        [v-cloak] {
            display: none;
        }
        
        #outGoing-list {
            visibility: hidden;
        }
        
        .selectStatus .el-dialog {
            padding: 10px 20px;
        }
        
        .tableStatus .el-dialog {
            padding: 20px;
        }
        
        .selectStatus .el-dialog__header {
            display: inline-block;
            margin-bottom: 12px;
        }
        
        .selectStatus .el-button.el-button--default {
            background-color: #fff !important;
        }
        
        .selectStatus .el-button,
        .tableStatus .el-button {
            padding: 8px 12px !important;
        }
        
        .isError {
            color: red;
        }
        
        .isOnlyOne .el-table__body-wrapper table {
            padding-bottom: 160px;
        }
        
        .el-popover {
            text-align: center;
        }
        
        .export-order {
            height: 28px;
            padding: 0 12px;
            background-color: #2ba384;
            border: none;
            margin-left: 20px;
            border-radius: 4px;
            color: #fff;
            cursor: pointer;
            border: none;
            outline: none;
        }
        
        .export-order:active {
            -webkit-box-shadow: none;
            box-shadow: none;
            background-color: #2dbda8;
        }
        
        .export-order:hover {
            background-color: #2dbda8;
        }
        
        .orderLogo {
            position: absolute;
            right: 0;
            bottom: 0;
        }
        
        .title-min{
            width: 155px !important;
            text-align: center;
            padding-left: 0 !important;
            color: #000 !important;
        }
        .el-select{
            padding: 0 !important;
        }
        .btn-search{
            background-color: #0375DE !important;
        }

        .orderLogo span {
            margin-left: 1px;
            background: #f99c64;
            color: #FFF;
            padding: 2px 4px;
        }
        .dialog_wrap .el-dialog {
            padding: 20px;
        }
        .dialog_inner {
            text-align: center;
            margin-top: 10px;
        }
        .third-order{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .third-order a{
            width: fit-content;
        }
        .el-loading-spinner{
            top:300px;
            margin-top: -21px;
            position: fixed;
        }
        .shopTag{
            position: absolute;
            bottom: 0px;
            right: 0px;
            border-radius: 0px;
        }
        .list-common-main .table-common tr td {
            padding: 20px 0px;
        }
    </style>
</head>

<body class="outGoingList">

    <div id='outGoing-list' v-cloak class='list-common' v-loading="tableLoading">
        <div class="step-content">
            <el-steps :active="active" align-center>
                <el-step :title="$lang('派单推荐')"></el-step>
                <el-step :title="$lang('待派单')"></el-step>
                <el-step :title="$lang('待获取运单号')"></el-step>
                <el-step :title="$lang('待拣货')"></el-step>
                <el-step :title="$lang('待分拣')"></el-step>
                <el-step :title="$lang('待核单')"></el-step>
                <el-step :title="$lang('待出库')"></el-step>
                <el-step :title="$lang('已出库')"></el-step>
            </el-steps>
        </div>
        <!-- 搜索查询 start-->
        <div class="pickingList-search search-common">
            <!-- 平台 start-->
            <div class="search-toggle">
                <el-row type="flex">
                    <el-col :span="4" class="title-info-container">
                        <div class="title-info">{{$lang('平台渠道')}}</div>
                    </el-col>
                    <el-col :span="22" class="search-item-i">
                        <span :class="{active:isChannelALL}" @click="channelALL">{{$lang('全部')}}</span>
                        <span class="channel-item" v-for="channel in channels" :data-cd="channel.cd" @click="selectChannel(channel.cd)">{{$lang(channel.cdVal)}}</span>
                    </el-col>
                </el-row>
                <!-- 平台 end-->

            </div>
            <!--站点 start-->
            <el-row type="flex" style="background-color: #F5F5F5;margin-left: 87px; padding: 15px 0px 15px 0px;border-radius:4px;">
                <el-col :span="4" class="title-info-container title-min">
                    <div class="title-info" style="color:#000">{{$lang('站点')}}</div>
                </el-col>
                <el-col :span="22" class="search-item-i">
                    <span :class="{active:isSiteAll}" @click="siteAll()" class="tab-item-border" style="float: left;">{{$lang('全部')}}</span>
                    <div class="search-item-i" style="padding-right: 140px;">
                        <el-button v-show="sites.length>= 8" @click="showMore = !showMore" style="position: absolute;right: 35px;" type="text">{{showMore ? $lang('收起') : $lang('展开')}}<i :class="showMore ? 'el-icon-arrow-up' : 'el-icon-arrow-down'" class="el-icon--right"></i>
                        </el-button>

                        <span :class="{'site-item':true,active:site.checked}" v-for="site in sites.slice(0,7)" :data-cd="site.CD" @click="selectSite(site.CD)" class="tab-item-border">{{$lang(site.CD_VAL)}}</span>
                        
                        <span v-show="showMore" :class="{'site-item':true,active:site.checked}" v-for="site in sites.slice(7)" :data-cd="site.CD" @click="selectSite(site.CD)" class="tab-item-border">{{$lang(site.CD_VAL)}}</span>
                    </div>
                    <!-- <div class="search-item-i" v-show="showMore">
                    </div> -->

                </el-col>
            </el-row>
            <!--站点 end-->
            <!-- 售后类型 start-->
            <el-row type="flex">
                <el-col :span="4" class="title-info-container">
                    <div class="title-info">{{$lang('售后类型')}}</div>
                </el-col>
                <el-col :span="22" class="search-item-i">
                    <span :class="{active:selectaftersalesTypeStatus == ''}" class="tab-item-min" @click="selectaftersalesType('')">{{$lang('全部')}}</span>
                    <span :class="{active:selectaftersalesTypeStatus == '1'}" class="tab-item-min" @click="selectaftersalesType('1')">{{$lang('补发')}}</span>
                    <span :class="{active:selectaftersalesTypeStatus == '2'}" class="tab-item-min" @click="selectaftersalesType('2')">{{$lang('换货')}}</span>
                </el-col>
            </el-row>
            <!-- 售后类型 end -->
            <!-- 排序方式 start-->
            <el-row>
                <el-col :span="4" class="title-info-container">
                    <div class="title-info">{{$lang('排序方式')}}</div>
                </el-col>
                <el-col :span="22" class="search-item-i">
                    <span class="sort-type tab-item-min" v-for="(item,key) in sort" :data-CD="key" :class="{active: key == 'orderTime'}" @click="selectSort(key)">{{$lang(item)}}</span>
                    <span class="contain-remark" @click="toggleRemark">{{$lang('含备注')}}</span>
                    <span class="contain-error" @click="toggleError">{{$lang('出库异常')}}</span>
                </el-col>
            </el-row>
            <!-- 排序方式 end-->
            <div class='cls' style="height:auto;">
                <el-col :span="4" class="title-info-container" style="height:100%;">
                    <div class="title-info">{{$lang('条件筛选')}}</div>
                </el-col>
                <el-col :span="22" class="search-item-i">
                    <div class="fl sort-item">
                        <el-select :popper-append-to-body=false :multiple-limit=10 filterable size="small" v-model="selectedCountries" multiple collapse-tags :placeholder="$lang('国家')" style="width:300px">
                            <el-option v-for="(countryItem,key) in countryStatus" :key="key" :label="$lang(countryItem.NAME)" :value="countryItem.id">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="fl sort-item">
                        <el-select :popper-append-to-body=false :multiple-limit=10 filterable size="small" v-model="selectedShops" multiple collapse-tags :placeholder="$lang('店铺')" style="width:300px">
                            <el-option v-for="(shopItem,key) in shopStatus" :key="key" :label="$lang(shopItem.STORE_NAME)" :value="shopItem.ID">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="fl sort-item">
                        <el-select :popper-append-to-body=false :multiple-limit=10 filterable size="small" v-model="selectedWarehouses" multiple collapse-tags :placeholder="$lang('仓库')" style="width:300px">
                            <el-option v-for="(warehouseItem,key) in warehouseStatus" :key="key" :label="$lang(warehouseItem.CD_VAL)" :value="warehouseItem.CD">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="fl sort-item">
                        <el-select :popper-append-to-body=false @change="selectCompany" :multiple-limit=10 filterable size="small" v-model="selectedLogisticsCompanys" multiple collapse-tags :placeholder="$lang('物流公司')" style="width:300px">
                            <el-option v-for="(logisticsCompanyItem,key) in logisticsCompanyStatus" :key="key" :label="$lang(logisticsCompanyItem.cdVal)" :value="logisticsCompanyItem.cd">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="fl sort-item">
                        <el-select :popper-append-to-body=false :multiple-limit=10 filterable size="small" v-model="selectedShippingMethods" multiple collapse-tags :placeholder="$lang('物流方式')" style="width:300px">
                            <el-option v-for="(shippingMethodsItem,key) in shippingMethodsStatus" :key="key" :label="$lang(shippingMethodsItem.logisticsMode)" :value="shippingMethodsItem.id">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="fl sort-item">
                        <el-select :popper-append-to-body=false :multiple-limit=10 filterable size="small" v-model="selectedSalesTeam" multiple collapse-tags :placeholder="$lang('销售团队')" style="width:300px">
                            <el-option v-for="(salesTeamItem,key) in salesTeamStatus" :key="key" :label="$lang(salesTeamItem)" :value="key">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="fl sort-item">
                        <el-select :popper-append-to-body=false :multiple-limit=10 filterable size="small" v-model="selectedStatus" multiple collapse-tags :placeholder="$lang('订单状态')" style="width:300px">
                            <el-option v-for="(item,key) in bwcOrderStatus" :key="key" :label="$lang(item.cdVal)" :value="item.cd">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="fl sort-item">
                        <el-select :popper-append-to-body=false filterable size="small" v-model="isWeighted" collapse-tags :placeholder="$lang('称重状态')" style="width:120px">
                            <el-option v-for="(item,key) in isWeightedList" :key="key" :label="$lang(item)" :value="key">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="fl sort-item">
                        <div>
                            <el-select :popper-append-to-body=false filterable size="small" v-model="timeSort">
                                <el-option v-for="(timeItem,key) in time" :key="key" :label="$lang(timeItem)" :value="key">
                                </el-option>
                            </el-select>
                            <el-date-picker value-format="yyyy-MM-dd HH:mm:ss" size="small" v-model="dateRange" type="datetimerange" :default-time="['00:00:00', '23:59:59']" align="right" unlink-panels :range-separator="$lang('至')" :start-placeholder="$lang('开始日期')" :end-placeholder="$lang('结束日期')" :picker-options="pickerOptions">
                            </el-date-picker>

                        </div>
                    </div>
                    <div class="fl sort-item">
                        <el-select :popper-append-to-body=false v-model="thirdDeliverStatus" style="width:380px" filterable size="small" multiple :placeholder="$lang('标记发货状态')">
                            <el-option :label="$lang('标记发货')" value="1"></el-option>
                            <el-option :label="$lang('等待平台反馈')" value="2"></el-option>
                            <el-option :label="$lang('等待平台反馈（两分钟未收到反馈，可以重新标记）')" value="3"></el-option>
                            <el-option :label="$lang('标记发货失败')" value="4"></el-option>
                        </el-select>
                    </div>
                </el-col>
            </div>
            <div class="search-btn-container">
                <div class="btns" style="padding-left:80px;">
                    <el-select :popper-append-to-body=false filterable size="small" v-model="selectedDownQuery" :placeholder="$lang('请选择')" style="width:150px">
                        <el-option v-for="(downQueryItem,key) in downQueryStatus" :key="key" :label="$lang(downQueryItem)" :value="key">
                        </el-option>
                    </el-select>
                    <el-input size="small" class="search-keywords" v-model="searchKeywords"></el-input>
                    <button @click="doSearch" class="btn-search" name="search">{{$lang('搜索')}}</button>
                    <button @click="doReset" class="btn-reset" name="reset">{{$lang('重置')}}</button>
                </div>
            </div>

            <!-- 搜索查询 end-->

        </div>
        <!-- 分割线 start-->
        <div class="orderList-line line-split"></div>
        <!-- 分割线 end-->





        <!-- 订单表格主体 start-->
        <div class="orderList-Main list-common-main">
            <header>{{$lang('搜索结果:共')}}
                <span class="num-bold">{{totalCount}}</span> {{$lang('条记录')}}
                <button style="margin-left:20px" v-if="!isEditState" @click="exportOrder" type="text" class="export-order">{{$lang('导出')}}</button>
                <el-button style="margin-left:20px" @click="downloadTemp" type="text">{{$lang('模板下载')}}</el-button>
                <?php if (checkPermissions('Oms/order', 'logisicsSortEdit')) { ?>
                <form action="" id="excel-btn-content" class="excel-delivery" @click="clickUploadFile" style="z-index:1;">
                    <el-button style="margin-left:20px" type="text">{{$lang('excel发货')}}</el-button>
                    <input type="file" class="update-file-content" @change="updatePic" style="display: none">
                </form>
                <?php } ?>
                <?php if (checkPermissions('Oms/Patch', 'logisticsUpdate')) { ?>
                <el-button style="margin-left:20px" v-if="!isEditState" @click="mutiEdit" type="text">{{$lang('物流编辑')}}</el-button>
                <el-button style="margin-left:20px" v-if="isEditState" @click="cancelEdit" type="text">{{$lang('批量取消')}}</el-button>
                <el-button style="margin-left:20px" v-if="isEditState" @click="saveEdit" type="text">{{$lang('批量保存')}}</el-button>
                <?php } ?>
                <?php if (checkPermissions('Oms/Patch', 'electronicOrder')) { ?>
                <el-button style="margin-left:20px" v-if="!isEditState" @click="getTracking" type="text">{{$lang('面单重新获取')}}</el-button>
                <?php } ?>
                <?php if(ButtonAction::hidden()){ ?>
                <span class="btns-content btns" style="margin-bottom:0px;">
                    <button class="btn-reset" style="width:auto;padding:0 12px;height:28px;display:inline-block;margin-top:0px;background:#b0b0b0;color:#fff;margin-right:0px;" @click=showDoBack> {{$lang('退回')}} </button>
                    <button style="width:auto" class="blue-btn" :disabled="isClicked" v-if="!isEditState" @click="checkOrder()" v-loading.fullscreen.lock="fullscreenLoading">{{$lang('批量发货（同步平台）')}}</button>
                    <button style="width:auto;background-color: #FF9800;" class="blue-btn" :disabled="isClicked" v-if="!isEditState" @click="checkOrder(true)" v-loading.fullscreen.lock="fullscreenLoading">{{$lang('批量出库')}}</button>
                    <button style="width:auto" class="common-btn" v-if="!isEditState" @click="weightSend(this,'称重发货（同步平台）')">{{$lang('称重发货（同步平台）')}}</button>
                </span>
                <?php } ?>
                <!-- Table -->

            </header>
            <el-dialog class="selectStatus" title="<{$Think.lang.订单退回}>" :visible.sync="dialogVisible01" width="40%" :before-close="handleClose">
                <el-radio-group v-model="backToStatus" size="medium">
                    <el-radio label="N001821000">{{$lang('待派单')}}</el-radio>
                    <el-radio label="N001820500">{{$lang('待拣货')}}</el-radio>
                    <el-radio label="N001820600">{{$lang('待分拣')}}</el-radio>
                    <el-radio label="N001820700">{{$lang('待核单')}}</el-radio>
                </el-radio-group>
                <el-dialog title="提示" :visible.sync="innerVisible" width="30%" append-to-body class="dialog_wrap">
                    <span style="display: flex; justify-content: center;">只有实际仓库没有发货的订单才可以退回</span>
                    <div style="display: flex;justify-content: space-around;margin-top: 10px;padding: 10px 20px 20px;" class="dialog_inner">
                        <el-button @click="backPatch()">未发货</el-button>
                        <el-button type="primary" @click="innerVisible = false">已发货</el-button>
                    </div>
                </el-dialog>
                <span slot="footer" class="dialog-footer">
                    <el-button size="small" @click="cancelStatus">{{$lang('取 消')}}</el-button>
                    <el-button size="small" type="primary" @click="doStatus">{{$lang('确 定')}}</el-button>
                </span>
            </el-dialog>
            <el-dialog :title="$lang('回退结果')" :visible.sync="dialogTableVisible" class="tableStatus">
                <el-table :data="gridData" border>
                    <el-table-column :label="$lang('订单号')">
                        <template slot-scope="scope">
                            <div :class="{'isError':(scope.row.code != '2000')}">{{scope.row.b5cOrderNo}}</div>
                        </template>
                    </el-table-column>
                    <el-table-column :label="$lang('回退状态')">
                        <template slot-scope="scope">
                            <div :class="{'isError':(scope.row.code != '2000')}">{{$lang(scope.row.msg)}}</div>
                        </template>
                    </el-table-column>
                </el-table>
                <span slot="footer" class="dialog-footer">
                        <el-button size="small" type="primary" @click="finishedStatus">{{$lang('确 定')}}</el-button>
                    </span>
            </el-dialog>
            <el-table border show-header ref="multipleTable" :data="tableData" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange " class="picking-list-table table-common">
                <el-table-column type="selection" width="55">
                </el-table-column>
                <el-table-column :label="$lang('站点&店铺')">
                    <template slot-scope="scope">
                        <div style="margin-bottom: 5px">{{$lang(scope.row.platName)}}</div>
                        <div>{{$lang(scope.row.storeName)}}</div>
                    </template>
                </el-table-column>
                <el-table-column prop="b5cOrderNo" :label="$lang('订单号')" width="135">
                </el-table-column>
                <el-table-column :label="$lang('平台订单号')" width="135">
                    <template slot-scope="scope">
                        <!-- v-bind:_href="'/index.php?g=OMS&m=Order&a=orderDetail&thrId='+scope.row.orderId+'&platCode='+scope.row.platCd" -->
                        <div class="third-order">
                            <span :data-plat="scope.row.platCd" >{{scope.row.orderNo?scope.row.orderNo:scope.row.orderId}} </span>
                            <a class="to-detail-btn" :data-plat="scope.row.platCd" @click="toOrderDetail(scope.row.orderNo,scope.row.orderId, scope.row.platCd)" >{{$lang('查看')}}</a>
                        </div>
                        <div class="orderLogo">
                            <span v-if="scope.row.after_sale_type == '1'">{{$lang('补发')}}</span>
                            <span v-if="scope.row.after_sale_type == '2'">{{$lang('换货')}}</span>
                            <span v-if="scope.row.after_sale_type == ''"></span>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column :label="$lang('时间')" width='220'>
                    <template slot-scope="scope">
                        <div v-if="!!scope.row.order_time">{{$lang('下单时间')}} ：{{scope.row.order_time | formatDate}}</div>
                        <div v-if="!!scope.row.payment_time">{{$lang('付款时间')}} ：{{scope.row.payment_time | formatDate}}</div>
                        <div v-if="!!scope.row.shipping_time">{{$lang('平台发货时间')}}：{{scope.row.shipping_time | formatDate}}</div>
                        <div v-if="!!scope.row.send_ord_time">{{$lang('派单时间')}}：{{scope.row.send_ord_time | formatDate}}</div>
                    </template>
                </el-table-column>
                <el-table-column :label="$lang('商品名称')" width="110">
                    <template slot-scope="scope">
                        <div v-if="scope.row.skuIds.length < 2">{{scope.row.skuIds[0]}}</div>
                        <el-popover placement="bottom" width="150px" trigger="hover" v-if="scope.row.skuIds.length > 1">
                            <div v-for="(item,index) in scope.row.skuIds">{{item}}</div>
                            <div slot="reference" class="name-wrapper">
                                <div>{{scope.row.skuIds[0]}}</div>
                                <i class='el-icon-d-arrow-left' slot="reference"></i>
                            </div>
                        </el-popover>
                        <span class="shopTag" v-if="scope.row.third_deliver_status == 1">
                                    <el-tag size="mini"
                                            style="background-color: #557c72; border: 1px solid rgb(38, 148, 120) !important;color: #FFFFFF;">{{$lang('已标记发货')}}</el-tag>
                                </span>
                        <span class="shopTag" v-if="scope.row.third_deliver_status == 2">
                                    <el-tag size="mini"
                                            style="background-color: #557c72; border: 1px solid rgb(38, 148, 120) !important;color: #FFFFFF;">{{$lang('等待平台反馈')}}</el-tag>
                                </span>
                        <span class="shopTag" v-if="scope.row.third_deliver_status == 3">
                            <el-tooltip :content="$lang('等待平台反馈（两分钟未收到反馈，可以重新标记）')" placement="top" effect="dark">
                                <el-tag size="mini"
                                        style="background-color: #557c72; border: 1px solid rgb(38, 148, 120) !important;color: #FFFFFF;width: 110px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap">
                                    {{$lang('等待平台反馈（两分钟未收到反馈，可以重新标记）')}}
                                </el-tag>
                            </el-tooltip>
                        </span>

                        <span class="shopTag" v-if="scope.row.third_deliver_status == 4">
                            <el-tag size="mini"
                                    style="background-color: #557c72; border: 1px solid rgb(38, 148, 120) !important;color: #FFFFFF;">
                                {{$lang('标记发货失败')}}
                            </el-tag>
                        </span>
                    </template>
                </el-table-column>
                <!--  <el-table-column prop="warehouseNm" label="<{$Think.lang.仓库}>">
                </el-table-column> -->
                <el-table-column :label="$lang('订单状态')">
                    <template slot-scope="scope">
                            {{$lang(scope.row.bwcOrderStatusNm)}}
                        </template>
                </el-table-column>
                <el-table-column :label="$lang('仓库')">
                    <template slot-scope="scope">
                        {{$lang(scope.row.warehouseNm)}}
                    </template>
                </el-table-column>
                <!-- <el-table-column :label="$lang('发货系统')">
                    <template scope="scope">
                        <div v-if="isFinished01 && isFinished02">

                            <div v-if="systemDock[scope.row.systemDocking]">{{($lang(systemDock[scope.row.systemDocking]).cdVal)}}</div>
                            <div>{{scope.row.deliveryStatus == "0"? $lang('未对接'):$lang('已对接')}}</div>

                        </div>
                    </template>
                </el-table-column> -->
                <el-table-column prop="expeCompany" :label="$lang('物流公司')" width="135">
                    <template slot-scope="scope">
                        <div v-if="!scope.row.edit">{{$lang(scope.row.expeCompany)}}</div>
                        <div v-if="scope.row.edit">
                            <el-select :popper-append-to-body=false v-model="scope.row.expeCompanyCd" size="small" :placeholder="$lang('请选择')" @change="changeExpeCom(scope.row)">
                                <el-option v-for="item in scope.row.expeCompanyDatas" :key="item.logisticsCode" :label="$lang(item.logisticsName)" :value="item.logisticsCode">
                                </el-option>
                            </el-select>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column prop="logisticModel" :label="$lang('物流方式')" width="135">
                    <template slot-scope="scope">
                        <div v-if="!scope.row.edit">{{$lang(scope.row.logisticModel)}}</div>
                        <div v-if="scope.row.edit">
                            <el-select @change="changeMethod(scope.row)" :popper-append-to-body=false v-model="scope.row.logisticModelId" size="small" :placeholder="$lang('请选择')">
                                <el-option v-for="item in scope.row.logisticDatas" :key="item.id" :label="$lang(item.logisticsMode)" :value="item.id" ></el-option>
                            </el-select>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column :label="$lang('运单号')" width="180">
                    <template slot-scope="scope">
                        <div v-if="!scope.row.edit">{{scope.row.trackingNumber}}</div>
                        <div v-if="scope.row.edit">
                            <el-input size="small" :disabled="scope.row.disabled" v-model="scope.row.trackingNumber"></el-input>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column :label="$lang('面单')" width="135">
                    <template slot-scope="scope">
                        <div v-if="!scope.row.edit">{{$lang(scope.row.surfaceWayGetCdNm)}}</div>
                        <div v-if="!scope.row.edit && scope.row.surfaceWayGetCd =='N002010100'">{{$lang(scope.row.logisticsSingleStatuCdNm)}}</div>
                        <el-select v-if="scope.row.edit" :popper-append-to-body=false v-model="scope.row.surfaceWayGetCd" size="small" :placeholder="$lang('请选择')" @change="changeSurface(scope.row)" @focus= "focusSurface(scope.row)">
                            <el-option v-for="(item,index) in scope.row.surfaceWayGet" :key="index" :label="item.CD_VAL" :value="item.CD">{{$lang(item.CD_VAL)}}
                            </el-option>
                        </el-select>
                    </template>
                </el-table-column>
                <el-table-column :label="$lang('称重(KG)')" width="100">
                    <template slot-scope="scope">
                        <div>{{scope.row.weight}}</div>
                    </template>
                </el-table-column>
                <el-table-column prop="remarkMsg" :label="$lang('备注')">
                    <template slot-scope="scope">
                                <!-- <div v-show="scope.row.remarkMsg" @click="doRemark(scope.row)" class="remarks-content">{{scope.row.remarkMsg}}</div> -->
                                <div v-show="scope.row.use_remarks" @click="doRemark(scope.row)" class="remarks-content">{{$lang(scope.row.use_remarks)}}</div>
                                <div v-show="scope.row.remarkMsg && !scope.row.use_remarks" @click="doRemark(scope.row)" class="remarks-content">{{$lang(scope.row.remarkMsg)}}</div>
                                <div v-show="!scope.row.remarkMsg && !scope.row.use_remarks" class="do-remark" @click="doRemark(scope.row)">{{$lang('备注')}}</div>
                                <el-dialog :visible.sync="dialogVisible" :show-close="false" width="420px" id="remark-dialog">
                                    <el-tabs type="border-card">
                                        <el-tab-pane :label="$lang('用户备注')">
                                            <div class="use_remarks_content">{{$lang(form.use_remarks)}}</div>
                                        </el-tab-pane>
                                        <el-tab-pane :label="$lang('运营备注')">
                                            <textarea class="operate-remark" name="" id="" cols="40" rows="10" v-model="form.remarkMsg" :data-order="scope.row.orderId"
                                                :data-plat="scope.row.platCd"></textarea>
                                            <div class="btns remark-btn" >
                                                <?php if(ButtonAction::hidden()){ ?>
                                                <button class="save-remark-btn" @click="saveRemark(scope.$index, scope.row)">{{$lang('保存')}}</button>
                                                 <?php } ?>
                                                <button class="cancel-remark-btn" @click='cancelRemark'>{{$lang('取消')}}</button>
                                            </div>
                                        </el-tab-pane>
                                    </el-tabs>

                                </el-dialog>
                            </template>
                </el-table-column>
                <el-table-column prop="msgCd1" :label="$lang('出库异常')">
                </el-table-column>
            </el-table>

            <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page.sync="currentPage" :page-size="searchData.data.query.pageSize" :page-sizes="[20, 50, 100]" layout="sizes , prev, pager, next, jumper" :total="totalCount">
            </el-pagination>
        </div>
        <!-- 订单表格主体 end-->

    </div>
</body>
<script type="text/javascript" src="./Application/Tpl/Home/Public/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/jquery.base64.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/H-ui.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/H-ui.admin.js?v=<{$Think.config.VER_NUM}>"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/vue.2.5.13.js?<{$Think.config.VER_NUM}>"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/axios.min.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/element-ui-2.6.3.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/element-en.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/element-en.js"></script>
<script type="text/javascript" src="./Application/Tpl/Oms/OutGoing/outGoingList.js?v=<{$Think.const.V}>11"></script>

<script>
    if (getCookie('think_language') !== "zh-cn") {
        ELEMENT.locale(ELEMENT.lang.en)
    }
    var fileContent = '<{$file}>';
    var suffix = '<{$suffix}>';
    var downloadTextFile = function(mobileCode) {
        if (!mobileCode) {
            mobileCode = '';
        }
        mobileCode = $.base64.decode(fileContent);
        var file = new File([mobileCode], "手机号." + suffix, {
            type: "text/plain;charset=utf-8"
        });
        console.log();
        saveAs(file);
    };

    var saveAs = saveAs || (function(view) {
        "use strict";
        // IE <10 is explicitly unsupported
        if (typeof view === "undefined" || typeof navigator !== "undefined" && /MSIE [1-9]\./.test(navigator.userAgent)) {
            return;
        }
        var
            doc = view.document
            // only get URL when necessary in case Blob.js hasn't overridden it yet
            ,
            get_URL = function() {
                return view.URL || view.webkitURL || view;
            },
            save_link = doc.createElementNS("http://www.w3.org/1999/xhtml", "a"),
            can_use_save_link = "download" in save_link,
            click = function(node) {
                var event = new MouseEvent("click");
                node.dispatchEvent(event);
            },
            is_safari = /constructor/i.test(view.HTMLElement) || view.safari,
            is_chrome_ios = /CriOS\/[\d]+/.test(navigator.userAgent),
            throw_outside = function(ex) {
                (view.setImmediate || view.setTimeout)(function() {
                    throw ex;
                }, 0);
            },
            force_saveable_type = "application/octet-stream"
            // the Blob API is fundamentally broken as there is no "downloadfinished" event to subscribe to
            ,
            arbitrary_revoke_timeout = 1000 * 40 // in ms
            ,
            revoke = function(file) {
                var revoker = function() {
                    if (typeof file === "string") { // file is an object URL
                        get_URL().revokeObjectURL(file);
                    } else { // file is a File
                        file.remove();
                    }
                };
                setTimeout(revoker, arbitrary_revoke_timeout);
            },
            dispatch = function(filesaver, event_types, event) {
                event_types = [].concat(event_types);
                var i = event_types.length;
                while (i--) {
                    var listener = filesaver["on" + event_types[i]];
                    if (typeof listener === "function") {
                        try {
                            listener.call(filesaver, event || filesaver);
                        } catch (ex) {
                            throw_outside(ex);
                        }
                    }
                }
            },
            auto_bom = function(blob) {
                // prepend BOM for UTF-8 XML and text/* types (including HTML)
                // note: your browser will automatically convert UTF-16 U+FEFF to EF BB BF
                if (/^\s*(?:text\/\S*|application\/xml|\S*\/\S*\+xml)\s*;.*charset\s*=\s*utf-8/i.test(blob.type)) {
                    return new Blob([String.fromCharCode(0xFEFF), blob], {
                        type: blob.type
                    });
                }
                return blob;
            },
            FileSaver = function(blob, name, no_auto_bom) {
                if (!no_auto_bom) {
                    blob = auto_bom(blob);
                }
                // First try a.download, then web filesystem, then object URLs
                var
                    filesaver = this,
                    type = blob.type,
                    force = type === force_saveable_type,
                    object_url, dispatch_all = function() {
                        dispatch(filesaver, "writestart progress write writeend".split(" "));
                    }
                    // on any filesys errors revert to saving with object URLs
                    ,
                    fs_error = function() {
                        if ((is_chrome_ios || (force && is_safari)) && view.FileReader) {
                            // Safari doesn't allow downloading of blob urls
                            var reader = new FileReader();
                            reader.onloadend = function() {
                                var url = is_chrome_ios ? reader.result : reader.result.replace(
                                    /^data:[^;]*;/, 'data:attachment/file;');
                                var popup = view.open(url, '_blank');
                                if (!popup) view.location.href = url;
                                url = undefined; // release reference before dispatching
                                filesaver.readyState = filesaver.DONE;
                                dispatch_all();
                            };
                            reader.readAsDataURL(blob);
                            filesaver.readyState = filesaver.INIT;
                            return;
                        }
                        // don't create more object URLs than needed
                        if (!object_url) {
                            object_url = get_URL().createObjectURL(blob);
                        }
                        if (force) {
                            view.location.href = object_url;
                        } else {
                            var opened = view.open(object_url, "_blank");
                            if (!opened) {
                                // Apple does not allow window.open, see https://developer.apple.com/library/safari/documentation/Tools/Conceptual/SafariExtensionGuide/WorkingwithWindowsandTabs/WorkingwithWindowsandTabs.html
                                view.location.href = object_url;
                            }
                        }
                        filesaver.readyState = filesaver.DONE;
                        dispatch_all();
                        revoke(object_url);
                    };
                filesaver.readyState = filesaver.INIT;

                if (can_use_save_link) {
                    object_url = get_URL().createObjectURL(blob);
                    setTimeout(function() {
                        save_link.href = object_url;
                        save_link.download = name;
                        click(save_link);
                        dispatch_all();
                        revoke(object_url);
                        filesaver.readyState = filesaver.DONE;
                    });
                    return;
                }

                fs_error();
            },
            FS_proto = FileSaver.prototype,
            saveAs = function(blob, name, no_auto_bom) {
                return new FileSaver(blob, name || blob.name || "download", no_auto_bom);
            };
        // IE 10+ (native saveAs)
        if (typeof navigator !== "undefined" && navigator.msSaveOrOpenBlob) {
            return function(blob, name, no_auto_bom) {
                name = name || blob.name || "download";

                if (!no_auto_bom) {
                    blob = auto_bom(blob);
                }
                return navigator.msSaveOrOpenBlob(blob, name);
            };
        }

        FS_proto.abort = function() {};
        FS_proto.readyState = FS_proto.INIT = 0;
        FS_proto.WRITING = 1;
        FS_proto.DONE = 2;
        FS_proto.error = FS_proto.onwritestart = FS_proto.onprogress = FS_proto.onwrite = FS_proto.onabort = FS_proto.onerror = FS_proto.onwriteend = null;
        return saveAs;
    }(
        typeof self !== "undefined" && self ||
        typeof window !== "undefined" && window ||
        this.content
    ));
    // `self` is undefined in Firefox for Android content script context
    // while `this` is nsIContentFrameMessageManager
    // with an attribute `content` that corresponds to the window

    if (typeof module !== "undefined" && module.exports) {
        module.exports.saveAs = saveAs;
    } else if ((typeof define !== "undefined" && define !== null) && (define.amd !== null)) {
        define("FileSaver.js", function() {
            return saveAs;
        });
    }
</script>

</html>