.row{
  margin:0px !important;
}
ul,li{
  list-style-type: none;
}
fieldset select{
  border:1px solid rgba(0,0,0,.15) !important;
}
#logistics{
  .form-group,.table{
    margin:0px !important;}
  padding:10px 20px;
  width:100%;
  height:100%;
  .logistics_title{
    height:30px;
    width: 100%;
    a{
      display: inline-block;
      height:30px;
      vertical-align: top;
      margin-right:25px;
      text-decoration: none;
      text-align: left;
      color:#263238;
      font-size:18px;
      &.active{
        font-weight: 700;
      }
    }
  }
  .logistics_form{
    margin:0px;
    display: block;
    margin-top: -5px;
    padding:0px;
    border-radius: 5px;
    width:100%;
    .card{
      margin-top:0px !important;
    }
    .order_list_row_top_input table tbody tr td{
        vertical-align: middle;
        input,fieldset,select{
          height:34px;
          line-height: 34px;
          outline: none;
          padding:0px !important;
          text-indent: 5px;
        }
      fieldset select{
        width:100%;
      }
    }
  }
  .logistics_add{
    margin-top:10px !important;
     >div{
       padding:0px;
       margin:0px;
       button{
         height:34px;
         line-height: 34px;
         padding:0px 20px;
         outline: none;
         border: 1px solid #CADEE7;
         background: white;
         cursor: pointer;
         border-radius: 4px;
         font-size: 14px;
         .fa-check{
           color:green;
           font-size: 18px;
         }
         .fa-times{
           color: red;
           font-size: 18px;
         }
         .fa-pencil{
           color: green;
           font-size: 18px;
         }
       }
     }
  }
  .logistics_table{
    width:100%;
    margin:20px 0px;
    .logistics_table_main{
      width:100%;
    }
    table{
      width:100%;
      thead th{
        color:white;
        background:#546E7A ;
        font-weight: normal;
        border:1px solid #668491;
        word-break: keep-all;
        white-space: nowrap;
        text-align: center;
        padding:0px 5px;
        height:40px;
        line-height: 40px;
      }
      tbody td{
        text-align: center;
        border-bottom:1px solid #CADEE7;
        border-top:1px solid #CADEE7;
        border-left:1px solid #ECEFF1;
        border-right:1px solid #ECEFF1;
        color: #263238;
        vertical-align: middle;
        white-space: normal;
        word-break: break-all;
        font-size: 13px;
        &.logistics_table_operation{
          white-space: nowrap;
          word-break: keep-all;
          span{
            padding: 0 10px;
            display: inline-block;
            cursor: pointer;
          }
          span::before{
            content: url('/Application/Tpl/Home/Public/images/radio-default.png');
            vertical-align: middle;
            line-height: 1px;
            margin-right: 5px;
          }
          span.active::before{
            content: url('/Application/Tpl/Home/Public/images/radio.png');
            vertical-align: middle;
            line-height: 1px;
            margin-right: 5px;
          }
        }
        &.track_list_state{
            .success{
              color:green;
            }
          .error{
             color:red;
          }
        }
        &.noWrap{
          white-space: nowrap;
          word-break: keep-all;
        }
      }
    }
  }
  .logistics_table_record{
    width:100%;
    display: block;
    margin-top: 20px;
    p{
      float: left;
    }
    .block{
      float: right;
    }
  }
  .logistics_pop{
    display:none;
    position: fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:99999;
    background:rgba(0,0,0,0.2);
    .logistics_pop_content{
      margin:10% auto;
      width:600px;
      height:auto;
      box-shadow: 0 0 6px 0;
      border-radius: 5px;
      background:white;
      .logistics_pop_top{
        height:40px;
        background: #546E7A;
        width:100%;
        span{
          display: block;
          width: 100%;
          height:100%;
          color:white;
          font-size: 15px;
          border-top-left-radius:5px;
          border-top-right-radius:5px;
          text-align: left;
          text-indent: 20px;
          line-height: 40px;
          i{
            float: right;
            display: block;
            height:40px;
            width:30px;
            margin-right: 10px;
            line-height: 40px;
            font-style: normal;
            text-align: center;
            font-size:20px;
            cursor: pointer;
            color: white;
          }
        }
      }
      .logistics_pop_body{
        width:100%;
        height:auto;
        margin:10px 0px;
        ul{
          float: left;
          margin-top: 20px;
          li{
            height:40px;
            line-height: 40px;
            margin-bottom: 10px;
            float: none;
          }
          &.logistics_pop_body_left{
            margin-left:30px;
            li{
              color:#546E7A;
              text-align: right;
              font-size: 12px;
            }
          }
          &.logistics_pop_body_right{
             li input,li textarea,li select{
               width:200px;
               height:30px;
               display: block;
               line-height: 30px;
               margin-top:5px;
               margin-left:20px;
               border-radius: 5px;
             }
            li select[disabled = true]{
              cursor: no-drop;
             }
            li .logistics_pop_body_channel{
              width:230px;
              min-height:20px;
              margin:0px 0px 0px 20px;
              border: 1px solid rgba(0, 0, 0, 0.15);
              span{
                padding: 0 5px 0px 0px;
                font-size: 13px;
                height:16px;
                line-height: 16px;
                margin:0px;
                display: inline-block;
                cursor: pointer;
              }
              span::before{
                content: url('/Application/Tpl/Home/Public/images/radio-default.png');
                vertical-align: middle;
                line-height: 1px;
                margin-right: 2px;
              }
              span.active::before{
                content: url('/Application/Tpl/Home/Public/images/radio.png');
                vertical-align: middle;
                line-height: 1px;
                margin-right: 2px;
              }
            }
            #ruleName{width: 230px}
          }
        }
        .logistics_pop_body_right_edit{
          float: left;
          height:100%;
          position: relative;
          margin-left: 58px;
          a{
            height:30px;
            line-height: 30px;
            background:#2BA384;
            color: white;
            padding:0px 10px;
            word-break: keep-all;
            white-space: nowrap;
            border:none;
            outline:none;
            border-radius: 5px;
            position: absolute;
            bottom:3px;
          }
        }
        >div{
            height:auto;
            padding:15px 0px;
            clear: both;
            >.must{
              float: left;
              width: 128px;
              text-align: right;
              margin-right: 30px;
           }
            >div{
              width:230px;
              float: left;
              .form-control{
                height:30px;
                width:230px !important;
              }
              #pop_logistics_company{
                height:30px;
                width:230px !important;
              }
            }
          .logistics_baisis_able{
            padding-left: 0px !important;
          }
          .rule_add_startPlace{
             .el-input__inner{
               width: 230px;
             }
          }
        }
      }
      .logistics_pop_footer{
        width:100%;
        height:80px;
        clear: both;
        text-align: right;
        button{
          height:32px;
          font-size: 14px;
          line-height: 32px;
          background: #1E7EB4;
          padding:0px 20px;
          color: white;
          margin-right: 20px;
          border-radius: 4px;
          border: none;
          outline: none;
          cursor: pointer;
          &.cancel{
            background:white;
            color: #546E7A;
            border: 1px solid #C8D2D7;
          }
        }
        .logistics_pop_footer_tip{
          display: block;
          width:100%;
          text-align: left;
          text-indent:30px;
          color:red;
          cursor: auto;
          i{
            font-weight:normal;
            font-style: normal;
          }
        }
      }
    }
  }
}
.logistics_pop_body_gshopper{
   position: relative;
  .logistics_pop_body_right_gshopper{
    float: left;
    height:100%;
    position: absolute;
    margin-left: 58px;
    bottom: -125px;
    left:320px;
    a{
      height:30px;
      line-height: 30px;
      background:#2BA384;
      color: white;
      display: block;
      padding:0px 10px;
      word-break: keep-all;
      white-space: nowrap;
      border:none;
      outline:none;
      border-radius: 5px;
      &:hover{
        background:#2BA384;
        color: white;
      }
    }
  }
}
.logistics_pop_content_dispatch{
  height:469px !important;
  .logistics_pop_body>.logistics_pop_body_right{
    height:213px;
  }
  .logistics_pop_body_channel{
    height:150px;
    overflow-y: auto;
  }
  .logistics_pop_body_bottom{
    width:100%;
    height:100px;
    clear: both;
    select{
      margin-left:20px;
      font-size: 13px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      color: #000;
      width:150px;
      overflow: hidden;
    }
  }
}
.logistics_xl_export{
  display:inline-block;
  border: 1px solid #CADEE7;
  outline: none;
  height:32px;
  line-height:32px;
  padding:0px 20px;
  margin-left:58px;
  background:#F7F9FB;
  color:#546E7A;
  font-size:14px;
  text-indent:16px;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  .fa{
    color:#0A6B0A;
    font-size:18px;
    position: absolute;
    left:1px;
    top:6px;
  }
}
.logistics_basis_xl_export{
  margin-left: 30px;
  color: blue !important;
  text-decoration: underline !important;
}
.logistics_basis_title_select{
  border: 1px solid rgba(0,0,0,.15);
  text-indent: 0px !important;
}
.logistics_search{
 .logistics_search_search{
    height: 34px;
    text-align: center;
    padding: 0px 20px;
    line-height: 34px;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 0;
    background: #2BA384;
    border-radius: 4px;
    display: inline-block;
    color: white;
    border: none;
    outline: none;
    text-indent: 10px;
   margin-right: 10px;
    position: relative;
    .fa{
      font-size:16px;
      position: absolute;
      left:-1px;
      top:10px;
      color: white;
    }
  }
  button[type='reset']{
    height: 34px;
    text-align: center;
    padding: 0px 20px;
    font-size: 14px;
    line-height: 34px;
    color: #546E7A;
    cursor: pointer;
    letter-spacing: 0;
    background: #FFFFFF;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid #CADEE7;
    outline: none;
  }
}
.el-select-dropdown{
  z-index: 999991 !important;
}
.logistics_relation_pop {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.2);
  .logistics_relation_pop_content {
    margin: 10% auto;
    width:720px;
    height:318px;
    box-shadow: 0 0 6px 0;
    border-radius: 5px;
    position: relative;
    background: white;
    .pop_title {
      height: 40px;
      background: #546E7A;
      width: 100%;
      color: white;
      font-size: 15px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      text-align: left;
      text-indent: 20px;
      line-height: 40px;
      i {
        float: right;
        display: block;
        height: 40px;
        width: 30px;
        margin-right: 10px;
        line-height: 40px;
        font-style: normal;
        text-align: center;
        font-size: 20px;
        cursor: pointer;
        color:white;
      }
    }
    .pop_operation {
      width: 100%;
      height: 40px;
      background: #F7F9FB;
      span,button{
        margin-left: 25px;
        float: left;
        height: 40px;
        cursor: pointer;
        font-size: 13px;
        line-height: 40px;
        background: #F7F9FB;
        color: #263238;
        border:none;
        outline:none;
        padding:0px;
        i {
          display: block;
          height: 40px;
          line-height: 40px;
          float: left;
          color: green;
          font-size: 20px;
          margin-right: 5px;
        }
      }
    }
    .pop_body {
      margin: 10px 0px;
      padding-right: 20px;
      table tr td {
        text-align: right;
        border: none;
        color: #263238;
        vertical-align: middle;
        font-size:12px;
        white-space: normal;
        word-break: break-all;
        &[colspan="3"] {
          text-align: left;
        }
        &.common_data span {
          height: 32px !important;
          right: 10px;
        }
        fieldset{
          text-align: left;
        }
        input, select {
          width: 100%;
          height: 32px;
          line-height: 32px;
          font-size: 12px;
          text-align: left;
        }
        textarea {
          width: 80%;
          border: 1px solid rgba(0, 0, 0, .15);
          border-radius: 5px;
          text-indent: 5px;
          font-size: 13px;
        }
      }
    }
      .logistics_pop_footer{
        width: 100%;
        height: 80px;
        clear: both;
        position: absolute;
        left: 0px;
        bottom: 0px;
        text-align: right;
        button {
          height: 32px;
          font-size: 14px;
          line-height: 32px;
          background: #1E7EB4;
          padding: 0px 20px;
          color: white;
          margin-right: 20px;
          border-radius: 4px;
          border: none;
          outline: none;
          cursor: pointer;
          &.cancel {
            background: white;
            color: #546E7A;
            border: 1px solid #C8D2D7;
          }
        }
      }
    }
  }
.td_saleChannel span{
  margin:0px 5px !important;
  display: inline-block;
}
.waybill_operation div{
  width:100%;
  height:100%;
  span{
       cursor: pointer;
      .fa-times{
         font-size:20px;
         color:red;
      }
       padding:0px 5px;
      .fa-pencil{
        color:green;
        font-size: 20px;
      }
    .fa-circle-thin{
      color: rgba(0,0,0,.15);;
      font-size: 20px;
    }
    .fa-check-circle{
      color:#20a0ff;
      font-size: 20px;
    }
  }
}
.faceFormat{
  width:398px;
  height:580px;
  padding:10px 20px;
  background:white;
  .table{
    padding:0px;
    margin:0px;
      tr td{
        font-size:12px !important;
        padding:2px 5px;
        vertical-align: middle;
        border:1px solid #CADEE8;
        word-break: keep-all;
        color: #263238;
        label{font-size:12px;}
        span{font-size: 12px}
      }
    .faceFormat_top_logo td:nth-child(1)>div{
      width:210px;
      height:50px;
      white-space: normal;
      word-break: break-all;
      position: relative;
       span:nth-child(1){
         display: block;
         width:100px;
         float: left;
         height:30px;
         text-align: center;
         line-height: 30px;
         position: absolute;
         top:8px;
         left:0px;
         margin-left: -6px;
        img{
          display: block;
          height:20px;
          width:100px;
        }
       }
      span:nth-child(2){
        display: block;
        float: left;
        height:30px;
        position: absolute;
        left:100px;
        top:8px;
        text-indent:8px;
        font-weight:bold;
        font-size: 12px;
        em{
          height:25px;
          font-size:10px;
          -webkit-transform:scale(0.8);
          padding:0px;
          margin-left:-10px;
          font-weight:bold;
          line-height:10px;
          font-style: normal;
          vertical-align: top;
          white-space: nowrap;
          word-break: keep-all;
          outline:none;
        }
      }
    }
    .faceFormat_top_logo td:nth-child(2){
      width:100%;
      height:100%;
        span{
          height:43px;
          width:130px;
          display: block;
          background: lavenderblush;
          margin-left: 20px;
          img{
            display: block;
            height:43px;
            width:130px;
          }
        }
    }
    .sendAndRecipient td[colspan='3'] span{
       margin-left: 10px;
    }
    .sendAndRecipient td:nth-child(1)>div{
       label{
         font-weight: bold;
       }
      em{
        border: none;
        outline: none;
        height:20px;
        font-size: 12px;
        font-style: normal;
      }
    }
    .sendAndRecipient td:nth-last-child(1)>div{
      span{
        width:100%;
        display: block;
        font-weight: bold;
      }
      p{
        width:100%;
        display: block;
        text-align: right;
        font-size: 13px;
      }
      &.CertifiedView{
        position: relative;
        padding:2px 0px 25px 0px;
        i{
          position: absolute;
          right:-5px;
          bottom:-2px;
          font-style: normal;
          font-size:10px;
          -webkit-transform:scale(0.8);
        }
      }
    }
    .sendAndRecipient td[colspan='3']{
      vertical-align: top;
        label{
          font-weight: bold;
          i{
            font-style: normal;
            font-weight: normal;
            margin-left: 10px;
            display:inline-block;
          }
        }
      p{
        font-size: 12px;
      }
    }
    .tableInformationTop td{
       text-align: center;
      font-weight: bold;
    }
    .tableInformationContent td{
      text-align: center;
    }
    .remark td:nth-child(1){
      vertical-align:top;
    }
    .remark td{
      vertical-align: top;
        label{
          font-weight: bold;
          display: block;
          height:100%;
          width:100%;
          padding-bottom: 10px;
        }
      span{
        font-size: 12px;
        font-weight: bold;
        display: block;
        width: 100%;
        text-align: center;
      }
      p{
        width:100%;
        text-align: center;
      }
    }
    .faceFormat_top_logo_bottom td:nth-child(1){
      border-right: none;
    }
    .faceFormat_top_logo_bottom td:nth-child(1)>div{
      width:210px;
      height:50px;
      white-space: normal;
      word-break: break-all;
      position: relative;
      span:nth-child(1){
        display: block;
        width:100px;
        float: left;
        height:30px;
        text-align: center;
        line-height: 30px;
        margin-left: -6px;
        font-weight: bold;
        top:8px;
        position: absolute;
        left:0px;
        img{
          display: block;
          width:100px;
          height:20px;
        }
      }
      span:nth-child(2){
        display: block;
        float: left;
        height:30px;
        top:5px;
        position: absolute;
        left:99px;
        text-indent: 8px;
        font-weight: bold;
        i{
          font-style: normal;
          margin-left: -10px;
          white-space: nowrap;
        }
      }
    }
    .faceFormat_top_logo_bottom td:nth-child(2){
      width:100%;
      border-left: none;
      height:100%;
      span{
        height:43px;
        width:130px;
        display: block;
        margin-left: 20px;
        img{
          display: block;
          height:43px;
          width:130px;
        }
      }
    }
    .sendAndReceiptBottom td{
      span{
        display: block;
        font-weight: bold;
        width:100%;
        font-size: 12px;
        i{
          font-style:normal;
          font-weight: normal;
          margin:10px;
        }
        em{
          font-style:normal;
          float: right;
          margin-right: 20px;
        }
      }
      p{
        font-size: 12px;
      }
    }
    .fontWhite td{
      color: white;
    }
    .text-center td{
      i{
        font-style: normal;
        margin-left:20px;
      }
    }
  }
}
.faceFormatButton {
  height:50px;
  margin:10px 0px;
  width:100%;
  text-align: center;
  vertical-align: middle;
  button{
    height:30px;
    padding:0px 20px;
    border-radius:5px;
    outline:none;
    color:white;
    background:#1E7EB4;
    border:none;
    &.cancel{
      border: 1px solid #CADEE7;
      color: #546E7A;
      background: #FFFFFF;
    }
  }
}
.logistics_pop_operation{
  position: fixed;
  display: none;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:99999;
  background:rgba(0,0,0,0.2);
  .logistics_pop_operation_content{
    margin:10% auto;
    width:298px;
    box-shadow: 0 0 6px 0;
    border-radius: 5px;
    background:white;
    .logistics_pop_operation_top{
      height: 40px;
      background: #546E7A;
      width: 100%;
      color: white;
      font-size: 15px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      text-align: left;
      text-indent: 20px;
      line-height: 40px;
    }
    .logistics_pop_operation_body{
      width:100%;
      padding:30px 0px 30px 0px;
      text-align: center;
      vertical-align: middle;
      span{
        width: 100%;
        height:100%;
        display: block;
        word-break: break-all;
        white-space: normal;
        padding:0px 10px;
      }
    }
    .logistics_pop_operation_bottom{
      height:40px;
      text-align: center;
      padding-bottom:50px;
      button{
        height: 32px;
        font-size: 14px;
        line-height: 32px;
        background: #1E7EB4;
        padding: 0px 20px;
        color: white;
        margin-right: 20px;
        border-radius: 4px;
        border: none;
        outline: none;
        cursor: pointer;
        &.cancel{
          background: white;
          color: #546E7A;
          border: 1px solid #C8D2D7;
        }
      }
    }
  }
}
//=====物流日志弹框样式=======//
//.track_list_detail>div:hover{
//  .trackList_pop{
//    display: block !important;
//  }
//}
.track_list_detail>div{
  label{
    margin-bottom: 0px;
  }
  width:100%;
  height:100%;
  position: relative;

 .trackList_pop{
   display: none;
   position: absolute;
   width:500px;
   height:300px;
   bottom: -288px;
   right:90%;
   box-shadow: 0 0 6px 0;
   border-radius: 5px;
   background: white;
   .trackList_pop_head {
     height:30px;
     width: 100%;
     //position: relative;
     vertical-align: middle;
     background:#546E7A;
     color:white;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     label{
       display: block;
       height:30px;
       line-height: 30px;
       text-indent: 20px;
       padding:0px;
       float: left;
       font-weight: bold;
     }
     i{
       display: block;
       font-style: normal;
       float: right;
       height:30px;
       line-height: 30px;
       margin-right: 10px;
       font-size: 16px;
       cursor: pointer;
       font-weight: bold;
     }
   }
   .trackList_pop_code{
     height:32px;
     width: 100%;
     label{
       display: block;
       height:32px;
       line-height: 32px;
       padding:0px;
       font-weight: bold;
       float: left;
       margin-left:63px;
       em{
         font-style: normal;
         font-weight:normal;
         font-size: 12px;
       }
     }
     a{
       display: block;
       float: right;
       color:white;
       height:28px;
       line-height: 28px;
       padding:0px 10px;
       margin-top: 2px;
       font-size:13px;
       font-weight: bold;
       border-radius: 5px;
       margin-right: 20px;
       background: #1E7EB4;
     }
   }
   .trackList_pop_detail{
     height:188px;
     width: 100%;
     label{
       display: block;
       float: left;
       width:65px;
       height:188px;
       vertical-align: top;
       font-weight: bold;
       white-space: normal !important;
       word-break: break-all !important;
     }
     span{
       display: block;
       width:430px;
       float: left;
       height:188px;
       white-space: normal;
       word-break: break-all;
       border: 1px solid rgba(0,0,0,.15);
       overflow-y: scroll;
       padding:8px 5px;
       text-align: left;
       font-size: 12px;
     }
   }
 }
  //.trackList_pop_img{
  //  position: absolute;
  //  right:-16px;
  //  top:-8px;
  //  transform:rotate(-30deg);
  //  -ms-transform:rotate(-30deg); 	/* IE 9 */
  //  -moz-transform:rotate(-30deg); 	/* Firefox */
  //  -webkit-transform:rotate(-30deg); /* Safari 和 Chrome */
  //  -o-transform:rotate(-30deg); 	/* Opera */
  //}
}
//=====物流轨迹详情=======//
#track_detail{
  padding:10px 20px;
  .logistics_ul_thead{
    height:40px;
    width:100%;
    background:rgb(84, 110, 122);
    li{
      width: 25%;
      float: left;
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: white;
      font-size: 15px;
    }
  }
  .logistics_ul_tbody{
    height:80px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin:10px 0px;
    li{
      width: 25%;
      margin-top: 10px;
      float: left;
      height: 60px;
      text-align: center;
      font-size: 15px;

    }
    li:nth-child(n+2){
      line-height: 60px;
    }
    li:nth-child(1){
      border-right: 1px solid rgba(0, 0, 0, 0.15);
      span{
        display: block;
        height:30px;
        line-height: 30px;
        &.success{
           color: green;
          i{font-size: 20px;margin: 0px 5px;}
        }
        &.waitReceive{
          color: #cccccc;
          i{font-size: 20px;margin: 0px 5px;}
        }
        &.waitSend{
          color: #000;
          i{font-size: 20px;margin: 0px 5px;color: #cccccc}
        }
        &.waitPaied{
          color: #000;
          i{font-size: 20px;margin: 0px 5px;color: #cccccc}
        }
      }
    }
  }
  .track_detailInformation{
    width: 100%;
    margin:20px 0px;
    height:auto;
    p{
      font-size: 15px;
    }
    .track-rcol{
        width: 100%;
    }
    .track-list{
        position: relative;
      li{
        position: relative;
        padding: 9px 0 0 25px;
        line-height: 18px;
        border-left: 1px solid #d9d9d9;
        color: #999;
        font-size: 13px;
        &.first{
          color: red;
          padding-top: 0;
          border-left-color: #fff;
          .node-icon{
            background-position:0 -72px;
          }
          .time{
            margin-right: 20px;
          }
          .txt{
            max-width: 600px;
          }
        }
        &.last{
          padding-top: 0;
          border-left-color: #fff;
        }
        .node-icon{
          position: absolute;
          left: -6px;
          top: 50%;width: 11px;
          height: 11px;
          background: url(../img/ordericons.png)  -21px -72px no-repeat;
        }
        .time{
          margin-right: 20px;
          position: relative;
          top: 4px;
          display: inline-block;
          vertical-align: middle;
        }
        .txt{
          position: relative;
          top: 4px;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
  .track_detail_back{
    height:60px;
    padding-top: 20px;
    width: 100%;
    a{
      display: block;
      font-size: 14px;
      height:40px;
      line-height: 40px;
      color: rgb(84, 110, 122);
      letter-spacing: 0px;
      text-align: center;
      cursor: pointer;
      background:white;
      border-radius: 5px;
      border:1px solid  rgb(200, 210, 215);
    }
  }
}
//物流方式
.logistics_basis,.rule_list{
   .logistics_add{
     height:34px;
     line-height: 34px;
     p{
       float: left;
       height:34px;
       line-height: 34px;
     }
     button{
       float: right;
     }
   }
   .logistics_table{
     margin:5px 0px !important;
     .logistics_basis_modefied{
       button{
         height: 28px;
         padding: 0px 15px;
         min-width: 70px;
         text-align: center;
         line-height: 28px;
         color: #546E7A;
         font-size: 13px;
         background: white;
         border-radius: 4px;
         border: 1px solid #C8D2D7;
       }
     }
   }
  .logistics_pop{
      .logistics_baisis_able{
        padding-left: 20px;
      }
  }
}
//运费规则
.rule_list {
   .logistics_add{
     button{
       margin-left: 10px;
     }
   }
 }
.rule_list_pop{
  display:block;
  position: fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:99999;
  background:rgba(0,0,0,0.2);
  .rule_list_content {
    margin: 10% auto;
    width:566px;
    height: auto;
    box-shadow: 0 0 6px 0;
    border-radius: 5px;
    background: white;
    padding:10px;
    .rule_list_body{
       width: 100%;
       height:auto;
       .empty{
         width: 100%;
         height:50px;
       }
      p{
        height:25px;
        font-size: 14px;
        width: 100%;
        text-align: center;
      }
      &#active{
        height:300px;
        overflow-y: scroll;
      }
    }
    .rule_list_pop_footer{
      width: 100%;
      height:50px;
      text-align: center;
      button{
        height:28px;
        font-size: 14px;
        line-height:28px;
        background: #1E7EB4;
        padding:0px 25px;
        color: white;
        margin: 10px 5px;
        border-radius: 4px;
        border: none;
        outline: none;
        cursor: pointer;
        &.cancel{
          background:white;
          color: #546E7A;
          border: 1px solid #C8D2D7;
        }
      }
    }
  }
}
//创建运费
#rule_add{
  padding:10px 20px;
  margin:0px;
  .row_title{
    height:36px;
    line-height: 36px;
    a{
      color: #263238;
      font-weight: bold;
      font-size: 18px;
    }
  }
  .detail_form{
    width: 100%;
    height:auto;
    .table{
      border:none;
      margin:10px 0px;
      tbody tr td{
        font-size: 13px;
        .el-radio__label{
          font-size: 13px;
        }
        &.table_title{
          background: #546E7A !important;
          color: #FFFFFF !important;
          letter-spacing: 0;
          padding: 0px;
          text-indent: 20px;
          text-align: left !important;
          font-size: 15px !important;
          height: 40px;
          line-height: 40px;
        }
        color: #263238;
        letter-spacing: 0;
        text-align: left;
        border-bottom: 1px solid #ECEFF1;
        border-top: 1px solid #ECEFF1;
        border-left: 1px solid #CADEE7;
        border-right: 1px solid #CADEE7;
        &:nth-child(odd) {
          background: #F7F9FB;
          color: #546E7A;
          letter-spacing: 0;
          text-align: center;
        }
        .form-control{
          border: 1px solid #C8D2D7;
          font-size: 13px;
          letter-spacing: 0;
          padding: 0px;
          height: 32px;
          line-height: 32px;
          text-indent: 5px;
          color: #263238;
        }
        .rule_add_period{
           width: 100%;
          .form-control{
            width:45%;
            display: block;
            float: left;
            font-size: 13px;
          }
          span{
            display: block;
            float: left;
            width:10%;
            text-align: center;
            height:32px;
            line-height: 32px;
          }
          .common_data{
            width:45%;
            height:32px;
            display: block;
            float: left;
            position: relative;
            input{
              width: 100%;
              position: absolute;
              left:0px;
              top:0px;
              z-index: 8;
              font-size: 13px;
              border-radius: 5px;
              height:32px;
              line-height: 32px;
              outline: none;
              text-indent: 5px;
              border: 1px solid #C8D2D7;
            }
            i{
              font-style: normal;
              display: block;
              position: absolute;
              right:2px;
              top:7px;
              width: 16px;
              height: 16px;
              z-index: 9;
              background-image: url(../img/dataIcon.png);
              background-repeat: no-repeat;
              background-size: contain
            }
          }
        }
        .rule_startHeight,.rule_addMaxWeight{
           width: 100%;
           vertical-align: middle;
           height:32px;
           .form-control{
             width:65%;
             float: left;
             display: block;
           }
           .el-checkbox-group{
             width: 30%;
             float: left;
             margin-left: 2%;
             display: block;
             text-align: center;
             line-height: 32px;
           }
        }
        .redColor{
          color:#C31207;
        }
        &.table_title{
          button{
            float: right;
            background: white;
            border-radius: 4px;
            border: 1px solid white;
            color: #546E7A;
            letter-spacing: 0;
            height: 28px;
            margin-right: 10px;
            line-height: 28px;
            padding: 0px 5px;
            cursor: pointer;
            font-size: 14px;
            margin-top: 5px;
          }
        }
        .rule_add_span{
            width: 100%;
          padding-left: 0px;
            span{
              font-weight: normal;
              display: block;
              float: left;
              height:32px;
              line-height: 32px;
              padding:0px 30px;
              text-align: center;
              white-space: nowrap;
              word-break: break-all;
              margin:10px 0px 10px 20px ;
              color: #546E7A;
              cursor: pointer;
              background: #ECEFF1;
              border-radius: 4px;

            }
        }
        .rule_add_span_yet{
           span{
             background:white;
             font-size: 13px;
             color: #263238;
             display: inline-block;
             height:32px;
             line-height: 32px;
             float: left;
             cursor: pointer;
             margin:10px 0px 10px 20px;
             padding:0px 0px 0px 10px;
             letter-spacing: 0;
             border: 1px solid #1E7EB4;
             &.apartTrueSpan{
               border: 1px solid #FF9100;
             }
             i{
               font-style: normal;
               color:white;
               height:30px;
               line-height: 30px;
               display: inline-block;
               padding: 0px 5px;
               background: #1E7EB4;
               margin-left: 10px;
               float:right;
               &.apartTrue{
                 background: #FF9100;
               }
             }
             &.apartTrueSpan{
               border: 1px solid #FF9100;
             }
             &.apartFalseSpan{
               border: 1px solid #1E7EB4;
             }
           }
        }
        .rule_add_span_yet_detail{
          span{
            background:#546E7A;
            color:white;
          }
        }
        .rule_add_limited{
          width: 100%;
          span{
            padding:0px;
            width: 13%;
          }
          .active{
            background: #546E7A;
            color: white;
          }
        }
        .rule_add_limited_detail{
          span{
            background: #546E7A;
            color: white;
          }
        }
        &.rule_add_destinationSearch{
            text-align: center;
            height:70px;
            border:none;
            width:100%;
            background:white;
            overflow: hidden;
           vertical-align: top;
            >div{
                width: 60%;
                margin-top: 0px;
                margin-left: 20%;
                position: relative;
                input{
                  height:40px;
                  line-height: 40px;
                  position: absolute;
                  left: 0px;
                }
              i{
                display: block;
                position: absolute;
                right:-55px;
                font-size:16px;
                height:40px;
                padding:0px 10px;
                line-height: 40px;
                font-style: normal;
                text-align: center;
                cursor: pointer;
                border-radius: 5px;
                background:rgb(30, 126, 180);
                color:white;
              }
            }
        }
        &.rule_add_tdTitle{
          height:40px;
          line-height: 40px;
          padding: 0px;
          text-align: left;
          text-indent: 20px;
          background: #F6F9FA;
          font-weight: bold;
          border: 1px solid #CADEE7;
           span{
             font-size: 14px;
             display: block;
             color: #263238;
             letter-spacing: 0;
             font-weight: bold;
             width:100px;
             float: left;
           }
          i{
            float: right;
            display: block;
            height:40px;
            line-height: 40px;
            width: 30px;
            text-indent: 0px;
            text-align: center;
          }
          button{
            height:30px;
            line-height: 30px;
            padding:0px 15px;
            cursor: pointer;
            background: #FFFFFF;
            border: 1px solid #1E7EB4;
            border-radius: 100px;
            font-size: 14px;
            color: #1E7EB4;
            letter-spacing: 0;
            outline: none;
          }
        }
        &.rule_add_tdTitle_top{
          background: #546E7A;
          height:40px;
          color:white;
        }
        .edui-editor-bottomContainer{
          display:none !important;
        }
        .rule_add_startPlace{
           width: 100%;
          .el-select{
            width: 100% !important;
          }
        }
        .el-checkbox__label{
          font-size: 13px;
          padding-left:0px;
        }
        .rule_detail_startPlace{
          >span{
            margin:0px 5px;
           }
          .all{
             cursor: pointer;
           }
            position: relative;
            >div{
              position: absolute;
              width:360px;
              height: auto;
              left:-20px;
              top: 30px;
              box-shadow: 0 0 6px 0;
              border-radius: 5px;
              background: white;
              padding: 10px;
              .active{
                height:200px;
                overflow-y: scroll;
              }
              p{
                display: block;
                height:30px;
                line-height:30px;
                margin:0px;
                font-weight: bold;
                i{
                  float:right;
                  font-style: normal;
                  font-size:18px;
                  cursor: pointer;
                }
              }
              span{
                display: block;
                width: 100%;
                height:20px;
                text-align: center;
              }
            }
        }
        .redBorder{
          border-color: red;
        }
        .rule_add_limited_detail{
          span{
            cursor: default !important;
          }
        }
      }
      tbody tr{
         &.rule_add_area{
           height:10px;
         }
         &.wait{
           background:white;
           width: 100%;
           border: 1px solid #CADEE7;
           td{
             background:white;
             border:none;
             padding-left: 0px;
           }
         }
        &.rule_detail_wait .rule_add_span_yet_detail{
           >span{
             background: white;
             font-size: 13px;
             color: #263238;
             display: inline-block;
             height: 32px;
             line-height: 32px;
             float: left;
             cursor: pointer;
             margin: 10px 0px 10px 20px;
             padding: 0px 0px 0px 10px;
             letter-spacing: 0;
           }
           position: relative;
          .pop_detail{
            position: absolute;
            left: 0px;
            top:30px;
            display:block;
            width:630px;
            height: auto;
            box-shadow: 0 0 6px 0;
            border-radius: 5px;
            background: white;
            padding: 10px;
            p{
              font-size: 14px;
              font-weight: bold;
              width: 100%;
              height:28px;
              margin:0px;
              line-height: 28px;
              i{
                font-style: normal;
                font-size: 20px;
                display: block;
                height:28px;
                cursor: pointer;
                line-height: 28px;
                float: right;
              }
            }
            h3{
              display: block;
              height:25px;
              line-height: 25px;
              font-size: 13px;
              text-indent:10px;
              text-align: left;
              margin:0px;
            }
            .pop_detail_body{
              width: 100%;
              height:auto;
              background:pink;
              span{
                display: block;
                font-size: 14px;
                color: #263238;
                letter-spacing: 0;
                background: #ECEFF1;
                border-radius: 4px;
                height:30px;
                margin:5px 0px 5px 10px;
                line-height: 30px;
                padding:0px 10px;
                border: 1px solid #CADEE7;
                cursor: default !important;
              }
            }
          }
        }
        &.rule_add_tr{
          border: 1px solid #CADEE7;
          background: #F6F9FA;
          border: 1px solid #CADEE7;
        }
        &.rule_detail_empty{
          height:12px;
          padding: 0px;
          td{
            padding:0px;
            border:none !important;
          }
        }
        &.rule_add_border{
          td{
            height:10px;
            background:white !important;
          }
        }
      }
      &.relue_detail_textarea{
          .table_span{
            text-align: left;
            background: white;
            p{
              text-align: left;
              height:auto;
              width: 100%;
              margin:0px;
              padding-bottom: 20px;
            }
             span{
               display: inline-block;
               padding:10px 10px;
               font-size: 14px;
               text-align: left;
             }
          }
      }
    }
  }
  .submit-button{
      text-align: center;
      button{
        margin:0px 10px;
        cursor: pointer;
        &[type="reset"]{
          background: #FFFFFF;
          border: 1px solid #C8D2D7;
          color: #546E7A;
        }
      }
  }
}
.discount-rate{
  input{
    width:90%;
    float: left;
  }
  span{
    display: block;
    width:10%;
    float: left;
    height:32px;
    line-height: 32px;
    text-align: left;
  }
}
//日志页面
#rule_log{
  padding:10px 20px;
  margin:0px;
  .row_title{
    height:36px;
    line-height: 36px;
    margin-bottom: 20px !important;
    a{
      font-size: 18px;
      cursor: pointer;
      &.active{
        color: #263238;
        font-weight: bold;
      }
    }
  }
  #edit_part .table{
     th{
       background: #546E7A !important;
       color: #FFFFFF !important;
       letter-spacing: 0;
       padding: 0px;
       text-align: center;
       font-size: 15px !important;
       height: 40px;
       line-height: 40px;
     }
    td{
      border-bottom:1px solid #CADEE7;
      border-top:1px solid  #CADEE7;
      border-left:1px solid  #ECEFF1;
      border-right:1px solid  #ECEFF1;
      color: #263238;
      font-size: 13px;
    }
  }
}
.rule_button_submit{
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0px 25px;
  background: #1E7EB4;
  border: 1px solid #C8D2D7;
  border-radius: 4px;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}
//创建规则弹窗   区域选择模块
.popArea{
  position: fixed;
  width:100%;
  height:100%;
  display:block;
  top:0px;
  left:0px;
  z-index:99999;
  background:rgba(0,0,0,0.2);
  .popArea-body {
    margin: 3% auto;
    width:630px;
    height: 75%;
    min-height:530px;
    box-shadow: 0 0 6px 0;
    border-radius: 5px;
    background: white;
    padding:10px;
    form {
      height: 100%;
      >p{
        width: 100%;
        height:26px;
        line-height: 26px;
        display: block;
        font-size: 13px;
        margin:0px;
        text-align: center;
        font-weight: bold;
        i{
          font-style: normal;
          font-size: 20px;
          font-weight: bold;
          float: right;
          cursor: pointer;
        }
      }
      .popArea-span{
         width: 100%;
         clear: both;
         height: auto;
       p{
         text-align: left;
         font-size: 13px;
         height:25px;
         line-height: 25px;
         span{
           height:26px;
           line-height:26px;
           padding: 0px 15px;
           background: #546E7A;
           color: white;
           font-size: 13px;
           display:inline-block;
           border: none;
           margin-left: 20px;
           cursor: pointer;
         }
        }
        .rule_add_span {
          width: 100%;
          display: block;
          height:auto;
          span{
            font-weight: normal;
            display: block;
            float: left;
            height:30px;
            line-height:30px;
            font-size: 14px;
            padding: 0px 20px;
            text-align: center;
            white-space: nowrap;
            word-break: break-all;
            margin:0px 0px 10px 20px;
            color: #546E7A;
            cursor: pointer;
            background: #FFFFFF;
            border: 1px solid #C8D2D7;
          }
        }
        &.popArea-yet {
          height:40%;
          .popArea_result_span{
            padding:0px 10px;
            span{
              display:inline-block;
              float: left;
              margin:0px 5px;
              font-size:13px;
            }
          }
          .rule_add_span_yet{
            height:83%;
          }
        }
        &.popArea-none{
          height: 40%;
          padding:10px 0px 0px 0px;
          p{
            padding-top: 2px;
            border-top:1px solid rgba(0, 0, 0, 0.15) ;
          }
          .rule_add_span_yet{
            height:90%;
          }
        }
        #ChoseProvinceYetId,#ChoseProvinceNotId{
          overflow-y: scroll;
        }
        .popArea_result_span_fails{
          padding:0px 10px;
          span{
            display:block;
            font-size:13px;
            margin-left: 5px;
            height:25px;
            line-height: 25px;
            i{
              font-style: normal;
              margin-left:50px;
              color: red;
            }
          }
        }
      }
      .popArea-body-line{
        display: block;
        width: 100%;
      }
      .popArea-submit{
        width: 100%;
        text-align: center;
        clear: both;
        padding:10px 0px;
        button{
          height:28px;
          margin-top: 15px;
          font-size: 14px;
          line-height: 28px;
          background: #1E7EB4;
          padding: 0px 20px;
          color: white;
          margin-right: 20px;
          border-radius: 4px;
          border: none;
          outline: none;
          cursor: pointer;
          &.cancel{
            background: white;
            color: #546E7A;
            border: 1px solid #C8D2D7;
          }
        }
      }
    }
  }
}
.logistics_table_record .el-pagination{
  padding-bottom: 160px;
   .el-select-dropdown__item{
     height:25px !important;
    line-height: 25px !important;
     padding:0px 8px !important;
   }
}
.colorBlue{
  color:blue !important;
  cursor: pointer !important;
}