<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/element-ui-2.13.0.css?v=<{$Think.const.V}>">
  <link rel="stylesheet" href="./Application/Tpl/Home/Store/warehouse_recommended-new-and-edit.css">
  <link rel="stylesheet" href="./Application/Tpl/Home/Store/warehouse_recommended-goods-sku.css">
  <link rel="stylesheet" href="./Application/Tpl/Home/Store/warehouse_recommended-order-destination.css">
  <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/default.css?v=<{$Think.const.V}>">

</head>
<style>
  .detail__tab {
    margin-left: 30px;
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .detail__tab .active {
    opacity: 1;
  }

  .detail__tab a {
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    opacity: 0.5;
    margin-right: 30px;
  }

  .list {
    padding: 20px 20px 0 20px;
  }

  .list__filters {
    display: flex;
    flex-direction: column;
    /*padding: 20px 20px 0 20px;*/
    border-bottom: 1px solid #dddddd;
  }

  .list__statistics {
    padding: 0px 20px 0px 20px;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
  }

  .list__actions {
    border-bottom: none;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }

  .list__actions--primary {
    padding: 20px;
  }

  .list__data {
    display: flex;
    flex-direction: column;
  }

  .arrow {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
  }

  .arrows {
    display: flex;
    justify-content: space-between;
  }

  .el-icon-bottom {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }

  .el-icon-top {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }

  .list__pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
  }

  .across-store-copy .across-store-copy-header {
    margin-bottom: 20px;
  }

  .across-store-copy .across-store-copy-header .across-store-copy-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  /*.across-store-copy .across-store-copy-header .across-store-copy-title .el-select {*/
  /*  margin-left: 0px !important;*/
  /*}*/

  .across-store-copy .across-store-copy-header .across-store-copy-title .el-form-item {
    margin-bottom: 0px !important;
  }

  .across-store-copy .actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  /*
   element-ui默认样式
  */
  .list__filters .el-select {
    display: block !important;
  }

  #warehouseRecommended {
    display: none;
  }

  .el-dropdown-menu .el-dropdown-menu__item {
    padding: 0 0px !important;
  }

  .el-dropdown-menu .el-dropdown-menu__item span {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .warehouse-recommended__list .el-table__header tr th {
    background: #546E7A;
    color: #FFFFFF;
  }

  .el-dialog__wrapper .el-dialog {
    margin-top: 2vh !important;
  }

  .el-dialog__close {
    font-size: 18px;
    font-weight: bold;
  }

  .el-dialog__body {
    padding: 10px 20px !important;
  }

  /*.el-dropdown-menu{*/
  /*  display: flex;*/
  /*  flex-direction: column;*/
  /*  align-items: center;*/
  /*  position: relative !important;*/
  /*}*/

  /*.table__view-button {*/
  /*  display: flex;*/
  /*  flex-direction: column;*/
  /*  justify-content: center;*/
  /*  align-items: center;*/
  /*  position: relative;*/
  /*}*/

  /*.table__view-button .table__buttons {*/
  /*  display: flex;*/
  /*  flex-direction: column;*/
  /*  border: 1px solid #dddddd;*/
  /*  width: 92px;*/
  /*  border-bottom-right-radius: 8px;*/
  /*  border-bottom-left-radius: 8px;*/
  /*  align-items: center;*/
  /*  justify-content: center;*/
  /*  position: fixed;*/
  /*  background-color: #ffffff;*/

  /*}*/
</style>
<body>
<div id="warehouseRecommended">
  <div class="detail__tab">
    <span>
          <a onclick="changenewtab(this,'<{$Think.lang.基础配置}>')"
             _href="<{:U('store/detail')}>&id=<?php echo $id; ?>"><{$Think.lang.基础配置}>
          </a>
          <a onclick="changenewtab(this,'<{$Think.lang.仓库配置}>')"
             _href="<{:U('store/detail_ware')}>&id=<?php echo $id; ?>">
                    <{$Think.lang.仓库配置}>
          </a>
          <a onclick="changenewtab(this,'<{$Think.lang.物流配置}>')"
             _href="<{:U('store/detail_logistics')}>&id=<?php echo $id; ?>">
                    <{$Think.lang.物流配置}>
          </a>
          <a onclick="changenewtab(this,'<{$Think.lang.高级配置}>')"
             _href="<{:U('store/detail_other')}>&id=<?php echo $id; ?>">
                    <{$Think.lang.高级配置}>
          </a>
          <a onclick="changenewtab(this,'<{$Think.lang.财务配置}>')"
             _href="<{:U('store/detail_finance')}>&id=<?php echo $id; ?>">
                    <{$Think.lang.财务配置}>
          </a>
         <a class="active">
            <{$Think.lang.走仓推荐}>
         </a>
          <a onclick="changenewtab(this,'<{$Think.lang.日志信息}>')"
             _href="<{:U('store/detail_log')}>&id=<?php echo $id; ?>">
                    <{$Think.lang.日志信息}>
          </a>
    </span>
  </div>
  <div class="list">
    <div data-test="filter" class="list__filters">
      <el-form @submit.native.prevent ref="form">
        <el-row :gutter="20" type="flex">
          <el-col :md="4">
            <el-form-item>
              <el-input
                  v-model="filter.sku_id"
                  clearable
                  :placeholder="$lang('sku编码')"
                  @keyup.enter.native="onSearch"
              />
            </el-form-item>
          </el-col>
          <el-col :md="4" :offset="1">
            <el-form-item>
              <el-select
                  filterable
                  data-test="groups"
                  @keyup.enter.native="onSearch"
                  v-model="filter.country"
                  clearable
                  :placeholder="$lang('请选择国家')"
              >
                <el-option
                    data-test="groupOption"
                    v-for="item in allCountry"
                    :key="item.code"
                    :loading="loading"
                    :label="$lang(item.NAME)"
                    :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :md="4" :offset="1">
            <el-form-item>
              <el-input
                  v-model="filter.goods_name"
                  clearable
                  :placeholder="$lang('商品名称')"
                  @keyup.enter.native="onSearch"
              />
            </el-form-item>
          </el-col>
          <el-col :md="4" :offset="1">
            <el-form-item>
              <el-input
                  v-model="filter.rule_name"
                  clearable
                  :placeholder="$lang('规则名称')"
                  @keyup.enter.native="onSearch"
              />
            </el-form-item>
          </el-col>
          <el-col :md="4" :offset="1">
            <el-form-item>
              <el-select
                  data-test="groups"
                  @keyup.enter.native="onSearch"
                  v-model="filter.status"
                  clearable
                  :placeholder="$lang('请选择是否启用')"
              >
                <el-option
                    data-test="groupOption"
                    v-for="(value,name,index) in states"
                    :key="index"
                    :loading="loading"
                    :label="$lang(name)"
                    :value="value"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="20" type="flex">
          <el-col :md="4">
            <el-form-item>
              <el-select
                  filterable
                  @keyup.enter.native="onSearch"
                  v-model="filter.warehouse_code"
                  clearable
                  :placeholder="$lang('请选择仓库目录')"
              >
                <el-option
                    v-for="item in allWarehouses"
                    :key="item.code"
                    :loading="loading"
                    :label="$lang(item.CD_VAL)"
                    :value="item.CD"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :md="4" :offset="1">
            <el-form-item>
              <el-select
                  filterable
                  @keyup.enter.native="onSearch"
                  v-model="filter.logistics_company_code"
                  clearable
                  :placeholder="$lang('请选择物流公司')"
              >
                <el-option
                    v-for="item in allLogisticsCompany"
                    :key="item.code"
                    :loading="loading"
                    :label="$lang(item.CD_VAL)"
                    :value="item.CD"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :md="4" :offset="1">
            <el-form-item>
              <el-select
                  filterable
                  @keyup.enter.native="onSearch"
                  v-model="filter.logistics_mode_id"
                  clearable
                  :placeholder="$lang('请选择物流方式')"
              >
                <el-option
                    v-for="item in allLogisticsWay"
                    :key="item.code"
                    :loading="loading"
                    :label="$lang(item.CD_VAL)"
                    :value="item.ID"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :md="4" :offset="1">
            <el-form-item lable="将规则复制到">
              <el-select
                  @keyup.enter.native="onSearch"
                  v-model="filter.face_order_code"
                  clearable
                  :placeholder="$lang('请选择面单方式')"
              >
                <el-option
                    v-for="item in allSurfaceWay"
                    :key="item.code"
                    :loading="loading"
                    :label="$lang(item.CD_VAL)"
                    :value="item.CD"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :md="4" :offset="1">
            <el-form-item>
              <el-button
                  type="primary"
                  class="button button--search"
                  :loading="searching"
                  @click="onSearch"
              >{{$lang('查询')}}
              </el-button
              >
              <el-button
                  type="primary"
                  @click="onReset"
                  class="button"
                  :loading="searching"
              >{{$lang('重置')}}
              </el-button
              >
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </div>

    <div
        class="list__actions"
    >
        <span>
          <span>
            <span>{{$lang('搜索结果：共') +" "+ pagedWarehouseRecommendeds.totalElements +" "+ $lang('条记录')}}</span>
          </span>
        </span>
      <span>
          <el-button
              type="primary"
              size="mini"
              @click="onNew"
              class="button button--new"
          >{{$lang('新增')}}
          </el-button
          >
        </span>
    </div>

    <div class="list__data">
      <el-table
          :data="pagedWarehouseRecommendeds.data"
          class="warehouse-recommended__list"
          :default-sort="pagination.sort"
          border
          @sort-change="onSort"
      >
        <el-table-column
            fixed
            prop="name"
            width="80px"
            align="center"
            :resizable="false"
            :label="$lang('序号')"
        >
          <template slot-scope="scope">
            <span>{{ (((pagination.this_page-1)*pagination.page_count)+(scope.$index+1))  }}</span>
          </template>
        </el-table-column>
        <el-table-column
            prop="sort"
            width="100px"
            align="center"
            :resizable="false"
            :label="$lang('优先级')"
        >
          <template slot-scope="scope">
            <div class="arrows">
              <span
                  v-if="((((pagination.this_page-1)*pagination.page_count)+(scope.$index+1)) !== pagedWarehouseRecommendeds.totalElements) && scope.row.status!=='0' && scope.row.isShowDownButtonByRuleType"
                  class="arrow" @click="onMoveDown(scope)"><i
                  class="el-icon-bottom"></i>
              </span>
              <span
                  v-if="((((pagination.this_page-1)*pagination.page_count)+(scope.$index+1)) !== (pagedWarehouseRecommendeds.totalElements-(pagedWarehouseRecommendeds.totalElements-1))) && scope.row.status!=='0' && scope.row.rule_type!=='2'"
                  class="arrow" @click="onMoveUp(scope)"><i class="el-icon-top"></i></span>
            </div>
          </template>
        </el-table-column>
        <el-table-column
            align="center"
            prop="rule_name"
            :resizable="false"
            :label="$lang('规则名称')"
        >
          <template slot-scope="scope">
            <span>{{ scope.row.rule_name }}</span>
          </template>
        </el-table-column>
        <el-table-column
            width="80px"
            align="center"
            prop="status"
            :resizable="false"
            :label="$lang('状态')"
        >
          <template slot-scope="scope">
            <span>{{ scope.row.status==="0"?$lang('停用'):scope.row.status==="1"?$lang('启用'):$lang('删除') }}</span>
          </template>
        </el-table-column>
        <el-table-column
            align="center"
            prop="warehouse_code"
            :resizable="false"
            :label="$lang('下发仓库')"
        >
          <template slot-scope="scope">
            <span>{{ $lang(scope.row.warehouse_code_val)}}</span>
          </template>
        </el-table-column>
        <el-table-column
            align="center"
            prop="logistics_company_code"
            :resizable="false"
            :label="$lang('物流公司')"
        >
          <template slot-scope="scope">
            <span>{{ $lang(scope.row.logistics_company_code_val) }}</span>
          </template>
        </el-table-column>
        <el-table-column
            align="center"
            prop="logistics_mode_id"
            :resizable="false"
            :label="$lang('物流方式')"
        >
          <template slot-scope="scope">
            <span>{{ $lang(scope.row.logistics_mode) }}</span>
          </template>
        </el-table-column>
        <el-table-column
            align="center"
            width="100px"
            prop="face_order_code"
            :resizable="false"
            :label="$lang('面单')"
        >
          <template slot-scope="scope">
            <span>{{ $lang(scope.row.face_order_code_val) }}</span>
          </template>
        </el-table-column>
        <el-table-column
            align="center"
            prop="sku_id"
            :resizable="false"
            :label="$lang('SKU/商品名称')"
        >
          <template slot-scope="scope">
            <el-tooltip v-if="scope.row.skuExceedLimit" class="item" effect="dark" placement="top-start">
              <div slot="content">
                <div v-for="(item,key) in scope.row.skuExceedLimit">
                  <span :key="key">{{item.sku_id}}: {{item.goods_name}}</span>
                </div>
              </div>

              <div v-for="(item,key) in scope.row.sku">
                <span :key="key">{{item.sku_id}}: {{item.goods_name}}</span> <br/> <span
                  style="font-size: 12px;color: #d4d4d4;">{{$lang("(鼠标悬浮在此格将显示更多内容)")}}</span>
              </div>
            </el-tooltip>
            <div v-else v-for="(item,key) in scope.row.sku">
              <span :key="key">{{item.sku_id}}: {{item.goods_name}}</span>
            </div>
          </template>
        </el-table-column>
        <el-table-column
            align="center"
            prop="country"
            :resizable="false"
            :label="$lang('目的地国家')"
        >
          <template slot-scope="scope">
            <el-tooltip v-if="scope.row.countryExceedLimit" class="item" effect="dark" placement="top-start">
              <div slot="content">
                <div v-for="(item,key) in scope.row.countryExceedLimit">
                  <span :key="key">{{$lang(item.zh_name)}}</span>
                </div>
              </div>

              <div v-for="(item,key) in scope.row.country">
                <span :key="key">{{$lang(item.zh_name)}}</span> <br/><span style="font-size: 12px;color: #d4d4d4;">{{$lang("(鼠标悬浮在此格将显示更多内容)")}}</span>
              </div>
            </el-tooltip>
            <div v-else v-for="(item,key) in scope.row.country">
              <span :key="key">{{$lang(item.zh_name)}}</span>
            </div>
          </template>
        </el-table-column>
        <el-table-column
            align="center"
            prop="remark"
            :resizable="false"
            :label="$lang('备注')"
        >
          <template slot-scope="scope">
            <span>{{ scope.row.remark }}</span>
          </template>
        </el-table-column>
        <el-table-column
            align="center"
            :resizable="false"
            fixed="right"
            prop="opretion"
            :label="$lang('操作')"
            width="220px"
        >
          <template slot-scope="scope">
            <el-dropdown v-if="scope.row.rule_type!=='2'">
              <el-button type="primary">
                <span v-if="scope.row.rule_type!=='2'" @click="onView(scope.row.id)">{{$lang('查看')}}</span><i
                  class="el-icon-arrow-down el-icon--right"></i>
              </el-button>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item><span @click="onEdit(scope.row.id)">{{$lang('编辑')}}</span></el-dropdown-item>
                <el-dropdown-item><span @click="onCopy(scope.row)">{{$lang('复制')}}</span></el-dropdown-item>
                <el-dropdown-item v-if="scope.row.status==='1'"><span
                    @click="onDisable(scope.row)">{{$lang('停用')}}</span></el-dropdown-item>
                <el-dropdown-item v-if="scope.row.status==='0'"><span
                    @click="onEnable(scope.row)">{{$lang('启用')}}</span></el-dropdown-item>
                <el-dropdown-item><span @click="onDelete(scope.row)">{{$lang('删除')}}</span></el-dropdown-item>
                <el-dropdown-item><span @click="onAcrossStoreCopy(scope.row)">{{$lang('跨店铺复制')}}</span>
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
            <span v-if="scope.row.rule_type==='2'">{{$lang('不可操作')}}</span>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div data-test="pagination" class="list__pagination">
      <el-pagination
          @current-change="onPageChange"
          @size-change="onSizeChange"
          :current-page="pagination.this_page"
          :page-size="pagination.page_count"
          :page-sizes="[10,20]"
          layout="sizes,prev, pager, next, jumper"
          :total="pagedWarehouseRecommendeds.totalElements"
      />
    </div>
  </div>
  <el-dialog
      width="600px"
      :title="$lang('提示')"
      :visible.sync="acrossStoreCopyDialogVisible"
      :destroy-on-close="isDestroyClose"
      @close="onAcrossStoreCopyDialogModalClose"
  >
    <div class="across-store-copy">
      <div class="across-store-copy-header">
        <el-form ref="acrossStoreCopyForm"
                 :model="acrossStoreCopy"
                 :rules="acrossStoreCopyRules">
          <el-row :gutter="20" type="flex">
            <el-col :md="24">
              <div class="across-store-copy-title">
                <span>{{$lang('将规则复制到')}}</span>
                <el-form-item prop="acrossStoreCopyIds" style="width: 80%;display: inline-block;margin-left: 20px;">
                  <el-select
                      filterable
                      v-model="acrossStoreCopy.acrossStoreCopyIds"
                      multiple
                      clearable
                      collapse-tags
                      style="width: 100%"
                      :placeholder="$lang('请选择店铺')"
                  >
                    <el-option
                        v-for="(item,index) in allStore"
                        :key="index"
                        :label="item.CD_VAL"
                        :value="item.CD"
                    />
                  </el-select>
                </el-form-item>
              </div>
              <strong>{{$lang('(新店铺的规则名默认为：规则名+原店铺id)')}}</strong>
            </el-col>
          </el-row>

        </el-form>
      </div>
      <div class="actions">
        <el-button
            type="primary"
            @click="onAcrossStoreCopySaved"
            class="button"
        >{{$lang('确定')}}
        </el-button
        >
        <el-button
            type="primary"
            @click="onAcrossStoreCopyClosed"
            class="button"
        >{{$lang('取消')}}
        </el-button
        >
      </div>
    </div>
  </el-dialog>
  <!--  新增规则相关的组件-->
  <el-dialog
      width="800px"
      :title="$lang('新增自定义规则')"
      :visible.sync="addCustomRulesDialogVisible"
  >
    <warehouse-recommended-new
        v-if="addCustomRulesDialogVisible"
        :store-id="storeId"
        @new-saved="onNewSaved"
        @new-closed="onNewClosed"
        @open-goods-sku-dialog-box-by-add="onOpenGoodsSkuDialogBoxByAdd"
        @open-goods-sku-prefix-dialog-box-by-add="onOpenGoodsSkuPrefixDialogBoxByAdd"
        @open-goods-sku-suffix-dialog-box-by-add="onOpenGoodsSkuSuffixDialogBoxByAdd"
        @open-order-destination-dialog-box-by-add="onOpenOrderDestinationDialogBoxByAdd"
        @open-mode-distribution-dialog-box-by-add="onOpenModeDistributionDialogBoxByAdd"
        @open-delivery-warehouse-dialog-box-by-add="onOpenDeliveryWarehouseDialogBoxByAdd"
        @open-delivery-country-dialog-box-by-add="onOpenDeliveryCountryDialogBoxByAdd"

    />
  </el-dialog>
  <el-dialog
      width="1000px"
      :title="$lang('新增商品sku')"
      :visible.sync="addSelectedSkuDialogVisible"
  >
    <warehouse-recommended-goods-sku
        :pms-host="pmsHost"
        @closed-goods-sku="onClosedGoodsSku"
        v-if="addSelectedSkuDialogVisible"
    />
  </el-dialog>

  <el-dialog
      width="800px"
      :title="$lang('输入商品sku前缀')"
      :visible.sync="addSelectedSkuPrefixDialogVisible"
  >
    <warehouse-recommended-goods-sku-prefix
        @closed-goods-sku-prefix="onClosedGoodsSkuPrefix"
        v-if="addSelectedSkuPrefixDialogVisible"
    />
  </el-dialog>
  <el-dialog
      width="800px"
      :title="$lang('输入商品sku后缀')"
      :visible.sync="addSelectedSkuSuffixDialogVisible"
  >
    <warehouse-recommended-goods-sku-suffix
        @closed-goods-sku-suffix="onClosedGoodsSkuSuffix"
        v-if="addSelectedSkuSuffixDialogVisible"
    />
  </el-dialog>
  <el-dialog
      width="1000px"
      :title="$lang('选择国家')"
      :visible.sync="addSelectedDestinationDialogVisible"
  >
    <warehouse-recommended-order-destination
        @closed-order-destination="onClosedOrderDestination"
        v-if="addSelectedDestinationDialogVisible"
    />
  </el-dialog>
  <el-dialog
      width="1000px"
      :title="$lang('选择配送方式')"
      :visible.sync="addSelectedModeDistributionDialogVisible"
  >
    <warehouse-recommended-mode-distribution
        @closed-mode-distribution="onClosedModeDistribution"
        :store-id="storeId"
        v-if="addSelectedModeDistributionDialogVisible"
    />
  </el-dialog>
  <el-dialog
      width="1000px"
      :title="$lang('选择发货仓库')"
      :visible.sync="addSelectedDeliveryWarehouseDialogVisible"
  >
    <warehouse-recommended-delivery-warehouse
        @closed-delivery-warehouse="onClosedDeliveryWarehouse"
        :store-id="storeId"
        v-if="addSelectedDeliveryWarehouseDialogVisible"
    />
  </el-dialog>
  <el-dialog
      width="1000px"
      :title="$lang('发货国家')"
      :visible.sync="addSelectedDeliveryCountryDialogVisible"
  >
    <warehouse-recommended-delivery-country
        @closed-delivery-country="onClosedDeliveryCountry"
        :store-id="storeId"
        v-if="addSelectedDeliveryCountryDialogVisible"
    />
  </el-dialog>

  <!--  新增规则相关的组件-->
  <!------------------------------------------------------------------>
  <!--  编辑规则相关的组件-->
  <el-dialog
      width="800px"
      :title="$lang('编辑自定义规则')"
      :visible.sync="editCustomRulesDialogVisible"
  >
    <warehouse-recommended-edit
        :id="editId"
        :store-id="storeId"
        v-if="editCustomRulesDialogVisible"
        @edit-saved="onEditSaved"
        @edit-closed="onEditClosed"
        @open-goods-sku-dialog-box-by-edit="onOpenGoodsSkuDialogBoxByEdit"
        @open-goods-sku-prefix-dialog-box-by-edit="onOpenGoodsSkuPrefixDialogBoxByEdit"
        @open-goods-sku-suffix-dialog-box-by-edit="onOpenGoodsSkuSuffixDialogBoxByEdit"
        @open-order-destination-dialog-box-by-edit="onOpenOrderDestinationDialogBoxByEdit"
        @open-mode-distribution-dialog-box-by-edit="onOpenModeDistributionDialogBoxByEdit"
        @open-delivery-warehouse-dialog-box-by-edit="onOpenDeliveryWarehouseDialogBoxByEdit"
        @open-delivery-country-dialog-box-by-edit="onOpenDeliveryCountryDialogBoxByEdit"
    />
  </el-dialog>
  <el-dialog
      width="1000px"
      :title="$lang('编辑商品sku')"
      :visible.sync="editSelectedSkuDialogVisible"
  >
    <warehouse-recommended-goods-sku-edit
        :pms-host="pmsHost"
        @closed-goods-sku-by-edit="onClosedGoodsSkuByEdit"
        v-if="editSelectedSkuDialogVisible"
    />
  </el-dialog>

  <el-dialog
      width="800px"
      :title="$lang('编辑商品sku前缀')"
      :visible.sync="editSelectedSkuPrefixDialogVisible"
  >
    <warehouse-recommended-goods-sku-prefix-edit
        @closed-goods-sku-prefix-by-edit="onClosedGoodsSkuPrefixByEdit"
        v-if="editSelectedSkuPrefixDialogVisible"
    />
  </el-dialog>
  <el-dialog
      width="800px"
      :title="$lang('编辑商品sku后缀')"
      :visible.sync="editSelectedSkuSuffixDialogVisible"
  >
    <warehouse-recommended-goods-sku-suffix-edit
        @closed-goods-sku-suffix-by-edit="onClosedGoodsSkuSuffixByEdit"
        v-if="editSelectedSkuSuffixDialogVisible"
    />
  </el-dialog>
  <el-dialog
      width="1000px"
      :title="$lang('编辑国家')"
      :visible.sync="editSelectedDestinationDialogVisible"
  >
    <warehouse-recommended-order-destination-edit
        @closed-order-destination-by-edit="onClosedOrderDestinationByEdit"
        v-if="editSelectedDestinationDialogVisible"
    />
  </el-dialog>
  <el-dialog
      width="1000px"
      :title="$lang('编辑选择发货仓库')"
      :visible.sync="editSelectedDeliveryWarehouseDialogVisible"
  >
    <warehouse-recommended-delivery-warehouse-edit
        @closed-delivery-warehouse-by-edit="onClosedDeliveryWarehouseByEdit"
        :store-id="storeId"
        v-if="editSelectedDeliveryWarehouseDialogVisible"
    />
  </el-dialog>
  <el-dialog
      width="1000px"
      :title="$lang('编辑选择配送方式')"
      :visible.sync="editSelectedModeDistributionDialogVisible"
  >
    <warehouse-recommended-mode-distribution-edit
        @closed-mode-distribution-by-edit="onClosedModeDistributionByEdit"
        :store-id="storeId"
        v-if="editSelectedModeDistributionDialogVisible"
    />
  </el-dialog>
  <el-dialog
      width="1000px"
      :title="$lang('编辑发货国家')"
      :visible.sync="editSelectedDeliveryCountryDialogVisible"
  >
    <warehouse-recommended-delivery-country-edit
        @closed-delivery-country-by-edit="onClosedDeliveryCountryByEdit"
        :store-id="storeId"
        v-if="editSelectedDeliveryCountryDialogVisible"
    />
  </el-dialog>
  <!--  编辑规则相关的组件-->
  <!-- 查看规则-->
  <el-dialog
      width="800px"
      :title="$lang('查看自定义规则')"

      :visible.sync="viewCustomRulesDialogVisible"
  >
    <warehouse-recommended-view
        :id="viewId"
        @view-closed="onViewClosed"
        :store-id="storeId"
        v-if="viewCustomRulesDialogVisible"
    />
  </el-dialog>
  <!-- 查看规则-->

</div>

<script type="text/javascript" src="../Public/lib/jquery/1.9.1/jquery.min.js?v=<{$tdink.config.VER_NUM}>"></script>
<script type="text/javascript" src="../Public/js/H-ui.js"></script>
<script type="text/javascript" src="../Public/js/H-ui.admin.js?<{$Think.config.VER_NUM}>"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/vue-2.6.10.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/axios.min.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/element-ui-2.13.0.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/element-en.js"></script>

<script src="./Application/Tpl/Home/Public/js/lodash-4.17.15.js"></script>

<script type="text/javascript" src="./Application/Tpl/Home/Store/warehouse_recommended-new.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Store/warehouse_recommended-edit.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Store/warehouse_recommended-view.js"></script>

<!--可复用的组件-->
<script type="text/javascript" src="./Application/Tpl/Home/Store/warehouse_recommended-goods-sku.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Store/warehouse_recommended-goods-sku-prefix.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Store/warehouse_recommended-goods-sku-suffix.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Store/warehouse_recommended-order-destination.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Store/warehouse_recommended-mode-distribution.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Store/warehouse_recommended-delivery-warehouse.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Store/warehouse_recommended-delivery-country.js"></script>

<script type="text/javascript" src="./Application/Tpl/Home/Store/warehouse_recommended-goods-sku-edit.js"></script>
<script type="text/javascript"
        src="./Application/Tpl/Home/Store/warehouse_recommended-goods-sku-prefix-edit.js"></script>
<script type="text/javascript"
        src="./Application/Tpl/Home/Store/warehouse_recommended-goods-sku-suffix-edit.js"></script>
<script type="text/javascript"
        src="./Application/Tpl/Home/Store/warehouse_recommended-order-destination-edit.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Store/warehouse_recommended-mode-distribution-edit.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Store/warehouse_recommended-delivery-warehouse-edit.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Store/warehouse_recommended-delivery-country-edit.js"></script>

<script type="text/javascript" src="./Application/Tpl/Home/Store/bus.js"></script>
<!--<script>-->
<!--  document.getElementById("warehouseRecommended").hidden-->
<!--  window.onload=function () {-->

<!--  }-->
<!--</script>-->
<script>
    if (getCookie('think_language') !== "zh-cn") {
        ELEMENT.locale(ELEMENT.lang.en)
    }
</script>
<script>

    const PMS_HOST = "<{$PMS_HOST}>";
    const storeId = "<{$id}>";

    const vueApp = new Vue({
        el: '#warehouseRecommended',
        components: {
            "warehouse-recommended-new": warehouseRecommendedNew,
            "warehouse-recommended-edit": warehouseRecommendedEdit,
            "warehouse-recommended-view": warehouseRecommendedView,
            "warehouse-recommended-goods-sku": warehouseRecommendedGoodsSku,
            "warehouse-recommended-goods-sku-prefix": warehouseRecommendedGoodsSkuPrefix,
            "warehouse-recommended-goods-sku-suffix": warehouseRecommendedGoodsSkuSuffix,
            "warehouse-recommended-order-destination": warehouseRecommendedOrderDestination,
            "warehouse-recommended-mode-distribution": warehouseRecommendedModeDistribution,
            "warehouse-recommended-delivery-warehouse": warehouseRecommendedDeliveryWarehouse,
            "warehouse-recommended-delivery-country": warehouseRecommendedDeliveryCountry,

            "warehouse-recommended-goods-sku-edit": warehouseRecommendedGoodsSkuEdit,
            "warehouse-recommended-goods-sku-prefix-edit": warehouseRecommendedGoodsSkuPrefixEdit,
            "warehouse-recommended-goods-sku-suffix-edit": warehouseRecommendedGoodsSkuSuffixEdit,
            "warehouse-recommended-order-destination-edit": warehouseRecommendedOrderDestinationEdit,
            "warehouse-recommended-mode-distribution-edit": warehouseRecommendedModeDistributionEdit,
            "warehouse-recommended-delivery-warehouse-edit": warehouseRecommendedDeliveryWarehouseEdit,
            "warehouse-recommended-delivery-country-edit": warehouseRecommendedDeliveryCountryEdit,
        },
        data() {
            return {
                filter: {
                    store_id: storeId
                },
                states: {'停用': 0, '启用': 1, '删除': 2},
                pagination: {
                    this_page: 1,
                    page_count: 10,
                },
                pmsHost: PMS_HOST,
                storeId: storeId,
                editId: null,
                searching: false,
                loading: false,
                addCustomRulesDialogVisible: false,
                addSelectedSkuDialogVisible: false,
                addSelectedSkuPrefixDialogVisible: false,
                addSelectedSkuSuffixDialogVisible: false,
                addSelectedDestinationDialogVisible: false,
                addSelectedModeDistributionDialogVisible: false,
                addSelectedDeliveryWarehouseDialogVisible: false,
                addSelectedDeliveryCountryDialogVisible: false,

                editCustomRulesDialogVisible: false,
                editSelectedSkuDialogVisible: false,
                editSelectedSkuPrefixDialogVisible: false,
                editSelectedSkuSuffixDialogVisible: false,
                editSelectedDestinationDialogVisible: false,
                editSelectedModeDistributionDialogVisible: false,
                editSelectedDeliveryWarehouseDialogVisible: false,
                editSelectedDeliveryCountryDialogVisible: false,

                viewCustomRulesDialogVisible: false,
                acrossStoreCopyDialogVisible: false,
                pagedWarehouseRecommendeds: {},
                isDestroyClose: true,
                allWarehouses: {},
                allLogisticsCompany: {},
                allLogisticsWay: [],
                allSurfaceWay: {},
                allCountry: [],
                allStore: [],
                acrossStoreCopyIds: [],
                currentRuleId: null,
                skuExceedLimit: [],
                countryExceedLimit: [],
                acrossStoreCopy: {acrossStoreCopyIds: []},
                isShowDownButton: false,
                isShowUpButton: false,
                isShowDownButtonByRuleType: false,
                acrossStoreCopyRules: {
                    acrossStoreCopyIds: [{required: true, message: this.$lang('请选择店铺')}],
                }
            }
        },
        computed: {
            text: function () {
            }
        },
        created() {
            axios.get("/index.php?g=OMS&m=Patch&a=listMenu").then((res) => {
                const data = res.data.data;
                console.log("数据", data);
                this.allWarehouses = data.warehouse_status; //仓库数据
                this.allLogisticsCompany = data.logistics_company_status; //物流公司数据
                this.allLogisticsWay = data.shipping_methods_status; //物流方式数据
                this.allSurfaceWay = data.surfaceWayGetStatus; //面单方式数据
                this.allCountry = data.country_status;// 国家数据
                // this.allStore = data.shop_status; //所有店铺
            });

            this.search();
        },
        mounted() {
            console.log("渲染完成");
            document.getElementById("warehouseRecommended").style.display = "block";
        },
        methods: {
            onNew() {
                this.addCustomRulesDialogVisible = true;
            },
            onEdit(id) {
                this.editId = id;
                this.editCustomRulesDialogVisible = true;
            },
            onView(id) {
                this.viewId = id;
                this.viewCustomRulesDialogVisible = true;
            },
            onNewSaved(value) {
                this.addCustomRulesDialogVisible = value;
                this.search();
            },
            onNewClosed() {
                this.addCustomRulesDialogVisible = false;
            },
            onEditSaved(value) {
                this.editCustomRulesDialogVisible = value;
                this.search();
            },
            onEditClosed() {
                this.editCustomRulesDialogVisible = false;
            },
            onMoveDown(scope) {
                // this.pagination.this_page = page;

                console.log("值", scope);
                axios.post(`/index.php?m=store&a=manualSort`, {
                    id: scope.row.id,
                    type: "2",
                }).then((res) => {
                    console.log("响应数据", res);
                    if (res.data.code === 2000) {
                        this.$message.success(`${res.data.msg}`)
                        this.search();
                    } else {
                        this.$message.error(`${res.data.msg}`)

                    }

                }).catch(() => {
                    this.$message.error(this.$lang('手动排序失败'))
                })
            },
            onMoveUp(scope) {
                axios.post(`/index.php?m=store&a=manualSort`, {
                    id: scope.row.id,
                    type: "1",
                }).then((res) => {
                    if (res.data.code === 2000) {
                        this.$message.success(`${res.data.msg}`)
                        this.search();
                    } else {
                        this.$message.error(`${res.data.msg}`)

                    }
                }).catch(() => {
                    this.$message.error(this.$lang('手动排序失败'))
                })
            },
            onEnable(row) {
                this.$confirm(this.$lang("启用规则“") + row.rule_name + this.$lang("”后规则将立即生效，且优先级在”默认规则“前面，是否启用?"), this.$lang("提示")).then(() => {
                    axios.post(`/index.php?m=store&a=customConfigStatusEdit`, {
                        id: row.id,
                        status: "1"
                    }).then((res) => {
                        if (res.data.code === 2000) {
                            this.$message.success("启用成功")
                            this.search()
                        } else {
                            this.$message.error(res.data.msg)
                        }

                    }).catch(() => {
                        this.$message.error("启用失败")
                    })
                })
            },
            onDisable(row) {
                this.$confirm(this.$lang("停用规则“") + row.rule_name + this.$lang("”后将不生效，是否停用？"), this.$lang("提示")).then(() => {
                    axios.post(`/index.php?m=store&a=customConfigStatusEdit`, {
                        id: row.id,
                        status: "0"
                    }).then((res) => {
                        console.log("结果", res);
                        if (res.data.code === 2000) {
                            this.$message.success(this.$lang("停用成功"))
                            this.search()
                        } else {
                            this.$message.error(this.$lang(res.data.msg))

                        }


                    }).catch((error) => {
                        this.$message.error(this.$lang("停用失败"))
                    })
                })
            },
            onDelete(row) {
                this.$confirm(this.$lang("你确定要删除规则“") + row.rule_name + this.$lang("”吗?"), this.$lang("提示")).then(() => {
                    axios.post(`/index.php?m=store&a=customConfigStatusEdit`, {
                        id: row.id,
                        status: "2"
                    }).then((res) => {
                        if (res.data.code === 2000) {
                            this.$message.success(this.$lang("删除成功"))
                            this.search()
                        } else {
                            this.$message.error(this.$lang(res.data.msg))

                        }

                    }).catch(() => {
                        this.$message.error(this.$lang("删除失败"))
                    })
                })

            },
            onCopy(row) {
                this.$confirm(this.$lang("是否复制此规则”") + row.rule_name + "“？" + this.$lang("复制的规则优先级在原规则之下"), this.$lang("提示")).then(() => {
                    axios.post(`/index.php?m=store&a=customConfigCopy`, {
                        id: row.id,
                    }).then((res) => {
                        if (res.data.code === 2000) {
                            this.$message.success(this.$lang("复制成功"))
                            this.search()
                        } else {
                            this.$message.error(this.$lang(res.data.msg))

                        }
                    }).catch(() => {
                        this.$message.error(this.$lang("复制失败"))
                    })
                })
            },
            onAcrossStoreCopy(row) {
                this.currentRuleId = row.id;
                this.acrossStoreCopyDialogVisible = true;
                axios.get("/index.php?g=OMS&m=Patch&a=listMenu").then((res) => {
                    const data = res.data.data;
                    this.allStore = data.shop_status;
                });
            },
            onAcrossStoreCopySaved() {
                this.$refs["acrossStoreCopyForm"].validate((valid) => {
                    if (valid) {
                        axios.post(`/index.php?m=store&a=configCopyToOtherStore`, {
                            id: this.currentRuleId,
                            copy_id: this.storeId,
                            new_id: this.acrossStoreCopy.acrossStoreCopyIds.toString()
                        }).then((res) => {
                            if (res.data.code === 2000) {
                                this.$message.success(this.$lang("跨店铺复制成功"))
                                this.search()
                                this.acrossStoreCopyDialogVisible = false;
                                this.acrossStoreCopy.acrossStoreCopyIds = [];
                                this.allStore = [];

                            } else {
                                this.$message.error(this.$lang(res.data.msg))

                            }
                        }).catch(() => {
                            this.$message.error(this.$lang("跨店铺复制失败"))
                        })
                    }
                })

            },
            onAcrossStoreCopyClosed() {
                this.acrossStoreCopyDialogVisible = false;
                this.acrossStoreCopy.acrossStoreCopyIds = [];
                this.allStore = [];
            },
            onAcrossStoreCopyDialogModalClose() {
                this.acrossStoreCopyDialogVisible = false;
                this.acrossStoreCopy.acrossStoreCopyIds = [];
                this.allStore = [];
            },
            onSort() {

            },
            onPageChange(page) {
                console.log("页码", page);
                this.pagination.this_page = page;
                this.search();
            },
            onSizeChange(size) {
                this.pagination.page_count = size;
                this.search();
            },

            //---------------------------------新增
            onOpenGoodsSkuDialogBoxByAdd(value) {
                if (value) {
                    this.addSelectedSkuDialogVisible = true;
                }
            },
            onClosedGoodsSku(value) {
                this.addSelectedSkuDialogVisible = value;
            },

            // 商品SKU前缀
            onOpenGoodsSkuPrefixDialogBoxByAdd(value) {
                if (value) {
                    this.addSelectedSkuPrefixDialogVisible = true;
                }
            },
            onClosedGoodsSkuPrefix(value) {
                this.addSelectedSkuPrefixDialogVisible = value;
            },

            // 商品SKU后缀
            onOpenGoodsSkuSuffixDialogBoxByAdd(value) {
                if (value) {
                    this.addSelectedSkuSuffixDialogVisible = true;
                }
            },
            onClosedGoodsSkuSuffix(value) {
                this.addSelectedSkuSuffixDialogVisible = value;
            },

            // 选择国家
            onOpenOrderDestinationDialogBoxByAdd(value) {
                if (value) {
                    this.addSelectedDestinationDialogVisible = true;
                }
            },
            onClosedOrderDestination(value) {
                this.addSelectedDestinationDialogVisible = value;
            },
            // 选择配送方式
            onOpenModeDistributionDialogBoxByAdd(value) {
                if (value) {
                    this.addSelectedModeDistributionDialogVisible = true;
                }
            },
            onClosedModeDistribution(value) {
                this.addSelectedModeDistributionDialogVisible = value;

            },
            // 选择发货仓库
            onOpenDeliveryWarehouseDialogBoxByAdd(value) {
                if (value) {
                    this.addSelectedDeliveryWarehouseDialogVisible = true;
                }
            },
            onClosedDeliveryWarehouse(value) {
                this.addSelectedDeliveryWarehouseDialogVisible = value;

            },
            // 发货国家
            onOpenDeliveryCountryDialogBoxByAdd(value) {
                if (value) {
                    this.addSelectedDeliveryCountryDialogVisible = true;
                }
            },
            onClosedDeliveryCountry(value) {
                this.addSelectedDeliveryCountryDialogVisible = value;

            },
            //---------------------------------新增

            //-------------------------------------- 编辑
            onOpenGoodsSkuDialogBoxByEdit(value) {
                if (value) {
                    this.editSelectedSkuDialogVisible = true;
                }
            },
            onClosedGoodsSkuByEdit(value) {
                this.editSelectedSkuDialogVisible = value;

            },
            onOpenGoodsSkuPrefixDialogBoxByEdit(value) {
                if (value) {
                    this.editSelectedSkuPrefixDialogVisible = true;
                }
            },
            onClosedGoodsSkuPrefixByEdit(value) {
                this.editSelectedSkuPrefixDialogVisible = value;

            },
            onOpenGoodsSkuSuffixDialogBoxByEdit(value) {
                if (value) {
                    this.editSelectedSkuSuffixDialogVisible = true;
                }
            },
            onClosedGoodsSkuSuffixByEdit(value) {
                this.editSelectedSkuSuffixDialogVisible = value;
            },
            onOpenOrderDestinationDialogBoxByEdit(value) {
                if (value) {
                    this.editSelectedDestinationDialogVisible = true;
                }
            },
            onClosedOrderDestinationByEdit(value) {
                this.editSelectedDestinationDialogVisible = value;

            },

            //用户指定配送方式
            onOpenModeDistributionDialogBoxByEdit(value) {
                if (value) {
                    this.editSelectedModeDistributionDialogVisible = true;
                }
            },
            onClosedModeDistributionByEdit(value) {
                this.editSelectedModeDistributionDialogVisible = value;
                console.log("关闭了");

            },
            // 发货仓库
            onOpenDeliveryWarehouseDialogBoxByEdit(value) {
                if (value) {
                    this.editSelectedDeliveryWarehouseDialogVisible = true;
                }
            },
            onClosedDeliveryWarehouseByEdit(value) {
                this.editSelectedDeliveryWarehouseDialogVisible = value;

            },
            // 发货国家
            onOpenDeliveryCountryDialogBoxByEdit(value) {
                if (value) {
                    this.editSelectedDeliveryCountryDialogVisible = true;
                }
            },
            onClosedDeliveryCountryByEdit(value) {
                this.editSelectedDeliveryCountryDialogVisible = value;

            },
            //-------------------------------------- 编辑
            onViewClosed() {
                console.log("555555555555555");
                this.viewCustomRulesDialogVisible = false
            },
            onReset() {
                Object.keys(this.filter).forEach((key) => {
                    if (key !== "store_id") {
                        this.filter[key] = null
                    }
                })
            },
            onSearch() {
                this.pagination.this_page = 1;
                this.search();
            },
            search() {
                axios.post(`/index.php?m=store&a=CustomWarehouseConfig`, Object.assign({}, this.filter, this.pagination)).then(res => {
                    this.pagedWarehouseRecommendeds = res.data.data;

                    this.pagedWarehouseRecommendeds.data.forEach((obj, key) => {
                        if (obj.country) {
                            let countryExceedLimit = JSON.parse(obj.country);
                            if (countryExceedLimit.length > 1) {
                                this.$set(obj, "countryExceedLimit", countryExceedLimit)
                                obj.country = countryExceedLimit.slice(0, 1)
                            } else {
                                obj.country = countryExceedLimit;
                            }
                        }
                        if (obj.sku) {
                            let skuExceedLimit = JSON.parse(obj.sku);
                            if (skuExceedLimit.length > 1) {
                                this.$set(obj, "skuExceedLimit", skuExceedLimit)
                                obj.sku = skuExceedLimit.slice(0, 1)
                            } else {
                                obj.sku = skuExceedLimit;
                            }
                        }
                        if (obj.rule_type === '2' || obj.status === '0') { //默认规则 或 停用状态
                            this.$set(this.pagedWarehouseRecommendeds.data[key], 'isShowDownButtonByRuleType', false);
                        } else { //启用状态
                            this.$set(this.pagedWarehouseRecommendeds.data[key], 'isShowDownButtonByRuleType', true);
                        }

                    })

                    // 判断出最后一条是启用状态的数据不应该有下移的箭头
                    for (let i = 0; i < this.pagedWarehouseRecommendeds.data.length; i++) {
                        if (!this.pagedWarehouseRecommendeds.data[i].isShowDownButtonByRuleType && i !== 0) { //当第一次匹配到默认规则或停用时且不处于第一条数据，则表明至少有一条启用规则
                            this.$set(this.pagedWarehouseRecommendeds.data[i - 1], "isShowDownButtonByRuleType", false);
                            break;
                        }
                    }
                    console.log("列表数据", this.pagedWarehouseRecommendeds);

                });
            }
        }
    });

</script>
</body>
</html>