<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>店铺授权</title>
    <link rel="stylesheet" href="../Public/utils/css/public.style.css?v=0907">
    <!-- <link rel="stylesheet" href="../Public/css/element-ui.css?v=<{$Think.const.V}>"> -->
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/element-ui-2.2.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/default.css?v=<{$Think.const.V}>">

    <link rel="stylesheet" href="../Public/../Hr/depList.css?v=123">
    <link rel="stylesheet" href="../Public/icon/css/font-awesome.min.css">
    <style>
    caption {
        background: #546E7A;
        height: 32px;
        text-align: left;
        color: #FFFFFF;
        padding: 5px 20px;
        line-height: 32px;
        font-size: 16px;
    }

    #store th {
        background: #ecf2f7;
        height: 40px;
        text-align: center;
        font-size: .7rem;
        color: #546e7a;
        letter-spacing: 0;
        border: 1px solid #cadee7;
        white-space: nowrap;
    }
    .search_title{
        font-size: 14px;
        width: 140px;
    }
    .filter_input{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .filter_input>div{
        display: flex;
        flex: 1;
    }
    .el-select__tags span{
        max-width: 97%;
    }
    .el-select__tags span span{
        /* display: flex;
        align-items: center; */
    }
    .el-select__tags span span span{
        overflow: hidden;
        display: inline-flex;
    }
    /* .el-select-dropdown__item.selected.hove,.el-select-dropdown__item.selected,.el-select-dropdown__item.selected.hover{
        background-color: rgb(245, 247, 250);
    }
    .el-date-table td.available:hover{
        background-color: rgb(175, 221, 255) !important;
    }
    .el-pager li.active{
        color: #fff;
    } */
    </style>
</head>

<body>
    <div id="store" v-cloak class="recruit use-btn" style="padding-bottom: 230px;">
        <el-row type="flex" :gutter="20">
            <el-col :span="6" class="filter_input">
                <span class="search_title"><{$Think.lang.国家}></span>
                <el-select v-model="form.COUNTRY_ID" multiple clearable filterable placeholder="<{$Think.lang.国家}>" style="width: 150px;">
                    <el-option v-for="item in COUNTRY" :key="item.id" :label="item.zh_name" :value="item.id">
                    </el-option>
                </el-select>
            </el-col>
            <el-col :span="6" class="filter_input">
                <span class="search_title"><{$Think.lang.站点}></span>
                <el-select v-model="form.PLAT_CD" multiple placeholder="<{$Think.lang.站点}>" clearable filterable style="width: 150px;">
                    <el-option v-for="item in STORE_PLAT" :key="item.CD" :label="item.CD_VAL" :value="item.CD">
                    </el-option>
                </el-select>
            </el-col>
            <el-col :span="6" class="filter_input">
                <span class="search_title"><{$Think.lang.销售团队}></span>
                <el-select v-model="form.SALE_TEAM_CD" multiple placeholder="<{$Think.lang.销售团队}>" clearable filterable style="width: 150px;">
                    <el-option v-for="item in SALE_TEAM" :key="item.CD" :label="item.CD_VAL" :value="item.CD">
                    </el-option>
                </el-select>
            </el-col>
            <el-col :span="6" class="filter_input">
                <span class="search_title"><{$Think.lang.授权状态}></span>
                <el-select v-model="form.status" placeholder="<{$Think.lang.授权状态}>" clearable filterable style="width: 150px;">
                    <el-option key="has" label="已授权" value="has"></el-option>
                    <el-option key="none" label="未授权" value="none">
                    </el-option>
                </el-select>
            </el-col>
        </el-row>
        <el-row type="flex" :gutter="20">
            <el-col :span="6" class="filter_input">
                <span class="search_title"><{$Think.lang.店铺状态}></span>
                <el-select v-model="form.store_status" placeholder="<{$Think.lang.店铺状态}>" clearable filterable style="width: 150px;">
                    <el-option key="has" label="<{$Think.lang.运营中}>" value="0"></el-option>
                    <el-option key="none" label="<{$Think.lang.未运营}>" value="1"></el-option>
                </el-select>
            </el-col>
            <el-col :span="6" class="filter_input">
                <span class="search_title"><{$Think.lang.店铺名称/别名}></span>
                <!-- <el-input placeholder="<{$Think.lang.请输入内容}>" v-model="form.SEARCH_VAL" style="width: 400px;vertical-align: middle;">
                    <el-select v-model="form.SEARCH_TYPE" @change="change(form.SEARCH_TYPE)" slot="prepend" style="width: 130px">
                        <el-option label="<{$Think.lang.店铺名称}>" value="STORE_NAME" key="STORE_NAME"></el-option>
                        <el-option label="<{$Think.lang.运营手机号}>" value="USER_ID" key="USER_ID"></el-option>
                    </el-select>
                </el-input> -->
                <el-input v-model="form.STORE_NAME" placeholder="<{$Think.lang.店铺名称/别名}>"></el-input>
            </el-col>
            <el-col :span="6" class="filter_input">
                <span class="search_title"><{$Think.lang.店铺负责人}></span>
                <el-select v-model="form.shop_manager_id" multiple clearable filterable placeholder="<{$Think.lang.店铺负责人}>" style="width: 150px;">
                    <el-option v-for="item in nameList" :key="item.M_ID" :label="item.M_NAME" :value="item.M_ID"></el-option>
                </el-select>
            </el-col>
            <el-col :span="6" class="filter_input">
                <span class="search_title"><{$Think.lang.运营手机号}></span>
                <el-input v-model="form.USER_ID" placeholder="<{$Think.lang.运营手机号}>"></el-input>
            </el-col>
        </el-row>
        <el-row type="flex" :gutter="20">
            <el-col :span="6" class="filter_input">
                <span class="search_title"><{$Think.lang.注册公司}></span>
                <el-select v-model="form.company_cd" style="width: 100%;" multiple collapse-tags filterable clearable placeholder="<{$Think.lang.注册公司}>">
                    <el-option v-for="item in ourCompany" :key="item.CD" :label="item.CD_VAL" :value="item.CD"></el-option>
                </el-select>
                <!-- <span class="search_title"><{$Think.lang.交接人}></span>
                <el-select v-model="form.handover_by" multiple clearable filterable placeholder="<{$Think.lang.交接人}>" style="width: 150px;">
                    <el-option v-for="item in nameList" :key="item.M_ID" :label="item.M_NAME" :value="item.M_ID"></el-option>
                </el-select> -->
            </el-col>
            <el-col :span="6" class="filter_input">
                <span class="search_title"><{$Think.lang.是否交VAT}></span>
                <el-select v-model="form.IS_VAT"  style="width: 100%;" filterable clearable placeholder="<{$Think.lang.是否交VAT}>">
                    <el-option v-for="item in IS_VAT" :key="item.CD" :label="item.CD_VAL" :value="item.CD"></el-option>
                </el-select>
            </el-col>
            <el-col :span="6" class="filter_input">
                <span class="search_title"><{$Think.lang.店铺账号}></span>
                <el-input v-model="form.up_shop_num" placeholder="<{$Think.lang.店铺账号}>"></el-input>
            </el-col>
            <el-col :span="6" class="filter_input">
                <span class="search_title"><{$Think.lang.最近确认日期}></span>
                <el-date-picker
                    v-model="form.recently_time"
                    type="daterange"
                    range-separator="至"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期">
                </el-date-picker>
            </el-col>
        </el-row>
        <el-row type="flex" :gutter="20">
            <el-col :span="6" class="filter_input">
                <span class="search_title"><{$Think.lang.交接人}></span>
                <el-select v-model="form.handover_by" multiple clearable filterable placeholder="<{$Think.lang.交接人}>" style="width: 150px;">
                    <el-option v-for="item in nameList" :key="item.M_ID" :label="item.M_NAME" :value="item.M_ID"></el-option>
                </el-select>
                <!-- <span class="search_title"><{$Think.lang.注册公司}></span>
                <el-select v-model="form.company_cd" style="width: 100%;" multiple collapse-tags filterable clearable placeholder="<{$Think.lang.注册公司}>">
                    <el-option v-for="item in ourCompany" :label="item.CD_VAL" :value="item.CD"></el-option>
                </el-select> -->
            </el-col>
            <el-col :span="6" class="filter_input">
                <span class="search_title"><{$Think.lang.收入记录公司}></span>
                <el-select v-model="form.record_company_cd" multiple clearable collapse-tags filterable placeholder="<{$Think.lang.收入记录公司}>" style="width: 150px;">
                    <el-option v-for="item in ourCompany" :key="item.CD"  :label="item.CD_VAL" :value="item.CD"></el-option>
                </el-select>
            </el-col>
            <el-col :span="6" class="filter_input">
                <span class="search_title">{{$lang('店铺类型')}}</span>
                <el-select v-model="form.store_type_cd" multiple clearable collapse-tags filterable :placeholder="$lang('请选择店铺类型')" style="width: 150px;">
                    <el-option v-for="item in store_type" :key="item.CD"  :label="item.CD_VAL" :value="item.CD"></el-option>
                </el-select>
            </el-col>
            <el-col :span="6" class="filter_input">
                <span class="search_title">{{$lang('合作方公司名称')}}</span>
                <el-select v-model="form.supplier_id" multiple clearable collapse-tags filterable :placeholder="$lang('请选择合作方公司名称')" style="width: 150px;">
                    <el-option v-for="item in supplier" :key="item.supplier_id"  :label="$lang(item.supplier_name)" :value="item.supplier_id"></el-option>
                </el-select>
            </el-col>
        </el-row>
        <el-row type="flex" :gutter="20">
            <el-col :span="6" class="filter_input">
                <span class="search_title">{{$lang('实际运营方店铺ID')}}</span>
                <el-input v-model="form.reality_opt_store_id" :placeholder="$lang('实际运营方店铺ID')"></el-input>
            </el-col>
        </el-row>
        <el-row type="flex" :gutter="20" class="filter_btn">
            <el-col :span="8">
                <button  style="height: 35px;" class="btn-pub btn-green" @click="search()"><{$Think.lang.搜索}></button>
                <el-button style="height: 35px;" @click="reset()"><{$Think.lang.重置}></el-button>
            </el-col>
        </el-row>
   
        <div class="use-row use-btn" style="margin-bottom: 15px">
        </div>
        <div class="col-30 text-right" style="margin-bottom: 15px">
            <div class="use-row use-btn" style="margin-bottom: -40px">
                <div class=" text-left result-num" style="margin-right: 25px;padding-top: 1px;">
                    <{$Think.lang.搜索结果}>：&nbsp;&nbsp;<{$Think.lang.共}> <b>{{ storeCount }}</b> <{$Think.lang.条记录}>
                </div>
                <el-button type="text" @click="export_store()">导出</el-button>
            </div>
            <button class="btn-pub btn-blue" type="primary" @click="addStore()"><i class="fa fa-plus"></i>&nbsp;&nbsp;新增店铺</button>
        </div>
        <div class="row">
            <div class="col-100">
                <table class="table-list">
                    <thead>
                        <tr style="background: #F7F9FB;">
                            <th><{$Think.lang.店铺编号}></th>
                            <th width="5%"><{$Think.lang.店铺名称}></th>
                            <th><{$Think.lang.店铺状态}></th>
                            <th><{$Think.lang.运营类型}></th>
                            <th><{$Think.lang.站点}></th>
                            <th><{$Think.lang.国家}></th>
                            <th width="150px"><{$Think.lang.注册公司}></th>
                            <th><{$Think.lang.运营后台时间默认时区}></th>
                            <th><{$Think.lang.所属销售团队}></th>
                            <th><{$Think.lang.运营手机号}></th>
                            <th><{$Think.lang.支持的仓库}></th>
                            <th><{$Think.lang.支持的物流方式}></th>
                            <th><{$Think.lang.代理服务器地址}></th>
                            <th><{$Think.lang.授权状态}></th>
                            <th><{$Think.lang.拉单状态}></th>
                            <th><{$Think.lang.操作}></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in datalist">
                            <td>{{item.ID}}</td>
                            <td style="position: relative;height: 60px;">
                                <span v-if="item.STORE_INDEX_URL">
                                    <el-button style="font-size: 13px;" @click="jumpStore(item.ID)" type="text" size="small">{{item.STORE_NAME}}
                                    </el-button>
                                </span>
                                <span v-else style="font-size: 13px;">
                                    {{item.STORE_NAME}}
                                </span>
                                <div style="width: 50px;height: 22px;background: rgb(249, 156, 100);float: right;color: white;font-size: 12px;position: absolute;right: 0px;line-height: 22px;bottom: 0; text-align: center;">{{item.OPERATION_ZN_TYPE}}</div>
                            </td>
                            <td>{{item.STORE_ZN_STATUS}}</td>
                            <td>{{item.OPERATION_ZN_TYPE}}</td>
                            <td>{{item.PLAT_NAME}}</td>
                            <td>{{item.zh_name}}</td>
                            <td style="white-space: normal">{{item.company}}</td>
                            <td style="white-space: normal">{{item.default_timezone_cd_val}}</td>
                            <td>
                                <el-tooltip class="item" effect="dark" :content="item.SALE_TEAM" placement="bottom">
                                    <div v-if="item.SALE_TEAM">{{checkLength(item.SALE_TEAM)}}</div>
                                </el-tooltip>
                            </td>
                            <td>{{item.USER_ID}}</td>
                            <td>{{item.supWare}}</td>
                            <td>{{item.supLog}}</td>
                            <td>{{item.PROXY}}</td>
                            <td>{{item.STATUS}}</td>
                            <td v-if="item.ORDER_SWITCH=='1'"><{$Think.lang.开}></td>
                            <td v-else><{$Think.lang.关}></td>
                            <td style="width: 12%;">
                                <button v-show="false" style="height: 28px;line-height: 17px;font-size: 13px;" class="btn-pub btn-green" size="small" @click="authStore(item.ID)"><{$Think.lang.授权}></button>
                                <el-button class="btn-pub btn-blue" type="primary" style="height: 28px;line-height: 17px;font-size: 13px;" size="small" @click="changeStore(item.ID)"><{$Think.lang.详情}></el-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div style="margin-top: 20px;" class="use-row">
            <div class="col-100 text-right">
                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page.sync="page.sePage" :page-sizes="[5,10,20,50,100,200]" :page-size="page.pageSize" layout="sizes, prev, pager, next" :total="storeCount"></el-pagination>
            </div>
        </div>
        <!-- 新增/修改店铺 -->
        <el-dialog :title=" operation " :visible.sync=" addVisible " size="tiny">
            <div style="padding: 0 20px;">
                <el-form :model="addstore">
                    <el-form-item label="<{$Think.lang.店铺名}>" :label-width="formLabelWidth" class="is-required">
                        <el-input style="width: 180px;margin-left: 55px;" v-model="addstore.STORE_NAME" auto-complete="off" placeholder="<{$Think.lang.请填写店铺名}>"></el-input>
                    </el-form-item>
                    <el-form-item label="<{$Think.lang.店铺别名}>" :label-width="formLabelWidth" class="is-required">
                        <el-input style="width: 180px;margin-left: 41px;" v-model="addstore.MERCHANT_ID" auto-complete="off" placeholder="<{$Think.lang.请填写店铺别名}>"></el-input>
                    </el-form-item>
                    <el-form-item label="<{$Think.lang.国家}>" :label-width="formLabelWidth" class="is-required">
                        <el-select v-model="addstore.COUNTRY_ID" style="width: 180px;margin-left: 69px;" filterable clearable placeholder="<{$Think.lang.请选择国家}>">
                            <el-option v-for=" item in COUNTRY" :key="item.id" :label="item.zh_name" :value="item.id"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="<{$Think.lang.站点}>" :label-width="formLabelWidth" class="is-required">
                        <el-select v-model="addstore.PLAT_CD" style="width: 180px;margin-left: 69px;" filterable clearable placeholder="<{$Think.lang.请选择站点}>">
                            <el-option v-for=" item in STORE_PLAT" :key="item.CD" :label="item.CD_VAL" :value="item.CD"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="<{$Think.lang.销售团队}>" :label-width="formLabelWidth" class="is-required">
                        <el-select v-model="addstore.SALE_TEAM_CD" style="width: 180px;margin-left: 42px;" filterable clearable placeholder="<{$Think.lang.请选择销售团队}>">
                            <el-option v-for=" item in SALE_TEAM" :key="item.CD" :label="item.CD_VAL" :value="item.CD"></el-option>
                        </el-select>
                    </el-form-item>
                    <!-- <el-form-item label="运营负责人" :label-width="formLabelWidth">
                        <el-input style="width: 180px;margin-left: 28px;" placeholder="请设置代理地址" v-model="addstore.STORE_NAME" auto-complete="off"></el-input>
                    </el-form-item> -->
                    <el-form-item label="<{$Think.lang.负责人联系方式}>" :label-width="formLabelWidth" class="is-required">
                        <el-input style="width: 180px;" v-model="addstore.USER_ID" placeholder="<{$Think.lang.请填写负责人联系方式}>" auto-complete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="<{$Think.lang.代理地址(选填)}>" :label-width="formLabelWidth">
                        <el-input style="width: 180px;margin-left: 10px;" v-model="addstore.PROXY" auto-complete="off" placeholder="<{$Think.lang.请填写代理地址}>"></el-input>
                    </el-form-item>
                    <el-form-item label="<{$Think.lang.拉单开关}>" :label-width="formLabelWidth">
                        <div v-if="addstore.ORDER_SWITCH">
                            <el-switch style="width: 180px;margin-left: 50px;padding-top: 7px;" v-model="addstore.ORDER_SWITCH" on-text="" off-text=""></el-switch>
                        </div>
                        <!-- <template  v-else> -->
                        <!-- <div v-if="addstore.ORDER_SWITCH===false">111</div>  -->
                        <div v-else>
                            <el-switch style="width: 180px;margin-left: 50px;padding-top: 7px;" disabled v-model="addstore.ORDER_SWITCH" on-text="" off-text=""></el-switch>
                        </div>
                        <!-- </template > -->
                    </el-form-item>
                    <span style="font-size: 12px; color: #FF4949;"><{$Think.lang.有使用代理服务器的请填写代理权服务器地址,没有设置将可能导致店铺关闭!}></span>
                </el-form>
                <br>
                <br>
                <div style="padding-left: 80px;" slot="footer" class="dialog-footer">
                    <el-button type="primary" @click="subStore()"><{$Think.lang.提 交}></el-button>
                    <el-button @click="addVisible = false"><{$Think.lang.取 消}></el-button>
                </div>
            </div>
        </el-dialog>
        <!-- 店铺授权 -->
        <el-dialog :title="'<{$Think.lang.店铺授权}>'" :visible.sync="authoriseVisible" size="tiny">
            <div style="padding: 0 20px;">
                <span v-if="addstore.PROXY">
                    <{$Think.lang.代理地址}>: {{addstore.PROXY}}
                </span>
                <span v-else>
                </span>
                <button class="btn-pub btn-green" style="margin-left: 212px;margin-bottom: 15px;margin-top: -24px;height: 32px;" type="primary" @click="jumpAuth(authinfo.AUTH_ADDRESS)" justify='center'><{$Think.lang.前往授权}></button>
                <el-form :model="authinfo">
                    <el-form-item label="Seller ID:" :label-width="formLabelWidth">
                        <el-input style="width: 195px;margin-left: 34px;" placeholder="<{$Think.lang.授权后填写}>" v-model="authinfo.SellerID" auto-complete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="App Secret:" :label-width="formLabelWidth">
                        <el-input style="width: 195px;margin-left: 17px" placeholder="<{$Think.lang.授权后填写}>" v-model="authinfo.AppSecret" auto-complete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="Access Token:" :label-width="formLabelWidth">
                        <el-input style="width: 195px;margin-left: 0px" placeholder="<{$Think.lang.授权后填写}>" v-model="authinfo.AccessToken" auto-complete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="Client ID:" :label-width="formLabelWidth">
                        <el-input style="width: 195px;margin-left: 32px" placeholder="<{$Think.lang.授权后填写}>" v-model="authinfo.ClientID" auto-complete="off"></el-input>
                    </el-form-item>
                </el-form>
                <div style="padding-left: 80px;" slot="footer" class="dialog-footer">
                    <el-button type="primary" @click="subAuth()"><{$Think.lang.提 交}></el-button>
                    <el-button @click="authoriseVisible = false"><{$Think.lang.取 消}></el-button>
                </div>
            </div>
        </el-dialog>
    </div>
    <!--引入js-->
    <script type="text/javascript" src="../Public/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="../Public/js/H-ui.js"></script>
    <script type="text/javascript" src="../Public/js/H-ui.admin.js?<{$Think.config.VER_NUM}>"></script>
    <!-- <script type="text/javascript" src="../Public/js/vue-2.4.2.js?v=<{$Think.const.V}>"></script> -->
    <script type="text/javascript" src="./Application/Tpl/Home/Public/js/vue.2.5.13.js?<{$Think.config.VER_NUM}>"></script>
    <script type="text/javascript" src="../Public/js/axios.min.js"></script>
    <!-- <script type="text/javascript" src="../Public/js/element-ui.js?v=<{$Think.const.V}>"></script> -->
    <script type="text/javascript" src="./Application/Tpl/Home/Public/js/element-ui-2.2.js"></script>
    <script type="text/javascript">
    var store = new Vue({
        el: '#store',
        data: {
            store_type: [], // 店铺类型
            supplier: [],
            page: {
                sePage: 1,
                pageSize: 10,
            },
            storeCount: 0,
            //页面展示数据
            datalist: {},
            //新增店铺开关
            addVisible: false,
            //授权框开关
            authoriseVisible: false,
            //新增弹窗宽度
            formLabelWidth: '20',
            //新增店铺
            addstore: {
                ID: '', //store id
                STORE_NAME: '',
                PLAT_CD: '', //plat code
                SALE_TEAM_CD: '', //sale team
                USER_ID: '',
                PROXY: '', //代理地址
                ORDER_SWITCH: false, //拉单开关
                COUNTRY_ID: '', //国家id
                MERCHANT_ID: '', //店铺别名
                
            },
            //授权信息
            authinfo: {
                APPKES: '',
                USER_NAME: '',
                USER_PWD: '',
                SellerID: '',
                AppSecret: '',
                AccessToken: '',
                ClientID: '',
                AUTH_ADDRESS: '',
            },
            STORE_PLAT: [], //所有站点数据
            SALE_TEAM: [], //所有销售团队
            COUNTRY: [], //国家
            operation: '',
            isclick: false,
            form: {
                SEARCH_VAL: '',
                SEARCH_TYPE: 'STORE_NAME',
                COUNTRY_ID: [],//国家
                PLAT_CD: [], //站点
                SALE_TEAM_CD: [], //销售团队编码
                status: '', //授权状态
                store_status:'',//店铺状态
                shop_manager_id:[],//店铺负责人
                USER_ID:'',//运营手机号
                company_cd:[],//注册公司
                record_company_cd:[],//收入记录公司
                store_type_cd: [], // 店铺类型
                reality_opt_store_id: '', // 实际运营店铺ID
                supplier_id: [], // 合作方公司名称（客户ID）
                IS_VAT:'',//是否交VAT
                STORE_NAME:'',//店铺名称/别名
                up_shop_num:'',//店铺账号
                recently_time:'',//最近确认日期
                recently_statr_time:'',
                recently_end_time:'',
                handover_by:[]//交接人
            },
            nameList:[],
            ourCompany:[],
            IS_VAT:[{
                    CD_VAL:'全部',
                    CD:''
                },{
                    CD_VAL:'是',
                    CD:'1'   
                },{
                    CD_VAL:'否',
                    CD:'0'   
            }]
        },

        created: function() {
            this.search();
            this.dataInit();
            this.getCommonmCd();
        },

        methods: {
            getCommonmCd() {
                let param = {
                    "cd_type": {
                        "store_type": "false", //false仅查启用的
                    }
                }
                axios.post('/index.php?g=common&m=index&a=get_cd',param).then(res => {
                    if (res.data.code === 2000) {
                        this.store_type = res.data.data.store_type;
                    } else {
                        this.$message.error(this.$lang(res.data.msg));
                    }
                })
                let params = {
                    "search":{
                        "supplier_name":""
                    }
                }
                axios.post('/index.php?m=order_detail&a=searchSuppliers',params).then(res => {
                    if (res.data.code === 200) {
                        this.supplier = res.data.data;
                    } else {
                        this.$message.error(this.$lang(res.data.msg));
                    }
                })
            },
            checkLength:function(n){
                var arr = n.split(',');
                if(arr.length>3){
                    return String(arr[0]+ ',' + arr[1] + ',' + arr[2] + '...')
                }else{
                    return n
                }
            },
            dataInit:function(){
                var _this = this
                axios.post("/index.php?m=api&a=store_getUserData").then(function(res) {
                    if (res.data.code == 200) {
                        _this.nameList = res.data.data
                    }
                })
                axios.post("/index.php?m=api&a=choice").then(function(res) {
                    if (res) {
                        _this.ourCompany = res.data[0].ourCompany;
                    }
                })
            },
            search: function() {
                var _this = this
                _this.form.recently_statr_time = _this.dateFormatCn(_this.form.recently_time[0])
                _this.form.recently_end_time = _this.dateFormatCn(_this.form.recently_time[1])

                var params = {
                    "search": {
                        "COUNTRY_ID":_this.form.COUNTRY_ID.toString(), 
                        "PLAT_CD":_this.form.PLAT_CD.toString(), 
                        "SALE_TEAM_CD":_this.form.SALE_TEAM_CD.toString(), 
                        "status":_this.form.status,
                        "store_status":_this.form.store_status,
                        "shop_manager_id":_this.form.shop_manager_id.toString(),
                        "USER_ID":_this.form.USER_ID,
                        "company_cd":_this.form.company_cd.toString(),
                        "income_company_cd":_this.form.record_company_cd.toString(),
                        "store_type_cd":_this.form.store_type_cd.toString(),
                        "supplier_id":_this.form.supplier_id.toString(),
                        "reality_opt_store_id":_this.form.reality_opt_store_id,
                        "IS_VAT":_this.form.IS_VAT,
                        "STORE_NAME":_this.form.STORE_NAME,
                        "up_shop_num":_this.form.up_shop_num,
                        "handover_by":_this.form.handover_by.toString(),
                        "recently_statr_time":_this.form.recently_statr_time,
                        "recently_end_time":_this.form.recently_end_time,
                    },
                    "pages": {
                        "current_page": _this.page.sePage, 
                        "per_page": _this.page.pageSize,
                    }
                }

                // var params = {
                //     'pagenow': this.page.sePage, 
                //     'pageSize': this.page.pageSize, 
                //     'COUNTRY_ID': this.form.COUNTRY, 
                //     'PLAT_CD': this.form.STORE_PLAT, 
                //     'SALE_TEAM_CD': this.form.SALE_TEAM, 
                //     'searchType': this.form.SEARCH_TYPE, 
                //     'searchContent': this.form.SEARCH_VAL, 
                //     'status': this.form.STATUS,
                //     'store_status':this.form.STORE_STATUS 
                // }
                axios.post("/index.php?m=api&a=store_getList", params)
                .then(function(res) {
                    // console.log(res.data.data);
                    // _this.storeCount = Number(res.data.data.page.total_rows)
                    if (res.data.code === 200) {
                        for (k in res.data.data.data) {
                            if (res.data.data.data[k]['STORE_STATUS'] === '0') {
                                res.data.data.data[k]['STORE_ZN_STATUS'] = '<{$Think.lang.运营中}>';
                            } else {
                                res.data.data.data[k]['STORE_ZN_STATUS'] = '<{$Think.lang.未运营}>';
                            }

                            if (res.data.data.data[k]['OPERATION_TYPE'] === '0') {
                                res.data.data.data[k]['OPERATION_ZN_TYPE'] = 'B2C';
                            } else if (res.data.data.data[k]['OPERATION_TYPE'] === '1') {
                                res.data.data.data[k]['OPERATION_ZN_TYPE'] = 'B2B2C';
                            } else {
                                res.data.data.data[k]['OPERATION_ZN_TYPE'] = 'B5C';
                            }
                        }
                        // count = parseInt(res.data.data.count);
                        // delete res.data.data.count;
                        _this.datalist = res.data.data.data;
                        _this.storeCount = Number(res.data.data.page.total_rows);
                    } else {
                        _this.datalist = [];
                        _this.storeCount = 0;
                        _this.$message({
                            message: res.data.data,
                            type: 'warning'
                        });
                    }

                })
                axios.post("/index.php?m=api&a=choice")
                .then(function(res) {
                    if (res) {
                        store.STORE_PLAT = res.data[0].storePlat;
                        store.SALE_TEAM = res.data[0].saleTeam;
                        store.COUNTRY = res.data[0].countryData;

                    }
                })
            },
            //提交新增店铺信息
            subStore: function() {
                this.addstore.STORE_NAME = $.trim(this.addstore.STORE_NAME);
                this.addstore.MERCHANT_ID = $.trim(this.addstore.MERCHANT_ID);
                var params = this.addstore;
                if (this.addstore.STORE_NAME == '') {
                    store.$message.warning('<{$Think.lang.请填写店铺名}>');
                    return false;
                }
                if (this.addstore.MERCHANT_ID == '') {
                    store.$message.warning('<{$Think.lang.请填写店铺别名}>');
                    return false;
                }
                if (this.addstore.COUNTRY_ID == '') {
                    store.$message.warning('<{$Think.lang.请选择国家}>');
                    return false;
                }
                if (this.addstore.PLAT_CD == '') {
                    store.$message.warning('<{$Think.lang.请选择站点}>');
                    return false;
                }
                if (this.addstore.SALE_TEAM_CD == '') {
                    store.$message.warning('<{$Think.lang.请选择销售团队}>');
                    return false;
                }
                if (this.addstore.USER_ID == '') {
                    store.$message.warning('<{$Think.lang.请填写负责人联系方式}>');
                    return false;
                }
                axios.post("/index.php?m=api&a=store_subStore", { param: params })
                    .then(function(res) {
                        if (res.data.code === 200) {
                            store.search();
                            store.addVisible = false;
                            store.$message({
                                message: res.data.data,
                                type: 'success'
                            });
                        } else {
                            store.$message.warning(res.data.msg);
                        }

                    })
            },
            //page
            handleSizeChange: function(size) {
                this.page.pageSize = size;
                this.search();
            },
            //page
            handleCurrentChange: function(currentPage) {
                this.page.sePage = currentPage;
                this.search();
            },
            //change store
            changeStore: function(id) {
                console.log(id);
                
                var route = document.createElement("a");
                route.setAttribute("style", "display: none");
                route.setAttribute("onclick", "opennewtab(this,'<{$Think.lang.店铺详情}>')");
                route.setAttribute("_href", '/index.php?m=store&a=detail&id=' + id);
                route.onclick();
                /*axios.get("/index.php?m=api&a=store_getStore&id=" + id)
                    .then(function(res) {
                        if (res.data.code === 200) {
                            if (res.data.data.ORDER_SWITCH === '1') {
                                res.data.data.ORDER_SWITCH = true;
                            }
                            store.addstore = res.data.data;
                        } else {
                            store.$message.error(res.data.msg);
                        }
                    })
                this.addstore.ID = id;
                this.addVisible = true;
                this.operation = '修改店铺'*/
            },
            //addstore
            addStore: function() {
                var route = document.createElement("a");
                route.setAttribute("style", "display: none");
                route.setAttribute("onclick", "opennewtab(this,'<{$Think.lang.店铺详情}>')");
                route.setAttribute("_href", '/index.php?m=store&a=detail');
                route.onclick();
                /*for (var k in this.addstore) {
                    this.addstore[k] = '';
                }*/
                /*this.addVisible = true;
                this.operation = '新增店铺';*/
            },
            //店铺授权
            authStore: function(id) {
                this.isclick = false;
                axios.get("/index.php?m=api&a=store_getStore&id=" + id)
                    .then(function(res) {
                        if (res.data.code === 200) {
                            store.authinfo = res.data.data;
                            store.addstore = res.data.data;

                            var authinfo = store.addstore;
                            if (authinfo['APPKES'] == '{}' || authinfo['APPKES'] == '') {
                                store.authoriseVisible = true;
                            } else {
                                store.$message.warning('<{$Think.lang.该店铺已授权}>');
                            }

                        } else {
                            store.$message.error(res.data.msg);
                        }
                    })
            },
            //前往授权页面
            jumpAuth: function(url) {
                /*if (this.authinfo.USER_NAME == '' || !this.authinfo.USER_NAME) {
                    store.$message.warning('请填写用户名');
                    return false;
                }*/
                /*if (this.authinfo.USER_PWD == '' || !this.authinfo.USER_PWD) {
                    store.$message.warning('请填写密码');
                    return false;
                }*/
                this.isclick = true;
                var auth = document.createElement("a");
                auth.setAttribute("style", "display: none");
                auth.setAttribute("target", "_blank");
                auth.setAttribute("href", url);
                auth.click();

            },
            //提交授权信息
            subAuth: function() {
                if (this.authinfo.SellerID == '' || !this.authinfo.SellerID) {
                    store.$message.warning('<{$Think.lang.未填写授权信息}> Seller ID');
                    return false;
                }
                if (this.authinfo.AppSecret == '' || !this.authinfo.AppSecret) {
                    store.$message.warning('<{$Think.lang.未填写授权信息}> App Secret');
                    return false;
                }
                if (this.authinfo.AccessToken == '' || !this.authinfo.AccessToken) {
                    store.$message.warning('<{$Think.lang.未填写授权信息}> Access Token');
                    return false;
                }
                if (this.authinfo.ClientID == '' || !this.authinfo.ClientID) {
                    store.$message.warning('<{$Think.lang.未填写授权信息}> Client ID');
                    return false;
                }
                var params = this.authinfo;
                if (this.isclick) {
                    axios.post("/index.php?m=api&a=store_subAuth", { param: params })
                        .then(function(res) {
                            if (res.data.code === 200) {
                                store.authoriseVisible = false;
                                store.search();
                                store.$message({
                                    message: res.data.data,
                                    type: 'success'
                                });
                            } else {
                                store.$message.warning(res.data.msg);
                            }
                        })
                } else {
                    store.$message.warning('<{$Think.lang.未前往授权地址}>');
                }
            },
            help: function() {
                this.$alert('<{$Think.lang.这是一段内容}>', '<{$Think.lang.提示}>');
            },
            jumpStore: function(id) {
                axios.get("/index.php?m=api&a=store_getStore&storeUrl=5&id=" + id)
                    .then(function(res) {
                        var url = res.data.data
                        if (url == '') {
                            store.$message.warning('<{$Think.lang.店铺主页地址未填写}>');
                        } else {
                            window.open(url);
                        }
                    })
            },
            export_store:function(){
                var _this = this
                // window.location.href= "/index.php?m=store&a=export_store";

                // var param = {
       			// 	"data":{ 
   				// 		"time_type": this.form.createType,
				//         "time_act": this.form.startTime,
				//         "time_end": this.form.endTime,
				//         "butt_item_cd_arr": this.form.buttJoitItem,
				//         "company_type": this.form.companyType,
				//         "company_value": this.form.agentCompany
   				// 	},
       			// 	"page": {
       			// 		"this_page": this.form.currentPage
       			// 	},
   				//   	ids: [],
                //     type: 'logistics'
                // }

                var param = {
                   "search": {
                        "COUNTRY_ID":_this.form.COUNTRY_ID.toString(), 
                        "PLAT_CD":_this.form.PLAT_CD.toString(), 
                        "SALE_TEAM_CD":_this.form.SALE_TEAM_CD.toString(), 
                        "status":_this.form.status,
                        "store_status":_this.form.store_status,
                        "shop_manager_id":_this.form.shop_manager_id.toString(),
                        "USER_ID":_this.form.USER_ID,
                        "company_cd":_this.form.company_cd.toString(),
                        "income_company_cd":_this.form.record_company_cd.toString(),
                        "store_type_cd":_this.form.store_type_cd.toString(),
                        "supplier_id":_this.form.supplier_id.toString(),
                        "reality_opt_store_id":_this.form.reality_opt_store_id.toString(),
                        "IS_VAT":_this.form.IS_VAT,
                        "STORE_NAME":_this.form.STORE_NAME,
                        "up_shop_num":_this.form.up_shop_num,
                        "handover_by":_this.form.handover_by.toString(),
                        "recently_statr_time":_this.form.recently_statr_time,
                        "recently_end_time":_this.form.recently_end_time,
                    },
                    "pages": {
                        "current_page": _this.page.sePage, 
                        "per_page": _this.page.pageSize,
                    },
                }


   			  	// for (var i = 0; i < this.datalist.length; i++) {
                //     param.ids.push(this.datalist[i].ID);
                // }
       			var tmep = document.createElement('form');
                tmep.action = '/index.php?m=store&a=export_store';
                tmep.method = "post";
                tmep.style.display = "none";
                var opt = document.createElement("input");
                opt.name = 'post_data';
                opt.value = JSON.stringify(param);
                tmep.appendChild(opt);
                // console.log(tmep);
                
                document.body.appendChild(tmep);
                tmep.submit();
                tmep.remove();



                
                var where = {

                }
                


            },
            dateFormatCn:function(val){
                if(val == '' || val == null ){
                    return('')
                }else{
                    var myMonth = val.getMonth() + 1
                    var myDate = val.getDate()
                    if(myMonth<10){
                        myMonth = "0" + myMonth
                    }
                    if(myDate<10){
                        myDate = "0" + myDate
                    }
                    return(val.getFullYear()+'-'+myMonth+'-' +myDate)
                }

            },
            reset:function(){
                // for (k in store.form) {
                //     store.form[k] = '';
                // }
                // store.form.SEARCH_TYPE = 'STORE_NAME';
                // this.search();

                var _this = this
                _this.form.COUNTRY_ID = []
                _this.form.PLAT_CD = []
                _this.form.SALE_TEAM_CD = []
                _this.form.status = ''
                _this.form.store_status = ''
                _this.form.shop_manager_id = []
                _this.form.USER_ID = ''
                _this.form.company_cd = []
                _this.form.record_company_cd = []
                _this.form.store_type_cd = []
                _this.form.supplier_id = []
                _this.form.reality_opt_store_id = ''
                _this.form.IS_VAT = ''
                _this.form.STORE_NAME = ''
                _this.form.up_shop_num = ''
                _this.form.handover_by = []
                _this.form.recently_statr_time = ''
                _this.form.recently_end_time = ''
                _this.form.recently_time = ''
                _this.page.sePage = 1
                _this.page.pageSize = 10
               
                _this.search();
            },
            change:function(val){
                    store.form.SEARCH_VAL = '';
            }

        }
    })
    </script>
</body>

</html>