.goodsSkuNew {

}

.goodsSkuNew .list__filters {
    border-bottom: none !important;
    padding: 20px 20px 0px 20px !important;
}

.goodsSkuNew .el-table__header tr th {
    background: #0f9ae0;
    color: #FFFFFF;
}

.goodsSkuEdit .list__filters {
    border-bottom: none !important;
    padding: 20px 20px 0px 20px !important;
}

.goodsSkuEdit .el-table__header tr th {
    background: #0f9ae0;
    color: #FFFFFF;
}

/*
 通用样式
 */
.goods__sku {
    display: flex;
    justify-content: space-around;
}

.goods__sku .list__pagination .el-pagination {
    overflow: auto;
}

.goods__sku-selected {
    width: 515px;
    height: 500px;
    border: 1px solid #dddddd;
    border-radius: 8px;
    overflow-y: scroll;
}

.goods__sku-selected .title {
    height: 25px;
    display: flex;
    align-items: center;
}

.goods__sku-selected .goods__sku-selected-content {
    padding: 0px 20px;
}

.goods__sku-to-be-selected {
    width: 435px;
    height: 500px;
    border: 1px solid #dddddd;
    border-radius: 8px;
    overflow-y: scroll;
}

.goods__sku-to-be-selected .title {
    height: 25px;
    display: flex;
    align-items: center;
}

.goods__sku-to-be-selected .title__action {
    display: flex;
    justify-content: space-between;
}

.goods__sku-to-be-selected .title__action .el-button {
    padding: 5px;
    margin-right: 20px;
}

.goods__sku-to-be-selected .goods__sku-to-be-selected-content {
    padding: 20px 20px 20px 20px;
}