/*新增*/
.warehouse-recommended-new .el-form-item__label {
    width: 120px !important;
}

.warehouse-recommended-new .el-form-item__content {
    margin-left: 120px !important;

}

/*编辑*/
.warehouse-recommended-edit .el-form-item__label {
    width: 120px !important;
}

.warehouse-recommended-edit .el-form-item__content {
    margin-left: 120px !important;

}

/*通用样式*/
.edit {

}

.edit__fields {

}

/*
  标题
 */
.title {
    background: #0f9ae0;
    color: #ffffff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 5px 0px;

}

.title span {
    margin-left: 20px;
}

.conditional__selection-region {
    display: flex;
    justify-content: space-between;
}

.conditions__being-selected {
    display: flex;
    flex-direction: column;
    border: 1px solid #dddddd;
    width: 500px;
    height: 250px;
    border-radius: 8px;
}

.conditions__being-selected-content {
    padding: 10px 10px 0 10px;
    overflow: auto;

}

.selected__conditional {
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
}

.selected__conditional .conditional__value {
    color: #409EFF;
}

.conditional__to-be-selected {
    border: 1px solid #dddddd;
    width: 250px;
    height: 250px;
    border-radius: 8px;

}

.conditional__to-be-selected .conditional__to-be-selected-content {
    padding: 10px 5px 0 5px;
    overflow: auto;

}

.conditional__to-be-selected .conditional__to-be-selected-content .el-checkbox {
    margin-bottom: 10px;
    margin-right: 0px !important;
}

.conditional__to-be-selected .el-checkbox-group {
    padding: 0px 0px 10px 10px;
}

.conditional__to-be-selected .el-checkbox-group .el-checkbox {
    margin-right: 0px;
    margin-bottom: 10px;
}

.conditional__to-be-selected .el-checkbox-group .el-checkbox:nth-child(1) {
    margin-top: 10px;
}

.conditional__to-be-selected .el-checkbox-group .el-checkbox__label {
    word-break: break-all;
    white-space: nowrap;
}

.content__input {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.warehouse__logistics {
    width: 500px;
    height: 378px;
    border: 1px solid #dddddd;
    border-radius: 8px;
    overflow: auto;

}

.warehouse__logistics-content {
    padding: 20px 20px 0 20px;
}

.warehouse__logistics-content .el-form-item {
    margin-bottom: 20px !important;
}

.warehouse__logistics-content .el-select {
    display: block;
}

.rule__content {
    padding: 10px 20px 0 20px;
}
.rule__content .el-form-item{
    margin-bottom: 10px;
}
.remark {
    width: 250px;
    height: 378px;
    border: 1px solid #dddddd;
    border-radius: 8px;

}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}