.order-destination {

}

.filter__actions {
    display: flex;
    justify-content: space-between;
}

.filter__actions .button--add {
    color: #FFFF00 !important;
}

.el-table__header tr th {
    background: #0f9ae0;
    color: #FFFFFF;
}

.destination__selection-region {
    display: flex;
    justify-content: space-around;
}

.selected__destination {
    border: 1px solid #dddddd;
    width: 475px;
    height: 500px;
    border-radius: 8px;
    overflow-y: scroll;
}

.selected__destination .title {
    height: 25px;
    display: flex;
    align-items: center;
}

.selected__destination .selected__destination-content {
    padding: 20px 20px 0 20px;

}

.to-be-selected__destination {
    border: 1px solid #dddddd;
    width: 475px;
    height: 500px;
    border-radius: 8px;
    overflow-y: scroll;

}

.to-be-selected__destination .title__action {
    display: flex;
    justify-content: space-between;
}

.to-be-selected__destination .title__action .el-button {
    padding: 5px;
    margin-right: 20px;
    color: #FF0000;
    background: #ffffff;
}

.to-be-selected__destination .title__action .el-button span {
    margin-left: 0px !important;
}

.to-be-selected__destination .title {
    height: 25px;
    display: flex;
    align-items: center;
}

.to-be-selected__destination .to-be-selected__destination-content {
    padding: 20px 20px 0 20px;
}
