@import 'variables';

[v-cloak] {
	display: none;
}
html {
	&::-webkit-scrollbar {
		width: 4px;
	}

	&::-webkit-scrollbar-button {
		display: none;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, 0.35);
		border-radius: 2px;
		height: 50px;
	}

	&::-webkit-scrollbar-track {
		background-color: rgba(0, 0, 0, 0.1);
	}
}

body {
	margin-right: 16px;
	padding-bottom: 20px;
	font-family: $font-stack;
	font-size: $font-size-base;
	font-weight: $font-weight-primary;
	color: $color-text-primary;
	background: #f4f4f4;
}

/* 根据UI提供设计稿，将一些常用的 模块 抽象成组件， 它们的样式在此处统一处理 */
/* 主要应用于erp中的数据看板模块下的页面 */
/* 带有Echarts图表的模块,参见组件./Application/Tpl/Home/DataCenter/components/ChartWrapper.js */
.erp-chart {
	padding: 20px 20px 0;
	background: #ffffff;
	border-radius: 8px;

	&__header {
		display: flex;
		justify-content: space-between;
	}

	&__title {
		font-size: 16px;
		font-weight: bold;
		color: #262626;
		margin-bottom: 4px;
	}

	&__date {
    font-size: 12px;
    color: #8C8C8C;
	}

	&__operate {
		display: flex;
		align-items: center;
	}

	&__info-cards {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 0 16px;
		margin-top: 20px;
		color: #262626;
		.card {
			padding: 16px;
			background: rgba(3, 117, 222, 0.05);
			border-radius: 4px;
			.title {
				font-weight: 500;
			}
			.body {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				gap: 4px 25px;
				margin-top: 8px;
				.subtitle {
					font-size: 12px;
					color: #8c8c8c;
				}
				.data {
					font-size: 13px;
				}
			}
		}
	}

	.erp-el-table,
	.erp-el-pagination {
		margin-top: 20px;
	}
	// .erp-el-pagination {
	//   margin-bottom: 20px;
	// }

	&__no-data {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		> img {
			width: 80px;
			height: 80px;
		}
		> div {
			margin-top: 16px;
			font-size: 16px;
		}
	}
}

// echarts图表中tooltip组件样式规范化
.echarts-tooltip {
	.title {
		margin-bottom: 8px;
		font-size: 14px;
		font-weight: 500;
	}

	%marker {
		display: inline-block;
		width: 10px;
		margin-right: 5px;
	}
	.marker {
		@extend %marker;
		border-radius: 10px;
		height: 10px;
		border: 1px solid #fff;
	}
	.marker-line {
		@extend %marker;
		border: 1px solid;
		&--dashed {
			@extend %marker;
			border: 1px dashed;
		}
	}

	.content-gt12 {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 4px 20px;

		.item {
			display: grid;
			grid-template-columns: 12px repeat(2, 1fr);
			gap: 0 4px;
			place-items: center start;

			.value {
				margin-left: 4px;
			}
		}
	}

	.content-gt8 {
		display: grid;
		grid-auto-flow: column;
		grid-template-rows: repeat(8, 1fr);
		gap: 4px 20px;

		.item {
			display: grid;
			grid-template-columns: 12px repeat(2, 1fr);
			gap: 0 4px;
			place-items: center start;

			.value {
				margin-left: 4px;
			}
		}
	}
	.content-lt12,
	.content-lt8 {
		.item {
			display: grid;
			grid-template-columns: 12px repeat(2, 1fr);
			gap: 0 4px;
			place-items: center start;

			+ .item {
				margin-top: 4px;
			}

			.value {
				margin-left: 4px;
			}
		}
	}
}

.erp-tabs {
	display: flex;
	background: #f5fafe;
	font-size: 13px;
	.tab {
		padding: 8px 16px;
		border-left: 1px solid #d3e4fa;
		border-top: 1px solid #2673e4;
		cursor: pointer;
		&:nth-child(1) {
			border-left: unset;
		}
		&:nth-last-child(1) {
			flex-grow: 1;
			border-top: 1px solid #2673e4;
		}
		&--active {
			border-top: unset;
			border-left-color: #2673e4;
			border-bottom: 1px solid #2673e4;
			background: #fff;
			color: #2673e4;
			+ .tab {
				border-left-color: #2673e4;
			}
		}
	}
}

// 文本超出隐藏，显示省略号
.text-one-line {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.text-two-line {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
