// 字体族栈
$font-stack: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", Roboto, "open sans", "Microsoft YaHei", Helvetica, Arial, sans-serif;
// 字号
$font-size-special-large: 40px;
$font-size-special: 32px;
$font-size-large: 24px;
$font-size-medium: 16px;
$font-size-base: 14px;
$font-size-small: 12px;

$font-weight-primary: 400;
$font-weight-medium: 500;
$font-weight-large: 600;
// 正文字体颜色
$color-text-extra-small: rgba(0, 0, 0, 0.25);
$color-text-small: rgba(0, 0, 0, 0.45);
$color-text-primary: rgba(0, 0, 0, 0.65);
$color-text-medium: rgba(0, 0, 0, 0.85);

// 颜色
$color-primary: #0375DE;

// 背景颜色
$background-color: #f4f4f4;
// 特殊字符
%special-symbol-2 {
  font-size: $font-size-special;
  font-weight: $font-weight-large;
  color: $color-text-medium;
}
// 标题
%title-level-2 {
  font-size: $font-size-medium;
  font-weight: $font-weight-medium;
  color: $color-text-medium;
}
// 小标题
%subtitle-level-1 {
  font-size: $font-size-medium;
  font-weight: $font-weight-medium;
  color: $color-text-primary;
}
// 内容
%content-level-4 {
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
  color: $color-text-primary;
}
%content-level-11 {
  font-size: $font-size-small;
  font-weight: $font-weight-primary;
  color: $color-text-primary;
}
%content-level-12 {
  font-size: $font-size-small;
  color: $color-text-small;
}


