@import 'base';

.system-operate, .request-time {
  .erp-chart__title {
    margin-bottom: 0;
  }
}
.request-time,
.page-operation {
  margin-top: 20px;
  padding-bottom: 18px;
  .erp-el-table {
    margin-top: 22px;
  }
}

.erp-el-button {
  width: 78px;
}


