@charset "UTF-8";
.erp-chart__title {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
}

.erp-chart__date {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
}

[v-cloak] {
  display: none;
}

html ::-webkit-scrollbar {
  width: 4px;
}

html ::-webkit-scrollbar-button {
  display: none;
}

html ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 2px;
  height: 50px;
}

html ::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

body {
  margin-right: 16px;
  font: 400 14px -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", Roboto, "open sans", "Microsoft YaHei", Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.65);
  background: #F4F4F4;
}

/* 根据UI提供设计稿，将一些常用的 模块 抽象成组件， 它们的样式在此处统一处理 */
/* 主要应用于erp中的数据看板模块下的页面 */
/* 带有Echarts图表的模块,参见组件./Application/Tpl/Home/DataCenter/components/ChartWrapper.js */
.erp-chart {
  padding: 20px 20px 0;
  background: #FFFFFF;
  border-radius: 8px;
}

.erp-chart__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.erp-chart__title {
  margin-bottom: 8px;
}

.echarts-tooltip .title {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
}

.echarts-tooltip .marker {
  display: inline-block;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
}

.echarts-tooltip .content-gt12 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 4px 20px;
}

.echarts-tooltip .content-gt12 .item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12px (1fr)[2];
      grid-template-columns: 12px repeat(2, 1fr);
  gap: 0 4px;
  place-items: center start;
}

.echarts-tooltip .content-gt12 .item .value {
  margin-left: 4px;
}

.echarts-tooltip .content-lt12 .item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12px (1fr)[2];
      grid-template-columns: 12px repeat(2, 1fr);
  gap: 0 4px;
  place-items: center start;
}

.echarts-tooltip .content-lt12 .item + .item {
  margin-top: 4px;
}

.echarts-tooltip .content-lt12 .item .value {
  margin-left: 4px;
}
