@import 'base';

.users-operate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 10%;
  height: 336px;
  margin-top: 200px;
  .el-radio-button {
    &:first-child {
      .el-radio-button__inner {
        border-radius: 4px;
      }
    }
    &:last-child {
      .el-radio-button__inner {
        border-radius: 4px;
      }
    }
    .el-radio-button__orig-radio {
      &:checked {
        + .el-radio-button__inner {
          background-color: #0375DE;
          border-color: #0375DE;
          &:hover {
            color: #fff;
          }
        }
      }

    }
    .el-radio-button__inner {
      display: flex;
      justify-content: space-between;
      width: 120px;
      height: 32px;
      padding: 8px 4px 8px 8px;
      border-left: 1px solid rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      border-color: rgba(0, 0, 0, 0.25);
      &:hover {
        border-color: #0375DE;
        color: #0375DE;
      }
    }
  }
  
  
}