@import 'base';
#list {
	position: relative;
	margin-top: 16px;
}

.text-left {
	text-align: left;
}
.column2 {
	$wid: calc((100% - 16px) / 2);
	display: grid;
	grid-template-columns: $wid $wid;
	column-gap: 16px;
}
.overflow-hiddlen1 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.overflow-hiddlen2 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.total {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 16px;
	.total-item {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 84px;
		padding: 16px 0;
		background: #fff;
		border-radius: 4px;
		font-size: 16px;
		.itemNum {
			font-size: 24px;
			color: rgba(0, 0, 0, 0.85);
			font-weight: bold;
		}
	}
}

.query {
	position: sticky;
	top: -1px;
	z-index: 2001;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	margin-top: 16px;
	background: #fff;
	border-radius: 8px;
	&-fixed {
		box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.09);
	}
	&__row,
	&__item {
		display: flex;
		align-items: center;
	}
	&__row + &__row {
		margin-top: 20px;
	}
	&__item {
		margin-right: 28px;
	}
	&__title {
		margin-right: 8px;
		font-weight: 400;
		color: rgba(0, 0, 0, 0.85);
	}
	.erp-el-range-editor {
		margin-left: 8px;
	}
	.erp-el-select2.width96 .el-input .el-input__inner {
		width: 96px;
		height: 32px;
	}
	.erp-el-select2.width132 .el-input .el-input__inner {
		width: 132px;
		height: 32px;
	}
	.erp-el-select2--multi.el-select {
		.el-select__tags {
			flex-wrap: nowrap;
			.el-tag--small:first-child {
				padding-right: 4px;
			}
		}
		.el-tag.el-tag--info {
			display: flex;
			align-items: center;
			background-color: #e5e5e5;
			border: unset;
			color: rgba(0, 0, 0, 0.85);
			border-radius: 12px;
		}
		.el-select__tags-text {
			display: inline-block;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 25px;
			line-height: 24px;
			white-space: nowrap;
		}
		.el-tag__close.el-icon-close {
			position: unset;
			margin-top: unset;
			margin-left: 4px;
			width: 12px;
			height: 12px;
			line-height: 12px;
		}
	}
	.erp-button {
		min-width: 78px;
		height: 32px;
	}
}
.explain {
	padding: 20px;
	margin-top: 16px;
	background: #fff;
	border-radius: 8px;
	.title {
		font-size: 16px;
		font-weight: bold;
	}
	.remark {
		margin-left: 8px;
		color: #8C8C8C;
	}
}

.site-sales-dialog {
	.el-dialog--center .el-dialog__body {
		padding: 10px 20px 20px;
	}
}
.chart-wrapper {
	background-color: #f4f4f4;
	> section {
		margin-top: 16px;
	}
}

.odm-sales-trend {
	&-info {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 0 20px;
		margin-top: 20px;
		&__item {
			flex: 1 1 auto;
			padding: 16px;
			background: rgba(3, 117, 222, 0.05);
			border-radius: 4px;
		}
		&__title {
			font-weight: 500;
			color: rgba(0, 0, 0, 0.85);
		}

		&__detail {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 4px 25px;
			margin-top: 8px;
		}
		&__subtitle {
			font-size: 12px;
			color: #8c8c8c;
		}
		&__num {
			font-weight: bold;
			color: rgba(0, 0, 0, 0.85);
		}
	}
}
.products-sales-top {
	.info {
		display: flex;
		align-items: center;
		padding: 20px 0;
		font-size: 13px;
		font-weight: 400;
		color: rgba(0, 0, 0, 0.85);
		border-top: 1px dashed #cdcdcd;
		.title {
			font-size: 14px;
			font-weight: 500;
		}
		.subtitle {
			margin-right: 8px;
			font-size: 12px;
			color: rgba(0, 0, 0, 0.45);
		}
		> section {
			display: flex;
			align-items: center;
			margin-left: 20px;
		}
	}
}

.info-table {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	// place-items: center end;
	justify-content: space-around;
	// column-gap: 24px;
	padding: 12px 0;
	border-top: 1px dashed #cdcdcd;
	font-size: 13px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.85);
	text-align: right;
	> div {
		padding: 8px 20px;
		border-bottom: 1px dashed #e5e5e5;
		&.no-border {
			border: unset;
		}
	}
	.column-title {
		font-size: 12px;
		color: rgba(0, 0, 0, 0.45);
		border-bottom: 1px solid #e5e5e5;
	}
	.row-title {
		font-size: 14px;
		font-weight: 500;
		text-align: left;
	}
	&.grid-column3 {
		grid-template-columns: repeat(3, 1fr);
	}
	&.grid-column5 {
		grid-template-columns: repeat(5, 1fr);
	}
}
.erp-chart {
	.erp-chart__main {
		.table-wrapper {
			box-sizing: border-box;
			padding: 20px 0;
		}
		.erp-el-table {
			margin-top: 0;
		}
		// .erp-el-pagination {
		// 	margin-top: 6px;
		// }
	}
}
.order-list {
	.goods {
		display: flex;
		font-size: 13px;
		line-height: 13px;
		.img {
			width: 60px;
			height: 60px;
		}
		.info {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			margin-left: 8px;
			.odm {
				width: max-content;
				padding: 2px;
				font-size: 12px;
				line-height: 12px;
				color: #fff;
				background-color: #fa8c16;
			}
			.simple {
				max-width: 100px;
				padding-right: 8px;
				border-right: 1px solid rgba(0, 0, 0, 0.1);
				div + div {
					margin-top: 4px;
				}
			}
			.detail {
				max-width: 300px;
				padding-left: 8px;
				div + div {
					margin-top: 4px;
				}
			}
		}
	}
}
