@import './base';
body{
  padding-bottom: 54px;
}
.erp-chart{
  &__no-data {
    > img {
      width: 80px;
      height: 80px;
    }
  }
}
.tofixed{
  padding-top: 100px;
}
.el-scrollbar__wrap{
  overflow: auto;
  overflow-y: scroll;
}
.el-input__inner{
  border-radius: 2px;
  // overflow: hidden;
  // white-space: nowrap;
  // text-overflow: ellipsis;
  // display: inline-block;
}
.query_wrap{
  padding: 20px 20px 20px 20px;
  background: #ffffff;
  border-radius: 0 0 8px 8px;
  .query__title {
    color: rgba(0, 0, 0, 0.85);
    text-align: right;
    padding-right: 8px;
  }
  .query__time {
    display: flex;
    align-items: center;
  }
  .el-button{
    width: 100%;
    border-radius: 2px;
    // width: 80px;
  }
 
  .el-date-editor--daterange.el-input__inner{
    width: 100%;
  }
  .select-max{
    width: 100%;
  }
  .site-check-box{
    width: 100%;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #DCDFE6;
    line-height: 32px;
    position: relative;
    transition: display .2s,-webkit-display .2s;
    .all-txt{
      margin-left: 15px;
      color: #C0C4CC;
      font-size: 13px;
    }
    .txt-box{
      padding: 0 5px;
      background: #f4f4f5;
      font-size: 12px;
      border-radius: 4px;
      border-color: #e9e9eb;
      color: #909399;
      margin: 2px 0 2px 6px;
      display: inline-block;
      line-height: 19px;
      height: 20px;
      .el-icon-close{
        color: #909399;
        background-color: #C0C4CC;
        cursor: pointer;
        border-radius: 50%;
        font-size: 12px;
        height: 16px;
        width: 16px;
        line-height: 16px;
        vertical-align: middle;
        position: relative;
        right: -5px;
        top: 0;
        text-align: center;
        transform: scale(.7);
        &:hover{
          color: #FFF;
          background-color: #909399;
        }
      }
    }
    .siffix{
      position: absolute;
      right: 0;
      top: 0;
      width: 28px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      .el-icon-arrow-up{
        transform: rotateZ(180deg);
        cursor: pointer;
        color: #C0C4CC;
        font-size: 14px;
        transition: transform .3s,-webkit-transform .3s;
      }
      .is-reverse{
        transform: rotateZ(0)
      }
    }
  }
  .site-box{
    padding-top: 20px;
    .site-title{
      font-size: 16px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.85);
      margin-bottom: 8px;
    }
    .site-item-box{
      display: flex;
      flex-wrap: wrap;
      .site-item{
        width: 120px;
        height: 24px;
        background: #F4F4F4;
        border-radius: 14px;
        margin-right: 8px;
        text-align: center;
        color: #000000A6;
        line-height: 24px;
        margin-top: 8px;
        font-size: 13px;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        padding: 0 4px;
      }
      .active{
        color: #FFFFFF;
        background: #0375DE;
      }
      .disable{
        color: #FFFFFF;
        background: #0375DE;
        opacity: 0.5;
      }
    }
    
  }
}
.query_wrap_fix{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  // z-index: 3000;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.09);
}
.index-card {
  margin-top: 16px;
  &__basic, &__transfer {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    // height: 132px;
    padding: 16px;
    background: #FFFFFF;
    border-radius: 8px;
  }
  &__basic &__item {
    width: calc(calc(100% - 64px) / 5);
  }
  &__transfer &__item {
    width: calc(calc(100% - 48px) / 4);
  }
  &__title {
    font-size: 16px;
    margin-bottom: 12px;
  }
  &__data {
    font-size: 24px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 12px;
  }
  &__qoq {
    font-size: 12px;
    width: 100%;
    display: flex;
    .qoq-title{
      margin-bottom: 4px;
    }
    .qoq-title-top{
      max-width: 94px;
      display: inline-block;
    }
  }
  &__right_box{
    text-align: left;
    padding-left: 8px;
    width: 50%;
  }
  &__left_box{
    text-align: right;
    padding-right: 8px;
    width: 50%;
    border-right: 1px solid #ECECEC;
  }
  &__qoq-data {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
  }
}

.trend-box{
  .foot {
    margin-top: 20px;
    .el-radio-group {
      width: 100%;
      display: flex;
      // background: #fff;
      border-top: 2px solid #0375DE;
      padding: 0 10px;
      box-sizing: border-box;
      background: #f5fafe;
      .el-radio {
        margin: 0;
        width: 25%;
        // background: #f5fafe;
        .el-radio__label{
          border-radius: 0;
          height: 32px;
          border: none;
          border-left: 1px solid #E5E5E5;
          // border-top: 2px solid #0375DE;
          // border-bottom: 1px solid #E5E5E5;
          color: rgba(0, 0, 0, 0.65);
          font-size: 13px;
          box-sizing: border-box;
        }
      }
      .el-radio:not(.is-checked):first-child{
        .el-radio__label{
          border-left: none;
        }
      }
      .is-checked{
        background: #fff;
        margin-top: -2px;
        .el-radio__label{
          border: none;
          color: rgba(0, 0, 0, 0.85);
          font-weight: 600;
          border-top: none;
          border-bottom: 2px solid #0375DE;
          border-left: 2px solid #0375DE;
          border-right: 2px solid #0375DE;
          height: 34px;
        }
      }
    }
  }
  .el-select--mini{
    .el-input__inner{
      height: 24px;
    }
    
  }
  .el-button--mini{
    height: 24px;
    border-radius: 2px;
  }
  .erp-el-select .el-input__suffix{
    top: 0;
    right: 2;
  }
  .el-input__inner{
    padding-left: 8px;
    padding-right: 22px;
  }
  .el-input--mini .el-input__icon{
    line-height: 24px;
  }
  .el-radio{
    white-space: normal;
  }
}
.sales {
  margin-top: 16px;
  .menu-wrapper {
    padding: 0 20px;
    background-color: #ffffff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .el-menu--horizontal>.el-menu-item {
    height: 43px;
    padding: 0;
    line-height: 43px;
    color: rgba(0, 0, 0, 0.65);
    &:first-child {
      margin-right: 20px;
    }
    &.is-active {
      color: #0375DE;
      border-bottom: 2px solid #0375DE;
    }
  }
  .trend-wraper{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 8px;
    .trend-top{
      width: 100%;
      display: flex;
      border-right: 1px solid #E5E5E5;
      .sales-trend-box{
        width: 50%;
        border-bottom: 1px solid #E5E5E5;
        border-right: 1px solid #E5E5E5;
        padding-bottom: 20px;
        box-sizing: border-box;
      }
      .trend-map{
        width: 50%;
        position: relative;
        border-bottom: 1px solid #E5E5E5;
        .fix-btn-box{
          position: absolute;
          background: #FFFFFF;
          box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
          border-radius: 2px;
          top: 200px;
          right: 45px;
          width: 24px;
          z-index: 2;
          .img-btn{
            width: 100%;
            height: 24px;
            background-size: cover;
            margin-top: 12px;
            cursor: pointer;
          }
          .home{
            background: url('../img/home.png') no-repeat;
          }
          .plus{
            background: url('../img/plus.png') no-repeat;
          }
          .minus{
            background: url('../img/minus.png') no-repeat;
          }
        }
      }
      
    }
    .trend-bottom{
      width: 100%;
      display: flex;
      .goods-trend-box{
        width: 50%;
        position: relative;
        border-right: 1px solid #E5E5E5;
        padding-bottom: 20px;
        box-sizing: border-box;
        .goods-img-box{
          position: absolute;
          top: 60px;
          left: 26px;
          height: 315px;
          z-index: 9;
          .img-box{
            width: 24px;
            height: 24px;
            cursor: pointer;
            margin-bottom: 7px;
            img{
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .goods-sales-distribution{
        width: 50%;
      }
    }
  }
  //  .erp-chart {
  //   border-radius: 0;
  // }
}

.el-divider {
  background: #ffffff;
}
.el-divider--horizontal {
  margin: 0;
  border-top: 1px dashed hsla(0, 0%, 90%, 1);
}

.transform-trend{
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  // background: #FFFFFF;
  // border-radius: 8px;
  margin-bottom: 16px;
  .transform-trend-box{
    // width: 50%;
    width: calc(calc(100% - 16px) / 2);
    background: #FFFFFF;
    // border-right: 1px solid rgba(229, 229, 229, 1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .foot {
      .el-radio{
        width: 33.33%;
      }
    }
  }
  .transform-trend-right{
    border-right: none;
  }
  .shop-user{
    // width: 50%;
    width: calc(calc(100% - 16px) / 2);
    background: #FFFFFF;
    border-radius: 8px;
  }

}
.conversion-funnel-wrap{
  display: flex;
  justify-content: space-between;
  // margin-top: 16px;
  // background: #FFFFFF;
  border-radius: 8px;
  .overall-rate{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
    padding-bottom: 8px;
    .overall-rate__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 118px;
        height: 88px;
        box-sizing: border-box;
        padding: 8px 10px 0 10px;
        background: url("../img/convert-ratio3.png") no-repeat;
        font-size: 12px;
        position: relative;
        color: #00000073;
        background-size: cover;
        .overall-rate__num{
          font-size: 24px;
          font-weight: 600;
          color: #000000d9;
        }
    }
  }
  .transform-trend-box{
    // width: 50%;
    width: calc(calc(100% - 16px) / 2);
    // border-right: 1px solid rgba(229, 229, 229, 1);
  }
}

.conversion_funnel{
  display: flex;
  justify-content: space-between;
  background: #fff;
  // margin-top: 20px;
  .conversion_funnel_inner{
    // width: calc(calc(100% - 20px) / 2);
    width: 50%;
    background: #fff;
    .erp-chart{
      border-radius: initial;
    }
    
  }
}

.backActive{
  color: #0375DE;
  border: 1px solid  #0375DE;
}