@charset "UTF-8";
.erp-chart__title {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
}

.erp-chart__date {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
}

[v-cloak] {
  display: none;
}

html ::-webkit-scrollbar {
  width: 4px;
}

html ::-webkit-scrollbar-button {
  display: none;
}

html ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 2px;
  height: 50px;
}

html ::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

body {
  margin-right: 16px;
  padding-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", Roboto, "open sans", "Microsoft YaHei", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
  background: #F4F4F4;
}

/* 根据UI提供设计稿，将一些常用的 模块 抽象成组件， 它们的样式在此处统一处理 */
/* 主要应用于erp中的数据看板模块下的页面 */
/* 带有Echarts图表的模块,参见组件./Application/Tpl/Home/DataCenter/components/ChartWrapper.js */
.erp-chart {
  padding: 20px 20px 0;
  background: #FFFFFF;
  border-radius: 8px;
}

.erp-chart__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.erp-chart__title {
  margin-bottom: 4px;
}

.erp-chart__operate {
  display: flex;
  align-items: center;
}

.erp-chart .erp-el-table, .erp-chart .erp-el-pagination {
  margin-top: 20px;
}

.erp-chart__no-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.erp-chart__no-data > img {
  width: 124px;
  height: 124px;
}

.erp-chart__no-data > div {
  margin-top: 16px;
  font-size: 16px;
}

.echarts-tooltip .title {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
}

.echarts-tooltip .marker, .echarts-tooltip .marker-line, .echarts-tooltip .marker-line--dashed {
  display: inline-block;
  width: 10px;
  margin-right: 5px;
}

.echarts-tooltip .marker {
  border-radius: 10px;
  height: 10px;
  border: 1px solid #fff;
}

.echarts-tooltip .marker-line {
  border: 1px solid;
}

.echarts-tooltip .marker-line--dashed {
  border: 1px dashed;
}

.echarts-tooltip .content-gt12 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px 20px;
}

.echarts-tooltip .content-gt12 .item {
  display: grid;
  grid-template-columns: 12px repeat(2, 1fr);
  gap: 0 4px;
  place-items: center start;
}

.echarts-tooltip .content-gt12 .item .value {
  margin-left: 4px;
}

.echarts-tooltip .content-gt8 {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(8, 1fr);
  gap: 4px 20px;
}

.echarts-tooltip .content-gt8 .item {
  display: grid;
  grid-template-columns: 12px repeat(2, 1fr);
  gap: 0 4px;
  place-items: center start;
}

.echarts-tooltip .content-gt8 .item .value {
  margin-left: 4px;
}

.echarts-tooltip .content-lt12 .item, .echarts-tooltip .content-lt8 .item {
  display: grid;
  grid-template-columns: 12px repeat(2, 1fr);
  gap: 0 4px;
  place-items: center start;
}

.echarts-tooltip .content-lt12 .item + .item, .echarts-tooltip .content-lt8 .item + .item {
  margin-top: 4px;
}

.echarts-tooltip .content-lt12 .item .value, .echarts-tooltip .content-lt8 .item .value {
  margin-left: 4px;
}

body {
  padding-bottom: 54px;
}

.erp-chart__no-data > img {
  width: 80px;
  height: 80px;
}

.tofixed {
  padding-top: 100px;
}

.el-scrollbar__wrap {
  overflow: auto;
  overflow-y: scroll;
}

.el-input__inner {
  border-radius: 2px;
}

.query_wrap {
  padding: 20px 20px 20px 20px;
  background: #ffffff;
  border-radius: 0 0 8px 8px;
}

.query_wrap .query__title {
  color: rgba(0, 0, 0, 0.85);
  text-align: right;
  padding-right: 8px;
}

.query_wrap .query__time {
  display: flex;
  align-items: center;
}

.query_wrap .el-button {
  width: 100%;
  border-radius: 2px;
}

.query_wrap .el-date-editor--daterange.el-input__inner {
  width: 100%;
}

.query_wrap .select-max {
  width: 100%;
}

.query_wrap .site-check-box {
  width: 100%;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #DCDFE6;
  line-height: 32px;
  position: relative;
  transition: display .2s,-webkit-display .2s;
}

.query_wrap .site-check-box .all-txt {
  margin-left: 15px;
  color: #C0C4CC;
  font-size: 13px;
}

.query_wrap .site-check-box .txt-box {
  padding: 0 5px;
  background: #f4f4f5;
  font-size: 12px;
  border-radius: 4px;
  border-color: #e9e9eb;
  color: #909399;
  margin: 2px 0 2px 6px;
  display: inline-block;
  line-height: 19px;
  height: 20px;
}

.query_wrap .site-check-box .txt-box .el-icon-close {
  color: #909399;
  background-color: #C0C4CC;
  cursor: pointer;
  border-radius: 50%;
  font-size: 12px;
  height: 16px;
  width: 16px;
  line-height: 16px;
  vertical-align: middle;
  position: relative;
  right: -5px;
  top: 0;
  text-align: center;
  transform: scale(0.7);
}

.query_wrap .site-check-box .txt-box .el-icon-close:hover {
  color: #FFF;
  background-color: #909399;
}

.query_wrap .site-check-box .siffix {
  position: absolute;
  right: 0;
  top: 0;
  width: 28px;
  height: 32px;
  line-height: 32px;
  text-align: center;
}

.query_wrap .site-check-box .siffix .el-icon-arrow-up {
  transform: rotateZ(180deg);
  cursor: pointer;
  color: #C0C4CC;
  font-size: 14px;
  transition: transform .3s;
}

.query_wrap .site-check-box .siffix .is-reverse {
  transform: rotateZ(0);
}

.query_wrap .site-box {
  padding-top: 20px;
}

.query_wrap .site-box .site-title {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 8px;
}

.query_wrap .site-box .site-item-box {
  display: flex;
  flex-wrap: wrap;
}

.query_wrap .site-box .site-item-box .site-item {
  width: 120px;
  height: 24px;
  background: #F4F4F4;
  border-radius: 14px;
  margin-right: 8px;
  text-align: center;
  color: #000000A6;
  line-height: 24px;
  margin-top: 8px;
  font-size: 13px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  padding: 0 4px;
}

.query_wrap .site-box .site-item-box .active {
  color: #FFFFFF;
  background: #0375DE;
}

.query_wrap .site-box .site-item-box .disable {
  color: #FFFFFF;
  background: #0375DE;
  opacity: 0.5;
}

.query_wrap_fix {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.09);
}

.index-card {
  margin-top: 16px;
}

.index-card__basic, .index-card__transfer {
  display: flex;
  justify-content: space-between;
}

.index-card__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 16px;
  background: #FFFFFF;
  border-radius: 8px;
}

.index-card__basic .index-card__item {
  width: calc(calc(100% - 64px) / 5);
}

.index-card__transfer .index-card__item {
  width: calc(calc(100% - 48px) / 4);
}

.index-card__title {
  font-size: 16px;
  margin-bottom: 12px;
}

.index-card__data {
  font-size: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 12px;
}

.index-card__qoq {
  font-size: 12px;
  width: 100%;
  display: flex;
}

.index-card__qoq .qoq-title {
  margin-bottom: 4px;
}

.index-card__qoq .qoq-title-top {
  max-width: 94px;
  display: inline-block;
}

.index-card__right_box {
  text-align: left;
  padding-left: 8px;
  width: 50%;
}

.index-card__left_box {
  text-align: right;
  padding-right: 8px;
  width: 50%;
  border-right: 1px solid #ECECEC;
}

.index-card__qoq-data {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
}

.trend-box .foot {
  margin-top: 20px;
}

.trend-box .foot .el-radio-group {
  width: 100%;
  display: flex;
  border-top: 2px solid #0375DE;
  padding: 0 10px;
  box-sizing: border-box;
  background: #f5fafe;
}

.trend-box .foot .el-radio-group .el-radio {
  margin: 0;
  width: 25%;
}

.trend-box .foot .el-radio-group .el-radio .el-radio__label {
  border-radius: 0;
  height: 32px;
  border: none;
  border-left: 1px solid #E5E5E5;
  color: rgba(0, 0, 0, 0.65);
  font-size: 13px;
  box-sizing: border-box;
}

.trend-box .foot .el-radio-group .el-radio:not(.is-checked):first-child .el-radio__label {
  border-left: none;
}

.trend-box .foot .el-radio-group .is-checked {
  background: #fff;
  margin-top: -2px;
}

.trend-box .foot .el-radio-group .is-checked .el-radio__label {
  border: none;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  border-top: none;
  border-bottom: 2px solid #0375DE;
  border-left: 2px solid #0375DE;
  border-right: 2px solid #0375DE;
  height: 34px;
}

.trend-box .el-select--mini .el-input__inner {
  height: 24px;
}

.trend-box .el-button--mini {
  height: 24px;
  border-radius: 2px;
}

.trend-box .erp-el-select .el-input__suffix {
  top: 0;
  right: 2;
}

.trend-box .el-input__inner {
  padding-left: 8px;
  padding-right: 22px;
}

.trend-box .el-input--mini .el-input__icon {
  line-height: 24px;
}

.trend-box .el-radio {
  white-space: normal;
}

.sales {
  margin-top: 16px;
}

.sales .menu-wrapper {
  padding: 0 20px;
  background-color: #ffffff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.sales .el-menu--horizontal > .el-menu-item {
  height: 43px;
  padding: 0;
  line-height: 43px;
  color: rgba(0, 0, 0, 0.65);
}

.sales .el-menu--horizontal > .el-menu-item:first-child {
  margin-right: 20px;
}

.sales .el-menu--horizontal > .el-menu-item.is-active {
  color: #0375DE;
  border-bottom: 2px solid #0375DE;
}

.sales .trend-wraper {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border-radius: 8px;
}

.sales .trend-wraper .trend-top {
  width: 100%;
  display: flex;
  border-right: 1px solid #E5E5E5;
}

.sales .trend-wraper .trend-top .sales-trend-box {
  width: 50%;
  border-bottom: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.sales .trend-wraper .trend-top .trend-map {
  width: 50%;
  position: relative;
  border-bottom: 1px solid #E5E5E5;
}

.sales .trend-wraper .trend-top .trend-map .fix-btn-box {
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  top: 200px;
  right: 45px;
  width: 24px;
  z-index: 2;
}

.sales .trend-wraper .trend-top .trend-map .fix-btn-box .img-btn {
  width: 100%;
  height: 24px;
  background-size: cover;
  margin-top: 12px;
  cursor: pointer;
}

.sales .trend-wraper .trend-top .trend-map .fix-btn-box .home {
  background: url("../img/home.png") no-repeat;
}

.sales .trend-wraper .trend-top .trend-map .fix-btn-box .plus {
  background: url("../img/plus.png") no-repeat;
}

.sales .trend-wraper .trend-top .trend-map .fix-btn-box .minus {
  background: url("../img/minus.png") no-repeat;
}

.sales .trend-wraper .trend-bottom {
  width: 100%;
  display: flex;
}

.sales .trend-wraper .trend-bottom .goods-trend-box {
  width: 50%;
  position: relative;
  border-right: 1px solid #E5E5E5;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.sales .trend-wraper .trend-bottom .goods-trend-box .goods-img-box {
  position: absolute;
  top: 60px;
  left: 26px;
  height: 315px;
  z-index: 9;
}

.sales .trend-wraper .trend-bottom .goods-trend-box .goods-img-box .img-box {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-bottom: 7px;
}

.sales .trend-wraper .trend-bottom .goods-trend-box .goods-img-box .img-box img {
  width: 100%;
  height: 100%;
}

.sales .trend-wraper .trend-bottom .goods-sales-distribution {
  width: 50%;
}

.el-divider {
  background: #ffffff;
}

.el-divider--horizontal {
  margin: 0;
  border-top: 1px dashed #e6e6e6;
}

.transform-trend {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 16px;
}

.transform-trend .transform-trend-box {
  width: calc(calc(100% - 16px) / 2);
  background: #FFFFFF;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.transform-trend .transform-trend-box .foot .el-radio {
  width: 33.33%;
}

.transform-trend .transform-trend-right {
  border-right: none;
}

.transform-trend .shop-user {
  width: calc(calc(100% - 16px) / 2);
  background: #FFFFFF;
  border-radius: 8px;
}

.conversion-funnel-wrap {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
}

.conversion-funnel-wrap .overall-rate {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
  padding-bottom: 8px;
}

.conversion-funnel-wrap .overall-rate .overall-rate__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 118px;
  height: 88px;
  box-sizing: border-box;
  padding: 8px 10px 0 10px;
  background: url("../img/convert-ratio3.png") no-repeat;
  font-size: 12px;
  position: relative;
  color: #00000073;
  background-size: cover;
}

.conversion-funnel-wrap .overall-rate .overall-rate__item .overall-rate__num {
  font-size: 24px;
  font-weight: 600;
  color: #000000d9;
}

.conversion-funnel-wrap .transform-trend-box {
  width: calc(calc(100% - 16px) / 2);
}

.conversion_funnel {
  display: flex;
  justify-content: space-between;
  background: #fff;
}

.conversion_funnel .conversion_funnel_inner {
  width: 50%;
  background: #fff;
}

.conversion_funnel .conversion_funnel_inner .erp-chart {
  border-radius: initial;
}

.backActive {
  color: #0375DE;
  border: 1px solid  #0375DE;
}
