@charset "UTF-8";
.keyword-search__num,
.buy-trans__num, .keyword-search__info__title,
.buy-trans__info__title {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.65);
}

.conversion-trend__sitename,
.keyword-search-top__sitename,
.keyword-search__sitename,
.buy-trans__sitename, .user-group-dialog__info-data, .keyword-search-trans__info-data {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.65);
}

.keyword-search__info,
.buy-trans__info {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
}

.user-group-dialog__info, .keyword-search-trans__info {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
}

[v-cloak] {
  display: none;
}

html::-webkit-scrollbar {
  width: 4px;
}

html::-webkit-scrollbar-button {
  display: none;
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 2px;
  height: 50px;
}

html::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

body {
  margin-right: 16px;
  padding-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", Roboto, "open sans", "Microsoft YaHei", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
  background: #f4f4f4;
}

/* 根据UI提供设计稿，将一些常用的 模块 抽象成组件， 它们的样式在此处统一处理 */
/* 主要应用于erp中的数据看板模块下的页面 */
/* 带有Echarts图表的模块,参见组件./Application/Tpl/Home/DataCenter/components/ChartWrapper.js */
.erp-chart {
  padding: 20px 20px 0;
  background: #ffffff;
  border-radius: 8px;
}

.erp-chart__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.erp-chart__title {
  font-size: 16px;
  font-weight: bold;
  color: #262626;
  margin-bottom: 4px;
}

.erp-chart__date {
  font-size: 12px;
  color: #8C8C8C;
}

.erp-chart__operate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.erp-chart__info-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 0 16px;
  margin-top: 20px;
  color: #262626;
}

.erp-chart__info-cards .card {
  padding: 16px;
  background: rgba(3, 117, 222, 0.05);
  border-radius: 4px;
}

.erp-chart__info-cards .card .title {
  font-weight: 500;
}

.erp-chart__info-cards .card .body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 4px 25px;
  margin-top: 8px;
}

.erp-chart__info-cards .card .body .subtitle {
  font-size: 12px;
  color: #8c8c8c;
}

.erp-chart__info-cards .card .body .data {
  font-size: 13px;
}

.erp-chart .erp-el-table,
.erp-chart .erp-el-pagination {
  margin-top: 20px;
}

.erp-chart__no-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.erp-chart__no-data > img {
  width: 124px;
  height: 124px;
}

.erp-chart__no-data > div {
  margin-top: 16px;
  font-size: 16px;
}

.echarts-tooltip .title {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
}

.echarts-tooltip .marker, .echarts-tooltip .marker-line, .echarts-tooltip .marker-line--dashed {
  display: inline-block;
  width: 10px;
  margin-right: 5px;
}

.echarts-tooltip .marker {
  border-radius: 10px;
  height: 10px;
  border: 1px solid #fff;
}

.echarts-tooltip .marker-line {
  border: 1px solid;
}

.echarts-tooltip .marker-line--dashed {
  border: 1px dashed;
}

.echarts-tooltip .content-gt12 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 4px 20px;
}

.echarts-tooltip .content-gt12 .item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12px (1fr)[2];
      grid-template-columns: 12px repeat(2, 1fr);
  gap: 0 4px;
  place-items: center start;
}

.echarts-tooltip .content-gt12 .item .value {
  margin-left: 4px;
}

.echarts-tooltip .content-gt8 {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
  gap: 4px 20px;
}

.echarts-tooltip .content-gt8 .item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12px (1fr)[2];
      grid-template-columns: 12px repeat(2, 1fr);
  gap: 0 4px;
  place-items: center start;
}

.echarts-tooltip .content-gt8 .item .value {
  margin-left: 4px;
}

.echarts-tooltip .content-lt12 .item,
.echarts-tooltip .content-lt8 .item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12px (1fr)[2];
      grid-template-columns: 12px repeat(2, 1fr);
  gap: 0 4px;
  place-items: center start;
}

.echarts-tooltip .content-lt12 .item + .item,
.echarts-tooltip .content-lt8 .item + .item {
  margin-top: 4px;
}

.echarts-tooltip .content-lt12 .item .value,
.echarts-tooltip .content-lt8 .item .value {
  margin-left: 4px;
}

.erp-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f5fafe;
  font-size: 13px;
}

.erp-tabs .tab {
  padding: 8px 16px;
  border-left: 1px solid #d3e4fa;
  border-top: 1px solid #2673e4;
  cursor: pointer;
}

.erp-tabs .tab:nth-child(1) {
  border-left: unset;
}

.erp-tabs .tab:nth-last-child(1) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-top: 1px solid #2673e4;
}

.erp-tabs .tab--active {
  border-top: unset;
  border-left-color: #2673e4;
  border-bottom: 1px solid #2673e4;
  background: #fff;
  color: #2673e4;
}

.erp-tabs .tab--active + .tab {
  border-left-color: #2673e4;
}

#vm {
  position: relative;
  margin-top: 16px;
}

.el-tooltip.el-icon-question {
  position: relative;
  top: -4px;
}

.export-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 88px;
  height: 24px;
  margin: 0 12px;
  background-color: #0375de;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 8px;
  font-size: 13px;
  color: #fff;
  border-radius: 2px;
}

.export-box .export-icon {
  width: 20px;
  height: 20px;
  background: url("../img/export.png");
  background-size: 100% 100%;
  display: inline-block;
}

.compared-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 88px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.65);
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.compared-box .compared-icon {
  width: 25px;
  height: 24px;
  display: inline-block;
  background: url("../img/compared.png");
}

.total {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 16px;
          column-gap: 16px;
}

.total .total-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 84px;
  padding: 16px 0;
  background: #fff;
  border-radius: 4px;
  font-size: 16px;
}

.total .total-item .itemNum {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
}

.search {
  padding: 20px;
  margin-top: 16px;
  background: #fff;
  border-radius: 8px;
}

.search.no-bottom-radius {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.search .erp-query-title {
  width: 30px;
  margin-right: 8px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
}

.search .erp-query__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search .el-input__inner {
  height: 32px;
  line-height: 32px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.search .erp-el-select2.el-select.multi .el-input__inner {
  width: 132px;
}

.search .erp-el-select2.el-select .el-input__inner {
  width: 132px;
  height: 32px;
  line-height: 32px;
  border-radius: 4px;
}

.search .el-input__suffix {
  top: 4px;
}

.search .el-tag {
  border-radius: 12px;
  border-style: unset;
}

.search .el-tag.el-tag--info {
  background-color: #e5e5e5;
  border-color: unset;
  color: rgba(0, 0, 0, 0.85);
}

.search .el-date-editor .el-range__icon {
  line-height: 28px;
}

.search .el-date-editor .el-range-separator {
  padding: 0 5px 5px;
}

.search .search-period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search .search-period .erp-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  height: 32px;
  padding: 4px 20px 4px 4px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 13px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  line-height: 22px;
  cursor: pointer;
  transition: display 0.2s, -webkit-display 0.2s;
}

.search .search-period .erp-select .all-txt {
  color: rgba(0, 0, 0, 0.25);
}

.search .search-period .erp-select .txt-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 4px;
  background: #e5e5e5;
  border-radius: 12px;
}

.search .search-period .erp-select .txt-box.name {
  position: relative;
  max-width: 66px;
  padding-right: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search .search-period .erp-select .txt-box.name .el-icon-close {
  position: absolute;
  right: 4px;
  top: 4px;
  color: #909399;
  font-size: 14px;
}

.search .search-period .erp-select .txt-box.name .el-icon-close:hover {
  color: #fff;
}

.search .search-period .erp-select .txt-box.num {
  max-width: 34px;
  margin-left: 4px;
}

.search .search-period .erp-select .siffix {
  position: absolute;
  right: 4px;
  top: 4px;
}

.search .search-period .erp-select .siffix .el-icon-arrow-up {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  color: #000;
  font-size: 14px;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.search .search-period .erp-select .siffix .is-reverse {
  -webkit-transform: rotateZ(0);
          transform: rotateZ(0);
}

.search .search-period .erp-select.focus-border {
  border-color: #0375de;
}

.search .search-period .search__button {
  width: 78px;
  height: 32px;
  padding: 0;
}

.query-option {
  position: absolute;
  top: 156px;
  left: 0;
  right: 0;
  z-index: 2221;
  padding: 16px 20px 20px;
  background: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.09);
}

.query-option .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 12px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  border-bottom: 1px #e5e5e5 dashed;
}

.query-option .body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (120px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 120px);
  gap: 12px;
  padding-top: 12px;
}

.charts {
  margin-top: 16px;
}

.user-trend .chart-operate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-trend .chart-operate .operate-title {
  margin: 0 8px 0 35px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.45);
}

.user-visited-distribute {
  margin-top: 16px;
  background: #ffffff;
  border-radius: 8px;
}

.user-visited-distribute > .erp-chart__header {
  padding: 20px 20px 12px 20px;
  border-bottom: 1px solid #e5e5e5;
}

.user-visited-distribute .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.user-visited-distribute .wrapper .erp-chart {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 657px;
  border-radius: unset;
  white-space: unset;
}

.user-visited-distribute .wrapper .erp-chart + .erp-chart {
  border-left: 1px solid #e5e5e5;
}

.user-visited-distribute .wrapper .erp-chart__title {
  font-size: 14px;
  font-weight: 500;
}

.user-visited-distribute .wrapper::-webkit-scrollbar {
  width: 4px;
  height: 10px;
}

.user-visited-distribute .wrapper::-webkit-scrollbar-button {
  display: none;
}

.user-visited-distribute .wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 2px;
  height: 50px;
}

.user-visited-distribute .wrapper::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

.buy-trans-wrap,
.keyword-search-wrap {
  background-color: #fff;
  margin-top: 16px;
  border-radius: 8px;
}

.buy-trans-wrap .erp-chart,
.keyword-search-wrap .erp-chart {
  border-radius: unset;
  background: unset;
}

.conversion-trend {
  padding: 20px 20px 0 20px;
}

.conversion-trend .erp-chart {
  padding: 0;
  border-bottom: 1px solid #e5e5e5;
}

.conversion-trend .subtitle__item,
.keyword-search-top .subtitle__item,
.keyword-search .subtitle__item,
.buy-trans .subtitle__item {
  padding-left: 32px;
  margin-left: 32px;
  border-left: 1px solid #ececec;
}

.conversion-trend__sitename,
.keyword-search-top__sitename,
.keyword-search__sitename,
.buy-trans__sitename {
  margin-left: 8px;
}

.keyword-search,
.buy-trans {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.keyword-search .erp-chart + .erp-chart,
.buy-trans .erp-chart + .erp-chart {
  border-left: 1px solid #e5e5e5;
}

.keyword-search__num,
.buy-trans__num {
  margin-left: 8px;
}

.keyword-search__operate .el-link.el-link--default,
.buy-trans__operate .el-link.el-link--default {
  padding: 4px;
  color: #0375de;
}

.keyword-search__operate--active .el-link.el-link--default,
.buy-trans__operate--active .el-link.el-link--default {
  padding: 4px;
  color: #0375de;
}

.keyword-search__operate--active .el-link.el-link--default.funnel-analysis,
.buy-trans__operate--active .el-link.el-link--default.funnel-analysis {
  border-radius: 2px;
  color: #fff;
  background: #0375de;
}

.keyword-search__info,
.buy-trans__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 32px 0;
}

.keyword-search__info__item,
.buy-trans__info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 80px;
}

.keyword-search__info__subitem,
.buy-trans__info__subitem {
  margin-left: 40px;
}

.keyword-search .overall-rate,
.buy-trans .overall-rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 20px 0 12px 0;
}

.keyword-search .overall-rate__item,
.buy-trans .overall-rate__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 118px;
  height: 78px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 15px;
  background: url("../img/convert-ratio3.png") no-repeat;
  font-size: 12px;
  position: relative;
  font-weight: 400;
  color: #595959;
  background-size: cover;
}

.keyword-search .overall-rate__num,
.buy-trans .overall-rate__num {
  margin-top: 8px;
  font-size: 20px;
  font-weight: 600;
  color: #262626;
}

.keyword-search .overall-rate-box,
.buy-trans .overall-rate-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0 12px 0;
}

.keyword-search .overall-rate-box .overall-rate-item-wrap,
.buy-trans .overall-rate-box .overall-rate-item-wrap {
  width: 50%;
}

.keyword-search .overall-rate-box .overall-rate-item-wrap .overall-rate-lit-title,
.buy-trans .overall-rate-box .overall-rate-item-wrap .overall-rate-lit-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
  font-size: 12px;
}

.keyword-search .overall-rate-box .overall-rate-item-wrap .overall-rate-lit-title div:nth-child(1),
.buy-trans .overall-rate-box .overall-rate-item-wrap .overall-rate-lit-title div:nth-child(1) {
  margin-right: 8px;
}

.keyword-search .overall-rate-box .overall-rate-item-wrap .overall-rate-lit-title div,
.buy-trans .overall-rate-box .overall-rate-item-wrap .overall-rate-lit-title div {
  margin: 5px;
}

.keyword-search .overall-rate-box .overall-rate-item-wrap .overall-rate-item,
.buy-trans .overall-rate-box .overall-rate-item-wrap .overall-rate-item {
  height: 78px;
  width: 118px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 15px;
  background: url("../img/convert-ratio3.png") no-repeat;
  font-size: 12px;
  font-weight: 400;
  -webkit-columns: #595959;
          columns: #595959;
  background-size: 100% 100%;
}

.keyword-search {
  margin-top: 16px;
  padding: 0 20px;
}

.keyword-search .erp-chart {
  padding: 20px 20px 0 0;
  border-top: 1px solid #e5e5e5;
}

.keyword-search .erp-chart + .erp-chart {
  padding: 20px 0 0 20px;
}

.keyword-search .keyword-search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.user-group-dialog__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 10px 40px;
  margin-bottom: 20px;
}

.user-group-dialog__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-group-dialog__info-data {
  margin-left: 8px;
}

.keyword-search-trans__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.keyword-search-trans__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.keyword-search-trans__info-item + .keyword-search-trans__info-item {
  margin-left: 40px;
}

.keyword-search-trans__info-data {
  margin-left: 8px;
}

.keyword-search-trans__period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.keyword-search-trans__period-item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-trend .erp-el-radio .el-radio__label {
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.search-trend .footer {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.country-table .el-table__body tr {
  cursor: pointer;
}

.erp-chart .erp-chart__main .table-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0;
}

.erp-chart .erp-chart__main .erp-el-table {
  margin-top: 0;
}
