@import 'base';
#vm {
	position: relative;
	margin-top: 16px;
}
.el-tooltip.el-icon-question {
	position: relative;
	top: -4px;
}
.export-box {
	box-sizing: border-box;
	min-width: 88px;
	height: 24px;
	margin: 0 12px;
	background-color: #0375de;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4px 8px;
	font-size: 13px;
	color: #fff;
	border-radius: 2px;
	.export-icon {
		width: 20px;
		height: 20px;
		background: url('../img/export.png');
		background-size: 100% 100%;
		display: inline-block;
	}
}
.compared-box {
	box-sizing: border-box;
	width: 88px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 13px;
	color: rgba(0, 0, 0, 0.65);
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, 0.25);
	cursor: pointer;
	.compared-icon {
		width: 25px;
		height: 24px;
		display: inline-block;
		background: url('../img/compared.png');
	}
}

.total {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 16px;
	.total-item {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 84px;
		padding: 16px 0;
		background: #fff;
		border-radius: 4px;
		font-size: 16px;
		.itemNum {
			font-size: 24px;
			color: rgba(0, 0, 0, 0.85);
			font-weight: bold;
		}
	}
}
.search {
	padding: 20px;
	margin-top: 16px;
	background: #fff;
	border-radius: 8px;
	&.no-bottom-radius {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	.erp-query-title {
		width: 30px;
		margin-right: 8px;
		font-size: 14px;
		font-weight: 400;
		color: rgba(0, 0, 0, 0.85);
	}

	.erp-query__content {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	.el-input__inner {
		height: 32px;
		line-height: 32px;
		border: 1px solid rgba(0, 0, 0, 0.25);
	}
	.erp-el-select2.el-select.multi .el-input__inner {
		width: 132px;
	}
	.erp-el-select2.el-select .el-input__inner {
		width: 132px;
		height: 32px;
		line-height: 32px;
		border-radius: 4px;
	}
	.el-input__suffix {
		top: 4px;
	}
	.el-tag {
		border-radius: 12px;
		border-style: unset;
	}
	.el-tag.el-tag--info {
		background-color: #e5e5e5;
		border-color: unset;
		color: rgba(0, 0, 0, 0.85);
	}
	.el-date-editor .el-range__icon {
		line-height: 28px;
	}
	.el-date-editor .el-range-separator {
		padding: 0 5px 5px;
	}

	.search-period {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.erp-select {
			display: flex;
			position: relative;
			box-sizing: border-box;
			width: 200px;
			height: 32px;
			padding: 4px 20px 4px 4px;
			color: rgba(0, 0, 0, 0.65);
			font-size: 13px;
			border-radius: 4px;
			border: 1px solid rgba(0, 0, 0, 0.25);
			line-height: 22px;
			cursor: pointer;
			transition: display 0.2s, -webkit-display 0.2s;
			.all-txt {
				color: rgba(0, 0, 0, 0.25);
			}
			.txt-box {
				box-sizing: border-box;
				padding: 0 4px;
				background: #e5e5e5;
				border-radius: 12px;
			}
			.txt-box.name {
				position: relative;
				max-width: 66px;
				padding-right: 18px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				.el-icon-close {
					position: absolute;
					right: 4px;
					top: 4px;
					color: #909399;
					font-size: 14px;
					// transform: scale(0.7);
					&:hover {
						color: #fff;
					}
				}
			}

			.txt-box.num {
				max-width: 34px;
				margin-left: 4px;
			}
			.siffix {
				position: absolute;
				right: 4px;
				top: 4px;
				.el-icon-arrow-up {
					transform: rotateZ(180deg);
					color: #000;
					font-size: 14px;
					transition: transform 0.3s, -webkit-transform 0.3s;
				}
				.is-reverse {
					transform: rotateZ(0);
				}
			}
			&.focus-border {
				border-color: #0375de;
			}
		}
		.search__button {
			width: 78px;
			height: 32px;
			padding: 0;
		}
	}
}

.query-option {
	position: absolute;
	top: 156px;
	left: 0;
	right: 0;
	z-index: 2221;
	padding: 16px 20px 20px;
	background: #fff;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.09);
	.head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 0 12px;
		font-size: 16px;
		color: rgba(0, 0, 0, 0.85);
		border-bottom: 1px #e5e5e5 dashed;
	}
	.body {
		display: grid;
		grid-template-columns: repeat(auto-fill, 120px);
		gap: 12px;
		padding-top: 12px;
	}
}
.charts {
	margin-top: 16px;
}
.user-trend .chart-operate {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	.operate-title {
		margin: 0 8px 0 35px;
		font-weight: 400;
		color: rgba(0, 0, 0, 0.45);
	}
}
.user-visited-distribute {
	margin-top: 16px;
	background: #ffffff;
	border-radius: 8px;
	> .erp-chart__header {
		padding: 20px 20px 12px 20px;
		border-bottom: 1px solid #e5e5e5;
	}
	.wrapper {
		display: flex;
		position: relative;
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
		.erp-chart {
      flex-shrink: 0;
			box-sizing: border-box;
			width: 657px;
			border-radius: unset;
			white-space: unset;
			+ .erp-chart {
				border-left: 1px solid #e5e5e5;
			}
    }
    .erp-chart__title {
      font-size: 14px;
      font-weight: 500;
    }
		&::-webkit-scrollbar {
			width: 4px;
			height: 10px;
		}

		&::-webkit-scrollbar-button {
			display: none;
		}

		&::-webkit-scrollbar-thumb {
			background-color: rgba(0, 0, 0, 0.35);
			border-radius: 2px;
			height: 50px;
		}

		&::-webkit-scrollbar-track {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}
}
.buy-trans-wrap,
.keyword-search-wrap {
	background-color: #fff;
  margin-top: 16px;
  border-radius: 8px;
	.erp-chart {
    border-radius: unset;
    background: unset;
	}
}
.conversion-trend {
  padding: 20px 20px 0 20px;
	.erp-chart {
    padding: 0;
		border-bottom: 1px solid #e5e5e5;
	}
}
.conversion-trend,
.keyword-search-top,
.keyword-search,
.buy-trans {
	.subtitle__item {
		padding-left: 32px;
		margin-left: 32px;
		border-left: 1px solid rgba(236, 236, 236, 1);
	}
	&__sitename {
		@extend %content-level-4;
		margin-left: 8px;
	}
}

.keyword-search,
.buy-trans {
  display: grid;
  grid-template-columns: 50% 50%;
	.erp-chart + .erp-chart{
    border-left: 1px solid #e5e5e5;
  }
	&__num {
		@extend %subtitle-level-1;
		margin-left: 8px;
	}
	&__operate {
		.el-link.el-link--default {
			padding: 4px;
			color: #0375de;
		}

		&--active {
			.el-link.el-link--default {
				padding: 4px;
				color: #0375de;
				&.funnel-analysis {
					border-radius: 2px;
					color: #fff;
					background: #0375de;
				}
			}
		}
	}
	&__info {
		@extend %content-level-11;
		display: flex;
		margin: 32px 0;
		&__title {
			@extend %subtitle-level-1;
		}
		&__item {
			display: flex;
			margin-right: 80px;
		}
		&__subitem {
			margin-left: 40px;
		}
	}

	.overall-rate {
		display: flex;
		justify-content: center;
		width: 100%;
		margin: 20px 0 12px 0;
		&__item {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 118px;
			height: 78px;
			box-sizing: border-box;
			padding-top: 15px;
			background: url('../img/convert-ratio3.png') no-repeat;
			font-size: 12px;
			position: relative;
			font-weight: 400;
			color: #595959;
			background-size: cover;
		}
		&__num {
      margin-top: 8px;
      font-size: 20px;
      font-weight: 600;
      color: #262626;
		}
	}
	.overall-rate-box {
		display: flex;
		margin: 20px 0 12px 0;
		.overall-rate-item-wrap {
      width: 50%;
    .overall-rate-lit-title{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 12px;
      font-size: 12px;
      div {
        &:nth-child(1) {
          margin-right: 8px;
        }
      }
    }
    .overall-rate-lit-title div{
      margin: 5px;
    }
			.overall-rate-item {
				height: 78px;
				width: 118px;
				margin: 0 auto;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				padding-top: 15px;
				background: url('../img/convert-ratio3.png') no-repeat;
				font-size: 12px;
				font-weight: 400;
				columns: #595959;;
				background-size: 100% 100%;
			}
		}
	}
}
.keyword-search {
  margin-top: 16px;
  padding: 0 20px;
  .erp-chart {
    padding: 20px 20px 0 0;
    border-top: 1px solid #e5e5e5;
    + .erp-chart {
      padding: 20px 0 0 20px;
    }
  }
  .keyword-search-box {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
}

.user-group-dialog {
	&__info {
		@extend %content-level-12;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 10px 40px;
		margin-bottom: 20px;
		&-item {
			display: flex;
			align-items: center;
		}
		&-data {
			@extend %content-level-4;
			margin-left: 8px;
		}
	}
}

.keyword-search-trans {
	&__info {
		@extend %content-level-12;
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
		&-item {
			display: flex;
			align-items: center;
			+ .keyword-search-trans__info-item {
				margin-left: 40px;
			}
		}
		&-data {
			@extend %content-level-4;
			margin-left: 8px;
		}
	}
	&__period {
		display: flex;
		align-items: center;
		margin-top: 20px;
	}
	&__period-item {
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.search-trend {
	.erp-el-radio .el-radio__label {
		width: auto;
		padding-left: 10px;
		padding-right: 10px;
	}
	.footer {
		padding-bottom: 20px;
		border-bottom: 1px solid #e5e5e5;
	}
}
.country-table .el-table__body tr {
	cursor: pointer;
}
.erp-chart {
	.erp-chart__main {
		.table-wrapper {
			box-sizing: border-box;
			padding: 20px 0;
		}
		.erp-el-table {
			margin-top: 0;
		}
	}
}
