@charset "UTF-8";
[v-cloak] {
  display: none;
}

html::-webkit-scrollbar {
  width: 4px;
}

html::-webkit-scrollbar-button {
  display: none;
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 2px;
  height: 50px;
}

html::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

body {
  margin-right: 16px;
  padding-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", Roboto, "open sans", "Microsoft YaHei", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
  background: #f4f4f4;
}

/* 根据UI提供设计稿，将一些常用的 模块 抽象成组件， 它们的样式在此处统一处理 */
/* 主要应用于erp中的数据看板模块下的页面 */
/* 带有Echarts图表的模块,参见组件./Application/Tpl/Home/DataCenter/components/ChartWrapper.js */
.erp-chart {
  padding: 20px 20px 0;
  background: #ffffff;
  border-radius: 8px;
}

.erp-chart__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.erp-chart__title {
  font-size: 16px;
  font-weight: bold;
  color: #262626;
  margin-bottom: 4px;
}

.erp-chart__date {
  font-size: 12px;
  color: #8C8C8C;
}

.erp-chart__operate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.erp-chart__info-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 0 16px;
  margin-top: 20px;
  color: #262626;
}

.erp-chart__info-cards .card {
  padding: 16px;
  background: rgba(3, 117, 222, 0.05);
  border-radius: 4px;
}

.erp-chart__info-cards .card .title {
  font-weight: 500;
}

.erp-chart__info-cards .card .body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 4px 25px;
  margin-top: 8px;
}

.erp-chart__info-cards .card .body .subtitle {
  font-size: 12px;
  color: #8c8c8c;
}

.erp-chart__info-cards .card .body .data {
  font-size: 13px;
}

.erp-chart .erp-el-table,
.erp-chart .erp-el-pagination {
  margin-top: 20px;
}

.erp-chart__no-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.erp-chart__no-data > img {
  width: 80px;
  height: 80px;
}

.erp-chart__no-data > div {
  margin-top: 16px;
  font-size: 16px;
}

.echarts-tooltip .title {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
}

.echarts-tooltip .marker, .echarts-tooltip .marker-line, .echarts-tooltip .marker-line--dashed {
  display: inline-block;
  width: 10px;
  margin-right: 5px;
}

.echarts-tooltip .marker {
  border-radius: 10px;
  height: 10px;
  border: 1px solid #fff;
}

.echarts-tooltip .marker-line {
  border: 1px solid;
}

.echarts-tooltip .marker-line--dashed {
  border: 1px dashed;
}

.echarts-tooltip .content-gt12 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 4px 20px;
}

.echarts-tooltip .content-gt12 .item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12px (1fr)[2];
      grid-template-columns: 12px repeat(2, 1fr);
  gap: 0 4px;
  place-items: center start;
}

.echarts-tooltip .content-gt12 .item .value {
  margin-left: 4px;
}

.echarts-tooltip .content-gt8 {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
  gap: 4px 20px;
}

.echarts-tooltip .content-gt8 .item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12px (1fr)[2];
      grid-template-columns: 12px repeat(2, 1fr);
  gap: 0 4px;
  place-items: center start;
}

.echarts-tooltip .content-gt8 .item .value {
  margin-left: 4px;
}

.echarts-tooltip .content-lt12 .item,
.echarts-tooltip .content-lt8 .item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12px (1fr)[2];
      grid-template-columns: 12px repeat(2, 1fr);
  gap: 0 4px;
  place-items: center start;
}

.echarts-tooltip .content-lt12 .item + .item,
.echarts-tooltip .content-lt8 .item + .item {
  margin-top: 4px;
}

.echarts-tooltip .content-lt12 .item .value,
.echarts-tooltip .content-lt8 .item .value {
  margin-left: 4px;
}

.erp-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f5fafe;
  font-size: 13px;
}

.erp-tabs .tab {
  padding: 8px 16px;
  border-left: 1px solid #d3e4fa;
  border-top: 1px solid #2673e4;
  cursor: pointer;
}

.erp-tabs .tab:nth-child(1) {
  border-left: unset;
}

.erp-tabs .tab:nth-last-child(1) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-top: 1px solid #2673e4;
}

.erp-tabs .tab--active {
  border-top: unset;
  border-left-color: #2673e4;
  border-bottom: 1px solid #2673e4;
  background: #fff;
  color: #2673e4;
}

.erp-tabs .tab--active + .tab {
  border-left-color: #2673e4;
}

.text-one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-two-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.query {
  padding: 20px;
  margin-top: 16px;
  background: #fff;
  border-radius: 8px;
}

.query__row, .query__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.query__row + .query__row {
  margin-top: 20px;
}

.query__item {
  margin-right: 28px;
}

.query__title {
  margin-right: 8px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
}

.query .erp-el-range-editor {
  margin-left: 8px;
}

.query .erp-el-select2.width96 .el-input .el-input__inner {
  width: 96px;
  height: 32px;
}

.query .erp-el-select2.width132 .el-input .el-input__inner {
  width: 132px;
  height: 32px;
}

.query .erp-el-select2--multi.el-select .el-select__tags {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.query .erp-el-select2--multi.el-select .el-select__tags .el-tag--small:first-child {
  padding-right: 4px;
}

.query .erp-el-select2--multi.el-select .el-tag.el-tag--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e5e5e5;
  border: unset;
  color: rgba(0, 0, 0, 0.85);
  border-radius: 12px;
}

.query .erp-el-select2--multi.el-select .el-select__tags-text {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 25px;
  line-height: 24px;
  white-space: nowrap;
}

.query .erp-el-select2--multi.el-select .el-tag__close.el-icon-close {
  position: unset;
  margin-top: unset;
  margin-left: 4px;
  width: 12px;
  height: 12px;
  line-height: 12px;
}

.query .erp-button {
  min-width: 78px;
  height: 32px;
}

.total {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 16px;
          column-gap: 16px;
  margin-top: 16px;
}

.total__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 128px;
  padding: 16px 0;
  background: #fff;
  border-radius: 4px;
  font-size: 16px;
}

.total__item .itemNum {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
}

.total__item .percent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
}

.total__item .percent__item {
  padding: 0 8px;
}

.total__item .percent__item:first-child {
  text-align: right;
  border-right: 1px solid #ececec;
}

.total__item .percent__item:first-child .percent__num {
  margin-left: 8px;
}

.total__item .percent__item:last-child .percent__num {
  margin-right: 8px;
}

.total__item .percent__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.total__item .percent__num {
  font-size: 16px;
  font-weight: 500;
}

.distribute {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 16px;
          column-gap: 16px;
}

.erp-chart {
  margin-top: 16px;
}

.goods-list {
  padding-bottom: 20px;
}

.goods-list .goods {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px auto;
      grid-template-columns: 60px auto;
  font-size: 13px;
  line-height: 13px;
}

.goods-list .goods .img {
  width: 60px;
  height: 60px;
}

.goods-list .goods .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 8px;
  max-width: 400px;
  color: #8C8C8C;
}

.goods-list .goods .info .title {
  font-weight: 500;
  color: #555758;
}

.goods-list .goods .info .simple {
  max-width: 100px;
  padding-right: 8px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.goods-list .goods .info .simple div + div {
  margin-top: 4px;
}

.goods-list .goods .info .detail {
  max-width: 300px;
  padding-left: 8px;
}

.goods-list .goods .info .detail div + div {
  margin-top: 4px;
}

.goods-detail-dialog .el-dialog {
  border-radius: 8px;
}

.goods-detail-dialog .goods {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.goods-detail-dialog .goods__img {
  width: 80px;
  height: 80px;
}

.goods-detail-dialog .goods__title {
  margin-bottom: 12px;
  font-weight: 500;
  color: #262626;
}

.goods-detail-dialog .goods__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 12px;
  color: #595959;
}

.goods-detail-dialog .goods__info-left {
  display: inline-block;
  max-width: 50%;
  padding-right: 8px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.goods-detail-dialog .goods__info-left div + div {
  margin-top: 4px;
}

.goods-detail-dialog .goods__info-right {
  display: inline-block;
  max-width: 50%;
  padding-left: 8px;
}

.goods-detail-dialog .goods__info-right div + div {
  margin-top: 4px;
}

.goods-detail-dialog .goods__data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(65px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(65px, 1fr));
  gap: 6px 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8C8C8C;
  font-size: 12px;
}

.goods-detail-dialog .goods__data .num {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-size: 20px;
  color: #262626;
}

.goods-detail-dialog .el-dialog__header {
  padding: 40px 40px 20px 40px;
  border-bottom: 1px solid #E5E5E5;
}

.goods-detail-dialog .el-dialog__header .el-dialog__headerbtn {
  top: 40px;
  right: 40px;
}

.goods-detail-dialog .el-dialog__body {
  padding: 0;
}

.goods-detail-dialog .el-dialog__body .goods-distribute {
  border-left: 1px solid #E5E5E5;
}

.goods-detail-dialog .el-dialog__body .goods-distribute .erp-chart {
  padding-right: 40px;
}

.goods-detail-dialog .erp-chart {
  margin-top: 0;
}
