@import 'base';


h3 {
  @extend %title-level-2;
}

.red-text {
  color: #F14E22;
}

.green-text {
  color: #52C41A;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-wrapper {
  display: flex;
  .tip {
    margin-left: 4px;
    &__img {
      width: 16px;
      height: 16px;
    }
  }
}

.profit-loss {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  &__left {
    width: 67.59%;
    padding: 20px 1.11%;
    background: #fff;
    border-radius: 8px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 29.05%;

    &__item {
      height: 318px;
      padding: 20px 3.57%;
      background: #fff;
      border-radius: 8px;

      &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 32px;

        &__right {
          margin: 0 auto;

          >div:last-child {
            margin-top: 20px;
          }
        }
      }
    }
  }

}

.income-plan {
  padding: 20px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 1);
  border-radius: 8px;

  &__body {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }
}

.income-business {
  padding: 20px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 1);
  border-radius: 8px;
  &__item {
    display: flex;
    justify-content: space-between;
    height: 275px;
    margin-top: 32px;
  }
  .el-table tr:last-child {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
  }
}


.goods-source {
  padding: 20px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 1);
  border-radius: 8px;
  &__item {
    display: flex;
    justify-content: space-between;
    height: 275px;
    margin-top: 32px;
  }
  .el-radio {
    height: auto;
    margin-right: 8px;
    padding: 8px 24px 8px 14px;
    color: rgba(0, 0, 0, 0.65);
    .el-radio__input {
      display: none;
      &.is-checked+.el-radio__label {
        color: $color-primary;
      }
    }
    &.is-bordered.is-checked {
      border-color: $color-primary;
    }
  }
   .el-checkbox {
     height: auto;
     margin-right: 0;
     padding: 5px 10px 6px 1px;
     &:nth-child(1) {
       padding: 5px 25px 6px 16px;
     }
     &:last-child {
       padding: 5px 13px 6px 4px;
     }
      .el-checkbox__input {
        display: none;
        &.is-checked+.el-checkbox__label {
          color: $color-primary;
        }
      }
      &.is-bordered.is-checked {
        border-color: $color-primary;
      }
   }
   .el-checkbox.is-bordered+.el-checkbox.is-bordered {
     margin-left: 8px;
   }
}

.module {
  padding: 20px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 1);
  border-radius: 8px;

  &__item {
    display: flex;
    justify-content: space-between;
    height: 275px;
    margin-top: 32px;
  }
}

.odm-goods {
  padding: 20px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 1);
  border-radius: 8px;
}
