@charset "UTF-8";
.erp-chart__title, h3 {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
}

.erp-chart__date {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
}

[v-cloak] {
  display: none;
}

body {
  font: 400 14px -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", Roboto, "open sans", "Microsoft YaHei", Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.65);
  background: #F4F4F4;
}

/* 根据UI提供设计稿，将一些常用的 模块 抽象成组件， 它们的样式在此处统一处理 */
/* 主要应用于erp中的数据看板模块下的页面 */
/* 带有Echarts图表的模块,参见组件./Application/Tpl/Home/DataCenter/components/ChartWrapper.js */
.erp-chart {
  padding: 20px 20px 0;
  background: #FFFFFF;
  border-radius: 8px;
}

.erp-chart__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.erp-chart__title {
  margin-bottom: 8px;
}

.echarts-tooltip .title {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
}

.echarts-tooltip .content-gt12 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 4px 20px;
}

.echarts-tooltip .content-gt12 .item .value {
  margin-left: 4px;
}

.echarts-tooltip .content-lt12 .item + .item {
  margin-top: 4px;
}

.echarts-tooltip .content-lt12 .item .value {
  margin-left: 4px;
}

.red-text {
  color: #F14E22;
}

.green-text {
  color: #52C41A;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title-wrapper .tip {
  margin-left: 4px;
}

.title-wrapper .tip__img {
  width: 16px;
  height: 16px;
}

.profit-loss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.profit-loss__left {
  width: 67.59%;
  padding: 20px 1.11%;
  background: #fff;
  border-radius: 8px;
}

.profit-loss__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 29.05%;
}

.profit-loss__right__item {
  height: 318px;
  padding: 20px 3.57%;
  background: #fff;
  border-radius: 8px;
}

.profit-loss__right__item__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
}

.profit-loss__right__item__body__right {
  margin: 0 auto;
}

.profit-loss__right__item__body__right > div:last-child {
  margin-top: 20px;
}

.income-plan {
  padding: 20px;
  margin-top: 20px;
  background: white;
  border-radius: 8px;
}

.income-plan__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
}

.income-business {
  padding: 20px;
  margin-top: 20px;
  background: white;
  border-radius: 8px;
}

.income-business__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 275px;
  margin-top: 32px;
}

.income-business .el-table tr:last-child {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
}

.goods-source {
  padding: 20px;
  margin-top: 20px;
  background: white;
  border-radius: 8px;
}

.goods-source__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 275px;
  margin-top: 32px;
}

.goods-source .el-radio {
  height: auto;
  margin-right: 8px;
  padding: 8px 24px 8px 14px;
  color: rgba(0, 0, 0, 0.65);
}

.goods-source .el-radio .el-radio__input {
  display: none;
}

.goods-source .el-radio .el-radio__input.is-checked + .el-radio__label {
  color: #0375DE;
}

.goods-source .el-radio.is-bordered.is-checked {
  border-color: #0375DE;
}

.goods-source .el-checkbox {
  height: auto;
  margin-right: 0;
  padding: 5px 10px 6px 1px;
}

.goods-source .el-checkbox:nth-child(1) {
  padding: 5px 25px 6px 16px;
}

.goods-source .el-checkbox:last-child {
  padding: 5px 13px 6px 4px;
}

.goods-source .el-checkbox .el-checkbox__input {
  display: none;
}

.goods-source .el-checkbox .el-checkbox__input.is-checked + .el-checkbox__label {
  color: #0375DE;
}

.goods-source .el-checkbox.is-bordered.is-checked {
  border-color: #0375DE;
}

.goods-source .el-checkbox.is-bordered + .el-checkbox.is-bordered {
  margin-left: 8px;
}

.module {
  padding: 20px;
  margin-top: 20px;
  background: white;
  border-radius: 8px;
}

.module__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 275px;
  margin-top: 32px;
}

.odm-goods {
  padding: 20px;
  margin-top: 20px;
  background: white;
  border-radius: 8px;
}
