.depList {
  [v-cloak] {
    display: none;
  }
  .mg-0{
    margin:0;
  }
  padding: 20px;
  .first-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    td {
      padding: 0;
      vertical-align: top;
    }
  }
  .second-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    .second-div {
      padding: 30px 0;
    }
    .second-ver {
      vertical-align: top;
      margin-top: -2px
    }
    .second-cont {
      vertical-align: top;
      margin-top: -18px
    }
    td {
      vertical-align: middle;
      text-align: left;
    }
  }
  .third-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    .third-div {
      padding: 30px 0;
    }
    .third-ver {
      vertical-align: top;
      margin-top: -2px
    }
    .third-cont {
      vertical-align: top;
      margin-top: -18px
    }
  }
  .cont-ent {
    background: #1E7EB4;
    border: 1px solid #1E7EB4;
    border-radius: 25px;
    display: inline-block;
    color: white;
    padding: 6px 20px;
    font-size: 1rem;
    cursor: pointer;
  }

  .cont-air {
    border: 2px solid #1E7EB4;
    border-radius: 8px;
    display: inline-block;
    padding: 6px;
    background: white;
    font-size: .65rem;
    font-weight: 600;
    color: #1E7EB4;
    letter-spacing: 0;
    text-align: center;
    min-width: 108px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .text-name {
    text-align: center;
    font-size: 14px;
    color: #263238;
    letter-spacing: 0;
  }
  .down-line {
    margin: 0 auto;
    width: 3px;
    background: #1E7EB4;
    height: 50px;
  }

  .line {
    height: 30px;
    width: 4px;
  }

  .log-line {
    height: 60px;
    width: 4px;
  }

  .top {
    border-top: 2px solid #1E7EB4;
  }

  .bottom {
    border-bottom: 2px solid #1E7EB4;
  }

  .right {
    border-right: 2px solid #1E7EB4;
  }

  .left {
    border-left: 2px solid #1E7EB4;
  }

  .no-wrap {
    white-space: nowrap;
  }
  .ver-line {
    width: 15px;
    height: 2px;
    background: #1e7eb4;
    display: inline-block;
    vertical-align: middle;
  }
  .pos-bt {
    position: absolute;
    z-index: 9999;
    bottom: -15px;
    white-space: nowrap;
    background: white;
  }
  .no-wrap {
    white-space: nowrap;
  }
  .btn-group {
    position: absolute;
    top: 45px;
    left: 0;
    width: 108px;
    display: inline-block;
    color: white;
    white-space: nowrap;
    border-radius: 15px;
    background: #FF5224;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.30);
    z-index: 999;
    span {
      display: block;
      width: 100%;
      height: 35px;
      line-height: 35px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .el-dialog--tiny {
    width: 380px;
  }
  .el-select {
    width: 100%;
  }
  .el-date-editor.el-input {
    width: 100%;
  }
  .list-btn {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      font-size: 15px;
      color: #263238;
      letter-spacing: 0;
      margin: 10px 34px 10px 0;
      padding: 10px 5px;
      cursor: pointer;
      &.active {
        color: #FF5224;
        letter-spacing: 0;
        border-bottom: 3px solid #FF5224;
      }
      &:hover {
        color: #FF5224;
        letter-spacing: 0;
        border-bottom: 3px solid #FF5224;
      }
    }
  }
  .dep-info{
    width:100%;
    border-top: 1px solid #CADEE7;
    border-right: 1px solid #CADEE7;
    th{
      background: #F6F9FA;
      border-bottom: 1px solid #CADEE7;
      border-left: 1px solid #CADEE7;
      font-size: 13px;
      color: #546E7A;
      letter-spacing: 0;
      padding:10px;
    }
    td{
      font-size: 13px;
      color: #263238;
      border-bottom: 1px solid #CADEE7;
      border-left: 1px solid #CADEE7;
      padding: 10px;
      text-align: center;
    }
  }
}

.recruit {
  padding: 20px;
  [v-cloak] {
    display: none;
  }
  .el-form-item__label {
    text-align: left;
  }
  .el-checkbox__label {
    vertical-align: middle;
  }
  .el-checkbox__input {
    margin: 0 10px;
  }
  .el-radio__input {
    margin: 0 10px 0 3px;
  }
  .el-radio__label {
    vertical-align: middle;
  }
  .table-list {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #CADEE7;
    tr {
      th {
        background: #546E7A;
        height: 40px;
        text-align: center;
        font-size: .7rem;
        color: #FFFFFF;
        letter-spacing: 0;
        border: 1px solid #668491;
        white-space: nowrap;
      }
      td {
        font-size: 0.68rem;
        color: #263238;
        letter-spacing: 0;
        text-align: center;
        padding: 0.5rem;
        border: 1px solid #CADEE7;
        font-family: "Microsoft YaHei";
        white-space: nowrap;
      }
    }
    tr:nth-of-type(even) {
      background: #F7F9FB;
      border: 1px solid #CADEE7;
    }
  }
  .add-form {
    .cus-table {
      width: 100%;
      background: #F6F9FA;
      border: 1px solid #CADEE7;
      padding: 30px;
    }
    .el-form-item {
      margin: 0;
    }
    .el-select {
      width: 100%;
    }
    .el-button--small {
      padding: 10px 16px 9px;
      font-size: 13px;
      border-radius: 4px;
    }
  }
  .el-dialog--tiny{
    width: 385px;
  }


}