.depList {
  padding: 20px; }
  .depList [v-cloak] {
    display: none; }
  .depList .mg-0 {
    margin: 0; }
  .depList .first-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%; }
    .depList .first-table td {
      padding: 0;
      vertical-align: top; }
  .depList .second-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%; }
    .depList .second-table .second-div {
      padding: 30px 0; }
    .depList .second-table .second-ver {
      vertical-align: top;
      margin-top: -2px; }
    .depList .second-table .second-cont {
      vertical-align: top;
      margin-top: -18px; }
    .depList .second-table td {
      vertical-align: middle;
      text-align: left; }
  .depList .third-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%; }
    .depList .third-table .third-div {
      padding: 30px 0; }
    .depList .third-table .third-ver {
      vertical-align: top;
      margin-top: -2px; }
    .depList .third-table .third-cont {
      vertical-align: top;
      margin-top: -18px; }
  .depList .cont-ent {
    background: #1E7EB4;
    border: 1px solid #1E7EB4;
    border-radius: 25px;
    display: inline-block;
    color: white;
    padding: 6px 20px;
    font-size: 1rem;
    cursor: pointer; }
  .depList .cont-air {
    border: 2px solid #1E7EB4;
    border-radius: 8px;
    display: inline-block;
    padding: 6px;
    background: white;
    font-size: .65rem;
    font-weight: 600;
    color: #1E7EB4;
    letter-spacing: 0;
    text-align: center;
    min-width: 108px;
    box-sizing: border-box;
    cursor: pointer; }
  .depList .text-name {
    text-align: center;
    font-size: 14px;
    color: #263238;
    letter-spacing: 0; }
  .depList .down-line {
    margin: 0 auto;
    width: 3px;
    background: #1E7EB4;
    height: 50px; }
  .depList .line {
    height: 30px;
    width: 4px; }
  .depList .log-line {
    height: 60px;
    width: 4px; }
  .depList .top {
    border-top: 2px solid #1E7EB4; }
  .depList .bottom {
    border-bottom: 2px solid #1E7EB4; }
  .depList .right {
    border-right: 2px solid #1E7EB4; }
  .depList .left {
    border-left: 2px solid #1E7EB4; }
  .depList .no-wrap {
    white-space: nowrap; }
  .depList .ver-line {
    width: 15px;
    height: 2px;
    background: #1e7eb4;
    display: inline-block;
    vertical-align: middle; }
  .depList .pos-bt {
    position: absolute;
    z-index: 9999;
    bottom: -15px;
    white-space: nowrap;
    background: white; }
  .depList .no-wrap {
    white-space: nowrap; }
  .depList .btn-group {
    position: absolute;
    top: 45px;
    left: 0;
    width: 108px;
    display: inline-block;
    color: white;
    white-space: nowrap;
    border-radius: 15px;
    background: #FF5224;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    z-index: 999; }
    .depList .btn-group span {
      display: block;
      width: 100%;
      height: 35px;
      line-height: 35px; }
      .depList .btn-group span:hover {
        text-decoration: underline; }
  .depList .el-dialog--tiny {
    width: 380px; }
  .depList .el-select {
    width: 100%; }
  .depList .el-date-editor.el-input {
    width: 100%; }
  .depList .list-btn {
    list-style: none;
    margin: 0;
    padding: 0; }
    .depList .list-btn li {
      float: left;
      font-size: 15px;
      color: #263238;
      letter-spacing: 0;
      margin: 10px 34px 10px 0;
      padding: 10px 5px;
      cursor: pointer; }
      .depList .list-btn li.active {
        color: #FF5224;
        letter-spacing: 0;
        border-bottom: 3px solid #FF5224; }
      .depList .list-btn li:hover {
        color: #FF5224;
        letter-spacing: 0;
        border-bottom: 3px solid #FF5224; }
  .depList .dep-info {
    width: 100%;
    border-top: 1px solid #CADEE7;
    border-right: 1px solid #CADEE7; }
    .depList .dep-info th {
      background: #F6F9FA;
      border-bottom: 1px solid #CADEE7;
      border-left: 1px solid #CADEE7;
      font-size: 13px;
      color: #546E7A;
      letter-spacing: 0;
      padding: 10px; }
    .depList .dep-info td {
      font-size: 13px;
      color: #263238;
      border-bottom: 1px solid #CADEE7;
      border-left: 1px solid #CADEE7;
      padding: 10px;
      text-align: center; }

.recruit {
  padding: 20px; }
  .recruit [v-cloak] {
    display: none; }
  .recruit .el-form-item__label {
    text-align: left; }
  .recruit .el-checkbox__label {
    vertical-align: middle; }
  .recruit .el-checkbox__input {
    margin: 0 10px; }
  .recruit .el-radio__input {
    margin: 0 10px 0 3px; }
  .recruit .el-radio__label {
    vertical-align: middle; }
  .recruit .table-list {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #CADEE7; }
    .recruit .table-list tr th {
      background: #546E7A;
      height: 40px;
      text-align: center;
      font-size: .7rem;
      color: #FFFFFF;
      letter-spacing: 0;
      border: 1px solid #668491;
      white-space: nowrap; }
    .recruit .table-list tr td {
      font-size: 0.68rem;
      color: #263238;
      letter-spacing: 0;
      text-align: center;
      padding: 0.5rem;
      border: 1px solid #CADEE7;
      font-family: "Microsoft YaHei";
      white-space: nowrap; }
    .recruit .table-list tr:nth-of-type(even) {
      background: #F7F9FB;
      border: 1px solid #CADEE7; }
  .recruit .add-form .cus-table {
    width: 100%;
    background: #F6F9FA;
    border: 1px solid #CADEE7;
    padding: 30px; }
  .recruit .add-form .el-form-item {
    margin: 0; }
  .recruit .add-form .el-select {
    width: 100%; }
  .recruit .add-form .el-button--small {
    padding: 10px 16px 9px;
    font-size: 13px;
    border-radius: 4px; }
  .recruit .el-dialog--tiny {
    width: 385px; }

/*# sourceMappingURL=depList.css.map */
