<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>$lang('编辑品牌')</title>
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <link rel="stylesheet" href="./Application/Tpl/Home/Public/utils/css/public.style.css?v=<{$Think.const.V}>">
  <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/element-ui-2.8.2.css?v=<{$Think.const.V}>">
  <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/normailize.css?v=<{$Think.const.V}>">
  <link rel="stylesheet" href="./Application/Tpl/Home/Public/icon/css/font-awesome.min.css?v=<{$Think.const.V}>">
  <link rel="stylesheet" href="./Application/Tpl/Home/Legal/common.css?v=<{$Think.const.V}>">
  <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/default.css?v=<{$Think.const.V}>">
  <style>
    .el-checkbox {
      width: 13%;
    }

    .custom-table [class*=el-col-] {
      float: none;
    }

    .upload {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .upload .el-upload-list{
      width: 100%;
    }
    .el-icon-plus {
      font-size: 120px;
    }
    .title-info {
      font-size: 16px;
      text-align: center;
    }
    .titleHead{
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .required-attention{
      font-size: 14px;
      margin-left: 10px;
    }
    .el-radio__input.is-disabled.is-checked .el-radio__inner {
      border-color: #409EFF;
      background: #409EFF;
    }
    .listImg .el-upload-list--picture-card:not(:empty) + .el-upload--picture-card{
        display: none;
    }
    .el-upload-list--picture-card .el-upload-list__item{
      margin:0;
    }
    .trademarkUsageRecord{
      border: 1px solid #ddd;
      padding: 10px;
    }
    .trademarkUsageRecord li{
      display: flex;
      margin-bottom: 20px;
    }
    .trademarkUsageRecord li>div{
      display: flex;
      align-items: center;
      width: 33%;
      padding: 0 5px;
    }
    .trademarkUsageRecord li>div>span{
      width: 120px;
      word-break: break-all;
    }
    .file_type{
      color: rgb(255 255 255);
      background-color: rgb(64 158 255);
      border-color: rgb(64 158 255);
      padding: 9px 15px;
      font-size: 12px;
      border-radius: 3px;
    }
  </style>
</head>

<body>
  <div id="odm-add" class="wrapper" v-cloak>
    <div class="titleHead">{{$lang('编辑商标')}}</div>
    <div>
      <el-row class="module-wrap-title">
        {{$lang('基础信息')}}<span class="required-attention"><i class="el-icon-warning"></i>{{$lang('商品服务仅能添加一个')}}</span>
      </el-row>
      <el-row>
        <el-col :span="20">
          <el-row class="element-row" style="margin-top: 10px;">
            <el-col :span="3" class="title-info">{{$lang('商标类型')}}<label class="required-content"></label></el-col>
            <el-col :span="18">
              <el-radio-group v-model="trademark_base.trademark_type">
                <el-radio v-for="type in commonData.trademark_type" :key="type.cd" :label="type.cd" :value="type.cd" disabled>{{$lang(type.cdVal)}}</el-radio>
              </el-radio-group>
            </el-col>
          </el-row>
          <el-row class="element-row" style="margin-top: 10px;">
            <el-col :span="3" class="title-info">{{$lang('商标名称:')}}<label class="required-content"></label></el-col>
            <el-col :span="5">
              <el-input :disabled = "editType != 'edit'" :placeholder="$lang('请输入商标名称')" v-model.trim="trademark_base.trademark_name" clearable>
              </el-input>
            </el-col>
            <el-col :span="3" class="title-info">{{$lang('注册公司')}}<label class="required-content"></label></el-col>
            <el-col :span="5">
              <el-select :disabled = "editType != 'edit'" v-model.trim="trademark_detail.company_code" filterable :placeholder="$lang('注册公司')">
                <el-option v-for="item in commonData.company" :key="item.cd" :label="item.cdVal" :value="item.cd">
                </el-option>
              </el-select>
            </el-col>
          </el-row>
          <el-row class="element-row" style="margin-top: 10px;">        
            <el-col :span="3" class="title-info">{{$lang('国家')}}<label class="required-content"></label></el-col>
            <el-col :span="5">
              <el-select :disabled = "editType != 'edit'" v-model.trim="trademark_detail.country_code" filterable :placeholder="$lang('国家')">
                <el-option v-for="item in commonData.area_code" :key="item.id" :label="item.NAME" :value="item.id">
                </el-option>
              </el-select>
            </el-col>
            <el-col :span="3" class="title-info">{{$lang('申请周期')}}<label class="required-content"></label></el-col>
            <el-col :span="5">
              <el-input :disabled = "editType != 'edit'" :placeholder="$lang('请输入申请周期')" v-model.trim="trademark_detail.apply_period" clearable>
              </el-input>
              </el-select>
            </el-col>
          </el-row>    
          <el-row class="element-row" style="margin-top: 10px;">        
            <el-col :span="3" class="title-info">{{$lang('申请价格')}}<label class="required-content"></label></el-col>
            <el-col :span="5">
              <div style="display: flex;">
                <el-select :disabled = "editType != 'edit'" v-model.trim="trademark_detail.apply_currency" filterable :placeholder="$lang('币种')">
                  <el-option v-for="item in commonData.currency" :key="item.cd" :label="item.cdVal" :value="item.cd">
                  </el-option>
                </el-select>
                <el-input :disabled = "editType != 'edit'" @keyup.native="watchNum" v-model="trademark_detail.apply_price" clearable></el-input>
              </div>
            </el-col>
            <el-col :span="4">
            </el-col>
            <el-col :span="3" class="title-info">{{$lang('关联注册单号')}}<label class="required-content"></label></el-col>
            <el-col :span="5">
              <el-input :disabled = "editType != 'edit'" :placeholder="$lang('请输入关联注册单号')" v-model.trim="trademark_base.register_apply_no" disabled>
              </el-input>
            </el-col>
          </el-row>   
          <el-row class="element-row" style="margin-top: 10px;">        
            <el-col :span="3" class="title-info">{{$lang('商标保护期限')}}<label class="required-content"></label></el-col>
            <el-col style="display: flex;align-items: center;" :span="3">
              <el-input :disabled = "editType != 'edit'" @keyup.native="watchNum('protect_period')" :placeholder="$lang('请输入商标保护期限')" v-model.trim="trademark_base.protect_period" >
              </el-input>
              {{$lang('年')}}
            </el-col>
          </el-row>       
        </el-col>
        <el-col :span="3" class="listImg" v-if="trademark_base.trademark_type=='N002970002'||trademark_base.trademark_type=='N002970005'||trademark_base.trademark_type=='N002970006'||trademark_base.trademark_type=='N002970007'">
          <el-upload
                :disabled = "editType != 'edit'"
                action="/index.php?&m=trademark&a=file_upload"
                ref="upload"
                class="upload"
                list-type="picture-card"
                :on-success="uploadSuccess"
                :on-exceed="uploadExceed"
                :on-preview="handlePictureCardPreview"
                :file-list="imgList"
                :limit="1"
                accept="image/png,image/jpg,image/jpeg"
                :on-remove="uploadRemove">
                <i class="el-icon-plus"></i>
          </el-upload>
          <el-dialog :visible.sync="dialogVisible"><img width="100%" :src="dialogImageUrl" alt=""></el-dialog>
        </el-col>        
      </el-row>

    </div>

    <div>
      <el-row class="module-wrap-title" style="margin-top: 10px;">
        {{$lang('详细信息')}}
      </el-row>
      <table cellpadding="0" cellspacing="0" border="0" class="custom-table">
        <tr>
          <td>{{$lang('申请编号')}}</td>
          <td>
            <el-input :disabled = "editType != 'edit'" type="textarea" v-model="trademark_detail.apply_code" clearable>
              </el-input>
          </td>
          <td>{{$lang('注册编号')}}</td>
          <td>
            <el-input :disabled = "editType != 'edit'" type="textarea" v-model="trademark_detail.register_code" clearable>
            </el-input>
          </td>
          <td>{{$lang('国际分类')}}<label class="required-content"></label></td>
          <td>
            <el-input :disabled = "editType != 'edit'" type="textarea" v-model="trademark_detail.international_type" clearable>
            </el-input>
          </td>
        </tr>
        <tr>
          <td>{{$lang('商品/服务')}}</td>
          <td colspan="5">
            <el-input :disabled = "editType != 'edit'" type="textarea" v-model="trademark_detail.goods" clearable :rows="12">
            </el-input>
          </td>
        </tr>
        <tr>
          <td>{{$lang('初审公告日期')}}</td>
          <td>
            <el-date-picker :disabled = "editType != 'edit'" v-model.trim="trademark_detail.initial_review_date" type="date" :placeholder="$lang('选择日期')" value-format="yyyy-MM-dd">
            </el-date-picker>
          </td>
          <td>{{$lang('申请日期')}}</td>
          <td>
            <el-date-picker :disabled = "editType != 'edit'" v-model.trim="trademark_detail.applied_date" type="date" :placeholder="$lang('选择日期')" value-format="yyyy-MM-dd">
            </el-date-picker>
          </td>
          <td>{{$lang('注册日期')}}</td>
          <td>
            <el-date-picker :disabled = "editType != 'edit'" v-model.trim="trademark_detail.register_date" type="date" :placeholder="$lang('选择日期')" value-format="yyyy-MM-dd">
            </el-date-picker>
          </td>
        </tr>
        <tr>
          <td>{{$lang('商标有效期')}}<label class="required-content"></label></td>
          <td>
            <el-date-picker
              :disabled = "editType != 'edit'"
              v-model="effective_date"
              type="daterange"
              value-format="yyyy-MM-dd"
              :range-separator="$lang('至')"
              :start-placeholder="$lang('开始日期')"
              :end-placeholder="$lang('结束日期')">
            </el-date-picker>
          </td>
          <td>{{$lang('商标注册状态')}}<label class="required-content"></label></td>
          <td>
            <el-select :disabled = "editType != 'edit'" v-model.trim="trademark_detail.current_state" filterable>
              <el-option v-for="type in commonData.current_type" :key="type.cd" :label="type.cdVal" :value="type.cd">
              </el-option>
            </el-select>
          </td>
          <td>{{$lang('代理/办理机构')}}</td>
          <td>
            <el-input :disabled = "editType != 'edit'" v-model="trademark_detail.agent" clearable>
            </el-input>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>{{$lang('备注')}}</td>
          <td colspan="5">
            <el-input :disabled = "editType != 'edit'" v-model="trademark_detail.remark" clearable>
            </el-input>
          </td>
        </tr>
      </table>
    </div>
    <div v-if="editType != 'edit'">
      <el-row class="module-wrap-title" style="margin-top: 10px;text-align: right;">
        <span  style="float: left;" class="required-attention">{{$lang('商标使用记录')}}</span>
        <el-button :disabled = "editType != 'record'" @click="dialogFormVisible = true" size="mini" >{{$lang('记录')}}</el-button>
      </el-row>

      <el-tabs v-model="editableTabsValue" type="card" closable @tab-remove="removeTab">
        <el-tab-pane
          v-for="(item, index) in useRecording"
          :key="item.name"
          :label="item.title"
          :name="item.name"
        >
          <div>
            <div class="trademarkUsageRecord" v-if="item.use_type == '1'">
              <ul>
                <li>
                  <div>
                    <span>{{$lang('商标使用类型')}}</span>
                    <el-input disabled v-model="$lang('贴牌使用')" ></el-input>
                  </div>
                  <div>
                    <span>{{$lang('关联合同编号')}}</span>
                    <el-input v-model="item.contract_code" ></el-input>
                  </div>
                </li>
                <li>
                  <div>
                    <span>{{$lang('申请人')}}</span>
                    <el-input disabled v-model="item.user_name" ></el-input>
                  </div>
                </li>
                <li>
                  <div>
                    <span>{{$lang('申请单号')}}</span>
                    <el-input disabled v-model="item.use_no" ></el-input>
                  </div>
                </li>
                <li>
                  <div>
                    <el-upload
                      class="upload-demo"
                      action="/index.php?m=order_detail&a=file_upload"
                      :on-success="uploadSuccessRecord"
                      :on-remove="uploadRemoveRecord"
                      multiple
                      :file-list="item.use_evidence_file2">
                      <el-button size="small" type="primary">{{$lang('上传使用证据')}}</el-button>
                    </el-upload>
                  </div>
                </li>
              </ul>
            </div>
            <div class="trademarkUsageRecord" v-else-if="item.use_type == '2'">
              <ul>
                <li>
                  <div>
                    <span>{{$lang('商标使用类型')}}</span>
                    <el-input disabled v-model="$lang('店铺申请使用')" ></el-input>
                  </div>
                  <div>
                    <span>{{$lang('申请单号')}}</span>
                    <el-input disabled v-model="item.use_no" ></el-input>
                  </div>
                  <div>
                    <span>{{$lang('关联合同编号')}}</span>
                    <el-input v-model="item.contract_code" ></el-input>
                  </div>
                </li>
                <li>
                  <div>
                    <span>{{$lang('店铺名称')}}</span>
                    <el-input v-model="item.shop_name" ></el-input>
                  </div>
                  <div>
                    <span>{{$lang('申请人')}}</span>
                    <el-input disabled v-model="item.user_name" ></el-input>
                  </div>
                </li>
                <li>
                </li>
                <li>
                  <div>
                    <el-upload
                      class="upload-demo"
                      action="/index.php?m=order_detail&a=file_upload"
                      :on-success="uploadSuccessRecord"
                      :on-remove="uploadRemoveRecord"
                      multiple
                      :file-list="item.use_evidence_file2">
                      <el-button size="small" type="primary">{{$lang('上传使用证据')}}</el-button>
                    </el-upload>
                  </div>
                </li>
              </ul>
            </div>
            <div class="trademarkUsageRecord" v-else-if="item.use_type == '3'">
              <ul>
                <li>
                  <div>
                    <span>{{$lang('商标使用类型')}}</span>
                    <el-input disabled v-model="$lang('授权使用')" ></el-input>
                  </div>
                  <div>
                    <span>{{$lang('授权期限')}}</span>
                    <el-date-picker
                      v-model="item.authorize_period_date"
                      type="daterange"
                      value-format="yyyy-MM-dd"
                      range-separator="至"
                      start-placeholder="开始日期"
                      end-placeholder="结束日期">
                    </el-date-picker>
                  </div>
                  <div>
                    <span>{{$lang('申请人')}}</span>
                    <el-input disabled v-model="item.user_name" ></el-input>
                  </div>
                </li>
                <li>
                  <div>
                    <span>{{$lang('被授权主体')}}</span>
                    <el-input v-model="item.authorize_body" ></el-input>
                  </div>
                  <div>
                    <span>{{$lang('授权范围')}}</span>
                    <el-input v-model="item.authorize_range" ></el-input>
                  </div>
                  <div>
                    <span>{{$lang('申请单号')}}</span>
                    <el-input disabled v-model="item.use_no" ></el-input>
                  </div>
                </li>
                <li>
                  <div style="flex-direction: column;">
                    <div style="display: flex; width: 100%;align-items: center;margin-bottom: 10px;" v-for="(item2, index2) in item.related_suppliers2">
                      <span>{{$lang('关联供应商/客户')}} {{index2 + 1}}</span>
                      <el-input :placeholder="$lang('请输入供应商/客户编号')" @blur="relatedSuppliersBlur(item2.val,index2)" v-model="item2.val" >
                        <el-button @click="relatedSuppliersBlur(item2.val,index2)" slot="append" icon="el-icon-search"></el-button>
                      </el-input>
                      <el-input disabled v-model="item2.valShow" ></el-input>
                      <a style="cursor: pointer; font-size: 24px;" @click="addSuppliers(index2)">+</a>
                      <a style="cursor: pointer; font-size: 24px;" v-if="index2 != 0" @click="deleteSuppliers(index2)">-</a>
                    </div>
                  </div>
                  <div>
                    <span>{{$lang('关联合同编号')}}</span>
                    <el-input v-model="item.contract_code" ></el-input>
                  </div>
                </li>
                <li>
                  <div>
                    <el-upload
                      class="upload-demo"
                      action="/index.php?m=order_detail&a=file_upload"
                      :on-success="uploadSuccessRecord"
                      :on-remove="uploadRemoveRecord"
                      multiple
                      :file-list="item.use_evidence_file2">
                      <el-button size="small" type="primary">{{$lang('上传使用证据')}}</el-button>
                    </el-upload>
                  </div>
                  <div>
                    <el-button size="small" @click="downloadFile" type="primary">{{$lang('一键生成授权书')}}</el-button>
                    <!-- /index.php?m=trademark&a=getAUthFile&trademark_name=Izene&company_name=载信软件有限公司&authorize_body=深圳华为&authorize_period_start=2021-03-01&authorize_period_end=2025-09-01&created_at=2021-03-15 -->
                    <!-- <a class="file_type" href="'/index.php?m=finance&a=downloadPackage&name=batchtransfer.zip">{{$lang('一键生成授权书')}}</a> -->
                    <!-- <a class="file_type" href="'/index.php?m=finance&a=downloadPackage&name=batchtransfer.zip">{{$lang('一键生成授权书')}}</a> -->
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </el-tab-pane>
      </el-tabs>
    

    </div>

    <el-row v-if="editType != 'view'" type="flex" justify="center" style="margin-top: 20px;">
      <!-- <el-col :span="3">
        <el-button class="element-btn btn-reset" @click="returnList">{{$lang('取消')}}</el-button>
      </el-col> -->
      <el-col :span="3">
        <el-button class="element-btn btn-search" @click="submit" :disabled="btnclick">{{$lang('保存')}}</el-button>
      </el-col>     
    </el-row>
    <el-dialog :visible.sync="dialogFormVisible">
      <span>{{$lang('请选择商标使用类型')}}</span>
      <el-select v-model="use_trademark_type">
        <el-option v-for="item in useTrademarkType" :key="item.val" :label="$lang(item.name)" :value="item.val">
        </el-option>
      </el-select>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="saveRecordType">{{$lang('保存')}}</el-button>
      </div>
    </el-dialog>
  </div>

  <!--引入js-->
  <script src="./Application/Tpl/Home/Public/lib/jquery/1.9.1/jquery.min.js"></script>
  <script src="./Application/Tpl/Home/Public/js/H-ui.js"></script>
  <script src="./Application/Tpl/Home/Public/js/H-ui.admin.js?<{$Think.config.VER_NUM}>"></script>
  <!-- <script src="./Application/Tpl/Home/Public/js/vue.2.5.13.js"></script> -->
  <script  src="./Application/Tpl/Home/Public/js/vue-2.6.10.js"></script>
  <script src="./Application/Tpl/Home/Public/js/axios.min.js"></script>
  <script src="./Application/Tpl/Home/Public/js/element-ui-2.8.2.js?v=<{$Think.const.V}>"></script>

  <script src="./Application/Tpl/Home/Public/js/element-en.js">
  </script>
  <script src="./Application/Tpl/Home/Public/js/queryString.js?v=<{$Think.config.VER_NUM}>">
  </script>
  <script>

    if (getCookie('think_language') !== "zh-cn") {
      ELEMENT.locale(ELEMENT.lang.en)
    }
    var VM = new Vue({
      el: '#odm-add',
      data: {
        trademark_id: '',
        trademark_base: {
          id:'',
          trademark_name: '', //商标名称
          img_url: '', //附加文件，original_name:选择的文件名；save_name:上传后保存发文件名
          trademark_type: '', //商标类型
          register_apply_no:'',
          protect_period:'',
          trademark_no:''
        },
        trademark_detail: {
          country_code: '',//注册国家CODE
          company_code: '',//注册公司CODE
          register_code:'', // 注册编号
          apply_code:'', //申请编号
          international_type: '', //国际分类
          goods: '', //商品/服务
          initial_review_date: '',//初审公告日期
          applied_date: '',//申请日期
          register_date: '', //注册日期
          current_state: '',//当前状态
          agent: '',//代理/办理机构
          remark: '',//备注
          apply_period:'',
          apply_currency:'',
          effective_start:'',
          effective_end:'',
        },
        trademark_detail_copy: [], // 备份的各个国家注册的详细信息，用于用户取消编辑时
        commonData: {},
        imgList: [],
        dialogImageUrl: '',
        dialogVisible: false,
        btnclick: false,
        effective_date:[],
        useTrademarkType:[
          {name:'贴牌使用',val:'1'},
          {name:'店铺申请使用',val:'2'},
          {name:'授权使用',val:'3'},
        ],
        dialogFormVisible:false,
        use_trademark_type:'',
        useRecording:[],
        editableTabsValue:'1',
        editType:'',
        trademark_no:'',
        use_no:'',
        updated_by:'',
        use_type:'',
      },
      created: function () {
        this.trademark_id = this.getQueryString('id');
        this.trademark_base.id = this.getQueryString('id');
        this.trademark_no = this.getQueryString('trademark_no');
        this.trademark_base.trademark_no = this.getQueryString('trademark_no');
        this.editType = this.getQueryString('type');
        this.use_no = this.getQueryString('use_no');
        this.updated_by = this.getQueryString('updated_by');
        this.use_type = this.getQueryString('use_type');
        this.getCommonAndDetail();
        this.getAllUseRecord()
      },
      methods: {
        /**
         * 获取URL中查询字符串中相应参数的值
         *
         * @param {string} name 参数名
         * @return {(string | null)} 参数的值
         */
        queryPost: function (url, param) {
          var headers = {
            headers: {
              'Content-Type': 'application/x-www-form-urlencoded',
              'X-Requested-With': 'XMLHttpRequest'
            }
          }
          return axios.post(url, Qs.stringify(param), headers);
        },

        /**
         * 获取URL中查询字符串中相应参数的值
         *
         * @param {string} name 参数名
         * @return {(string | null)} 参数的值
         */
        getQueryString: function (name) {
          var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
          var r = window.location.search.substr(1).match(reg);
          if (r != null) return decodeURIComponent(r[2]);
          return null;
        },

        // 获取通用数据
        getCommonData: function () {
          var param = {
            data: {
              query: {
                area_code: 'true',
                trademark_type: 'true',
                current_type: 'true',
                company: 'true',
                currency:'true'
              }
            }
          };
          return axios.post("/index.php?g=oms&m=CommonData&a=commonData", param)
          // .then((res) => {
          //   var data = res.data;
          //   if (data.code === 2000) {
          //     this.commonData = data.data
          //     const arr = []
          //     data.data.area_code.forEach(element => {
          //       if (element.NAME) {
          //         arr.push({
          //           disabled: true, // 控制可否编辑
          //           country_code: element.id,
          //           country_name: element.NAME,
          //           checked: false,
          //           register_code: '', //	商标注册号
          //           international_type: '', //	国际分类
          //           goods: '', //	商品服务
          //           goods_en: '', //	goods/ services
          //           applied_date: '', //	申请日期
          //           applicant_name: '', //	申请人名称（中文）
          //           applicant_name_en: '', //	Applicant name
          //           applicant_address: '', //	申请人地址（中文）
          //           applicant_address_en: '', //	Applicant address
          //           initial_review_date: '', //	初审公告日期
          //           register_date: '', //	注册公告日期
          //           trademark_type: '', //	商标形式code
          //           trademark_type_en: '', //	Trademark Form
          //           exclusive_period: '', //	专用权限期 专用权限期
          //           inter_register_date: '', //	国际注册日期
          //           late_specified_date: '', //	后期指定日期
          //           priority_date: '', //	优先权日期
          //           agent: '', //	代理 / 办理机构
          //           agent_en: '', //	agent / agency
          //           current_state: '', //	注册状态
          //           current_state_en: '', //	Current state(同trademark_detail表current_state)
          //           remark: '', //	备注
          //         })
          //       }
          //     })
          //     this.trademark_detail = arr
          //   } else {
          //     this.$message.error(this.$lang(data.msg));
          //   }
          // }).catch(err => {
          //   console.log(err)
          // });
        },
        watchNum:function(){
          var _this = this
          _this.trademark_detail.apply_price = _this.trademark_detail.apply_price.replace(/[^\.\d]/g,'');
          _this.trademark_detail.apply_price = _this.trademark_detail.apply_price.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".").replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3')
        },

        // 获取商标详情数据
        getDetail: function () {
          if(this.editType == 'record'){
            var param={
              trademark_no:this.trademark_no
            }
          }else{
            var param={
              trademark_id:this.trademark_id
            }
          }
          return axios.post("/index.php?m=Trademark&a=getTrademarkDetail", param)
          // .then((res) => {
          //   var data = res.data;
          //   if (data.code === 200) {
          //     data.data.trademark_detail.forEach(item => {
          //       item.checked = true
          //       item.disabled = true // 控制可否编辑
          //     })
          //     this.trademark_base = data.data.trademark_base
          //     this.trademark_base.img_url = [data.data.trademark_base.img_url]
          //     this.logoUrl = window.atob(data.data.trademark_base.img_resource)
          //   } else {
          //     this.$message.error(this.$lang(data.msg));
          //   }
          // }).catch(err => {
          //   console.log(err)
          // });
        },

        getAllUseRecord:function(){
          
            axios.post('/index.php?m=Trademark&a=getAllUseRecord', {
              trademark_no: this.trademark_no
            }).then(res => {
              console.log(res);
              if (res.data.code === 200) {
                var useRecordingData = res.data.data;
                if(res.data.data){
                  

                  useRecordingData.forEach((item,index) => {
                    useRecordingData[index].name = (index+1).toString()
                    useRecordingData[index].title = this.$lang('使用记录') + (index+1).toString()

                    useRecordingData[index].authorize_period_date = [useRecordingData[index].authorize_period_start,useRecordingData[index].authorize_period_end]
                    if(item.supplier_info.length>0){
                      var related_suppliersArr = item.supplier_info
                      // var related_suppliersArr = related_suppliersStr.split(",")
                      var related_suppliersArr2 = []
                      for (var item2 in related_suppliersArr) {
                        var obj = {}
                        obj.val = related_suppliersArr[item2].id
                        obj.valShow = related_suppliersArr[item2].supplier_name
                        related_suppliersArr2.push(obj)
                      }
                      useRecordingData[index].related_suppliers2 = related_suppliersArr2
                      // this.$set(_this.tableData.list[index], 'isEdit', true);

                    }
                 

                  });

                  // this.useRecording = useRecordingData

                }else{
                  useRecordingData = [];
                  // this.useRecording = [];
                }


                this.useRecording = useRecordingData


                if(this.editType == 'view'){
                  var newTabName = useRecordingData.length
                }else if(this.editType == 'record'){
                  var newTabName = useRecordingData.length+1
                }
                // var newTabName = useRecordingData.length+1
                this.editableTabsValue = newTabName.toString()

                if(this.use_type == '1'){
                  this.useRecording.push({
                    use_type:this.use_type,
                    title:this.$lang('使用记录') +newTabName.toString(),
                    name:newTabName.toString(),
                    contract_code:this.trademark_no,
                    user_name:this.updated_by,
                    use_no:this.use_no,
                    use_evidence_file:[],
                    use_evidence_file2:[],
                  })
                }else if(this.use_type == '2'){
                  this.useRecording.push({
                    use_type:this.use_type,
                    title:this.$lang('使用记录') +newTabName.toString(),
                    name:newTabName.toString(),
                    use_no:this.use_no,
                    contract_code:this.trademark_no,
                    shop_name:'',
                    user_name:this.updated_by,
                    use_evidence_file:[],
                    use_evidence_file2:[],
                  })
                }else if(this.use_type == '3'){


                  this.useRecording.push({
                    use_type:this.use_type,
                    title:this.$lang('使用记录') +newTabName.toString(),
                    name:newTabName.toString(),
                    authorize_period_date:'',
                    authorize_period_start:'',
                    authorize_period_end:'',
                    user_name:this.updated_by,
                    authorize_body:'',
                    authorize_range:'',
                    use_no:this.use_no,
                    related_suppliers2:[{val:'',valShow:''}],
                    related_suppliers:'',
                    contract_code:this.trademark_no,
                    use_evidence_file:[],
                    use_evidence_file2:[],
                    
                  })
                }











                

              } else {
                this.$message.error(this.$lang(res.data.msg));
              }
            }).catch(err => {
              console.log(err)
            });
        },
        

        // 通用数据和商标详情数据都获取到后再操作
        getCommonAndDetail() {
          axios.all([this.getCommonData(), this.getDetail()])
            .then(axios.spread( (commonRes, detailRes) => {
              console.log('commonRes',commonRes);
              console.log('detailRes',detailRes);
              if ( commonRes.data.code === 2000 && detailRes.data.code === 200) {
                this.commonData = commonRes.data.data
                this.trademark_base.trademark_name = detailRes.data.data.trademark_base.trademark_name;
                this.trademark_base.protect_period = detailRes.data.data.trademark_base.protect_period;
                this.trademark_base.register_apply_no = detailRes.data.data.trademark_base.register_apply_no;
                this.trademark_base.img_url = JSON.parse(detailRes.data.data.trademark_base.img_url);
                this.imgList = this.trademark_base.img_url == '' ? [] : [{
                  url: this.trademark_base.img_url.show_img
                  // url: 'http://gscdn-stage.gshopper.com/pms/2019/10/e24bb6226ff96efd4e9b74f9898872ee.jpeg'
                }]
                this.trademark_base.trademark_type = detailRes.data.data.trademark_base.trademark_type;
                this.trademark_base.register_apply_no = detailRes.data.data.trademark_base.register_apply_no;
                this.trademark_detail.country_code = detailRes.data.data.trademark_detail[0].country_code;
                this.trademark_detail.company_code = detailRes.data.data.trademark_detail[0].company_code;
                this.trademark_detail.register_code = detailRes.data.data.trademark_detail[0].register_code;
                this.trademark_detail.apply_code = detailRes.data.data.trademark_detail[0].apply_code;
                this.trademark_detail.international_type = detailRes.data.data.trademark_detail[0].international_type;
                this.trademark_detail.goods = detailRes.data.data.trademark_detail[0].goods;
                this.trademark_detail.initial_review_date = detailRes.data.data.trademark_detail[0].initial_review_date;
                this.trademark_detail.applied_date = detailRes.data.data.trademark_detail[0].applied_date;
                this.trademark_detail.register_date = detailRes.data.data.trademark_detail[0].register_date;
                this.trademark_detail.current_state = detailRes.data.data.trademark_detail[0].current_state;
                this.trademark_detail.agent = detailRes.data.data.trademark_detail[0].agent;
                this.trademark_detail.remark = detailRes.data.data.trademark_detail[0].remark;
                this.trademark_detail.apply_period = detailRes.data.data.trademark_detail[0].apply_period;
                this.trademark_detail.apply_currency = detailRes.data.data.trademark_detail[0].apply_currency;
                this.trademark_detail.apply_price = detailRes.data.data.trademark_detail[0].apply_price;
                var effective_start = detailRes.data.data.trademark_detail[0].effective_start || ''
                var effective_end = detailRes.data.data.trademark_detail[0].effective_end || ''
                this.effective_date = [effective_start,effective_end]
                
              } else {
                this.$message.error(this.$lang(detailRes.data.msg))
              }
            }));
        },
        uploadSuccessRecord(res, file, fileList) {
          var index = this.editableTabsValue
          if (res.status === 1) {
            this.useRecording[index-1].use_evidence_file2 = fileList
          } else {
            this.useRecording[index-1].use_evidence_file2 = fileList
            this.$message.warning(res.info)
          }
        },
        uploadRemoveRecord(file, fileList) {
          var index = this.editableTabsValue
          this.useRecording[index-1].use_evidence_file2 = fileList
        },
        // logo上传成功
        uploadSuccess(res, file, fileList) {
          if (res.status === 1) {
            this.trademark_base.img_url = {
              original_name:res.info[0].name,
              save_name:res.info[0].savename
            }
            this.imgList = [{
              name: res.info[0].name,
              url: res.info[0].show_img,
            }]
          } else {
            this.$message.warning(res.info)
            this.$refs.upload.clearFiles()
          }
        },

        uploadExceed(files, fileList) {
          this.$message.warning(this.$lang('只能上传一张图片'))
        },

        uploadRemove() {
          this.trademark_base.img_url = ''
        },

        handlePictureCardPreview(file) {
          if(file.cdnAddr){
            this.dialogImageUrl = file.cdnAddr;
          }else{
            this.dialogImageUrl = file.url;

          }
          this.dialogVisible = true;
        },

        returnList(){
          backTab('/index.php?m=legal&a=odm', this.$lang('ODM 商标管理'))
        },

        submit() {
          if(this.editType == 'edit'){
            if (!this.trademark_base.trademark_type) {
              this.$message.warning(this.$lang('请选择商标类型'))
              return
            }
            if (!this.trademark_base.trademark_name) {
              this.$message.warning(this.$lang('请输入商标名称'))
              return
            }
            if (!this.trademark_detail.company_code) {
              this.$message.warning(this.$lang('请选择注册公司'))
              return
            }
            if (!this.trademark_detail.country_code) {
              this.$message.warning(this.$lang('请选择注册国家'))
              return
            }
            if (!this.trademark_detail.current_state) {
              this.$message.warning(this.$lang('请选择当前状态'))
              return
            }

            if (!this.trademark_detail.apply_price) {
              this.$message.warning(this.$lang('请输入申请价格'))
              return
            }
            if (!this.trademark_detail.apply_currency) {
              this.$message.warning(this.$lang('请输入申请价格币种'))
              return
            }
            if (!this.trademark_detail.apply_period) {
              this.$message.warning(this.$lang('请输入申请周期'))
              return
            }
            if (this.trademark_detail.apply_period && this.trademark_detail.apply_period.length > 20) {
              this.$message.warning(this.$lang('申请周期字数限制为20字以内'))
              return
            }
            if (!this.trademark_base.register_apply_no) {
              this.$message.warning(this.$lang('请输入关联注册单号'))
              return
            }
            if (!this.trademark_base.protect_period) {
              this.$message.warning(this.$lang('请输入商标保护期限'))
              return
            }
            if (!this.effective_date[0] || !this.effective_date[1]) {
              this.$message.warning(this.$lang('请选择商标有效期'))
              return
            }
            if (!this.trademark_detail.international_type) {
              this.$message.warning(this.$lang('请输入国际分类'))
              return
            }
            if (!Number(this.trademark_detail.international_type)) {
              this.$message.warning(this.$lang('国际分类仅支持填写数字'))
              return
            }

            this.trademark_detail.effective_start = this.effective_date[0]
            this.trademark_detail.effective_end = this.effective_date[1]

            this.btnclick = true;
            const postData = {
              trademark_base: this.trademark_base,
              trademark_detail: this.trademark_detail
            }
            console.log(postData);
            axios.post("/index.php?m=Trademark&a=updateTrademark", postData).then((res) => {
              var data = res.data;
              if (data.code === 2000) {
                this.$message.success(this.$lang('保存成功'))
                setTimeout(() => {
                  backTab('/index.php?m=legal&a=odm', this.$lang('ODM 商标管理'))
                }, 1000);              
              } else {
                this.$message.error(this.$lang(data.msg));
              }
              this.btnclick = false;
            }).catch(err => {
              console.log(err)
              this.btnclick = false;
            });

          }else if(this.editType == 'record'){
            var useRecordingArr = this.useRecording
            var suppliersStatus = true
            console.log('useRecordingArr',useRecordingArr);
          
            for (var item in useRecordingArr) {
              if(useRecordingArr[item].use_type == '2' && (!useRecordingArr[item].shop_name || useRecordingArr[item].shop_name.length > 100)){
                this.$message.warning(this.$lang('请输入店铺名称，并且字数上限为100'))
                return;
              }

              if(useRecordingArr[item].use_type == '3' && !useRecordingArr[item].authorize_period_date){
                this.$message.warning(this.$lang('请选择授权期限'))
                return;
              }

              if(useRecordingArr[item].use_type == '3' && (!useRecordingArr[item].authorize_body || useRecordingArr[item].authorize_body.length > 100)){ 
                this.$message.warning(this.$lang('请输入被授权主体，并且字数上限为100'))
                return;
              }

              if(useRecordingArr[item].use_type == '3' && (!useRecordingArr[item].authorize_range || useRecordingArr[item].authorize_range.length>100)){
                this.$message.warning(this.$lang('请输入授权范围，并且字数上限为100'))
                return;
              }
              if(useRecordingArr[item].use_type == '3' && useRecordingArr[item].related_suppliers2 && useRecordingArr[item].related_suppliers2.length > 0){
                var related_suppliers2Arr = useRecordingArr[item].related_suppliers2
                var related_suppliers2Str = ''
                related_suppliers2Arr.forEach((item2,i) => {
                    if(!item2.valShow){
                      suppliersStatus = false
                      this.$message.warning(this.$lang('关联供应商/客户请输入正确编号'))
                      return;
                    }
                   related_suppliers2Str += (i!=0 ? ',':'')+  item2.val
                });

                useRecordingArr[item].related_suppliers = related_suppliers2Str
              }
              console.log('suppliersStatus',suppliersStatus);
              if(useRecordingArr[item].use_type == '3' && !suppliersStatus){
                return;
              }

              if(useRecordingArr[item].use_evidence_file2 && useRecordingArr[item].use_evidence_file2.length > 0){
                var useRecordingFileArr = useRecordingArr[item].use_evidence_file2
                var recordArr = []
                for (var item2 in useRecordingFileArr) {
                  var obj = {}
                  obj.save_name  = useRecordingFileArr[item2].response.info.savename
                  obj.save_path  = useRecordingFileArr[item2].response.info.savepath
                  obj.origin_name  = useRecordingFileArr[item2].response.info.name
                  recordArr.push(obj)
                }
                useRecordingArr[item].use_evidence_file = recordArr
              }
              
              if(useRecordingArr[item].authorize_period_date){
                useRecordingArr[item].authorize_period_start = useRecordingArr[item].authorize_period_date[0]
                useRecordingArr[item].authorize_period_end = useRecordingArr[item].authorize_period_date[1]
              }



              // delete useRecordingArr[item].use_evidence_file2
              // delete useRecordingArr[item].related_suppliers2
              // delete useRecordingArr[item].authorize_period_date

            }


            var param = {
              trademark_no:this.trademark_no,
              info:this.useRecording
            }

            console.log('param',param);


            axios.post("/index.php?m=trademark&a=useRecordAdd", param).then((res) => {
              console.log(res);
              if (res.data.code === 200) {
                for (var item in useRecordingArr) {
                  delete useRecordingArr[item].use_evidence_file2
                  delete useRecordingArr[item].related_suppliers2
                  delete useRecordingArr[item].authorize_period_date
                }

                this.$message.success(this.$lang('保存成功'))
                setTimeout(() => {
                  backTab('/index.php?m=legal&a=use_trademark', this.$lang('使用商标'))
                }, 1000);              
              } else {
                this.$message.error(this.$lang(res.data.msg));
              }
              this.btnclick = false;
            }).catch(err => {
              console.log(err)
              this.btnclick = false;
            });


            
          }

            




        },
        saveRecordType:function(){
          if(!this.use_trademark_type){
            this.$message.warning(this.$lang('请选择商标使用类型'))
            return;
          }

          var newTabName = ((this.useRecording.length) +1).toString(); 
          if(this.use_trademark_type == '1'){
            this.useRecording.push({
              use_type:this.use_trademark_type,
              title:this.$lang('使用记录') +newTabName ,
              name:newTabName,
              contract_code:this.trademark_no,
              user_name:this.updated_by,
              use_no:this.use_no,
              use_evidence_file:[],
              use_evidence_file2:[],
            })
          }else if(this.use_trademark_type == '2'){
            this.useRecording.push({
              use_type:this.use_trademark_type,
              title:this.$lang('使用记录') +newTabName ,
              name:newTabName,
              use_no:this.use_no,
              contract_code:this.trademark_no,
              shop_name:'',
              user_name:this.updated_by,
              use_evidence_file:[],
              use_evidence_file2:[],
            })
          }else if(this.use_trademark_type == '3'){
            this.useRecording.push({
              use_type:this.use_trademark_type,
              title:this.$lang('使用记录') +newTabName ,
              name:newTabName,
              authorize_period_date:'',
              authorize_period_start:'',
              authorize_period_end:'',
              user_name:this.updated_by,
              authorize_body:'',
              authorize_range:'',
              use_no:this.use_no,
              related_suppliers2:[{val:'',valShow:''}],
              related_suppliers:'',
              contract_code:this.trademark_no,
              use_evidence_file:[],
              use_evidence_file2:[],
            })
          }
          
          this.editableTabsValue = newTabName;
          this.use_trademark_type = ''
          this.dialogFormVisible = false
        },
        removeTab:function(targetName){
          var tabs = this.useRecording;
          var activeName = this.editableTabsValue;  
          console.log('targetName',targetName);
          console.log('activeName',activeName);
          console.log('tabs',tabs);
          // if (activeName === targetName) {
          //   tabs.forEach((tab, index) => {
          //     if (tab.name === targetName) {
          //       var nextTab = tabs[index + 1] || tabs[index - 1];
          //       if (nextTab) {
          //         activeName = nextTab.name;
          //       }
          //     }
          //   });
          // }else{
          //   activeName = (Number(activeName)-1 || 1).toString()
          // }

          if(activeName == '1'){
            activeName = '1'
          }else{
            activeName = (Number(activeName)-1 || 1).toString()
          }
          
          this.editableTabsValue = activeName;
          this.useRecording = tabs.filter(tab => tab.name !== targetName);

          tabs.forEach((tab, index) => {
            if(this.useRecording[index]){
              this.useRecording[index].title = this.$lang('使用记录') + (index+1)
              this.useRecording[index].name = (index+1).toString()
            }
          });



        },
        addSuppliers:function(ind){
          var index = this.editableTabsValue
          this.useRecording[index-1].related_suppliers2.push({val:'',valShow:''})
        },
        deleteSuppliers:function(ind){
          var index = this.editableTabsValue
          this.useRecording[index-1].related_suppliers2.splice(ind, 1)
        },
        downloadFile:function(){
          var a = document.createElement('a')
          var index = this.editableTabsValue
          var trademark_name = this.trademark_base.trademark_name
          var company_name = this.trademark_detail.company_code
          var authorize_body =  this.useRecording[index-1].authorize_body
          var authorize_period_start =  this.useRecording[index-1].authorize_period_date[0]
          var authorize_period_end = this.useRecording[index-1].authorize_period_date[1]
          var created_at = this.dateFormat(new Date())


          // a.href = '/index.php?m=trademark&a=getAUthFile&trademark_name=Izene&company_name=载信软件有限公司&authorize_body=深圳华为&authorize_period_start=2021-03-01&authorize_period_end=2025-09-01&created_at=2021-03-15'


          
          a.href = '/index.php?m=trademark&a=getAUthFile&trademark_name='+trademark_name+'&company_name='+company_name+'&authorize_body='+authorize_body+'&authorize_period_start='+authorize_period_start+'&authorize_period_end='+authorize_period_end+'&created_at='+created_at
          // console.log(a);
          document.body.appendChild(a)
          a.click()
          document.body.removeChild(a)




        },
        dateFormat:function(val){
            if(val == '' || val == null ){
                return('')
            }else{
                var myMonth = val.getMonth() + 1
                var myDate = val.getDate()
                if(myMonth<10){
                    myMonth = "0" + myMonth
                }
                if(myDate<10){
                    myDate = "0" + myDate
                }
                return(val.getFullYear()+'-'+myMonth+'-' +myDate)
            }

        },
        relatedSuppliersBlur:function(val,index){
          var ind = this.editableTabsValue - 1
          axios.post("/index.php?m=Trademark&a=isRealSupplier", {"id":val}).then((res) => {
              console.log(res);
              if (res.data.code == 200 && res.data.data) {
                this.$set(this.useRecording[ind].related_suppliers2[index], 'valShow', val+'('+res.data.data.supplier_name+')');
              }else{
                this.useRecording[ind].related_suppliers2[index].val = ''
                this.$set(this.useRecording[ind].related_suppliers2[index], 'valShow', '');
              }
            }).catch(err => {
              console.log(err)
            });
        }
      },
    });

  </script>
</body>

</html>