<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/utils/css/public.style.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/element-ui-2.2.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/default.css?v=<{$Think.const.V}>">
    <title>Document</title>
</head>
<style> 
    [v-cloak]{
        display: none;
    }
    h4{
        margin: 0;
        line-height: 40px;
    }
    .entry-info{
        width: 100%;
        text-align: center;
        border-left: 1px solid #E0E0E0;
        border-bottom: 1px solid #E0E0E0;
        font-size: 15px;
        margin-bottom:20px;
    }
    .entry-info caption{
        height: 40px;
        background-color: #546E7A;
        color: white;
        text-align: left;
        font-size: 15px;
        line-height: 40px;
        padding-left: 20px;
    }
    .entry-info tr td{
        border-right: 1px solid #E0E0E0;
        border-top: 1px solid #E0E0E0;
        padding: 10px 15px;
        font-size: 14px;
    }
    .entry-info tr td:nth-child(odd){
        width: 20%;
        background: #f5fafe;
    }
    .entry-info tr td:nth-child(even){
        width: 30%;
        background: #f5fafe;
    }
    .entry-info tr td .el-input__inner{
        height: 35px;
    }
    .input-with-select .el-input-group__prepend {
        background-color: #fff;
    }
    .currency{
        width: 90px;
    }
   .el-select .el-input__inner{
        width: 100%;
    }
    .width-100{
        width: 100% !important;
    }
    .required::after{
        content: "*";
        color:red;
        margin-left: 5px;
    }
    .order-list{
        width: 100%;
        text-align: center;
        border-left: 1px solid #E0E0E0;
        border-bottom: 1px solid #E0E0E0;
        font-size: 15px;
        margin-top: -20px
    }
    .order-list tr th{
        border-right: 1px solid #E0E0E0;
        border-top: 1px solid #E0E0E0;
        padding: 10px 15px;
        font-size: 14px;
        background: #546E7A;
        color: white;
    }
    .order-list tr td{
        border-right: 1px solid #E0E0E0;
        border-top: 1px solid #E0E0E0;
        padding: 10px 15px;
        font-size: 14px;
    }
</style>
<body>
    <div id="receipt" v-cloak>
        <el-container>
            <el-header>
                <el-row>
                    <el-col :span="12"> 
                        <h4>{{$lang('流水详情')}}</h4> 
                    </el-col>
                </el-row>
            </el-header>
            <el-main>
                <table class="entry-info" border="0" cellpadding="0" cellspacing="0">
                    <caption>{{$lang('基本信息')}}</caption>
                    <tbody>
                        <tr>
                            <td>{{$lang('流水ID')}}</td>
                            <td>{{detail.account_transfer_no}}</td>
                            <td>{{$lang('流水类型')}}</td>
                            <td>{{$lang(detail.transaction_type_nme)}}</td>
                        </tr>
                        <tr>
                            <td>{{$lang('币种')}}</td>
                            <td>{{detail.currency_code_name}}</td>
                            <td>{{$lang('金额')}}</td>
                            <td>{{(detail.is_pur_loan ? detail.original_amount : detail.amount_money) | numberFormat}}</td>
                        </tr>
                        <tr>
                            <td>{{$lang('平台名称')}}</td>
                            <td>{{$lang(detail.payment_channel_cd_val)}}</td>
                            <td>{{$lang('我方账户名')}}</td>
                            <td>{{$lang(detail.company_name)}}</td>
                           
                        </tr>
                        <tr>
                            <td>{{$lang('对方账户名')}}</td>
                            <td>{{$lang(detail.opp_company_name)}}</td>
                            <td>{{$lang('我方银行或平台名称')}}</td>
                            <td>{{$lang(detail.open_bank)}}</td>
                          
                        </tr>
                        <tr>
                            <td>{{$lang('对方银行或平台名称')}}</td>
                            <td>{{$lang(detail.opp_open_bank)}}</td>
                            <td>{{$lang('我方银行账号')}}</td>
                            <td>{{$lang(detail.account_bank)}}</td>
                            
                        </tr>
                        <tr>
                            <td>{{$lang('对方银行账号')}}</td>
                            <td>{{detail.opp_account_bank}}</td>
                            <td>{{$lang('我方银行SWIFT CODE')}}</td>
                            <td>{{$lang(detail.swift_code)}}</td>
                          
                        </tr>
                        <tr>
                            <td>{{$lang('对方银行SWIFT CODE')}}</td>
                            <td>{{detail.opp_swift_code}}</td>
                            <td>{{$lang('凭证文件')}}</td>
                            <td>
                                <a style="display:block;margin-bottom: 10px;color:blue;cursor: pointer; " v-for="item in transfer_voucher" :href="'/index.php?m=order_detail&a=download&file=' + (item.savename || item.name || item.basename)">
                                    {{item.name || item.basename}}
                                </a>
                            </td>
                      
                        </tr>
                        <tr>
                            <td>{{$lang('发生日期')}}</td>
                            <td>{{detail.transfer_time}}</td>
                            <td>{{$lang('创建人')}}</td>
                            <td>{{detail.create_user}}</td>
                      
                        </tr>
                        <tr>
                            <td>{{$lang('创建时间')}}</td>
                            <td>{{detail.create_time}}</td>
                            <td>{{$lang('预分方向')}}</td>
                            <td>{{$lang(detail.collection_type_name)}}</td>
                            
                        </tr>
                        <tr>
                            <td>{{$lang('银行参考号')}}</td>
                            <td>{{detail.bank_reference_no}}</td>
                            <td>{{$lang('(银行返回的)付款原因')}}</td>
                            <td>{{detail.bank_payment_reason}}</td>

                        </tr>
                        <tr>
                            <td>{{$lang('付款细节')}}</td>
                            <td>{{$lang(detail.remark)}}</td>
                            <td>{{$lang('银行汇率')}}</td>
                            <td>{{detail.bank_rate}}</td>
                        </tr>
                        <tr>
                            <td>{{$lang('备注')}}</td>
                            <td>{{$lang(detail.our_remark)}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                
                <table class="entry-info" border="0" cellpadding="0" cellspacing="0">
                    <caption>{{$lang('金额信息')}}</caption>
                    <tbody>
                        <tr>
                            <td>{{$lang('付款方原始付款金额')}}</td>
                            <td>{{detail.original_currency_name}} 
                                <span>{{detail.original_amount | numberFormat}}</span>
                            </td>
                            <td>{{$lang('收款方实收金额')}}</td>
                            <td>{{detail.currency_code_name}} {{detail.amount_money | numberFormat}}</td>
                        </tr>
                        <tr>
                            <td>{{$lang('其他费用')}}</td>
                            <td>{{detail.other_currency_name}} {{detail.other_cost | numberFormat}}</td>
                            <td>{{$lang('汇款人费用')}}</td>
                            <td>{{detail.remitter_currencye_name}} {{detail.remitter_cost | numberFormat}}</td>
                        </tr>
                    </tbody>
                </table>

                <table class="entry-info" border="0" cellpadding="0" cellspacing="0">
                    <caption>{{$lang('关联订单信息')}}</caption>
                    <tbody>
                        <tr>
                            <td>{{$lang('已关联金额')}}</td>
                            <td>{{detail.currency_code_name}} {{detail.yes_claim_amount | numberFormat}}</td>
                            <td>{{$lang('待关联金额')}}</td>
                            <td>{{detail.currency_code_name}} {{detail.no_claim_amount | numberFormat}}</td>
                        </tr>
                    </tbody>
                </table>
                <table border="0" cellpadding="0" cellspacing="0" class="order-list">
                    <thead>
                        <tr>
                            <th>{{$lang('收支方向')}}</th>
                            <th>{{$lang('关联主订单号')}}</th>
                            <th>{{$lang('关联子订单号')}}</th>
                            <th>{{$lang('销售团队')}}</th>
                            <th>{{$lang('1级部门ID')}}</th>
                            <th>{{$lang('1级部门')}}</th>
                            <th>{{$lang('2级部门ID')}}</th>
                            <th>{{$lang('2级部门')}}</th>
                            <th>{{$lang('金额')}}</th>
                            <th>{{$lang('关联人')}}</th>
                            <th>{{$lang('关联时间')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in detail.claim_info">
                            <td>{{$lang(item.transfer_type_name)}}</td>
                            <td>{{item.order_no}}</td>
                            <td>{{item.child_order_no}}</td>
                            <td>{{item.sale_teams_name}}</td>
                            <td>{{item.department_id_1}}</td>
                            <td>{{item.department_1}}</td>
                            <td>{{item.department_id_2}}</td>
                            <td>{{item.department_2}}</td>
                            <td>{{item.claim_amount | numberFormat}}</td>
                            <td>{{item.created_by}}</td>
                            <td>{{item.created_at}}</td>
                        </tr>
                    </tbody>
                </table>
            </el-main>
        </el-container>
        <div class="text-center">
            <el-button type="warning" v-if="detail.is_show_delbtn" @click="delDialog = true">{{$lang('删除流水')}}</el-button>
        </div>
        <el-dialog :title="$lang('删除流水')" :visible.sync="delDialog" width="35%" center>
            <template>
                    <p><span style="color: red">*</span> {{this.$lang('删除流水原因')}}:</p>
                    <el-input type="text" v-model="reason" :placeholder="$lang('请输入原因')"></el-input>
            </template>
            <span slot="footer" class="dialog-footer">
                <el-button @click="delDialog = false"> {{$lang('取 消')}} </el-button>
                <el-button type="primary" @click="deleteReceipt"> {{$lang('确 定')}} </el-button>
            </span>
        </el-dialog>
    </div>
    
<!--引入js-->
<script type="text/javascript" src="./Application/Tpl/Home/Public/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/H-ui.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/utils/utils.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/H-ui.admin.js?v=<{$Think.config.VER_NUM}>"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/vue.2.5.13.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/axios.min.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/element-ui-2.2.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/element-en.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/queryString.js?v=<{$Think.config.VER_NUM}>"></script>
<script>
    if (getCookie('think_language') !== "zh-cn") {
        ELEMENT.locale(ELEMENT.lang.en)
    }

    var  vm = new Vue({
        el:'#receipt',
        data:{
            delDialog:false,
            reason:'',
            form:{
                opp_company_name:'',
                company_name:'',
                company_code:'',
                account_bank:'',
                transfer_voucher:'',
                transfer_time:'',
                collection_type:'',
                remark:'',
                currency_code:'',
                amount_money:'',
                original_currency:'',
                original_amount:'',
                other_currency:'',
                remitter_currency:'',
                remitter_cost:'',
            },
            baseData:{},
            bankData:{},
            fileList: [],
            detail:[],
            transfer_voucher:[]
        },
        created:function(){
            this.getDate();
        },
        methods: {
            getDate: function () {
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                var param = utils.parseQuery(window.location.search);
                var _this = this;
                axios.get('/index.php?&m=finance&a=getTurnoverDetail&turnover_id=' + param.turnover_id, {
                    headers: { 'Accept': '*/*' }
                }).then(function (res) {
                    _this.detail = res.data.data;
                    _this.detail.claim_info = _this.detail.claim_info === null ? [] : _this.detail.claim_info;
                    if (_this.detail.transfer_type === 'N001950500') {
                        _this.detail.claim_info.push({
                            claim_amount: "",
                            order_type: "",
                            order_no: "",
                            child_order_no: "",
                            sale_teams: "",
                            created_by: "",
                            created_at: "",
                            department_1: "",
                            department_2: "",
                            department_id_1: "",
                            department_id_2: "",
                            sale_teams_name: "",
                            transfer_type_name: _this.$lang('付款手续费')
                        });
                    }
                    _this.transfer_voucher = JSON.parse(_this.detail.transfer_voucher);
                });
            },
            deleteReceipt:function(){
                var _this = this;
                if(!this.reason){
                    this.$message.error(this.$lang('请填写删除原因'));
                }
                axios.post('/index.php?&m=finance&a=deleteReceipt',{id:this.detail.id,reason:this.reason})
                .then(function(res){
                    if(res.data.code == 2000){
                        _this.$message.success(_this.$lang('删除成功'));
                        _this.delDialog = false;
                        backTab('/index.php?m=finance&a=turnoverList','日记账');
                    }else{
                        _this.$message.error(_this.$lang(res.data.msg));
                    }
                })
            }
        },
        filters: {
            numberFormat: function (val) {
                if (val) {
                    var num = parseFloat(parseFloat(val).toFixed(2)).toLocaleString();
                    return num.indexOf('.') > 0 ? num : num + ".00";
                }
            },
        }
    })
</script>
</body>
</html>

 