<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/utils/css/public.style.css?v=<{$Think.config.VER_NUM}>">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/element-ui-2.2.css?v=<{$Think.config.VER_NUM}>">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/default.css?v=<{$Think.config.VER_NUM}>">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/normailize.css?v=<{$Think.config.VER_NUM}>">
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/icon/css/font-awesome.min.css?v=<{$Think.config.VER_NUM}>">
    <link rel="stylesheet" href="./Application/Tpl/Oms/Public/css/list_common.css?v=<{$Think.config.VER_NUM}>">
    <link rel="stylesheet" href="./Application/Tpl/Oms/Order/orderList.css?v=<{$Think.config.VER_NUM}>">
    <title>报价列表</title>
</head>
<style>
    .el-input {
        width: 95%;
    }

    .el-date-editor .el-range-input {
        width: 35%;
    }
    .el-form-item__label{
        display: flex;
        line-height: normal;
        height: 40px;
        align-items: center;
    }
</style>

<body class="orderList">
    <div id="list" class="list-common" v-cloak style="margin-bottom:220px">
        <!-- 搜索查询 start-->
        <div class="orderList-search search-common">
            <div class="search-toggle">
                <el-row>
                    <el-col :span="4" class="title-info-container">
                        <div class="title-info">
                            {{$lang('报价流程节点')}}
                        </div>
                    </el-col>
                    <el-col :span="20" class="search-item-i">
                        <span :class="{active:item.flag}" @click="selectAllProgress(item, index)" class="channel-item" v-for="(item, index) in baseData.scm_step"
                            :key="index">{{$lang(item.CD_VAL)}}</span>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="4" class="title-info-container">
                        <div class="title-info">
                            {{$lang('中标情况')}}
                        </div>
                    </el-col>
                    <el-col :span="20" class="search-item-i">
                        <span :class="{active:item.flag}" @click="selectwinningProgress(item, index)" class="channel-item" v-for="(item, index) in baseData.scm_quotation_chosen">{{$lang(item.CD_VAL)}}</span>
                    </el-col>
                </el-row>
            </div>
            <el-row>
                <el-col :span="4" class="title-info-container">
                    <div class="title-info">
                        {{$lang('报价节点状态')}}
                    </div>
                </el-col>
                <el-col :span="20" class="search-item-i">
                    <span :class="{active:item.flag}" @click="selectpurchaseProgress(item, index)" class="channel-item" v-for="(item, index) in baseData.scm_quotation_status">{{$lang(item.CD_VAL)}}</span>
                </el-col>
            </el-row>
            <!-- 排序方式 end-->
            <!-- 搜索查询 start-->
            <el-form ref="form" label-width="90px" :label-position="labelPosition">
                <el-row>
                    <el-col :span="6">
                        <el-form-item :label="$lang('货源国家')">
                            <el-select filterable :popper-append-to-body="false" multiple v-model="source_country" :placeholder="$lang('请选择货源国家')" style="width:100%;padding:0;">
                                <el-option v-for="(item, index) in GoodsCountries" :key="index" :label="item.NAME" :value="item.ID"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item :label="$lang('付款周期')">
                            <el-select :popper-append-to-body="false" v-model="form.payment_cycle" :placeholder="$lang('请选择付款周期')" style="width:100%;padding:0;">
                                <el-option v-for="item in baseData.payment_cycle" :label="$lang(item.CD_VAL)" :value="item.CD" :key="item.CD"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item :label="$lang('采购编号')">
                            <el-input v-model="quotation_code" :placeholder="$lang('请输入采购编号')"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item :label="$lang('供应商')">
                            <el-input v-model="supplier" :placeholder="$lang('请输入供应商')"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="6">
                        <el-form-item :label="$lang('采购同事')">
                            <el-input v-model="purchaser" :placeholder="$lang('请输入采购同事')"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item :label="$lang('采购团队')">
                            <el-select filterable :popper-append-to-body="false" v-model="form.purchase_team" :placeholder="$lang('请选择采购团队')" style="width:100%;padding:0;">
                                <el-option v-for="item in baseData.purchase_team" :label="item.CD_VAL" :value="item.CD" :key="item.CD"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item :label="$lang('创建日期')">
                            <el-date-picker style="width:95%;height: 40px;" value-format="yyyy-MM-dd" size="small" v-model="form.dateRange" type="daterange"
                                align="right" unlink-panels :range-separator="$lang('至')" :start-placeholder="$lang('开始日期')"
                                :end-placeholder="$lang('结束日期')" :picker-options="pickerOptions"></el-date-picker>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item :label="$lang('法务审批人')">
                            <el-input v-model="legal_man" :placeholder="$lang('法务审批人')"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="6">
                        <el-input :placeholder="$lang('请输入内容')" v-model="keyword" class="input-with-select" style="margin-left: 1%;">
                            <el-select :popper-append-to-body="false" v-model="keyword_type" slot="prepend" :placeholder="$lang('商品名称')">
                                <el-option :label="$lang('商品名称')" value="0"></el-option>
                                <el-option label="SKUID/BarCode" value="1"></el-option>
                            </el-select>
                        </el-input>
                    </el-col>
                </el-row>
                <div class="btns">
                    <button @click="doSearch" class="btn-search" name="search" type="button">
                        {{$lang('搜索')}}
                    </button>
                    <button @click="doReset" class="btn-reset" name="reset" type="button">
                        {{$lang('重置')}}
                    </button>
                </div>
            </el-form>
            <!-- 搜索查询 end-->
        </div>
        <!-- 分割线 start-->
        <div class="orderList-line line-split"></div>
        <!-- 分割线 end-->
        <!-- 订单表格主体 start-->
        <div class="orderList-Main list-common-main">
            <header>
                <el-row>
                    <el-col :span="16">
                       {{$lang('搜索结果:共')}}
                            <span class="num-bold">{{totalCount}}</span>
                            {{$lang('条记录')}}
                    </el-col>
                </el-row>
            </header>

            <el-table border show-header :data="listData" tooltip-effect="dark" style="width: 100%" class="order-list-table table-common"
                v-loading="tableLoading">
                <el-table-column prop="quotation_code" :label="$lang('采购编号')"></el-table-column>
                <el-table-column :label="$lang('需求类型')">
                        <template slot-scope="scope">
                                {{$lang(scope.row.demand_type)}}
                        </template>
                </el-table-column>
                <el-table-column  :label="$lang('供应商')">
                        <template slot-scope="scope">
                                {{$lang(scope.row.supplier)}}
                        </template>
                </el-table-column>
                <el-table-column prop="goods_name" :label="$lang('商品名称')">
                    <template slot-scope="scope">
                        {{$lang(scope.row.goods_name)}}
                    </template>
                </el-table-column>
                <el-table-column :label="$lang('采购金额（含税）')">
                    <template slot-scope="scope">
                        {{scope.row.currency}} {{scope.row.amount | separatNum}}
                    </template>
                </el-table-column>
                <!-- <el-table-column prop="ce_level" label="采购CE"></el-table-column> -->
                <el-table-column prop="purchase_team" :label="$lang('采购团队')"></el-table-column>
                <el-table-column  :label="$lang('报价流程节点')">
                        <template slot-scope="scope">
                                {{$lang(scope.row.step)}}
                        </template>
                </el-table-column>
                <el-table-column  :label="$lang('报价节点状态')">
                        <template slot-scope="scope">
                                {{$lang(scope.row.status)}}
                        </template>
                </el-table-column>
                <el-table-column prop="create_time" :label="$lang('创建时间')"></el-table-column>
                <el-table-column :label="$lang('操作')">
                    <template slot-scope="scope">
                        <el-button type="success" size="small" @click="viewDraft(scope.row.id)">
                            {{$lang('查看')}}
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>

            <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page.sync="form.p"
                :page-sizes="[10, 30, 50, 100]" :page-size="form.rows" layout="sizes,prev, pager, next, jumper" :total="totalCount"></el-pagination>
        </div>
        <!-- 订单表格主体 end-->
    </div>
    <script type="text/javascript" src="./Application/Tpl/Home/Public/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="./Application/Tpl/Home/Public/js/H-ui.js"></script>
    <script type="text/javascript" src="./Application/Tpl/Home/Public/utils/utils.js?v=<{$Think.config.VER_NUM}>"></script>
    <script type="text/javascript" src="./Application/Tpl/Home/Public/js/H-ui.admin.js?v=<{$Think.config.VER_NUM}>"></script>
    <script type="text/javascript" src="./Application/Tpl/Home/Public/js/vue.2.5.13.js?<{$Think.config.VER_NUM}>"></script>
    <script type="text/javascript" src="./Application/Tpl/Home/Public/js/axios.min.js"></script>
    <script type="text/javascript" src="./Application/Tpl/Home/Public/js/element-ui-2.2.js"></script>
    <script type="text/javascript" src="./Application/Tpl/Home/Public/js/queryString.js?v=<{$Think.config.VER_NUM}>"></script>
    <script type="text/javascript" src="./Application/Tpl/Home/Public/js/element-en.js"></script>
    <script>
        if(getCookie('think_language') !== "zh-cn" ){
            ELEMENT.locale(ELEMENT.lang.en)
        }
        re = new Vue({
            el: '#list',
            data: {
                tableLoading: true,
                labelPosition: 'left',
                listData: [],
                totalCount: 10,
                GoodsCountries: [],
                ceRating: ["S", "A", "B", "C", "D", "F"],
                quotation_code: '',
                supplier: '',
                purchaser: '',
                keyword: '',
                keyword_type: '',
                min_profit_margin: undefined,
                max_profit_margin: undefined,
                legal_man: '',
                source_country: [],
                // delivery_type: [],
                ce_level: [],
                baseData: {},
                form: {
                    step: [],
                    chosen: [],
                    status: [],
                    source_country: [],
                    payment_cycle: '',
                    quotation_code: '',
                    supplier: '',
                    purchaser: '',
                    purchase_team: '',
                    keyword: '',
                    keyword_type: '',
                    legal_man: '',
                    ce_level: [],
                    min_profit_margin: undefined,
                    max_profit_margin: undefined,
                    min_create_time: undefined,
                    max_create_time: undefined,
                    dateRange: '',
                    rows: 10,
                    p: 1,
                },
                pickerOptions: {

                },
                queryPost: function (url, param) {
                    var headers = {
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                            'X-Requested-With': 'XMLHttpRequest'
                        }
                    }
                    return axios.post(url, Qs.stringify(param), headers);
                }
            },
            created: function () {
                this.pickerOptions = {
                    shortcuts: [{
                        text: this.$lang('最近一周'),
                        onClick: function (picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: this.$lang('最近一个月'),
                        onClick: function (picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: this.$lang('最近三个月'),
                        onClick: function (picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                            picker.$emit('pick', [start, end]);
                        }
                    }]
                }
                this.getListData();
                this.getBaseData();
                this.getGoodsCountries();
            },
            methods: {
                getBaseData() {
                    let param = {
                        cd_type: {
                            scm_demand_status: true,
                            scm_quotation_chosen: true,
                            purchase_team: true,
                            scm_quotation_chosen: true,
                            delivery_type: true,
                            scm_quotation_status: true,
                            payment_cycle: true,
                            scm_step: false
                        }
                    }
                    this.queryPost("/index.php?g=common&m=index&a=get_cd", param).then((res) => {
                        var _data = res.data;
                        if (_data.code === 2000) {
                            _data.data.scm_quotation_chosen.unshift({
                                CD: "",
                                flag: true,
                                CD_VAL: this.$lang('全部')
                            });
                            _data.data.scm_quotation_status.unshift({
                                CD: "",
                                flag: true,
                                CD_VAL: this.$lang('全部')
                            });

                            _data.data.scm_step.splice(0, 2); //报价列表的总进度比需求列表的总进度少了前两个
                            _data.data.scm_step.unshift({
                                CD: "",
                                flag: true,
                                CD_VAL: this.$lang('全部')
                            });

                            this.baseData = _data.data;
                        } else {
                            this.$message.error(this.$lang(_data.msg));
                        }
                    }).catch(function (err) {
                        console.log(err);
                    });
                },
                //获取货源国家
                getGoodsCountries: function () {
                    this.queryPost("/index.php?g=common&m=index&a=get_address").then((res) => {
                        var _data = res.data;
                        if (_data.code === 2000) {
                            this.GoodsCountries = _data.data;
                        } else {
                            this.$message.error(this.$lang(_data.msg));
                        }
                    }).catch(function (err) {
                        console.log(err);
                    });
                },
                getListData: function () {
                    this.tableLoading = true;

                    this.form.min_create_time = this.form.dateRange && this.form.dateRange[0];
                    this.form.max_create_time = this.form.dateRange && this.form.dateRange[1];

                    this.queryPost("/index.php?g=scm&m=quotation&a=quotation_list&p=" + this.form.p, this.form).then((res) => {
                        var _data = res.data;
                        if (_data.code == 2000) {
                            this.tableLoading = false;
                            this.listData = _data.data.list || [];
                            this.totalCount = _data.data.page.total_rows - 0;
                        } else {
                            this.$message.error(this.$lang('获取列数据失败'));
                        }
                    }).catch(function (err) {
                        console.log(err);
                    });
                },
                selectAllProgress: function (item, index) {
                    this.$set(item, "flag", !item.flag);
                    this.multiSelect('scm_step', 'step', item);
                    this.form.p = 1;
                },
                selectwinningProgress: function (item, index) {
                    this.$set(item, "flag", !item.flag);
                    this.multiSelect('scm_quotation_chosen', 'chosen', item);
                    this.form.p = 1;
                },
                selectpurchaseProgress: function (item, index) {
                    this.$set(item, "flag", !item.flag);
                    this.multiSelect('scm_quotation_status', 'status', item);
                    this.form.p = 1;
                },
                multiSelect: function (baseName, selName, item) {
                    if (item.CD) {
                        item.flag && this.form[selName].push(item.CD) || (this.form[selName] = this.form[selName].filter(v => v != item.CD));
                        this.baseData[baseName][0].flag = !this.form[selName].length;
                    } else {
                        this.form[selName].splice(0, this.form[selName].length);
                        this.baseData[baseName].map(v => v.flag = false);
                        this.baseData[baseName][0].flag = true;
                    };
                },
                doSearch: function () {
                    this.form.quotation_code = this.quotation_code;
                    this.form.supplier = this.supplier;
                    this.form.purchaser = this.purchaser;
                    this.form.keyword = this.keyword;
                    this.form.min_profit_margin = this.min_profit_margin;
                    this.form.max_profit_margin = this.max_profit_margin;
                    this.form.keyword_type = this.keyword_type;
                    this.form.source_country = this.source_country;
                    this.form.legal_man = this.legal_man;
                    this.form.ce_level = this.ce_level;

                    this.getListData(this.form);
                },
                doReset: function () {
                    this.quotation_code = '';
                    this.keyword_type = '';
                    this.supplier = '';
                    this.purchaser = '';
                    this.keyword = '';
                    this.min_profit_margin = undefined;
                    this.max_profit_margin = undefined;
                    this.source_country = [];
                    this.legal_man = '';
                    this.ce_level = [];

                    this.resetButton(this.baseData.scm_quotation_status);
                    this.resetButton(this.baseData.scm_quotation_chosen);
                    this.resetButton(this.baseData.scm_step);

                    this.form = {
                        step: [],
                        chosen: [],
                        status: [],
                        source_country: [],
                        payment_cycle: '',
                        legal_man: '',
                        quotation_code: '',
                        supplier: '',
                        purchaser: '',
                        purchase_team: '',
                        keyword: '',
                        keyword_type: '',
                        ce_level: [],
                        min_profit_margin: undefined,
                        max_profit_margin: undefined,
                        min_create_time: undefined,
                        max_create_time: undefined,
                        dateRange: '',
                        rows: 10,
                        p: 1,
                    };
                },
                resetButton: function (_arr) {
                    for (var i = 0, len = _arr.length; i < len; i++) {
                        _arr[i].flag = i ? false : true;
                    };
                },
                handleSizeChange: function (val) {
                    this.form.rows = val;
                },
                handleCurrentChange: function (val) {
                    this.form.p = val;
                },
                viewDraft: function (id) {
                    this.route(this.$lang('采购详情'), "purchases", id);
                },
                route: function (title, _html, type) {
                    var dom = document.createElement("a"),
                        _href = "/index.php?g=scm&m=display&a=" + _html + "&type=" + type;
                    dom.setAttribute("onclick", "opennewtab(this,'" + title + "')");
                    dom.setAttribute("_href", _href);
                    dom.click();
                },

            },
            //监听数据
            watch: {
                form: {
                    handler(newValue, oldValue) {
                        this.getListData(newValue);
                    },
                    deep: true
                }

            },
            //过滤器
            filters: {
                separatNum: function (num) {//千分位方法
                    if (!num) {
                        return
                    };
                    num = num + "";
                    var _arr = num.split(".");
                    return _arr[1] === "00" ? (num - 0).toLocaleString() + ".00" : (num - 0).toLocaleString();
                },
            }
        })
    </script>
</body>

</html>
