<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <{Think.lang.时间参数配置}>
    </title>

    <link href="../Public/css/H-ui-3.1.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../Public/css/stock.css?v=<{$Think.const.V}>" />
    <link rel="stylesheet" type="text/css" href="../Public/lib/Hui-iconfont/1.0.7/iconfont.css?v=<{$Think.const.V}>" />
    <link rel="stylesheet" href="./Application/Tpl/Home/Public/css/element-ui-2.13.0.css?v=<{$Think.const.V}>">
    <link rel="stylesheet" type="text/css" href="../Public/css/style.css?v=<{$Think.const.V}>" />
    <link rel="stylesheet" type="text/css" href="../Public/css/default.css?v=<{$Think.const.V}>" />
    <style>
        [v-cloak] {
            display: none;
        }

        .el-tabs__nav-wrap::after,
        .el-tabs__active-bar {
            height: 0;
        }


        .tabs {
            padding-left: 20px;
        }

        .es-content {
            margin-top: 20px;
        }

        .button-group {
            margin-top: 20px;
        }

        .el-table__row:hover>td {
            background: #fff !important;
        }

        .hide-hover {
            background: #fff !important;
        }

        /* element 样式 */
        .el-tabs__active-bar {
            background: #FF5224;
            width: 40px;
        }

        .el-tabs__nav-wrap::after {
            display: none;
        }

        .el-tabs__item.is-top {
            font-family: PingFangSC-Semibold;
            font-size: 18px;
            color: #263238;
            letter-spacing: 0;
            outline: none;
            border: none;
            box-shadow: none;
        }

        .el-tabs__item.is-active {
            font-weight: 600;
        }

        .el-tabs__item:focus.is-active.is-focus:not(:active) {
            box-shadow: none;
        }
    </style>
</head>

<body>
    <div id="estimateDate" v-cloak>
        <el-tabs v-model="activeTab" class="tabs" @tab-click="handleChangeTab">
            <el-tab-pane :label="$lang('预估周期')" name="estimate_cycle">
                <div class="es-container">
                    <div class="es-header">
                        <div>
                            <el-form :model="cycleForm">
                                <el-form-item :label="$lang('预估周期')">
                                    <el-date-picker v-model="cycleForm.date" type="daterange" @change="getData"
                                        value-format="yyyy-MM-dd" :range-separator="$lang('至')"
                                        :start-placeholder="$lang('开始日期')" :end-placeholder="$lang('结束日期')">
                                    </el-date-picker>
                                </el-form-item>
                            </el-form>
                        </div>
                    </div>
                    <div class="baseline"></div>
                    <div class="use-row operate">
                        <div class="col-100" style="text-align: right; margin-right: 30px;">
                            <el-button type="primary" @click="handleAddOrCancelEs('add')">{{$lang('新增预估周期')}}
                            </el-button>
                            <el-button type="primary" @click="handleShowLog">
                                {{$lang('查看操作日志')}}</el-button>
                        </div>
                    </div>
                    <div class="es-content">
                        <el-table :data="esData" border class="table-list" v-loading="loading"
                            row-class-name="hide-hover">
                            <el-table-column prop="id" label="#"></el-table-column>
                            <el-table-column :label="$lang('预估周期')">
                                <template slot-scope="scope">
                                    <div>{{scope.row.start_time}} ~ {{scope.row.end_time}}</div>
                                </template>
                            </el-table-column>
                            <el-table-column :label="$lang('操作')">
                                <template slot-scope="scope">
                                    <div v-if="scope.row.status === 1">{{$lang('该周期预估报告已生成，不可编辑')}}</div>
                                    <el-button size="small" v-else @click="handleEsEdit(scope.row)">{{$lang('编辑')}}
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <div class="use-row pagination">
                            <div class="col-100 text-right">
                                <el-pagination background @size-change="handleEsPageSize" @current-change="handleEsPage"
                                    layout="sizes, prev, pager, next" :page-sizes="[10, 50, 100]" :total="esTotal">
                                </el-pagination>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 操作日志dialog -->
                <el-dialog :title="$lang('操作日志')" :visible.sync="showEsLog">
                    <el-table :data="esLogs" border align="center" :header-cell-style="getRowClass">
                        <el-table-column :label="$lang('操作日志')">
                            <el-table-column prop="operating_time" :label="$lang('操作时间')"></el-table-column>
                            <el-table-column prop="operator" :label="$lang('操作人')"></el-table-column>
                            <el-table-column prop="message" :label="$lang('详细信息')"></el-table-column>
                        </el-table-column>
                    </el-table>
                    <div slot="footer" class="dialog-footer">
                        <div class="col-100 text-right">
                            <el-pagination background @size-change="handleLogSize" @current-change="handleLogCurrent" layout="sizes, prev, pager, next" :page-sizes="[10, 50, 100]"
                                :total="logTotal">
                            </el-pagination>
                        </div>
                    </div>
                </el-dialog>
                <!-- 新增dialog -->
                <el-dialog :title="type === 'add' ? $lang('新增预估周期') : $lang('编辑预估周期')" :visible.sync="addEs"
                    @close="handleAddModal">
                    <el-form :rules="esRules" :model="addCycleForm" label-width="100px" ref="esForm">
                        <el-form-item :label="$lang('预估周期')" prop="date">
                            <el-date-picker v-model="addCycleForm.date" value-format="yyyy-MM-dd"
                                @change="handleValidDate" type="daterange" :range-separator="$lang('至')"
                                :start-placeholder="$lang('开始日期')" :end-placeholder="$lang('结束日期')">
                            </el-date-picker>
                        </el-form-item>
                        <el-form-item>
                            <div class="use-row">
                                <div class="col-100" style="padding-left: 70px;">
                                    <el-button :loading="bLoading" v-if="type === 'add'" @click="handleSubmit">
                                        {{$lang('确认')}}</el-button>
                                    <el-button :loading="bLoading" v-else @click="handleEditEs">{{$lang('确认')}}
                                    </el-button>
                                    <el-button @click="handleAddOrCancelEs">{{$lang('取消')}}</el-button>
                                </div>
                            </div>
                        </el-form-item>
                    </el-form>
                </el-dialog>
            </el-tab-pane>
            <el-tab-pane :label="$lang('预估截止时间')" name="estimate_deadline">
                <div class="deadline">
                    {{$lang('预估截止时间: ')}} {{weekFormat(deadlineData.day_of_week)}} {{deadlineData.hour + $lang('时')}}
                    {{deadlineData.minute + $lang('分')}}
                    <el-button size="small" @click="handleDlEditDialog">{{$lang('编辑')}}</el-button>
                    <el-button size="small" @click="handleDeadlineLog">{{$lang('查看操作日志')}}</el-button>
                </div>
                <el-dialog :title="$lang('预估截止时间')" :visible.sync="showDl">
                    <el-select v-model="dlForm.day_of_week" :placeholder="$lang('请选择')">
                        <el-option v-for="week in 7" :key="week" :label="weekFormat(week - 1)" :value="week - 1">
                        </el-option>
                    </el-select>
                    <el-select v-model="dlForm.hour" :placeholder="$lang('请选择')">
                        <el-option v-for="hour in 24" :key="hour" :label="hourFormat(hour - 1)" :value="hourFormat(hour - 1)">
                        </el-option>
                    </el-select>
                    <span>{{$lang('时')}}</span>
                    <el-select v-model="dlForm.minute" :placeholder="$lang('请选择')">
                        <el-option v-for="hour in 60" :key="hour" :label="hourFormat(hour - 1)"
                            :value="hourFormat(hour - 1)">
                        </el-option>
                    </el-select>
                    <span>{{$lang('分')}}</span>
                    <div class="button-group">
                        <el-button @click="handleEditDeadline">{{$lang('确认')}}</el-button>
                        <el-button @click="handleCancelDl">{{$lang('取消')}}</el-button>
                    </div>
                </el-dialog>
                <!-- 操作日志 -->
                <el-dialog :title="$lang('操作日志')" :visible.sync="showDeadlineLog">
                    <div>
                        <el-table :data="dlLogs" border :header-cell-style="getRowClass" align="center">
                            <el-table-column :label="$lang('操作日志')">
                                <el-table-column prop="operating_time" :label="$lang('操作时间')"></el-table-column>
                                <el-table-column prop="operator" :label="$lang('操作人')"></el-table-column>
                                <el-table-column prop="message" :label="$lang('详细信息')"></el-table-column>
                            </el-table-column>
                        </el-table>
                        <div slot="footer" class="dialog-footer">
                            <div class="col-100 text-right">
                                <el-pagination background @size-change="handleDlLogSize" @current-change="handleDlLogCurrent" layout="sizes, prev, pager, next" :page-sizes="[10, 50, 100]"
                                    :total="dlLogTotal">
                                </el-pagination>
                            </div>
                        </div>
                    </div>
                </el-dialog>
            </el-tab-pane>
        </el-tabs>
    </div>
</body>
<script src="../Public/lib/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../Public/js/H-ui.js"></script>
<script type="text/javascript" src="../Public/js/H-ui.admin.js?v=<{$Think.config.VER_NUM}>"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/vue.2.5.13.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/element-ui-2.2.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/axios.min.js"></script>
<script type="text/javascript" src="./Application/Tpl/Home/Public/js/element-en.js"></script>
<script type="text/javascript" src="../Public/js/request.js?v=<{$Think.const.V}>"></script>
<script>
    if (getCookie("think_language") !== "zh-cn") {
        ELEMENT.locale(ELEMENT.lang.en);
    }
    var app = new Vue({
        name: "estimate_date",
        el: "#estimateDate",
        data() {
            return {
                activeTab: 'estimate_cycle',
                cycleForm: {
                    date: [],
                    page: 1,
                    pageSize: 10,
                },
                addCycleForm: {
                    date: [],
                },
                type: 'add',
                bLoading: false,
                loading: false,
                esRules: {
                    date: [
                        { required: true, message: this.$lang('请选择预估周期'), trigger: 'blur' },
                    ],
                },
                addEs: false,
                // 预估周期数据
                esData: [],
                esTotal: 1,
                showEsLog: false,
                logParams: {
                    page: 1,
                    pageSize: 10,
                    log_type: 'cycle',
                },
                dlLogParams: {
                    page: 1,
                    pageSize: 10,
                    log_type: 'estimate_deadline',
                },
                esLogs: [],
                deadlineData: {
                    day_of_week: '',
                    hour: '',
                    minute: ''
                },
                showDeadlineLog: false,
                dlLogs: [],
                logTotal: 0,
                dlLogTotal: 0,
                showDl: false,
                dlForm: {
                    week: '',
                    hours: '',
                    minute: ''
                }
            }
        },
        created() {
            this.getData();
        },
        methods: {
            getData() {
                const [start_time, end_time] = this.cycleForm.date || [];
                this.loading = true;
                const params = {
                    page: this.cycleForm.page,
                    pageSize: this.cycleForm.pageSize,
                    start_time,
                    end_time,
                }
                request('estimateCycle/queryEstimateCycle', params, 'insight').then(res => {
                    this.loading = false;
                    if (res.success) {
                        this.esData = res.datas;
                        this.esTotal = res.totalCount || 0;
                    }
                })

            },
            handleChangeTab() {
                if (this.activeTab === 'estimate_deadline') {
                    if (!this.deadlineData.deadline_time) {
                        this.getDeadlineData();
                    }
                }
            },
            getDeadlineData() {
                request('estimateCycle/queryEstimateDeadline', {}, 'insight').then(res => {
                    if (res.success) {
                        this.deadlineData = {
                            day_of_week: res.datas.day_of_week,
                            hour: this.timeFormat(res.datas.deadline_time, 'hour'),
                            minute: this.timeFormat(res.datas.deadline_time, 'minute')
                        };
                    }
                })
            },
            // 取消添加预估周期
            handleAddOrCancelEs(type = 'add') {
                this.addEs = !this.addEs;
            },
            handleAddModal() {
                this.addCycleForm = {
                    date: []
                }
                this.type = 'add';
                this.$refs.esForm.resetFields();
            },
            handleEsEdit(row) {
                this.addEs = true;
                this.type = 'edit';
                const form = Object.assign({}, row);
                this.addCycleForm = {
                    date: [form.start_time, form.end_time],
                    id: form.id
                }
            },
            handleEsPageSize(size) {
                this.cycleForm.pageSize = size;
                this.getData();
            },
            handleEsPage(current) {
                this.cycleForm.page = current;
                this.getData();
            },
            handleShowLog() {
                this.showEsLog = !this.showEsLog
                if (this.showEsLog) {
                    this.getEsLogs();
                }
            },
            getEsLogs() {
                const params = Object.assign({}, this.logParams);
                request('profitAndLossEstimateLog/queryLog', params, 'insight').then(res => {
                    if (res.success) {
                        this.esLogs = res.datas;
                        this.logTotal = res.totalCount
                    }
                })
            },
            handleLogCurrent(current) {
                this.logParams.page = current;
                this.getEsLogs();
            },
            handleLogSize(size) {
                this.logParams.pageSize = size;
                this.getEsLogs();
            },
            getDlLogs() {
                const params = Object.assign({}, this.dlLogParams);
                request('profitAndLossEstimateLog/queryLog', params, 'insight').then(res => {
                    if (res.success) {
                        this.dlLogs = res.datas;
                        this.dlLogTotal = res.totalCount
                    }
                })
            },
            handleDlLogCurrent(current) {
                this.dlLogParams.page = current;
                this.getDlLogs();
            },
            handleDlLogSize(size) {
                this.dlLogParams.pageSize = size;
                this.getDlLogs();
            },
            handleSubmit() {
                this.$refs.esForm.validate(valid => {
                    if (!valid) return;
                    const [start_time, end_time] = this.addCycleForm.date;
                    const params = {
                        start_time,
                        end_time
                    };
                    const validateDate = this.handleValidDate(this.addCycleForm.date);
                    if (!validateDate) return;
                    this.bLoading = true;
                    request('estimateCycle/addEstimateCycle', params, 'insight').then(res => {
                        this.bLoading = false;
                        if (res.success) {
                            this.$message.success(this.$lang(res.msg));
                            this.addEs = false;
                            setTimeout(() => {
                                this.getData();
                            }, 1000)
                        }
                    })
                })
            },
            handleEditEs() {
                this.$refs.esForm.validate(valid => {
                    if (!valid) return;
                    const [start_time, end_time] = this.addCycleForm.date;
                    const params = {
                        start_time,
                        end_time
                    };
                    if (this.addCycleForm.id) {
                        params.id = this.addCycleForm.id
                    }
                    const validateDate = this.handleValidDate(this.addCycleForm.date);
                    if (!validateDate) return;
                    this.bLoading = true;
                    request('estimateCycle/editEstimateCycle', params, 'insight').then(res => {
                        this.bLoading = false;
                        if (res.success) {
                            this.$message.success(res.msg);
                            this.addEs = false;
                            this.getData();
                        }
                    })
                })
            },
            handleDeadlineLog() {
                this.showDeadlineLog = !this.showDeadlineLog;
                if (this.showDeadlineLog) {
                    this.getDlLogs();
                }
            },
            handleDlEditDialog() {
                this.showDl = !this.showDl;
                this.dlForm = Object.assign({}, this.deadlineData);
            },
            handleEditDeadline() {
                const params = {
                    day_of_week: this.dlForm.day_of_week,
                    deadline_time: this.dlForm.hour + ':' + this.dlForm.minute
                }
                this.bLoading = true;
                request('estimateCycle/editEstimateDeadline', params, 'insight').then(res => {
                    this.bLoading = false;
                    if (res.success) {
                        this.$message.success(this.$lang(res.msg));
                        this.showDl = false;
                        this.getDeadlineData();
                    }
                })
            },
            hourFormat(hour) {
                let newHour = hour < 10 ? '0' + hour : hour;
                return newHour;
            },
            timeFormat(time, type) {
                if (!time) return time;
                return type === 'hour' ? time.split(':')[0] : time.split(':')[1];
            },
            weekFormat(week) {
                var weeks = {
                    0: '周一',
                    1: '周二',
                    2: '周三',
                    3: '周四',
                    4: '周五',
                    5: '周六',
                    6: '周日',
                }
                return this.$lang(weeks[week]);
            },
            handleCancelDl() {
                this.showDl = false;
                this.dlForm = {
                    week: '',
                    hours: '',
                    minute: ''
                }
            },
            getRowClass({ row, column, rowIndex, columnIndex }) {
                if (rowIndex === 0) {
                    return 'background: #546e7a;color: #fff;'
                }
            },
            handleValidDate(date) {
                const [startDate, endDate] = date || [];
                if (!startDate || !endDate) return;
                const startDateArray = startDate.split('-');
                const endDateArray = endDate.split('-');
                if (startDateArray[0] !== endDateArray[0] || startDateArray[1] !== endDateArray[1]) {
                    this.$message.warning(this.$lang('时间范围不能跨月'));
                    return;
                } else {
                    return true;
                }
            },
        }
    });
</script>

</html>