#order-list {
  padding: 20px 20px 0px 30px;
}

.orderList-search {
  position: relative;
}

.orderList-search .search-toggle-btn {
  position: absolute;
  right: 0;
  bottom: 20px;
}

.sort-item {
  margin: 2px 10px 20px 0px;
}

.sort-item > span {
  font-size: 13px;
}

.search-keywords {
  width: 200px;
  margin-right: 30px;
}

.contain-remark {
  border: 1px solid #282828;
  border-radius: 4px;
  font-family: MicrosoftYaHei;
  font-size: 13px;
  color: #282828;
  letter-spacing: 0;
  line-height: 24px !important;
}

.contain-remark.isActive {
  color: #0375DE;
  border: 1px solid #0375DE;
}

.orderList-Main > header {
  margin: 20px 0px;
}

.order-list-table.table-common tr th {
  background: #546E7A;
  color: #fff;
}

.order-list-table.table-common tr td {
  font-size: 12px;
  padding: 10px 0px;
}

.el-table.order-list-table th > .cell,
.el-table.order-list-table td > .cell {
  text-align: center;
  line-height: 18px;
}

.num-bold {
  font-weight: 600;
}

.el-pagination {
  float: right;
  margin: 20px 0px 100px;
}

.export-order,
.close-order {
  height: 28px;
  padding: 0 12px;
  background-color: #2ba384;
  border: none;
  margin-left: 20px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  -webkit-transition: .5s all;
  transition: .5s all;
}

.close-order {
  float: right;
}

.export-order:active,
.close-order:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #2dbda8;
}

.export-order:hover,
.close-order:hover {
  background-color: #2dbda8;
}

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  margin: 0px 2px;
}

.third-order-num a {
  cursor: pointer;
  text-decoration: underline;
  color: #1E7EB4;
}

.do-remark {
  color: #1E7EB4;
  cursor: pointer;
}

.el-dialog__body,
.el-tabs--border-card {
  padding: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.el-dialog {
  -webkit-box-shadow: 0 0 2px 0 #ddd, 0 2px 2px 0 #ddd;
  box-shadow: 0 0 2px 0 #ddd, 0 2px 2px 0 #ddd;
}

.el-dialog__header {
  display: none;
}

.el-tabs__nav {
  width: 100%;
}

.el-tabs__nav .el-tabs__item {
  width: 51%;
  text-align: center;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none;
}

.el-tabs {
  border: none;
}

.btns.remark-btn button {
  margin: 0px 10px;
}

.el-tabs--border-card > .el-tabs__header .el-tabs__item {
  height: 50px;
  line-height: 50px;
}

table .el-icon-d-arrow-left {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  transition: .5s all;
}

table .el-icon-d-arrow-left:before {
  font-size: 24px;
  color: #1E7EB4;
  cursor: pointer;
}

table .el-icon-d-arrow-left:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.remarks-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  cursor: pointer;
  color: #1E7EB4;
}

textarea {
  resize: none;
}
