[v-cloak] {
  display: none;
}

#balance-add {
  padding: 20px 20px 0px 30px;
}

#balance-add .title-info {
  font-family: MicrosoftYaHei;
  font-size: 13px;
  color: #546E7A;
  letter-spacing: 0;
  padding: 10px 0px;
  width: 100%;
}

#balance-add .el-select {
  width: 100%;
  padding: 0;
}

#balance-add .el-input {
  width: auto;
}

#balance-add .btns {
  margin-top: 0;
  margin-bottom: 0;
}

#balance-add .explain-wrapper {
  position: relative;
}

#balance-add .explain-wrapper .el-input > input {
  width: 300px;
}

#balance-add .explain-wrapper .explain-words {
  position: absolute;
  top: 50px;
  right: 40px;
  font-size: 12px;
  color: #909399;
  background: #FFF;
}

#balance-add .explain-wrapper .explain-words > span {
  color: red;
}
