[v-cloak] {
    display: none;
}

#balance-detail {
    padding: 20px 20px 0px 30px;
    .title-info {
        font-family: MicrosoftYaHei;
        font-size: 13px;
        color: #546E7A;
        letter-spacing: 0;
        padding: 10px 0px;
        width: 100%;
    }
    .el-select {
        width: 100%;
        padding: 0;
    }
    .el-input {
        width: auto;
    }
    .btns {
        margin-top: 0;
        margin-bottom: 0;
    }
}