[v-cloak] {
  display: none;
}

#balance-detail {
  padding: 20px 20px 0px 30px;
}

#balance-detail .title-info {
  font-family: MicrosoftYaHei;
  font-size: 13px;
  color: #546E7A;
  letter-spacing: 0;
  padding: 10px 0px;
  width: 100%;
}

#balance-detail .el-select {
  width: 100%;
  padding: 0;
}

#balance-detail .el-input {
  width: auto;
}

#balance-detail .btns {
  margin-top: 0;
  margin-bottom: 0;
}
